Repository googleapis/google-cloud-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/cloud-storage-dpe, @googleapis/api-bigquery, @googleapis/api-pubsub

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-php team is the default owner for anything not
# explicitly taken by someone else.
*                               @googleapis/yoshi-php @googleapis/cicd

/Bigtable       @googleapis/api-bigtable @googleapis/yoshi-php @googleapis/cicd
/Datastore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Firestore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Storage/       @googleapis/cloud-storage-dpe @googleapis/yoshi-php @googleapis/cicd
/BigQuery*/.    @googleapis/api-bigquery @googleapis/yoshi-php @googleapis/cicd
/PubSub/        @googleapis/api-pubsub @googleapis/yoshi-php @googleapis/cicd

Deploying to gh-pages from @ 0196b6be4904a23d74a81114e16f21f897e5e8fe 🚀
  json/cloud-storage/main/bucket.json
  json/cloud-storage/main/notification.json
  json/google-cloud/main/storage/bucket.json
  json/google-cloud/main/storage/notification.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update gcr.io/cloud-spanner-emulator/emulator docker tag to v1.4.7
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency googleapis-common-protos to v1.57.0
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency charset-normalizer to v3
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update gcr.io/cloud-spanner-emulator/emulator docker tag to v1.4.7 (#5625)
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency googleapis-common-protos to v1.57.0 (#5619)
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

remove invalid test
  PubSub/tests/Unit/TopicTest.php
Owners: @googleapis/api-pubsub, @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency google-auth to v2.14.1
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency google-auth to v2.14.1 (#5583)
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(tests): fix spanner emulator and emulator test paths
  .github/workflows/bigtable-emulator-system-tests.yaml
  .github/workflows/datastore-emulator-system-tests.yaml
  .github/workflows/firestore-emulator-system-tests.yaml
  .github/workflows/pubsub-emulator-system-tests.yaml
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix yaml syntax error
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix env
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

revert spanner emulator upgrade
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

update setup-gcloud action
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

update ubuntu version
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

Added preconditions and conditionally idempotent methods in RetryConformanceTest.php
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

update export ignores
  Batch/.gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: update export ignores (#5638)
  Kms/.gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update google-github-actions/setup-gcloud action to v1
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(tests): fix spanner emulator, run emulator tests when modified (#5643)
  .github/workflows/bigtable-emulator-system-tests.yaml
  .github/workflows/datastore-emulator-system-tests.yaml
  .github/workflows/firestore-emulator-system-tests.yaml
  .github/workflows/pubsub-emulator-system-tests.yaml
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: documentation fix for bulkwriter
  Firestore/src/BulkWriter.php
  Firestore/src/WriteBatch.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

Abstracted out createResources and disposeResources calls from method invocations
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore: documentation fix for bulkwriter (#5647)
  Firestore/src/BulkWriter.php
  Firestore/src/WriteBatch.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ d416c68ca1c80ada04f0265aa7d6366991675f87 🚀
  json/cloud-firestore/main/bulkwriter.json
  json/cloud-firestore/main/writebatch.json
  json/google-cloud/main/firestore/bulkwriter.json
  json/google-cloud/main/firestore/writebatch.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

First commit
  Bigtable/tests/System/BackupTests.php
  Bigtable/tests/System/BigtableTestCase.php
Owners: @googleapis/api-bigtable, @googleapis/yoshi-php, @googleapis/cicd

fix: added memory limit to phpunit
  .kokoro/continuous/run-tests.sh
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Bigtable): Copy Backup
  Bigtable/tests/System/BackupTests.php
  Bigtable/tests/System/BigtableTestCase.php
  Firestore/src/BulkWriter.php
  Firestore/src/WriteBatch.php
Owners: @googleapis/api-bigtable, @googleapis/yoshi-php, @googleapis/cicd, @googleapis/firestore-dpe

feat(Bigtable): Copy Backup
  Bigtable/tests/System/BackupTests.php
  Bigtable/tests/System/BigtableTestCase.php
Owners: @googleapis/api-bigtable, @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update gcr.io/cloud-spanner-emulator/emulator docker tag to v1.4.8
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

Added conditionally idempotent cases in RetryConformanceTest.php
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Bigtable): Copy Backup
  Bigtable/tests/System/BackupTests.php
Owners: @googleapis/api-bigtable, @googleapis/yoshi-php, @googleapis/cicd

Added method invocations for non idempotent methods
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Bigtable): Copy Backup
  Bigtable/tests/System/BackupTests.php
Owners: @googleapis/api-bigtable, @googleapis/yoshi-php, @googleapis/cicd

fix: added tests for all other APIs
  Datastore/tests/System/AllocateKeyTest.php
  Datastore/tests/System/CustomEntityTypeTest.php
  Datastore/tests/System/DatastoreMultipleDbTest.php
  Datastore/tests/System/DatastoreMultipleDbTestCase.php
  Datastore/tests/System/DatastoreSessionHandlerTest.php
  Datastore/tests/System/DatastoreTestCase.php
  Datastore/tests/System/QueryResultPaginationTest.php
  Datastore/tests/System/RunQueryTest.php
  Datastore/tests/System/RunTransactionTest.php
  Datastore/tests/System/SaveAndModifyTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: test failures with lookup and allocatekey
  Datastore/src/Connection/Grpc.php
  Datastore/tests/Snippet/DatastoreClientTest.php
  Datastore/tests/System/RunTransactionTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: failures in RunTransactionTest
  Datastore/tests/System/RunTransactionTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: all system tests
  Datastore/tests/System/DatastoreMultipleDbTest.php
  Datastore/tests/System/DatastoreSessionHandlerMultipleDBTest.php
  Datastore/tests/System/DatastoreSessionHandlerTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: DatastoreSessionHandler
  Datastore/src/DatastoreClient.php
  Datastore/src/DatastoreSessionHandler.php
  Datastore/tests/System/CustomEntityTypeTest.php
  Datastore/tests/System/DatastoreSessionHandlerMultipleDBTest.php
  Datastore/tests/System/DatastoreSessionHandlerTest.php
  Datastore/tests/System/RunTransactionTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: test failures
  Datastore/tests/System/DatastoreSessionHandlerTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: DatastoreSessionHandlerTest
  Datastore/tests/System/DatastoreSessionHandlerTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd
