Repository googleapis/google-cloud-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/cloud-storage-dpe, @googleapis/api-bigquery, @googleapis/api-pubsub

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-php team is the default owner for anything not
# explicitly taken by someone else.
*                               @googleapis/yoshi-php @googleapis/cicd

/Bigtable       @googleapis/api-bigtable @googleapis/yoshi-php @googleapis/cicd
/Datastore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Firestore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Storage/       @googleapis/cloud-storage-dpe @googleapis/yoshi-php @googleapis/cicd
/BigQuery*/.    @googleapis/api-bigquery @googleapis/yoshi-php @googleapis/cicd
/PubSub/        @googleapis/api-pubsub @googleapis/yoshi-php @googleapis/cicd

docs: misc docfx fixes (#5766)
  dev/src/DocFx/Node/DocblockTrait.php
  dev/src/DocFx/Node/ParameterNode.php
  dev/tests/Unit/DocFx/NodeTest.php
  dev/tests/fixtures/docfx/V1.ImageAnnotatorClient.yml
  dev/tests/fixtures/phpdoc/nestedparams.xml
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: ensure metadata return type is loaded into descriptor pool (https://github.com/googleapis/gax-php/issues/439)
  Gax/src/GapicClientTrait.php
  Gax/src/Transport/RestTransport.php
  Gax/tests/Tests/Unit/GapicClientTraitTest.php
  Gax/tests/Tests/Unit/Transport/RestTransportTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: implicit conversion from float to int warning (https://github.com/googleapis/gax-php/issues/438)
  Gax/src/PollingTrait.php
  Gax/tests/Tests/Unit/OperationResponseTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

ensure parameter descriptions are also decoded
  dev/src/DocFx/Node/ParameterNode.php
  dev/tests/Unit/DocFx/NodeTest.php
  dev/tests/fixtures/phpdoc/nestedparams.xml
Owners: @googleapis/yoshi-php, @googleapis/cicd

typo fix
  dev/tests/Unit/DocFx/NodeTest.php
  dev/tests/fixtures/phpdoc/nestedparams.xml
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): Resolve PR comments
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry Resumable Uploads
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

Update Storage/src/Connection/RetryTrait.php
  Storage/src/Connection/RetryTrait.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

Update Storage/src/Connection/RetryTrait.php
  Storage/src/Connection/RetryTrait.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore(Spanner): Add JSONB Array system tests
  Spanner/tests/System/PgWriteTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Core): add retryFunc in GrpcRequestWrapper::send
  Core/src/GrpcRequestWrapper.php
  Core/tests/Unit/GrpcRequestWrapperTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry Strategy Options
  Storage/src/Connection/RetryTrait.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry strategy options
  Storage/tests/Unit/Connection/RestTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry - resumable object upload
  Core/src/Upload/AbstractUploader.php
  Storage/src/Connection/Rest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

feat(Storage): GCS Retry - resumable object upload
  Core/src/Upload/AbstractUploader.php
  Storage/src/Connection/Rest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

feat(Storage): Add retry function support from StorageClient
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
  Storage/tests/Unit/Connection/RestTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

add tracked_paths
  AccessApproval/owlbot.py
  AccessContextManager/owlbot.py
  ApiGateway/owlbot.py
  ApigeeConnect/owlbot.py
  AppEngineAdmin/owlbot.py
  BigQueryConnection/owlbot.py
Owners: @googleapis/yoshi-php, @googleapis/cicd

add comma
  ApiGateway/owlbot.py
Owners: @googleapis/yoshi-php, @googleapis/cicd

revert artifact registry changes for this changeset
  ArtifactRegistry/samples/V1beta2/ArtifactRegistryClient/get_location.php
  ArtifactRegistry/samples/V1beta2/ArtifactRegistryClient/list_locations.php
  ArtifactRegistry/src/V1beta2/Gapic/ArtifactRegistryGapicClient.php
  ArtifactRegistry/src/V1beta2/gapic_metadata.json
  ArtifactRegistry/src/V1beta2/resources/artifact_registry_client_config.json
  ArtifactRegistry/src/V1beta2/resources/artifact_registry_descriptor_config.php
  ArtifactRegistry/tests/Unit/V1beta2/ArtifactRegistryClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

add tracked paths
  BigQueryReservation/owlbot.py
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: [Storage] fix UrlStatTest::testIsExecutable (#5755)
  Storage/tests/System/StreamWrapper/UrlStatTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix RetrySettings references in VisionClient
  Vision/src/V1/ImageAnnotatorClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix two more bad references
  Vision/src/V1/ImageAnnotatorClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: simplify testRetryFunction
  Core/tests/Unit/GrpcRequestWrapperTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: [Spanner] Make ValueMapper customizable
  Spanner/src/Database.php
  Spanner/src/Instance.php
  Spanner/src/Operation.php
  Spanner/src/ValueMapper.php
  Spanner/src/ValueMapperInterface.php
  Spanner/tests/Unit/OperationTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry resumable upload
  Core/src/Upload/AbstractUploader.php
  Storage/src/Connection/Rest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

feat(Storage): GCS Retry Resumable Downloads
  Storage/src/Connection/Rest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore(Storage): fixing wrong keys
  Storage/tests/System/RequesterPaysTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

resolve pr comments
  Spanner/tests/System/PgWriteTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Addressed PR comments
  Core/src/ExponentialBackoff.php
  Core/src/RequestWrapper.php
  Storage/src/StorageObject.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

chore(docs): fidx newlines, add template overrides
  dev/data/templates/xml/argument.xml.twig
  dev/data/templates/xml/constant.xml.twig
  dev/data/templates/xml/docblock.xml.twig
  dev/data/templates/xml/method.xml.twig
  dev/data/templates/xml/namespace_tree.xml.twig
  dev/data/templates/xml/property.xml.twig
  dev/data/templates/xml/structure.xml.twig
  dev/data/templates/xml/template.xml
  dev/src/DocFx/Command/DocFx.php
  dev/src/DocFx/Node/ParameterNode.php
  dev/tests/Unit/DocFx/CommandTest.php
  dev/tests/fixtures/docfx/V1.Feature.yml
  dev/tests/fixtures/docfx/V1.ImageAnnotatorClient.yml
  dev/tests/fixtures/docfx/V1.ProductSearchClient.yml
  dev/tests/fixtures/docfx/V1.SafeSearchAnnotation.yml
  dev/tests/fixtures/phpdoc/structure.xml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(docs): use HEAD for phpDocumentor for unreleased bug fixes
  .kokoro/docs/docker/Dockerfile
Owners: @googleapis/yoshi-php, @googleapis/cicd

Downloads are retried with the range headers provided by the user
  Storage/src/Connection/Rest.php
  Storage/src/StorageObject.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore(tests): use assertSame for strict equals (firebase/php-jwt#478)
  Jwt/tests/CachedKeySetTest.php
  Jwt/tests/JWKTest.php
  Jwt/tests/JWTTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(tests): use assertSame for strict equals (firebase/php-jwt#478)
  tests/CachedKeySetTest.php
  tests/JWKTest.php
  tests/JWTTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: [Spanner] CacheSessionPool::clear() should be allowed to wait for completion
  Spanner/src/Session/CacheSessionPool.php
  Spanner/src/Session/DeleteOperation.php
  Spanner/tests/Snippet/DatabaseTest.php
  Spanner/tests/Unit/Session/CacheSessionPoolTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Removed the info call from StorageObject::downloadAsStream
  Storage/src/StorageObject.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

Minor doc bloc edit
  Storage/src/StorageObject.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

Lint fixes
  Storage/src/StorageObject.php
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry Strategy Options
  Storage/tests/Unit/Connection/RestTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd
