Repository googleapis/google-cloud-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/cloud-storage-dpe, @googleapis/api-bigquery, @googleapis/api-pubsub

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-php team is the default owner for anything not
# explicitly taken by someone else.
*                               @googleapis/yoshi-php @googleapis/cicd

/Bigtable       @googleapis/api-bigtable @googleapis/yoshi-php @googleapis/cicd
/Datastore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Firestore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Storage/       @googleapis/cloud-storage-dpe @googleapis/yoshi-php @googleapis/cicd
/BigQuery*/.    @googleapis/api-bigquery @googleapis/yoshi-php @googleapis/cicd
/PubSub/        @googleapis/api-pubsub @googleapis/yoshi-php @googleapis/cicd

Add retry decider function for GCS
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
  Storage/tests/Unit/Connection/RestTest.php
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: removing resultLimit from Operation
  Datastore/src/Operation.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): Add retry decider function for GCS
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
  Storage/tests/Unit/Connection/RestTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): Add retry decider function for GCS
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
  Storage/tests/Unit/Connection/RestTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: incorporating PR comments
  Storage/tests/System/StreamWrapper/ImageTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update python non-major dependencies (#5676)
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

add monolog 3 to root composer
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

remove provide
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

allow log-test 1.0
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

remove log-test in favor of skipping tests
  Logging/tests/Unit/PsrLoggerCompatibilityTest.php
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

ignore cs warning
  Logging/tests/Unit/PsrLoggerCompatibilityTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(Storage): fix System\StreamWrapper\ImageTest (#5695)
  Storage/tests/System/StreamWrapper/ImageTest.php
  Storage/tests/System/data/fujifilm-dx10.jpg
  Storage/tests/System/data/screenshot.png
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat: Add support for Monolog 3.x (#5334)
  Core/composer.json
  Core/src/Exception/ServiceException.php
  Core/src/Logger/AppEngineFlexFormatter.php
  Core/src/Logger/AppEngineFlexFormatterV3.php
  Core/src/Logger/AppEngineFlexHandler.php
  Core/src/Logger/AppEngineFlexHandlerFactory.php
  Core/src/Logger/AppEngineFlexHandlerV3.php
  Core/src/Logger/FormatterTrait.php
  Core/src/Testing/Reflection/ReflectionHandlerFactory.php
  Core/src/Testing/Reflection/ReflectionHandlerV5.php
  Core/tests/Unit/Logger/AppEngineFlexHandlerFactoryTest.php
  Logging/composer.json
  Logging/src/LogMessageProcessor/MonologMessageProcessor.php
  Logging/src/LogMessageProcessor/MonologV3MessageProcessor.php
  Logging/src/LogMessageProcessorFactory.php
  Logging/src/LogMessageProcessorInterface.php
  Logging/src/PsrLogger.php
  Logging/tests/Unit/PsrLoggerCompatibilityTest.php
  Logging/tests/Unit/PsrLoggerTest.php
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(deps): update dependency psr/log to v3
  Debugger/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add support for monolog/monolog 3 and psr/log 2
  Debugger/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add support for monolog/monolog 3 and psr/log 2 (#5711)
  Debugger/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

nit: migrated to is_null for var check
  Datastore/src/Operation.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): Resolve PR comments
  Core/src/RestTrait.php
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

feat(Storage): Add sendRequest function for Rest.php retry
  Storage/src/Connection/Rest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): Resolve thread deadlock issue
  .github/workflows/tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): Remove duplicate lines in testIam
  Storage/src/Connection/Rest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore(docs): add docs gen for protobuf-php (https://github.com/googleapis/gax-php/issues/426)
  Gax/.github/workflows/tests.yml
  Gax/dev/sh/build-protobuf-docs.sh
  Gax/dev/src/Docs/DoctumConfigBuilder.php
  Gax/dev/src/Docs/doctum-protobuf-config.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(docs): remove legacy docs generator
  dev/google-cloud
  dev/src/DocGenerator/Command/Docs.php
  dev/src/DocGenerator/DocGenerator.php
  dev/src/DocGenerator/Parser/ClassReference.php
  dev/src/DocGenerator/Parser/CodeParser.php
  dev/src/DocGenerator/Parser/MarkdownParser.php
  dev/src/DocGenerator/Parser/ParserInterface.php
  dev/src/DocGenerator/ReflectorRegister.php
  dev/src/DocGenerator/TableOfContents.php
  dev/src/DocGenerator/TypeGenerator.php
  dev/src/DocGenerator/Writer.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(datastore): query limit more than 300 (#5592)
  Datastore/src/Connection/Grpc.php
  Datastore/src/Operation.php
  Datastore/tests/System/QueryResultPaginationTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix(deps): update dependency google/access-context-manager to ^0.3
  Asset/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(deps): update dependency google/cloud-osconfig to v1
  Asset/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(deps): update dependency google/cloud-osconfig to v1 (#5684)
  Asset/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(deps): update dependency google/access-context-manager to ^0.3 (#5683)
  Asset/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add PHP 8.2 to test suite (firebase/php-jwt#476)
  Jwt/.github/workflows/tests.yml
  Jwt/src/JWT.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add PHP 8.2 to test suite (firebase/php-jwt#476)
  .github/workflows/tests.yml
  src/JWT.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: suggest ext-sodium (firebase/php-jwt#474)
  Jwt/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: suggest ext-sodium (firebase/php-jwt#474)
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: add support for W3C ES256K (firebase/php-jwt#462)
  Jwt/src/JWK.php
  Jwt/src/JWT.php
  Jwt/tests/JWTTest.php
  Jwt/tests/data/ec-jwkset.json
  Jwt/tests/data/secp256k1-private.pem
  Jwt/tests/data/secp256k1-public.pem
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: add support for W3C ES256K (firebase/php-jwt#462)
  src/JWK.php
  src/JWT.php
  tests/JWTTest.php
  tests/data/ec-jwkset.json
  tests/data/secp256k1-private.pem
  tests/data/secp256k1-public.pem
Owners: @googleapis/yoshi-php, @googleapis/cicd

Added custom retry func to Bucket::upload methods
  Core/src/Upload/AbstractUploader.php
  Storage/src/Connection/Rest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

feat(Storage): Add idempotent and idempotentWithPrecondition map
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): Resolve PR issues
  Storage/src/Connection/RetryTrait.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore: add PHP 8.2 to test matrix (https://github.com/googleapis/gax-php/issues/434)
  Gax/.github/workflows/tests.yml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add PHP 8.2 to test matrix (googleapis/google-auth-library-php#428)
  .github/workflows/tests.yml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add PHP 8.2 to test matrix (https://github.com/googleapis/google-auth-library-php/issues/428)
  .github/workflows/tests.yml
Owners: @googleapis/yoshi-php, @googleapis/cicd
