Repository googleapis/google-cloud-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/cloud-storage-dpe, @googleapis/api-bigquery, @googleapis/api-pubsub

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-php team is the default owner for anything not
# explicitly taken by someone else.
*                               @googleapis/yoshi-php @googleapis/cicd

/Bigtable       @googleapis/api-bigtable @googleapis/yoshi-php @googleapis/cicd
/Datastore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Firestore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Storage/       @googleapis/cloud-storage-dpe @googleapis/yoshi-php @googleapis/cicd
/BigQuery*/.    @googleapis/api-bigquery @googleapis/yoshi-php @googleapis/cicd
/PubSub/        @googleapis/api-pubsub @googleapis/yoshi-php @googleapis/cicd

address review comments
  .kokoro/docs/publish.sh
  dev/src/DocFx/Command/DocFx.php
  dev/src/DocFx/Node/ClassNode.php
  dev/src/DocFx/Node/XrefTrait.php
  dev/src/DocFx/Page/OverviewPage.php
  dev/tests/Unit/DocFx/CommandTest.php
  dev/tests/Unit/DocFx/NodeTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: update README
  README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: updating README with stackoverflow channel (#5540)
  README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add action to run individual package tests (#5325)
  .github/run-package-tests.sh
  .github/workflows/tests.yaml
  Bigtable/composer.json
  Bigtable/tests/Unit/BigtableClientTest.php
  CommonProtos/composer.json
  Core/composer.json
  Datastore/tests/Unit/DatastoreClientTest.php
  Filestore/composer.json
  PubSub/tests/Unit/BatchPublisherTest.php
  Redis/tests/Unit/V1/CloudRedisClientPartialVeneerTest.php
  Redis/tests/Unit/V1beta1/CloudRedisClientPartialVeneerTest.php
  Speech/tests/Unit/SpeechClientTest.php
  Speech/tests/Unit/V1/SpeechClientExtensionTest.php
  Vision/tests/Unit/ImageTest.php
  Vision/tests/Unit/V1/ImageAnnotatorClientExtensionTest.php
  Vision/tests/Unit/VisionClientTest.php
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub

Deploying to gh-pages from @ 81f23b006bddf6581b3ffa5ef042a5646c2fc408 🚀
  json/analytics-data/main/v1beta/dimension.json
  json/analytics-data/main/v1beta/filterexpression.json
  json/analytics-data/main/v1beta/orderby.json
  json/google-cloud/main/analyticsdata/v1beta/dimension.json
  json/google-cloud/main/analyticsdata/v1beta/filterexpression.json
  json/google-cloud/main/analyticsdata/v1beta/orderby.json
  json/google-cloud/main/grafeas/v1/cvssversion.json
  json/google-cloud/main/grafeas/v1/discoveryoccurrence/analysiscompleted.json
  json/google-cloud/main/types.json
  json/grafeas/main/types.json
  json/grafeas/main/v1/cvssversion.json
  json/grafeas/main/v1/discoveryoccurrence/analysiscompleted.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

use local google/cloud-core in individual package tests
  .github/run-package-tests.sh
Owners: @googleapis/yoshi-php, @googleapis/cicd

only install local core when core exists in composer.json
  .github/run-package-tests.sh
Owners: @googleapis/yoshi-php, @googleapis/cicd

add storage, allow directory argument
  .github/run-package-tests.sh
  BigQuery/tests/Snippet/ModelTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

update readme, add exception for PHP 8.0 only
  dev/readme.md
  dev/src/DocFx/Command/DocFx.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

use composer-local.json
  .github/run-package-tests.sh
  .gitignore
Owners: @googleapis/yoshi-php, @googleapis/cicd

set repo options
  .github/run-package-tests.sh
  .github/workflows/tests.yaml
  .gitignore
Owners: @googleapis/yoshi-php, @googleapis/cicd

use one loop because bash is brittle
  .github/run-package-tests.sh
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(Spanner): Removed JSONB array system tests
  Spanner/tests/System/PgWriteTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

misc review adjustments
  Spanner/src/Connection/Grpc.php
  Spanner/src/InstanceConfiguration.php
  Spanner/src/SpannerClient.php
  Spanner/tests/Snippet/InstanceConfigurationTest.php
  Spanner/tests/System/AdminTest.php
  Spanner/tests/Unit/InstanceConfigurationTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

drop trailing comma
  Spanner/tests/Snippet/InstanceConfigurationTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(docs): make publish.sh executable for kokoro
  .kokoro/docs/publish.sh
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(docs): make publish.sh executable for kokoro (#5551)
  .kokoro/docs/publish.sh
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: update README
  README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update README.md
  README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(Spanner): Removed JSONB array system tests (#5543)
  Spanner/tests/System/PgWriteTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: update README (#5552)
  README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: support customer managed instance configurations (#5523)
  Spanner/src/Connection/ConnectionInterface.php
  Spanner/src/Connection/Grpc.php
  Spanner/src/InstanceConfiguration.php
  Spanner/src/SpannerClient.php
  Spanner/tests/Snippet/InstanceConfigurationTest.php
  Spanner/tests/System/AdminTest.php
  Spanner/tests/Unit/Connection/GrpcTest.php
  Spanner/tests/Unit/Fixtures.php
  Spanner/tests/Unit/InstanceConfigurationTest.php
  Spanner/tests/Unit/fixtures/instanceConfig.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ 33861f204bd64094c8bcba7b0d4cb70c698e5bd3 🚀
  json/cloud-spanner/main/connection/connectioninterface.json
  json/cloud-spanner/main/connection/grpc.json
  json/cloud-spanner/main/instanceconfiguration.json
  json/cloud-spanner/main/spannerclient.json
  json/google-cloud/main/spanner/connection/connectioninterface.json
  json/google-cloud/main/spanner/connection/grpc.json
  json/google-cloud/main/spanner/instanceconfiguration.json
  json/google-cloud/main/spanner/spannerclient.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update gcr.io/cloud-spanner-emulator/emulator docker tag to v1.4.6
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(deps): update dependency google/grafeas to ^0.4.0
  ContainerAnalysis/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(docs): wrap TOC in component
  dev/src/DocFx/Command/DocFx.php
  dev/tests/fixtures/docfx/toc.yml
Owners: @googleapis/yoshi-php, @googleapis/cicd

try to not wrap it in an array
  dev/src/DocFx/Command/DocFx.php
  dev/tests/fixtures/docfx/toc.yml
Owners: @googleapis/yoshi-php, @googleapis/cicd

cleaner output
  .kokoro/docs/publish.sh
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(storage): seeking object before file creation
  Storage/src/StorageObject.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix(storage): added UT to test file creation
  Storage/tests/Unit/StorageObjectTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix(storage): added System Test
  Storage/tests/System/ManageObjectsTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update gcr.io/cloud-spanner-emulator/emulator docker tag to v1.4.6
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

add status by version in namespace
  .kokoro/docs/publish.sh
  dev/src/DocFx/Node/ClassNode.php
  dev/tests/Unit/DocFx/NodeTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix TOC
  dev/src/DocFx/Command/DocFx.php
  dev/tests/Unit/DocFx/NodeTest.php
  dev/tests/fixtures/docfx/toc.yml
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(deps): update dependency google/grafeas to ^0.4.0 (#5555)
  ContainerAnalysis/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency certifi to v2022.9.24
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency gcp-docuploader to v0.6.4
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency google-api-core to v2.10.2
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency protobuf to v4.21.7
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency google-resumable-media to v2.4.0
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd
