Repository googleapis/google-cloud-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/cloud-storage-dpe, @googleapis/api-bigquery, @googleapis/api-pubsub

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-php team is the default owner for anything not
# explicitly taken by someone else.
*                               @googleapis/yoshi-php @googleapis/cicd

/Bigtable       @googleapis/api-bigtable @googleapis/yoshi-php @googleapis/cicd
/Datastore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Firestore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Storage/       @googleapis/cloud-storage-dpe @googleapis/yoshi-php @googleapis/cicd
/BigQuery*/.    @googleapis/api-bigquery @googleapis/yoshi-php @googleapis/cicd
/PubSub/        @googleapis/api-pubsub @googleapis/yoshi-php @googleapis/cicd

chore: remove PHP 7.0 windowns unit tests
  .github/workflows/tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

remove longrunning test autoload
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update tests.yaml
  .github/workflows/tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: remove PHP 7.0 windows unit tests (#5504)
  .github/workflows/tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

add beta notice
  .github/workflows/tests.yaml
  dev/src/DocFx/Command/DocFx.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Apply suggestions from code review
  dev/src/DocFx/Command/DocFx.php
  dev/src/DocFx/Node/DocblockTrait.php
  dev/src/DocFx/Node/VisibilityTrait.php
  dev/src/DocFx/Page.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

add beta text to markdown
  dev/src/DocFx/Command/DocFx.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add beyondcorp* library global files (#5502)
  composer.json
  docs/contents/google-cloud.json
  docs/manifest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ d4ab5fd64f33e1498c4b0aad52f3ae875f2cf9a5 🚀
  contents/google-cloud.json
  json/google-cloud/main/toc.json
  manifest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update BeyondCorpClientGateways/composer.json
  BeyondCorpClientGateways/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update composer.json
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update BeyondCorpAppConnections/composer.json
  BeyondCorpAppConnections/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update composer.json
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update BeyondCorpAppConnections/.repo-metadata.json
  BeyondCorpAppConnections/.repo-metadata.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update composer.json
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update BeyondCorpAppConnectors/composer.json
  BeyondCorpAppConnectors/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update BeyondCorpAppGateways/composer.json
  BeyondCorpAppGateways/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update composer.json
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update BeyondCorpClientConnectorServices/composer.json
  BeyondCorpClientConnectorServices/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update composer.json
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: introduce beyondcorp clientgateways (#5501)
  BeyondCorpClientGateways/.OwlBot.yaml
  BeyondCorpClientGateways/.gitattributes
  BeyondCorpClientGateways/.github/pull_request_template.md
  BeyondCorpClientGateways/.repo-metadata.json
  BeyondCorpClientGateways/CODE_OF_CONDUCT.md
  BeyondCorpClientGateways/CONTRIBUTING.md
  BeyondCorpClientGateways/LICENSE
  BeyondCorpClientGateways/README.md
  BeyondCorpClientGateways/SECURITY.md
  BeyondCorpClientGateways/composer.json
  BeyondCorpClientGateways/metadata/V1/ClientGatewaysService.php
  BeyondCorpClientGateways/owlbot.py
  BeyondCorpClientGateways/phpunit.xml.dist
  BeyondCorpClientGateways/src/V1/ClientGateway.php
  BeyondCorpClientGateways/src/V1/ClientGateway/State.php
  BeyondCorpClientGateways/src/V1/ClientGatewayOperationMetadata.php
  BeyondCorpClientGateways/src/V1/ClientGatewaysServiceClient.php
  BeyondCorpClientGateways/src/V1/ClientGatewaysServiceGrpcClient.php
  BeyondCorpClientGateways/src/V1/CreateClientGatewayRequest.php
  BeyondCorpClientGateways/src/V1/DeleteClientGatewayRequest.php
  BeyondCorpClientGateways/src/V1/Gapic/ClientGatewaysServiceGapicClient.php
  BeyondCorpClientGateways/src/V1/GetClientGatewayRequest.php
  BeyondCorpClientGateways/src/V1/ListClientGatewaysRequest.php
  BeyondCorpClientGateways/src/V1/ListClientGatewaysResponse.php
  BeyondCorpClientGateways/src/V1/gapic_metadata.json
  BeyondCorpClientGateways/src/V1/resources/client_gateways_service_client_config.json
  BeyondCorpClientGateways/src/V1/resources/client_gateways_service_descriptor_config.php
  BeyondCorpClientGateways/src/V1/resources/client_gateways_service_rest_client_config.php
  BeyondCorpClientGateways/tests/Unit/V1/ClientGatewaysServiceClientTest.php
  docs/contents/cloud-beyondcorp-clientgateways.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ 767fd809395c7d4b677315266b15ef158f806563 🚀
  contents/cloud-beyondcorp-clientgateways.json
  json/cloud-beyondcorp-clientgateways/main/code_of_conduct.json
  json/cloud-beyondcorp-clientgateways/main/readme.json
  json/cloud-beyondcorp-clientgateways/main/security.json
  json/cloud-beyondcorp-clientgateways/main/toc.json
  json/cloud-beyondcorp-clientgateways/main/types.json
  json/cloud-beyondcorp-clientgateways/main/v1/clientgateway.json
  json/cloud-beyondcorp-clientgateways/main/v1/clientgateway/state.json
  json/cloud-beyondcorp-clientgateways/main/v1/clientgatewayoperationmetadata.json
  json/cloud-beyondcorp-clientgateways/main/v1/clientgatewaysserviceclient.json
  json/cloud-beyondcorp-clientgateways/main/v1/clientgatewaysservicegrpcclient.json
  json/cloud-beyondcorp-clientgateways/main/v1/createclientgatewayrequest.json
  json/cloud-beyondcorp-clientgateways/main/v1/deleteclientgatewayrequest.json
  json/cloud-beyondcorp-clientgateways/main/v1/gapic/clientgatewaysservicegapicclient.json
  json/cloud-beyondcorp-clientgateways/main/v1/getclientgatewayrequest.json
  json/cloud-beyondcorp-clientgateways/main/v1/listclientgatewaysrequest.json
  json/cloud-beyondcorp-clientgateways/main/v1/listclientgatewaysresponse.json
  json/google-cloud/main/beyondcorpclientgateways/code_of_conduct.json
  json/google-cloud/main/beyondcorpclientgateways/readme.json
  json/google-cloud/main/beyondcorpclientgateways/security.json
  json/google-cloud/main/beyondcorpclientgateways/v1/clientgateway.json
  json/google-cloud/main/beyondcorpclientgateways/v1/clientgateway/state.json
  json/google-cloud/main/beyondcorpclientgateways/v1/clientgatewayoperationmetadata.json
  json/google-cloud/main/beyondcorpclientgateways/v1/clientgatewaysserviceclient.json
  json/google-cloud/main/beyondcorpclientgateways/v1/clientgatewaysservicegrpcclient.json
  json/google-cloud/main/beyondcorpclientgateways/v1/createclientgatewayrequest.json
  json/google-cloud/main/beyondcorpclientgateways/v1/deleteclientgatewayrequest.json
  json/google-cloud/main/beyondcorpclientgateways/v1/gapic/clientgatewaysservicegapicclient.json
  json/google-cloud/main/beyondcorpclientgateways/v1/getclientgatewayrequest.json
  json/google-cloud/main/beyondcorpclientgateways/v1/listclientgatewaysrequest.json
  json/google-cloud/main/beyondcorpclientgateways/v1/listclientgatewaysresponse.json
  json/google-cloud/main/toc.json
  json/google-cloud/main/types.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: introduce beyondcorp appconnections (#5497)
  BeyondCorpAppConnections/.OwlBot.yaml
  BeyondCorpAppConnections/.gitattributes
  BeyondCorpAppConnections/.github/pull_request_template.md
  BeyondCorpAppConnections/.repo-metadata.json
  BeyondCorpAppConnections/CODE_OF_CONDUCT.md
  BeyondCorpAppConnections/CONTRIBUTING.md
  BeyondCorpAppConnections/LICENSE
  BeyondCorpAppConnections/README.md
  BeyondCorpAppConnections/SECURITY.md
  BeyondCorpAppConnections/VERSION
  BeyondCorpAppConnections/composer.json
  BeyondCorpAppConnections/metadata/V1/AppConnectionsService.php
  BeyondCorpAppConnections/owlbot.py
  BeyondCorpAppConnections/phpunit.xml.dist
  BeyondCorpAppConnections/src/V1/AppConnection.php
  BeyondCorpAppConnections/src/V1/AppConnection/ApplicationEndpoint.php
  BeyondCorpAppConnections/src/V1/AppConnection/Gateway.php
  BeyondCorpAppConnections/src/V1/AppConnection/Gateway/Type.php
  BeyondCorpAppConnections/src/V1/AppConnection/State.php
  BeyondCorpAppConnections/src/V1/AppConnection/Type.php
  BeyondCorpAppConnections/src/V1/AppConnectionOperationMetadata.php
  BeyondCorpAppConnections/src/V1/AppConnectionsServiceClient.php
  BeyondCorpAppConnections/src/V1/AppConnectionsServiceGrpcClient.php
  BeyondCorpAppConnections/src/V1/CreateAppConnectionRequest.php
  BeyondCorpAppConnections/src/V1/DeleteAppConnectionRequest.php
  BeyondCorpAppConnections/src/V1/Gapic/AppConnectionsServiceGapicClient.php
  BeyondCorpAppConnections/src/V1/GetAppConnectionRequest.php
  BeyondCorpAppConnections/src/V1/ListAppConnectionsRequest.php
  BeyondCorpAppConnections/src/V1/ListAppConnectionsResponse.php
  BeyondCorpAppConnections/src/V1/ResolveAppConnectionsRequest.php
  BeyondCorpAppConnections/src/V1/ResolveAppConnectionsResponse.php
  BeyondCorpAppConnections/src/V1/ResolveAppConnectionsResponse/AppConnectionDetails.php
  BeyondCorpAppConnections/src/V1/UpdateAppConnectionRequest.php
  BeyondCorpAppConnections/src/V1/gapic_metadata.json
  BeyondCorpAppConnections/src/V1/resources/app_connections_service_client_config.json
  BeyondCorpAppConnections/src/V1/resources/app_connections_service_descriptor_config.php
  BeyondCorpAppConnections/src/V1/resources/app_connections_service_rest_client_config.php
  BeyondCorpAppConnections/tests/Unit/V1/AppConnectionsServiceClientTest.php
  docs/contents/cloud-beyondcorp-appconnections.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: introduce beyondcorp appgateways (#5499)
  BeyondCorpAppGateways/.OwlBot.yaml
  BeyondCorpAppGateways/.gitattributes
  BeyondCorpAppGateways/.github/pull_request_template.md
  BeyondCorpAppGateways/.repo-metadata.json
  BeyondCorpAppGateways/CODE_OF_CONDUCT.md
  BeyondCorpAppGateways/CONTRIBUTING.md
  BeyondCorpAppGateways/LICENSE
  BeyondCorpAppGateways/README.md
  BeyondCorpAppGateways/SECURITY.md
  BeyondCorpAppGateways/VERSION
  BeyondCorpAppGateways/composer.json
  BeyondCorpAppGateways/metadata/V1/AppGatewaysService.php
  BeyondCorpAppGateways/owlbot.py
  BeyondCorpAppGateways/phpunit.xml.dist
  BeyondCorpAppGateways/src/V1/AppGateway.php
  BeyondCorpAppGateways/src/V1/AppGateway/AllocatedConnection.php
  BeyondCorpAppGateways/src/V1/AppGateway/HostType.php
  BeyondCorpAppGateways/src/V1/AppGateway/State.php
  BeyondCorpAppGateways/src/V1/AppGateway/Type.php
  BeyondCorpAppGateways/src/V1/AppGatewayOperationMetadata.php
  BeyondCorpAppGateways/src/V1/AppGatewaysServiceClient.php
  BeyondCorpAppGateways/src/V1/AppGatewaysServiceGrpcClient.php
  BeyondCorpAppGateways/src/V1/CreateAppGatewayRequest.php
  BeyondCorpAppGateways/src/V1/DeleteAppGatewayRequest.php
  BeyondCorpAppGateways/src/V1/Gapic/AppGatewaysServiceGapicClient.php
  BeyondCorpAppGateways/src/V1/GetAppGatewayRequest.php
  BeyondCorpAppGateways/src/V1/ListAppGatewaysRequest.php
  BeyondCorpAppGateways/src/V1/ListAppGatewaysResponse.php
  BeyondCorpAppGateways/src/V1/gapic_metadata.json
  BeyondCorpAppGateways/src/V1/resources/app_gateways_service_client_config.json
  BeyondCorpAppGateways/src/V1/resources/app_gateways_service_descriptor_config.php
  BeyondCorpAppGateways/src/V1/resources/app_gateways_service_rest_client_config.php
  BeyondCorpAppGateways/synth.py
  BeyondCorpAppGateways/tests/Unit/V1/AppGatewaysServiceClientTest.php
  docs/contents/cloud-beyondcorp-appgateways.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: introduce client connector services (#5500)
  BeyondCorpClientConnectorServices/.OwlBot.yaml
  BeyondCorpClientConnectorServices/.gitattributes
  BeyondCorpClientConnectorServices/.github/pull_request_template.md
  BeyondCorpClientConnectorServices/.repo-metadata.json
  BeyondCorpClientConnectorServices/CODE_OF_CONDUCT.md
  BeyondCorpClientConnectorServices/CONTRIBUTING.md
  BeyondCorpClientConnectorServices/LICENSE
  BeyondCorpClientConnectorServices/README.md
  BeyondCorpClientConnectorServices/SECURITY.md
  BeyondCorpClientConnectorServices/composer.json
  BeyondCorpClientConnectorServices/metadata/V1/ClientConnectorServicesService.php
  BeyondCorpClientConnectorServices/owlbot.py
  BeyondCorpClientConnectorServices/phpunit.xml.dist
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/Egress.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/Egress/PeeredVpc.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/Ingress.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/Ingress/Config.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/Ingress/Config/DestinationRoute.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/Ingress/Config/TransportProtocol.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/State.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorServiceOperationMetadata.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorServicesServiceClient.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorServicesServiceGrpcClient.php
  BeyondCorpClientConnectorServices/src/V1/CreateClientConnectorServiceRequest.php
  BeyondCorpClientConnectorServices/src/V1/DeleteClientConnectorServiceRequest.php
  BeyondCorpClientConnectorServices/src/V1/Gapic/ClientConnectorServicesServiceGapicClient.php
  BeyondCorpClientConnectorServices/src/V1/GetClientConnectorServiceRequest.php
  BeyondCorpClientConnectorServices/src/V1/ListClientConnectorServicesRequest.php
  BeyondCorpClientConnectorServices/src/V1/ListClientConnectorServicesResponse.php
  BeyondCorpClientConnectorServices/src/V1/UpdateClientConnectorServiceRequest.php
  BeyondCorpClientConnectorServices/src/V1/gapic_metadata.json
  BeyondCorpClientConnectorServices/src/V1/resources/client_connector_services_service_client_config.json
  BeyondCorpClientConnectorServices/src/V1/resources/client_connector_services_service_descriptor_config.php
  BeyondCorpClientConnectorServices/src/V1/resources/client_connector_services_service_rest_client_config.php
  BeyondCorpClientConnectorServices/tests/Unit/V1/ClientConnectorServicesServiceClientTest.php
  docs/contents/cloud-beyondcorp-clientconnectorservices.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(release-please--branches--main): release 1.0.0
  ApigeeRegistry/VERSION
  AutoMl/VERSION
  BeyondCorpAppConnections/VERSION
  BigQueryDataExchange/VERSION
  Bigtable/VERSION
  Bigtable/src/BigtableClient.php
  CHANGELOG.md
  Datastream/VERSION
  Dlp/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Logging/VERSION
  Logging/src/LoggingClient.php
  RecommendationEngine/VERSION
  SecurityCenter/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe

minor fix
  BeyondCorpAppConnectors/VERSION
  BeyondCorpAppGateways/synth.py
  BeyondCorpClientConnectorServices/VERSION
  BeyondCorpClientGateways/VERSION
Owners: @googleapis/yoshi-php, @googleapis/cicd

update versions
  BeyondCorpAppConnectors/VERSION
  BeyondCorpAppGateways/VERSION
  BeyondCorpClientConnectorServices/VERSION
  BeyondCorpClientGateways/VERSION
  CHANGELOG.md
  composer.json
  docs/manifest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

manual test fix
  Spanner/tests/Unit/V1/SpannerClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ ac4ebc817cb6066b91b41c6a0f29040fbd383447 🚀
  json/cloud-firestore/main/types.json
  json/cloud-firestore/main/v1/aggregationresult.json
  json/cloud-firestore/main/v1/firestoreclient.json
  json/cloud-firestore/main/v1/firestoregrpcclient.json
  json/cloud-firestore/main/v1/gapic/firestoregapicclient.json
  json/cloud-firestore/main/v1/runaggregationqueryrequest.json
  json/cloud-firestore/main/v1/runaggregationqueryresponse.json
  json/cloud-firestore/main/v1/structuredaggregationquery.json
  json/cloud-firestore/main/v1/structuredaggregationquery/aggregation.json
  json/cloud-firestore/main/v1/structuredaggregationquery/aggregation/count.json
  json/cloud-firestore/main/v1/structuredaggregationquery_aggregation.json
  json/cloud-firestore/main/v1/structuredaggregationquery_aggregation_count.json
  json/cloud-firestore/main/v1/structuredquery.json
  json/cloud-firestore/main/v1/structuredquery/fieldreference.json
  json/cloud-security-center/main/v1/finding.json
  json/google-cloud/main/firestore/v1/aggregationresult.json
  json/google-cloud/main/firestore/v1/firestoreclient.json
  json/google-cloud/main/firestore/v1/firestoregrpcclient.json
  json/google-cloud/main/firestore/v1/gapic/firestoregapicclient.json
  json/google-cloud/main/firestore/v1/runaggregationqueryrequest.json
  json/google-cloud/main/firestore/v1/runaggregationqueryresponse.json
  json/google-cloud/main/firestore/v1/structuredaggregationquery.json
  json/google-cloud/main/firestore/v1/structuredaggregationquery/aggregation.json
  json/google-cloud/main/firestore/v1/structuredaggregationquery/aggregation/count.json
  json/google-cloud/main/firestore/v1/structuredaggregationquery_aggregation.json
  json/google-cloud/main/firestore/v1/structuredaggregationquery_aggregation_count.json
  json/google-cloud/main/firestore/v1/structuredquery.json
  json/google-cloud/main/firestore/v1/structuredquery/fieldreference.json
  json/google-cloud/main/securitycenter/v1/finding.json
  json/google-cloud/main/types.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ 8f5c793abb53143031c38c7ba26ee46b73d5b7a4 🚀
  json/cloud-access-approval/main/v1/enrolledservice.json
  json/cloud-storage-transfer/main/types.json
  json/cloud-storage-transfer/main/v1/awss3compatibledata.json
  json/cloud-storage-transfer/main/v1/deletetransferjobrequest.json
  json/cloud-storage-transfer/main/v1/gapic/storagetransferservicegapicclient.json
  json/cloud-storage-transfer/main/v1/s3compatiblemetadata.json
  json/cloud-storage-transfer/main/v1/s3compatiblemetadata/authmethod.json
  json/cloud-storage-transfer/main/v1/s3compatiblemetadata/listapi.json
  json/cloud-storage-transfer/main/v1/s3compatiblemetadata/networkprotocol.json
  json/cloud-storage-transfer/main/v1/s3compatiblemetadata/requestmodel.json
  json/cloud-storage-transfer/main/v1/storagetransferserviceclient.json
  json/cloud-storage-transfer/main/v1/storagetransferservicegrpcclient.json
  json/cloud-storage-transfer/main/v1/transferoptions.json
  json/cloud-storage-transfer/main/v1/transferspec.json
  json/cloud-storage-transfer/main/v1/updatetransferjobrequest.json
  json/google-cloud/main/accessapproval/v1/enrolledservice.json
  json/google-cloud/main/storagetransfer/v1/awss3compatibledata.json
  json/google-cloud/main/storagetransfer/v1/deletetransferjobrequest.json
  json/google-cloud/main/storagetransfer/v1/gapic/storagetransferservicegapicclient.json
  json/google-cloud/main/storagetransfer/v1/s3compatiblemetadata.json
  json/google-cloud/main/storagetransfer/v1/s3compatiblemetadata/authmethod.json
  json/google-cloud/main/storagetransfer/v1/s3compatiblemetadata/listapi.json
  json/google-cloud/main/storagetransfer/v1/s3compatiblemetadata/networkprotocol.json
  json/google-cloud/main/storagetransfer/v1/s3compatiblemetadata/requestmodel.json
  json/google-cloud/main/storagetransfer/v1/storagetransferserviceclient.json
  json/google-cloud/main/storagetransfer/v1/storagetransferservicegrpcclient.json
  json/google-cloud/main/storagetransfer/v1/transferoptions.json
  json/google-cloud/main/storagetransfer/v1/transferspec.json
  json/google-cloud/main/storagetransfer/v1/updatetransferjobrequest.json
  json/google-cloud/main/types.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: null trim parameter in PathTrait (#5492)
  Firestore/src/PathTrait.php
  Firestore/tests/Unit/PathTraitTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ f460fafbecdb99265070c750e3408c514010f13a 🚀
  json/cloud-asset/main/types.json
  json/cloud-asset/main/v1/asset.json
  json/cloud-asset/main/v1/assetserviceclient.json
  json/cloud-asset/main/v1/assetservicegrpcclient.json
  json/cloud-asset/main/v1/gapic/assetservicegapicclient.json
  json/cloud-asset/main/v1/queryassetsoutputconfig.json
  json/cloud-asset/main/v1/queryassetsoutputconfig/bigquerydestination.json
  json/cloud-asset/main/v1/queryassetsoutputconfig_bigquerydestination.json
  json/cloud-asset/main/v1/queryassetsrequest.json
  json/cloud-asset/main/v1/queryassetsresponse.json
  json/cloud-asset/main/v1/queryresult.json
  json/cloud-asset/main/v1/resourcesearchresult.json
  json/cloud-asset/main/v1/searchalliampoliciesrequest.json
  json/cloud-asset/main/v1/searchallresourcesrequest.json
  json/cloud-asset/main/v1/tablefieldschema.json
  json/cloud-asset/main/v1/tableschema.json
  json/google-cloud/main/asset/v1/asset.json
  json/google-cloud/main/asset/v1/assetserviceclient.json
  json/google-cloud/main/asset/v1/assetservicegrpcclient.json
  json/google-cloud/main/asset/v1/gapic/assetservicegapicclient.json
  json/google-cloud/main/asset/v1/queryassetsoutputconfig.json
  json/google-cloud/main/asset/v1/queryassetsoutputconfig/bigquerydestination.json
  json/google-cloud/main/asset/v1/queryassetsoutputconfig_bigquerydestination.json
  json/google-cloud/main/asset/v1/queryassetsrequest.json
  json/google-cloud/main/asset/v1/queryassetsresponse.json
  json/google-cloud/main/asset/v1/queryresult.json
  json/google-cloud/main/asset/v1/resourcesearchresult.json
  json/google-cloud/main/asset/v1/searchalliampoliciesrequest.json
  json/google-cloud/main/asset/v1/searchallresourcesrequest.json
  json/google-cloud/main/asset/v1/tablefieldschema.json
  json/google-cloud/main/asset/v1/tableschema.json
  json/google-cloud/main/types.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update gcr.io/cloud-spanner-emulator/emulator docker tag to v1
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update gcr.io/cloud-spanner-emulator/emulator docker tag to v1
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update gcr.io/cloud-spanner-emulator/emulator docker tag to v1 (#5512)
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

test fix
  dev/src/DocFx/Command/DocFx.php
  dev/src/DocFx/Node/VisibilityTrait.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

secure requirements.txt
  .kokoro/docs/docker/Dockerfile
  .kokoro/docs/docker/requirements.in
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update StorageObject.php
  Storage/src/StorageObject.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: system tests
  Storage/tests/System/ManageBucketsTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd
