Repository googleapis/google-cloud-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/cloud-storage-dpe, @googleapis/api-bigquery, @googleapis/api-pubsub

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-php team is the default owner for anything not
# explicitly taken by someone else.
*                               @googleapis/yoshi-php @googleapis/cicd

/Bigtable       @googleapis/api-bigtable @googleapis/yoshi-php @googleapis/cicd
/Datastore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Firestore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Storage/       @googleapis/cloud-storage-dpe @googleapis/yoshi-php @googleapis/cicd
/BigQuery*/.    @googleapis/api-bigquery @googleapis/yoshi-php @googleapis/cicd
/PubSub/        @googleapis/api-pubsub @googleapis/yoshi-php @googleapis/cicd

remove unused @expectedException annotations
  PubSub/tests/Unit/SubscriptionTest.php
Owners: @googleapis/api-pubsub, @googleapis/yoshi-php, @googleapis/cicd

remove unused expectedException annotations
  PubSub/tests/Unit/SubscriptionTest.php
Owners: @googleapis/api-pubsub, @googleapis/yoshi-php, @googleapis/cicd

fix all risky tests
  Core/tests/Unit/ClientTraitTest.php
  Core/tests/Unit/Report/GAEStandardMetadataProviderTest.php
  Core/tests/Unit/ValidateTraitTest.php
  Datastore/tests/Unit/OperationTest.php
  Debugger/tests/Unit/CliDaemonTest.php
  Debugger/tests/Unit/DebuggeeTest.php
  Firestore/tests/Unit/QueryTest.php
  Firestore/tests/Unit/WriteBatchTest.php
  PubSub/tests/Unit/SnapshotTest.php
  PubSub/tests/Unit/TopicTest.php
  Spanner/tests/Unit/Connection/GrpcTest.php
  Spanner/tests/Unit/DatabaseTest.php
  Spanner/tests/Unit/ResultTest.php
  Storage/tests/Unit/BucketTest.php
  Storage/tests/Unit/StorageClientTest.php
  Storage/tests/Unit/StorageObjectTest.php
  Translate/tests/Unit/V2/TranslateClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/cloud-storage-dpe

syntax fix for PHP 5.6
  Spanner/tests/Unit/Connection/GrpcTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

cs fix
  Spanner/tests/Unit/Connection/GrpcTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

add tests for proto packages
  dev/src/DocFx/Page/PageTree.php
  dev/tests/Unit/DocFx/PageTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: fix typos in beyondcorp (#5629)
  BeyondCorpAppConnections/README.md
  BeyondCorpAppConnections/composer.json
  BeyondCorpAppConnectors/README.md
  BeyondCorpAppConnectors/composer.json
  BeyondCorpAppGateways/README.md
  BeyondCorpAppGateways/composer.json
  BeyondCorpClientConnectorServices/README.md
  BeyondCorpClientConnectorServices/composer.json
  BeyondCorpClientGateways/README.md
  BeyondCorpClientGateways/composer.json
  Firestore/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/firestore-dpe

Deploying to gh-pages from @ c5d8ab1a0995675edb9c649c8f03bd3cc505cd60 🚀
  json/cloud-beyondcorp-appconnections/main/readme.json
  json/cloud-beyondcorp-appconnections/main/types.json
  json/cloud-beyondcorp-appconnectors/main/readme.json
  json/cloud-beyondcorp-appconnectors/main/types.json
  json/cloud-beyondcorp-appgateways/main/readme.json
  json/cloud-beyondcorp-appgateways/main/types.json
  json/cloud-beyondcorp-clientconnectorservices/main/readme.json
  json/cloud-beyondcorp-clientconnectorservices/main/types.json
  json/cloud-beyondcorp-clientgateways/main/readme.json
  json/cloud-beyondcorp-clientgateways/main/types.json
  json/google-cloud/main/beyondcorpappconnections/readme.json
  json/google-cloud/main/beyondcorpappconnectors/readme.json
  json/google-cloud/main/beyondcorpappgateways/readme.json
  json/google-cloud/main/beyondcorpclientconnectorservices/readme.json
  json/google-cloud/main/beyondcorpclientgateways/readme.json
  json/google-cloud/main/types.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

add samples to export ignore
  VideoTranscoder/.gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

add samples to phpcs excludes
  phpcs-ruleset.xml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(bazel): update gapic-generator-php to v1.6.1
  owl-bot-staging/Shell/v1/proto/src/GPBMetadata/Google/Cloud/Shell/V1/Cloudshell.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/AddPublicKeyMetadata.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/AddPublicKeyRequest.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/AddPublicKeyResponse.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/AuthorizeEnvironmentMetadata.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/AuthorizeEnvironmentRequest.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/AuthorizeEnvironmentResponse.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/CloudShellErrorDetails.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/CloudShellErrorDetails/CloudShellErrorCode.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/CloudShellErrorDetails_CloudShellErrorCode.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/CloudShellServiceGrpcClient.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/CreateEnvironmentMetadata.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/DeleteEnvironmentMetadata.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/Environment.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/Environment/State.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/Environment_State.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/GetEnvironmentRequest.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/RemovePublicKeyMetadata.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/RemovePublicKeyRequest.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/RemovePublicKeyResponse.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/StartEnvironmentMetadata.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/StartEnvironmentMetadata/State.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/StartEnvironmentMetadata_State.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/StartEnvironmentRequest.php
  owl-bot-staging/Shell/v1/proto/src/Google/Cloud/Shell/V1/StartEnvironmentResponse.php
  owl-bot-staging/Shell/v1/samples/V1/CloudShellServiceClient/add_public_key.php
  owl-bot-staging/Shell/v1/samples/V1/CloudShellServiceClient/authorize_environment.php
  owl-bot-staging/Shell/v1/samples/V1/CloudShellServiceClient/get_environment.php
  owl-bot-staging/Shell/v1/samples/V1/CloudShellServiceClient/remove_public_key.php
  owl-bot-staging/Shell/v1/samples/V1/CloudShellServiceClient/start_environment.php
  owl-bot-staging/Shell/v1/src/V1/CloudShellServiceClient.php
  owl-bot-staging/Shell/v1/src/V1/Gapic/CloudShellServiceGapicClient.php
  owl-bot-staging/Shell/v1/src/V1/gapic_metadata.json
  owl-bot-staging/Shell/v1/src/V1/resources/cloud_shell_service_client_config.json
  owl-bot-staging/Shell/v1/src/V1/resources/cloud_shell_service_descriptor_config.php
  owl-bot-staging/Shell/v1/src/V1/resources/cloud_shell_service_rest_client_config.php
  owl-bot-staging/Shell/v1/tests/Unit/V1/CloudShellServiceClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(bazel): update gapic-generator-php to v1.6.1
  owl-bot-staging/LifeSciences/v2beta/proto/src/GPBMetadata/Google/Cloud/Lifesciences/V2Beta/Workflows.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Accelerator.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Action.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/ContainerKilledEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/ContainerStartedEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/ContainerStoppedEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/DelayedEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Disk.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Event.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/ExistingDisk.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/FailedEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Metadata.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Mount.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/NFSMount.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Network.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/PersistentDisk.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Pipeline.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/PullStartedEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/PullStoppedEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Resources.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/RunPipelineRequest.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/RunPipelineResponse.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Secret.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/ServiceAccount.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/UnexpectedExitStatusEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/VirtualMachine.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Volume.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/WorkerAssignedEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/WorkerReleasedEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/WorkflowsServiceV2BetaGrpcClient.php
  owl-bot-staging/LifeSciences/v2beta/samples/V2beta/WorkflowsServiceV2BetaClient/get_location.php
  owl-bot-staging/LifeSciences/v2beta/samples/V2beta/WorkflowsServiceV2BetaClient/list_locations.php
  owl-bot-staging/LifeSciences/v2beta/samples/V2beta/WorkflowsServiceV2BetaClient/run_pipeline.php
  owl-bot-staging/LifeSciences/v2beta/src/V2beta/Gapic/WorkflowsServiceV2BetaGapicClient.php
  owl-bot-staging/LifeSciences/v2beta/src/V2beta/WorkflowsServiceV2BetaClient.php
  owl-bot-staging/LifeSciences/v2beta/src/V2beta/gapic_metadata.json
  owl-bot-staging/LifeSciences/v2beta/src/V2beta/resources/workflows_service_v2_beta_client_config.json
  owl-bot-staging/LifeSciences/v2beta/src/V2beta/resources/workflows_service_v2_beta_descriptor_config.php
  owl-bot-staging/LifeSciences/v2beta/src/V2beta/resources/workflows_service_v2_beta_rest_client_config.php
  owl-bot-staging/LifeSciences/v2beta/tests/Unit/V2beta/WorkflowsServiceV2BetaClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ de43e63a3fb335cb3d7f639e906abb001b9e1dd0 🚀
  json/cloud-video-transcoder/main/types.json
  json/cloud-video-transcoder/main/v1/gapic/transcoderservicegapicclient.json
  json/cloud-video-transcoder/main/v1/preprocessingconfig.json
  json/cloud-video-transcoder/main/v1/preprocessingconfig/deinterlace.json
  json/cloud-video-transcoder/main/v1/preprocessingconfig/deinterlace/bwdifconfig.json
  json/cloud-video-transcoder/main/v1/preprocessingconfig/deinterlace/yadifconfig.json
  json/cloud-video-transcoder/main/v1/spritesheet.json
  json/cloud-video-transcoder/main/v1/transcoderserviceclient.json
  json/cloud-video-transcoder/main/v1/videostream/h264codecsettings.json
  json/cloud-video-transcoder/main/v1/videostream/h265codecsettings.json
  json/cloud-video-transcoder/main/v1/videostream/vp9codecsettings.json
  json/google-cloud/main/types.json
  json/google-cloud/main/videotranscoder/v1/gapic/transcoderservicegapicclient.json
  json/google-cloud/main/videotranscoder/v1/preprocessingconfig.json
  json/google-cloud/main/videotranscoder/v1/preprocessingconfig/deinterlace.json
  json/google-cloud/main/videotranscoder/v1/preprocessingconfig/deinterlace/bwdifconfig.json
  json/google-cloud/main/videotranscoder/v1/preprocessingconfig/deinterlace/yadifconfig.json
  json/google-cloud/main/videotranscoder/v1/spritesheet.json
  json/google-cloud/main/videotranscoder/v1/transcoderserviceclient.json
  json/google-cloud/main/videotranscoder/v1/videostream/h264codecsettings.json
  json/google-cloud/main/videotranscoder/v1/videostream/h265codecsettings.json
  json/google-cloud/main/videotranscoder/v1/videostream/vp9codecsettings.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

update export-ignores
  BigQueryDataTransfer/.gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

update export ignores
  Notebooks/.gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

update export ignores
  Memcache/.gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(Storage): Pass optional params to the connection layer from $bucket->exists() and $notification->exists()
  Storage/src/Bucket.php
  Storage/src/Notification.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): Add retry conformance tests for idempotent ops
  Storage/tests/Unit/RetryConformanceTest.php
  Storage/tests/Unit/data/retry_tests.json
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: Add EOF to retry_tests.json
  Storage/tests/Unit/data/retry_tests.json
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

Fix lint issues
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

Added storage endpoint in RetryConformanceTest
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

add export ignores
  Dlp/.gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

update export ignores
  Shell/.gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

adjust rest config
  Shell/src/V1/resources/cloud_shell_service_rest_client_config.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: update export ignores
  Kms/.gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

update export ignores
  Billing/.gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ c8325db49c48217c433c1ed6a2390816d0dbb8df 🚀
  json/cloud-dlp/main/types.json
  json/cloud-dlp/main/v2/action.json
  json/cloud-dlp/main/v2/contentitem.json
  json/cloud-dlp/main/v2/deidentifycontentrequest.json
  json/cloud-dlp/main/v2/dlpserviceclient.json
  json/cloud-dlp/main/v2/excludebyhotword.json
  json/cloud-dlp/main/v2/exclusionrule.json
  json/cloud-dlp/main/v2/gapic/dlpservicegapicclient.json
  json/cloud-dlp/main/v2/infotype.json
  json/cloud-dlp/main/v2/tabledataprofile.json
  json/google-cloud/main/dlp/v2/action.json
  json/google-cloud/main/dlp/v2/contentitem.json
  json/google-cloud/main/dlp/v2/deidentifycontentrequest.json
  json/google-cloud/main/dlp/v2/dlpserviceclient.json
  json/google-cloud/main/dlp/v2/excludebyhotword.json
  json/google-cloud/main/dlp/v2/exclusionrule.json
  json/google-cloud/main/dlp/v2/gapic/dlpservicegapicclient.json
  json/google-cloud/main/dlp/v2/infotype.json
  json/google-cloud/main/dlp/v2/tabledataprofile.json
  json/google-cloud/main/types.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

update export ignores
  Container/.gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ fbb648bcf22e19e7984ebe32812e2e1551021312 🚀
  json/cloud-billing/main/types.json
  json/cloud-billing/main/v1/billingaccount.json
  json/cloud-billing/main/v1/cloudbillingclient.json
  json/cloud-billing/main/v1/cloudbillinggrpcclient.json
  json/cloud-billing/main/v1/cloudcatalogclient.json
  json/cloud-billing/main/v1/cloudcataloggrpcclient.json
  json/cloud-billing/main/v1/createbillingaccountrequest.json
  json/cloud-billing/main/v1/gapic/cloudbillinggapicclient.json
  json/cloud-billing/main/v1/gapic/cloudcataloggapicclient.json
  json/cloud-billing/main/v1/geotaxonomy.json
  json/cloud-billing/main/v1/geotaxonomy/type.json
  json/cloud-billing/main/v1/geotaxonomy_type.json
  json/cloud-billing/main/v1/pricingexpression.json
  json/cloud-billing/main/v1/projectbillinginfo.json
  json/cloud-billing/main/v1/sku.json
  json/google-cloud/main/billing/v1/billingaccount.json
  json/google-cloud/main/billing/v1/cloudbillingclient.json
  json/google-cloud/main/billing/v1/cloudbillinggrpcclient.json
  json/google-cloud/main/billing/v1/cloudcatalogclient.json
  json/google-cloud/main/billing/v1/cloudcataloggrpcclient.json
  json/google-cloud/main/billing/v1/createbillingaccountrequest.json
  json/google-cloud/main/billing/v1/gapic/cloudbillinggapicclient.json
  json/google-cloud/main/billing/v1/gapic/cloudcataloggapicclient.json
  json/google-cloud/main/billing/v1/geotaxonomy.json
  json/google-cloud/main/billing/v1/geotaxonomy/type.json
  json/google-cloud/main/billing/v1/geotaxonomy_type.json
  json/google-cloud/main/billing/v1/pricingexpression.json
  json/google-cloud/main/billing/v1/projectbillinginfo.json
  json/google-cloud/main/billing/v1/sku.json
  json/google-cloud/main/types.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: limit last page size
  Datastore/src/Operation.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

update export ignores
  LifeSciences/.gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ 9a75a9c0fc94e8f8735f8713e0ce949259d1082b 🚀
  json/cloud-container/main/types.json
  json/cloud-container/main/v1/clustermanagerclient.json
  json/cloud-container/main/v1/gapic/clustermanagergapicclient.json
  json/cloud-container/main/v1/nodepool.json
  json/cloud-container/main/v1/nodepool/placementpolicy.json
  json/cloud-container/main/v1/nodepool/placementpolicy/type.json
  json/cloud-container/main/v1/nodepool_placementpolicy.json
  json/cloud-container/main/v1/nodepool_placementpolicy_type.json
  json/google-cloud/main/container/v1/clustermanagerclient.json
  json/google-cloud/main/container/v1/gapic/clustermanagergapicclient.json
  json/google-cloud/main/container/v1/nodepool.json
  json/google-cloud/main/container/v1/nodepool/placementpolicy.json
  json/google-cloud/main/container/v1/nodepool/placementpolicy/type.json
  json/google-cloud/main/container/v1/nodepool_placementpolicy.json
  json/google-cloud/main/container/v1/nodepool_placementpolicy_type.json
  json/google-cloud/main/types.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ a8d7a505f22216a18bd7926a0c8da87b106214f8 🚀
  json/cloud-shell/main/v1/cloudshellserviceclient.json
  json/cloud-shell/main/v1/gapic/cloudshellservicegapicclient.json
  json/google-cloud/main/shell/v1/cloudshellserviceclient.json
  json/google-cloud/main/shell/v1/gapic/cloudshellservicegapicclient.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: style
  Datastore/src/Operation.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ b771ad6f7c5476065aab1479fb8a6624209d996f 🚀
  json/cloud-life-sciences/main/v2beta/action.json
  json/cloud-life-sciences/main/v2beta/gapic/workflowsservicev2betagapicclient.json
  json/cloud-life-sciences/main/v2beta/pipeline.json
  json/cloud-life-sciences/main/v2beta/virtualmachine.json
  json/cloud-life-sciences/main/v2beta/workflowsservicev2betaclient.json
  json/google-cloud/main/lifesciences/v2beta/action.json
  json/google-cloud/main/lifesciences/v2beta/gapic/workflowsservicev2betagapicclient.json
  json/google-cloud/main/lifesciences/v2beta/pipeline.json
  json/google-cloud/main/lifesciences/v2beta/virtualmachine.json
  json/google-cloud/main/lifesciences/v2beta/workflowsservicev2betaclient.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

update export ignores
  SecurityCenter/.gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

update export ignores
  AccessContextManager/.gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

update export ignores
  DocumentAi/.gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

update export ignores
  Talent/.gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(Storage): Pass optional params to the connection layer from GCS methods (#5636)
  Storage/src/Bucket.php
  Storage/src/Notification.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd
