Repository googleapis/google-cloud-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/cloud-storage-dpe, @googleapis/api-bigquery, @googleapis/api-pubsub

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-php team is the default owner for anything not
# explicitly taken by someone else.
*                               @googleapis/yoshi-php @googleapis/cicd

/Bigtable       @googleapis/api-bigtable @googleapis/yoshi-php @googleapis/cicd
/Datastore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Firestore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Storage/       @googleapis/cloud-storage-dpe @googleapis/yoshi-php @googleapis/cicd
/BigQuery*/.    @googleapis/api-bigquery @googleapis/yoshi-php @googleapis/cicd
/PubSub/        @googleapis/api-pubsub @googleapis/yoshi-php @googleapis/cicd

feat: add getFetcher to FetchAuthTokenCache (https://github.com/googleapis/google-auth-library-php/issues/431)
  src/FetchAuthTokenCache.php
  tests/FetchAuthTokenCacheTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: ensure cache is used for calls to ADC::onGCE (https://github.com/googleapis/gax-php/issues/441)
  Gax/composer.json
  Gax/src/CredentialsWrapper.php
  Gax/tests/Tests/Unit/CredentialsWrapperTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(Datastore): query limit fails for string limit
  Datastore/src/Connection/Grpc.php
  Datastore/tests/System/QueryResultPaginationTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: [Datastore] query limit fails for string limit (#5826)
  Datastore/src/Connection/Grpc.php
  Datastore/tests/System/QueryResultPaginationTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore(release): fix go error in release script
  dev/sh/compile-splitsh
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update Firestore/tests/System/DocumentAndCollectionTest.php
  Firestore/tests/System/DocumentAndCollectionTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore(tests): [Firestore] fix readtime system test (#5824)
  Firestore/tests/System/DocumentAndCollectionTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix(tests): php56 tests breaking
  Spanner/src/Session/CacheSessionPool.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: fixes for BC checker
  Core/src/Logger/AppEngineFlexHandler.php
  Core/src/Logger/AppEngineFlexHandlerV2.php
  Core/src/Logger/AppEngineFlexHandlerV3.php
  Core/src/PhpArray.php
  Core/src/Testing/GcTestListener.php
  Core/src/Testing/Reflection/DescriptionFactory.php
  Core/src/Testing/Reflection/ReflectionHandlerV4.php
  Core/src/Testing/Reflection/ReflectionHandlerV5.php
  Spanner/src/TransactionalReadTrait.php
  Trace/src/Link.php
  Trace/src/MessageEvent.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add bc check github action
  .github/workflows/backwards-compatibility-check.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(release): fix go error in release script (#5829)
  dev/sh/compile-splitsh
Owners: @googleapis/yoshi-php, @googleapis/cicd

typo fix
  .github/workflows/backwards-compatibility-check.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

remove cherry-pick
  .github/workflows/backwards-compatibility-check.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: remove export-ignore of repo-metadata
  .gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

ensure ReadOnly compat files do not thrown syntax errors on PHP 8.2
  Datastore/src/V1/TransactionOptions/ReadOnly.php
  Firestore/metadata/V1Beta1/Common.php
  Firestore/owlbot.py
  Firestore/src/V1/TransactionOptions/ReadOnly.php
  Firestore/src/V1beta1/TransactionOptions.php
  Firestore/src/V1beta1/TransactionOptions/PBReadOnly.php
  Firestore/src/V1beta1/TransactionOptions/ReadOnly.php
  Firestore/src/V1beta1/TransactionOptions/ReadWrite.php
  Firestore/src/V1beta1/TransactionOptions_ReadOnly.php
  Spanner/src/V1/TransactionOptions/ReadOnly.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore: ensure ReadOnly compat does not thrown syntax errors on PHP 8.2
  Datastore/src/V1/TransactionOptions/ReadOnly.php
  Firestore/metadata/V1Beta1/Common.php
  Firestore/src/V1/TransactionOptions/ReadOnly.php
  Firestore/src/V1beta1/TransactionOptions.php
  Firestore/src/V1beta1/TransactionOptions/ReadOnly.php
  Firestore/src/V1beta1/TransactionOptions_ReadOnly.php
  Spanner/src/V1/TransactionOptions/ReadOnly.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore: remove export-ignore of repo-metadata (#5837)
  .gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: fixes for BC checker
  Core/src/Logger/AppEngineFlexHandler.php
  Core/src/Logger/AppEngineFlexHandlerV2.php
  Core/src/Logger/AppEngineFlexHandlerV3.php
  Core/src/PhpArray.php
  Core/src/Testing/GcTestListener.php
  Core/src/Testing/Reflection/DescriptionFactory.php
  Core/src/Testing/Reflection/ReflectionHandlerV4.php
  Core/src/Testing/Reflection/ReflectionHandlerV5.php
  Spanner/src/TransactionalReadTrait.php
  Trace/src/Link.php
  Trace/src/MessageEvent.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: update import paths for Go targets to match open source location chore: update go_package in protos to match open source location chore: add explicit release levels to Go gapic targets
  owl-bot-staging/OrgPolicy/v2/proto/src/GPBMetadata/Google/Cloud/Orgpolicy/V2/Constraint.php
  owl-bot-staging/OrgPolicy/v2/proto/src/GPBMetadata/Google/Cloud/Orgpolicy/V2/Orgpolicy.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/AlternatePolicySpec.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/Constraint.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/Constraint/BooleanConstraint.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/Constraint/ConstraintDefault.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/Constraint/ListConstraint.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/Constraint_BooleanConstraint.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/Constraint_ConstraintDefault.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/Constraint_ListConstraint.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/CreatePolicyRequest.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/DeletePolicyRequest.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/GetEffectivePolicyRequest.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/GetPolicyRequest.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/ListConstraintsRequest.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/ListConstraintsResponse.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/ListPoliciesRequest.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/ListPoliciesResponse.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/OrgPolicyGrpcClient.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/Policy.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/PolicySpec.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/PolicySpec/PolicyRule.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/PolicySpec/PolicyRule/StringValues.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/PolicySpec_PolicyRule.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/PolicySpec_PolicyRule_StringValues.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/UpdatePolicyRequest.php
  owl-bot-staging/OrgPolicy/v2/samples/V2/OrgPolicyClient/create_policy.php
  owl-bot-staging/OrgPolicy/v2/samples/V2/OrgPolicyClient/delete_policy.php
  owl-bot-staging/OrgPolicy/v2/samples/V2/OrgPolicyClient/get_effective_policy.php
  owl-bot-staging/OrgPolicy/v2/samples/V2/OrgPolicyClient/get_policy.php
  owl-bot-staging/OrgPolicy/v2/samples/V2/OrgPolicyClient/list_constraints.php
  owl-bot-staging/OrgPolicy/v2/samples/V2/OrgPolicyClient/list_policies.php
  owl-bot-staging/OrgPolicy/v2/samples/V2/OrgPolicyClient/update_policy.php
  owl-bot-staging/OrgPolicy/v2/src/V2/Gapic/OrgPolicyGapicClient.php
  owl-bot-staging/OrgPolicy/v2/src/V2/OrgPolicyClient.php
  owl-bot-staging/OrgPolicy/v2/src/V2/gapic_metadata.json
  owl-bot-staging/OrgPolicy/v2/src/V2/resources/org_policy_client_config.json
  owl-bot-staging/OrgPolicy/v2/src/V2/resources/org_policy_descriptor_config.php
  owl-bot-staging/OrgPolicy/v2/src/V2/resources/org_policy_rest_client_config.php
  owl-bot-staging/OrgPolicy/v2/tests/Unit/V2/OrgPolicyClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: fixes for BC checker (#5845)
  Core/src/Logger/AppEngineFlexHandler.php
  Core/src/Logger/AppEngineFlexHandlerV2.php
  Core/src/Logger/AppEngineFlexHandlerV3.php
  Core/src/PhpArray.php
  Core/src/Testing/GcTestListener.php
  Core/src/Testing/Reflection/DescriptionFactory.php
  Core/src/Testing/Reflection/ReflectionHandlerV4.php
  Core/src/Testing/Reflection/ReflectionHandlerV5.php
  Spanner/src/TransactionalReadTrait.php
  Trace/src/Link.php
  Trace/src/MessageEvent.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: ensure ReadOnly compat does not thrown syntax errors on PHP 8.2 (#5843)
  Datastore/src/V1/TransactionOptions/ReadOnly.php
  Firestore/metadata/V1Beta1/Common.php
  Firestore/src/V1/TransactionOptions/ReadOnly.php
  Firestore/src/V1beta1/TransactionOptions.php
  Firestore/src/V1beta1/TransactionOptions/ReadOnly.php
  Firestore/src/V1beta1/TransactionOptions_ReadOnly.php
  Spanner/src/V1/TransactionOptions/ReadOnly.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

try with docker action instead
  .github/workflows/backwards-compatibility-check.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

revert readwrite change
  Firestore/src/V1beta1/TransactionOptions/ReadWrite.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

revert owlbot change
  Firestore/owlbot.py
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

Revert "try with docker action instead"
  .github/workflows/backwards-compatibility-check.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

remove readonly hack
  .github/workflows/backwards-compatibility-check.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix from branch
  .github/workflows/backwards-compatibility-check.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

try using remote branch
  .github/workflows/backwards-compatibility-check.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: clean up post-processing
  DataCatalog/owlbot.py
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add component compliance checker
  dev/google-cloud
  dev/src/ComplianceChecker/Command/CheckCompliance.php
  dev/src/ComplianceChecker/Component.php
  dev/src/DocFx/Command/DocFx.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix docfx tests
  dev/src/ComplianceChecker/Component.php
  dev/src/DocFx/Command/DocFx.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix samples in README
  DataCatalogLineage/README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

better README
  DataCatalogLineage/README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update .repo-metadata.json
  DataCatalogLineage/.repo-metadata.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: improve caching by only decoding jwks when necessary (firebase/php-jwt#486)
  Jwt/src/CachedKeySet.php
  Jwt/tests/CachedKeySetTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: improve caching by only decoding jwks when necessary (firebase/php-jwt#486)
  src/CachedKeySet.php
  tests/CachedKeySetTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add VERSION for DataCatalogLineage
  DataCatalogLineage/VERSION
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: [DataCatalogLineage] add version file (#5862)
  DataCatalogLineage/VERSION
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(tests): add breaking change detector (#5822)
  .github/workflows/backwards-compatibility-check.yaml
  Firestore/src/V1beta1/TransactionOptions/PBReadOnly.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/firestore-dpe

Resolve PR comments
  Spanner/src/Session/CacheSessionPool.php
  Spanner/tests/System/SessionTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd
