Repository googleapis/google-cloud-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/cloud-storage-dpe, @googleapis/api-bigquery, @googleapis/api-pubsub

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-php team is the default owner for anything not
# explicitly taken by someone else.
*                               @googleapis/yoshi-php @googleapis/cicd

/Bigtable       @googleapis/api-bigtable @googleapis/yoshi-php @googleapis/cicd
/Datastore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Firestore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Storage/       @googleapis/cloud-storage-dpe @googleapis/yoshi-php @googleapis/cicd
/BigQuery*/.    @googleapis/api-bigquery @googleapis/yoshi-php @googleapis/cicd
/PubSub/        @googleapis/api-pubsub @googleapis/yoshi-php @googleapis/cicd

feat(Storage): Add sendRequest function for Rest.php retry
  Storage/src/Connection/Rest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): Resolve PR comments
  Core/src/RestTrait.php
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

feat(Storage): Add retry decider function for GCS
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
  Storage/tests/Unit/Connection/RestTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): Remove duplicate lines in testIam
  Storage/src/Connection/Rest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): Add idempotent and idempotentWithPrecondition map
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): Resolve PR issues
  Storage/src/Connection/RetryTrait.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

Added resumable downloads
  Core/src/ExponentialBackoff.php
  Core/src/RequestWrapper.php
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
  Storage/src/StorageObject.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

feat(Storage): Remove grpc version change in tests.yaml
  Storage/src/Connection/Rest.php
  Storage/tests/Unit/Connection/RestTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): Resolve retry errors
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

Handeled transcoding in resumable downloads in GCS
  Storage/src/StorageObject.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

Added a provision for the user to add size to avoid a getObject call, added unit tests for resumable downloads
  Core/src/ExponentialBackoff.php
  Storage/src/StorageObject.php
  Storage/tests/Unit/StorageObjectTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

feat(Storage): Resolve PR comments
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

Update Storage/src/Connection/RetryTrait.php
  Storage/src/Connection/RetryTrait.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): Resolve PR comments
  Storage/src/Connection/Rest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

Added retry tests for resumable downloads
  Storage/src/StorageObject.php
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix(Translate): test failures addressed
  Translate/src/V2/TranslateClient.php
  Translate/tests/System/V2/TranslateTest.php
  Translate/tests/System/V3/TranslationServiceSmokeTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: removed arrow function
  Translate/src/V2/TranslateClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

nit: style fix in Translate/src/V2/TranslateClient.php
  Translate/src/V2/TranslateClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry
  Storage/src/Connection/Rest.php
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry
  Storage/src/Connection/Rest.php
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix(Translate): test failures addressed (#5726)
  Translate/src/V2/TranslateClient.php
  Translate/tests/System/V2/TranslateTest.php
  Translate/tests/System/V3/TranslationServiceSmokeTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry Resumable Uploads
  Storage/src/Connection/Rest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry Strategy options
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
  Storage/tests/Unit/Connection/RestTest.php
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry - Object Uploads
  Storage/src/Connection/Rest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry Strategy Options
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
  Storage/tests/Unit/Connection/RestTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

Added github workflow to run gcs retry tests
  .github/workflows/storage-emulator-retry-conformance-tests.yaml
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

fix(Vision): Vision SafeSearch likelihood param
  Vision/tests/System/AnnotationsTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(Logging): outputVersionFormat is deprecated
  Logging/tests/System/ManageSinksTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): Resolve PR comments
  .github/workflows/tests.yaml
  Storage/src/Connection/RetryTrait.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

fix(Vision): Vision SafeSearch likelihood param (#5733)
  Vision/tests/System/AnnotationsTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(Logging): outputVersionFormat is deprecated (#5735)
  Logging/tests/System/ManageSinksTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(Language): migrate scores and assertEquals to assertEqualsWithDelta
  Language/tests/System/AnalyzeTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(Core): fixing BatchRunnerTests
  Core/phpunit-system.xml.dist
  Core/tests/System/Batch/BatchRunnerTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(AutoML): adding Operations::initOnce()
  AutoMl/tests/System/V1/AutoMlSmokeTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Separated conformance and unit tests
  .github/workflows/storage-emulator-retry-conformance-tests.yaml
  Storage/phpunit-conformance.xml.dist
  Storage/tests/Conformance/RetryConformanceTest.php
  Storage/tests/Conformance/data/retry_tests.json
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

feat(Storage): GCS Retry Invocation ID header
  Core/src/RestTrait.php
  Storage/src/Connection/Rest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

fix: bigtable typehint for exactMatch
  Bigtable/src/Filter/Builder/FamilyFilter.php
  Bigtable/src/Filter/Builder/KeyFilter.php
  Bigtable/src/Filter/Builder/QualifierFilter.php
  Bigtable/src/Filter/Builder/ValueFilter.php
Owners: @googleapis/api-bigtable, @googleapis/yoshi-php, @googleapis/cicd

chore(tests): migrate scores and assertEquals to assertEqualsWithDelta (#5737)
  Language/tests/System/AnalyzeTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry Invocation ID header
  Core/src/ExponentialBackoff.php
  Core/src/RequestWrapper.php
  Core/src/RestTrait.php
  Storage/src/Connection/Rest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

chore(tests): fix BatchRunner tests (#5738)
  Core/phpunit-system.xml.dist
  Core/tests/System/Batch/BatchRunnerTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd
