Repository googleapis/google-cloud-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/cloud-storage-dpe, @googleapis/api-bigquery, @googleapis/api-pubsub

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-php team is the default owner for anything not
# explicitly taken by someone else.
*                               @googleapis/yoshi-php @googleapis/cicd

/Bigtable       @googleapis/api-bigtable @googleapis/yoshi-php @googleapis/cicd
/Datastore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Firestore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Storage/       @googleapis/cloud-storage-dpe @googleapis/yoshi-php @googleapis/cicd
/BigQuery*/.    @googleapis/api-bigquery @googleapis/yoshi-php @googleapis/cicd
/PubSub/        @googleapis/api-pubsub @googleapis/yoshi-php @googleapis/cicd

remove api_shortname from CommonProtos
  CommonProtos/.repo-metadata.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update dev/src/ReleaseBuilder/ReleaseBuilder.php
  dev/src/ReleaseBuilder/ReleaseBuilder.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add tests for php 8.2 (#5697)
  .github/workflows/tests.yaml
  dev/src/ReleaseBuilder/ReleaseBuilder.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(Spanner): add retry for session not found
  Spanner/composer.json
  Spanner/src/Connection/Grpc.php
  Spanner/tests/Unit/DatabaseTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(Datastore): timestamp in Datastore apis
  Datastore/src/Connection/Rest.php
  Datastore/src/DatastoreClient.php
  Datastore/src/Operation.php
  Datastore/tests/Snippet/DatastoreClientTest.php
  Datastore/tests/System/LookupTest.php
  Datastore/tests/System/RunQueryTest.php
  Datastore/tests/System/RunTransactionTest.php
  Datastore/tests/Unit/DatastoreClientTest.php
  Datastore/tests/Unit/TransactionTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

manual fix for tests
  Spanner/tests/Unit/V1/SpannerClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(BigQuery): Snapshot / Clones
  BigQuery/tests/System/ManageTablesTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(BigQuery): Snapshot / Clone
  BigQuery/tests/System/ManageTablesTest.php
  BigQuery/tests/Unit/TableTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Added doc blocks
  BigQuery/src/Table.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(Firestore): SnapshotTrait getSnapshot method
  Firestore/src/Connection/Grpc.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix(Firestore): SnapshotTrait getSnapshot method
  Firestore/tests/Unit/Connection/GrpcTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix(Firestore): SnapshotTrait getSnapshot method
  Firestore/tests/System/DocumentAndCollectionTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: incorporating PR comments
  Datastore/src/Operation.php
  Datastore/tests/System/LookupTest.php
  Datastore/tests/System/RunQueryTest.php
  Datastore/tests/System/RunTransactionTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore: switch export ignores to composer.json
  .gitattributes
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(Spanner): Throw session create exception correctly
  Spanner/src/Session/CacheSessionPool.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(Spanner): Resolve PR comments
  Spanner/tests/Unit/Session/CacheSessionPoolTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: reformat protos
  owl-bot-staging/LifeSciences/v2beta/proto/src/GPBMetadata/Google/Cloud/Lifesciences/V2Beta/Workflows.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Accelerator.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Action.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/ContainerKilledEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/ContainerStartedEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/ContainerStoppedEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/DelayedEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Disk.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Event.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/ExistingDisk.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/FailedEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Metadata.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Mount.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/NFSMount.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Network.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/PersistentDisk.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Pipeline.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/PullStartedEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/PullStoppedEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Resources.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/RunPipelineRequest.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/RunPipelineResponse.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Secret.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/ServiceAccount.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/UnexpectedExitStatusEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/VirtualMachine.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/Volume.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/WorkerAssignedEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/WorkerReleasedEvent.php
  owl-bot-staging/LifeSciences/v2beta/proto/src/Google/Cloud/LifeSciences/V2beta/WorkflowsServiceV2BetaGrpcClient.php
  owl-bot-staging/LifeSciences/v2beta/samples/V2beta/WorkflowsServiceV2BetaClient/get_location.php
  owl-bot-staging/LifeSciences/v2beta/samples/V2beta/WorkflowsServiceV2BetaClient/list_locations.php
  owl-bot-staging/LifeSciences/v2beta/samples/V2beta/WorkflowsServiceV2BetaClient/run_pipeline.php
  owl-bot-staging/LifeSciences/v2beta/src/V2beta/Gapic/WorkflowsServiceV2BetaGapicClient.php
  owl-bot-staging/LifeSciences/v2beta/src/V2beta/WorkflowsServiceV2BetaClient.php
  owl-bot-staging/LifeSciences/v2beta/src/V2beta/gapic_metadata.json
  owl-bot-staging/LifeSciences/v2beta/src/V2beta/resources/workflows_service_v2_beta_client_config.json
  owl-bot-staging/LifeSciences/v2beta/src/V2beta/resources/workflows_service_v2_beta_descriptor_config.php
  owl-bot-staging/LifeSciences/v2beta/src/V2beta/resources/workflows_service_v2_beta_rest_client_config.php
  owl-bot-staging/LifeSciences/v2beta/tests/Unit/V2beta/WorkflowsServiceV2BetaClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Renamed testSnapshot() method
  BigQuery/tests/System/ManageTablesTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(BigQuery): Snapshots / Clones (#5804)
  BigQuery/src/Table.php
  BigQuery/tests/System/ManageTablesTest.php
  BigQuery/tests/Unit/TableTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: pr comments for style fixes
  Datastore/src/Operation.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix(Firestore): SnapshotTrait getSnapshot method (#5807)
  Firestore/src/Connection/Grpc.php
  Firestore/tests/System/DocumentAndCollectionTest.php
  Firestore/tests/Unit/Connection/GrpcTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

Update Spanner/src/Session/CacheSessionPool.php
  Spanner/src/Session/CacheSessionPool.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update Spanner/src/Session/CacheSessionPool.php
  Spanner/src/Session/CacheSessionPool.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update Spanner/src/Session/CacheSessionPool.php
  Spanner/src/Session/CacheSessionPool.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

resolve PR comments
  Spanner/src/Session/CacheSessionPool.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix unit test for isPreconditionSupplied
  Storage/tests/Unit/Connection/RestTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry- object uploads (#5730)
  Core/src/Upload/AbstractUploader.php
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
  Storage/tests/Unit/Connection/RestTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

fix: addressing lag in acquire
  Spanner/src/Session/CacheSessionPool.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: update api_shortname for repo-metadata.json
  BigQuery/.repo-metadata.json
  LongRunning/.repo-metadata.json
  Storage/.repo-metadata.json
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

fix: [Datastore] use timestamp type (#5801)
  Datastore/src/Connection/Rest.php
  Datastore/src/DatastoreClient.php
  Datastore/src/Operation.php
  Datastore/tests/Snippet/DatastoreClientTest.php
  Datastore/tests/System/LookupTest.php
  Datastore/tests/System/RunQueryTest.php
  Datastore/tests/System/RunTransactionTest.php
  Datastore/tests/Unit/DatastoreClientTest.php
  Datastore/tests/Unit/TransactionTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore: update api_shortname for repo-metadata.json (#5821)
  BigQuery/.repo-metadata.json
  LongRunning/.repo-metadata.json
  Storage/.repo-metadata.json
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

chore(deps): update gcr.io/cloud-spanner-emulator/emulator docker tag to v1.5.0
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update gcr.io/cloud-spanner-emulator/emulator docker tag to v1.5.0 (#5820)
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: update docs link (#5778)
  GkeMultiCloud/README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update python non-major dependencies
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: always use the PR title for commit linting (googleapis/google-auth-library-php#430)
  .github/conventional-commit-lint.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: always use the PR title for commit linting (https://github.com/googleapis/google-auth-library-php/issues/430)
  .github/conventional-commit-lint.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update python non-major dependencies (#5756)
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(tests): [Firestore] fix readtime system test
  Firestore/tests/System/DocumentAndCollectionTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat: add getFetcher to FetchAuthTokenCache (googleapis/google-auth-library-php#431)
  src/FetchAuthTokenCache.php
  tests/FetchAuthTokenCacheTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd
