Repository googleapis/google-cloud-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/cloud-storage-dpe, @googleapis/api-bigquery, @googleapis/api-pubsub

chore(deps): update gcr.io/cloud-spanner-emulator/emulator docker tag to v1.4.9
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry Resumable Uploads
  Storage/src/Connection/Rest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry Strategy Options
  Storage/src/Connection/RetryTrait.php
  Storage/tests/Unit/Connection/RestTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore(tests): reduce runtime
  Core/src/Testing/System/SystemTestCase.php
  Storage/tests/System/ManageBucketsTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

feat(BigQuery): Read JSON Column from BigQuery
  BigQuery/src/BigQueryClient.php
  BigQuery/src/ValueMapper.php
  BigQuery/tests/Snippet/BigQueryClientTest.php
  BigQuery/tests/Snippet/DatasetTest.php
  BigQuery/tests/Snippet/QueryJobConfigurationTest.php
  BigQuery/tests/Snippet/QueryResultsTest.php
  BigQuery/tests/Snippet/TableTest.php
  BigQuery/tests/Unit/DatasetTest.php
  BigQuery/tests/Unit/QueryJobConfigurationTest.php
  BigQuery/tests/Unit/QueryResultsTest.php
  BigQuery/tests/Unit/TableTest.php
  BigQuery/tests/Unit/ValueMapperTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: bigtable typehint for exactMatch (#5742)
  Bigtable/src/Filter/Builder/FamilyFilter.php
  Bigtable/src/Filter/Builder/KeyFilter.php
  Bigtable/src/Filter/Builder/QualifierFilter.php
  Bigtable/src/Filter/Builder/ValueFilter.php
Owners: @googleapis/api-bigtable, @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update gcr.io/cloud-spanner-emulator/emulator docker tag to v1.4.9 (#5736)
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency protobuf to v4.21.12
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency protobuf to v4.21.12 (#5710)
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(VideoIntellegence): fixing test resource link
  VideoIntelligence/tests/System/V1/VideoIntelligenceServiceClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: migrate retryLimit to BadRequestException check
  Core/src/Testing/System/SystemTestCase.php
  Storage/tests/System/ManageBucketsTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

chore(Storage): tests should use firestore keys
  BigQuery/tests/System/ManageTablesTest.php
  Storage/tests/System/RequesterPaysTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

chore(Storage): fix UrlStatTest::testIsExecutable
  Storage/tests/System/StreamWrapper/UrlStatTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry Invocation ID header
  Storage/src/Connection/Rest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

Edited Doc block for $onExecutionStart callback
  Core/src/ExponentialBackoff.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry Invocation ID headers
  Storage/src/Connection/Rest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

Update Storage/src/Connection/RetryTrait.php
  Storage/src/Connection/RetryTrait.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

Update Storage/src/Connection/RetryTrait.php
  Storage/src/Connection/RetryTrait.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore(VideoIntellegence): fixing test resource link (#5753)
  VideoIntelligence/tests/System/V1/VideoIntelligenceServiceClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

nit: remove stale comments
  Storage/tests/System/StreamWrapper/UrlStatTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

nit: simplify if condition
  Core/src/Testing/System/SystemTestCase.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update Storage/src/Connection/RetryTrait.php
  Storage/src/Connection/RetryTrait.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix(Datastore): migrate to env var PROJECT_ID
  Datastore/tests/System/DatastoreMultipleDbTestCase.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix(Spanner): Spanner test fixes
  Spanner/tests/System/BackupTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry Strategy Options
  Storage/src/Connection/RetryTrait.php
  Storage/tests/Unit/Connection/RestTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry invocation ID header
  Core/src/ExponentialBackoff.php
  Core/src/RequestWrapper.php
  Storage/composer.json
  Storage/src/Connection/Rest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

chore(docs): ensure generated protobuf docs uses supplied version (https://github.com/googleapis/gax-php/issues/436)
  Gax/dev/sh/build-protobuf-docs.sh
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(Spanner): Spanner test fixes (#5758)
  Spanner/tests/System/BackupTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(Datastore): migrate to env var PROJECT_ID (#5757)
  Datastore/tests/System/DatastoreMultipleDbTestCase.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore(Storage): tests should use firestore keys (#5754)
  BigQuery/tests/System/ManageTablesTest.php
  Storage/tests/System/RequesterPaysTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

chore(Storage): reduce storage tests runtime (#5743)
  Core/src/Testing/System/SystemTestCase.php
  Storage/tests/System/ManageBucketsTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

feat(Datastore): Resolve PR comments
  Datastore/src/Connection/Rest.php
  Datastore/tests/System/RunQueryTest.php
  Datastore/tests/System/RunTransactionTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Datastore): change sleep time to 1 second
  Datastore/tests/System/LookupTest.php
  Datastore/tests/System/RunQueryTest.php
  Datastore/tests/System/RunTransactionTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

Revert "feat(Datastore): change sleep time to 1 second"
  Datastore/tests/System/LookupTest.php
  Datastore/tests/System/RunQueryTest.php
  Datastore/tests/System/RunTransactionTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Datastore): Add snapshot read feature
  Datastore/src/Connection/Rest.php
  Datastore/src/DatastoreClient.php
  Datastore/src/Operation.php
  Datastore/tests/Snippet/DatastoreClientTest.php
  Datastore/tests/System/LookupTest.php
  Datastore/tests/System/RunQueryTest.php
  Datastore/tests/System/RunTransactionTest.php
  Datastore/tests/Unit/DatastoreClientTest.php
  Datastore/tests/Unit/TransactionTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

Skipping the ReadTime system tests
  Datastore/tests/System/DatastoreTestCase.php
  Datastore/tests/System/LookupTest.php
  Datastore/tests/System/RunQueryTest.php
  Datastore/tests/System/RunTransactionTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry Invocation ID header (#5741)
  Core/src/ExponentialBackoff.php
  Core/src/RequestWrapper.php
  Core/src/RestTrait.php
  Storage/composer.json
  Storage/src/Connection/Rest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

Handled few cases for the invocation id header
  Storage/src/Connection/Rest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

remove newline for snippet annotations
  dev/src/DocFx/Node/DocblockTrait.php
  dev/tests/fixtures/docfx/V1.ImageAnnotatorClient.yml
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix nested param parsing with extra whitespace
  dev/src/DocFx/Node/ParameterNode.php
  dev/tests/Unit/DocFx/NodeTest.php
  dev/tests/fixtures/docfx/V1.ImageAnnotatorClient.yml
  dev/tests/fixtures/phpdoc/nestedparams.xml
Owners: @googleapis/yoshi-php, @googleapis/cicd

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-php team is the default owner for anything not
# explicitly taken by someone else.
*                               @googleapis/yoshi-php @googleapis/cicd

/Bigtable       @googleapis/api-bigtable @googleapis/yoshi-php @googleapis/cicd
/Datastore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Firestore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Storage/       @googleapis/cloud-storage-dpe @googleapis/yoshi-php @googleapis/cicd
/BigQuery*/.    @googleapis/api-bigquery @googleapis/yoshi-php @googleapis/cicd
/PubSub/        @googleapis/api-pubsub @googleapis/yoshi-php @googleapis/cicd
