Repository googleapis/google-cloud-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/cloud-storage-dpe, @googleapis/api-bigquery, @googleapis/api-pubsub

chore: configure automerge for python non-major dependencies
  renovate.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(docs): use package name instead of directory
  dev/src/DocFx/Command/DocFx.php
  dev/tests/fixtures/docfx/docs.metadata
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ 1d811a597108bfe08f9ca6143a2f90e90d1012a1 🚀
  json/cloud-container/main/types.json
  json/cloud-container/main/v1/binaryauthorization.json
  json/cloud-container/main/v1/clustermanagerclient.json
  json/cloud-container/main/v1/fastsocket.json
  json/cloud-container/main/v1/gapic/clustermanagergapicclient.json
  json/cloud-container/main/v1/nodeconfig.json
  json/cloud-container/main/v1/updatenodepoolrequest.json
  json/google-cloud/main/container/v1/binaryauthorization.json
  json/google-cloud/main/container/v1/clustermanagerclient.json
  json/google-cloud/main/container/v1/fastsocket.json
  json/google-cloud/main/container/v1/gapic/clustermanagergapicclient.json
  json/google-cloud/main/container/v1/nodeconfig.json
  json/google-cloud/main/container/v1/updatenodepoolrequest.json
  json/google-cloud/main/types.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency google-api-core to v2.11.0
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency google-auth to v2.15.0
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(docs): use package name instead of directory (#5670)
  dev/src/DocFx/Command/DocFx.php
  dev/tests/fixtures/docfx/docs.metadata
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(docs): configure automerge for python non-major dependencies (#5666)
  renovate.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update python non-major dependencies
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update python non-major dependencies (#5671)
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: add ResourceHelperTrait (https://github.com/googleapis/gax-php/issues/428)
  Gax/src/ResourceHelperTrait.php
  Gax/tests/Tests/Unit/ResourceHelperTraitTest.php
  Gax/tests/Tests/Unit/testdata/test_service_descriptor_config.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(docs): remove serviceAddress param from phpdoc (https://github.com/googleapis/gax-php/issues/429)
  Gax/src/GapicClientTrait.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: message parameters in required querystring (https://github.com/googleapis/gax-php/issues/430)
  Gax/src/RequestBuilder.php
  Gax/tests/Tests/Unit/RequestBuilderTest.php
  Gax/tests/Tests/Unit/testdata/test_service_rest_client_config.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

add fix for managed identities sample
  ManagedIdentities/.owlbot/create_microsoft_ad_domain_sample_fix.patch
  ManagedIdentities/owlbot.py
  ManagedIdentities/samples/V1/ManagedIdentitiesServiceClient/create_microsoft_ad_domain.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

add dialogflow sample fix
  Dialogflow/.owlbot/create_conversation_model_sample_fix.patch
  Dialogflow/owlbot.py
  Dialogflow/samples/V2/ConversationModelsClient/create_conversation_model.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: fix oslogin owlbot config
  OsLogin/.OwlBot.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: fix oslogin owlbot config (#5678)
  OsLogin/.OwlBot.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

revert apis missing V1, and Language
  ArtifactRegistry/.repo-metadata.json
  ArtifactRegistry/README.md
  AssuredWorkloads/.repo-metadata.json
  AssuredWorkloads/README.md
  BinaryAuthorization/.repo-metadata.json
  BinaryAuthorization/README.md
  Language/.repo-metadata.json
  Language/README.md
  Notebooks/.repo-metadata.json
  Notebooks/README.md
  OrgPolicy/.repo-metadata.json
  OrgPolicy/README.md
  WebSecurityScanner/.repo-metadata.json
  WebSecurityScanner/README.md
  Workflows/.repo-metadata.json
  Workflows/README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ 037ab670b1b7bfdb445d0a97b5161b408029b6f1 🚀
  json/cloud-oslogin/main/types.json
  json/cloud-oslogin/main/v1/createsshpublickeyrequest.json
  json/cloud-oslogin/main/v1/gapic/osloginservicegapicclient.json
  json/cloud-oslogin/main/v1/importsshpublickeyresponse.json
  json/cloud-oslogin/main/v1/osloginserviceclient.json
  json/cloud-oslogin/main/v1/osloginservicegrpcclient.json
  json/cloud-oslogin/main/v1beta/createsshpublickeyrequest.json
  json/cloud-oslogin/main/v1beta/gapic/osloginservicegapicclient.json
  json/cloud-oslogin/main/v1beta/getloginprofilerequest.json
  json/cloud-oslogin/main/v1beta/importsshpublickeyrequest.json
  json/cloud-oslogin/main/v1beta/importsshpublickeyresponse.json
  json/cloud-oslogin/main/v1beta/loginprofile.json
  json/cloud-oslogin/main/v1beta/loginprofileview.json
  json/cloud-oslogin/main/v1beta/osloginserviceclient.json
  json/cloud-oslogin/main/v1beta/osloginservicegrpcclient.json
  json/cloud-oslogin/main/v1beta/securitykey.json
  json/cloud-oslogin/main/v1beta/universaltwofactor.json
  json/cloud-oslogin/main/v1beta/webauthn.json
  json/google-cloud/main/oslogin/v1/createsshpublickeyrequest.json
  json/google-cloud/main/oslogin/v1/gapic/osloginservicegapicclient.json
  json/google-cloud/main/oslogin/v1/importsshpublickeyresponse.json
  json/google-cloud/main/oslogin/v1/osloginserviceclient.json
  json/google-cloud/main/oslogin/v1/osloginservicegrpcclient.json
  json/google-cloud/main/oslogin/v1beta/createsshpublickeyrequest.json
  json/google-cloud/main/oslogin/v1beta/gapic/osloginservicegapicclient.json
  json/google-cloud/main/oslogin/v1beta/getloginprofilerequest.json
  json/google-cloud/main/oslogin/v1beta/importsshpublickeyrequest.json
  json/google-cloud/main/oslogin/v1beta/importsshpublickeyresponse.json
  json/google-cloud/main/oslogin/v1beta/loginprofile.json
  json/google-cloud/main/oslogin/v1beta/loginprofileview.json
  json/google-cloud/main/oslogin/v1beta/osloginserviceclient.json
  json/google-cloud/main/oslogin/v1beta/osloginservicegrpcclient.json
  json/google-cloud/main/oslogin/v1beta/securitykey.json
  json/google-cloud/main/oslogin/v1beta/universaltwofactor.json
  json/google-cloud/main/oslogin/v1beta/webauthn.json
  json/google-cloud/main/types.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: add LRS API
  owl-bot-staging/TextToSpeech/v1/proto/src/GPBMetadata/Google/Cloud/Texttospeech/V1/CloudTts.php
  owl-bot-staging/TextToSpeech/v1/proto/src/GPBMetadata/Google/Cloud/Texttospeech/V1/CloudTtsLrs.php
  owl-bot-staging/TextToSpeech/v1/proto/src/Google/Cloud/TextToSpeech/V1/AudioConfig.php
  owl-bot-staging/TextToSpeech/v1/proto/src/Google/Cloud/TextToSpeech/V1/AudioEncoding.php
  owl-bot-staging/TextToSpeech/v1/proto/src/Google/Cloud/TextToSpeech/V1/CustomVoiceParams.php
  owl-bot-staging/TextToSpeech/v1/proto/src/Google/Cloud/TextToSpeech/V1/CustomVoiceParams/ReportedUsage.php
  owl-bot-staging/TextToSpeech/v1/proto/src/Google/Cloud/TextToSpeech/V1/CustomVoiceParams_ReportedUsage.php
  owl-bot-staging/TextToSpeech/v1/proto/src/Google/Cloud/TextToSpeech/V1/ListVoicesRequest.php
  owl-bot-staging/TextToSpeech/v1/proto/src/Google/Cloud/TextToSpeech/V1/ListVoicesResponse.php
  owl-bot-staging/TextToSpeech/v1/proto/src/Google/Cloud/TextToSpeech/V1/SsmlVoiceGender.php
  owl-bot-staging/TextToSpeech/v1/proto/src/Google/Cloud/TextToSpeech/V1/SynthesisInput.php
  owl-bot-staging/TextToSpeech/v1/proto/src/Google/Cloud/TextToSpeech/V1/SynthesizeLongAudioMetadata.php
  owl-bot-staging/TextToSpeech/v1/proto/src/Google/Cloud/TextToSpeech/V1/SynthesizeLongAudioRequest.php
  owl-bot-staging/TextToSpeech/v1/proto/src/Google/Cloud/TextToSpeech/V1/SynthesizeLongAudioResponse.php
  owl-bot-staging/TextToSpeech/v1/proto/src/Google/Cloud/TextToSpeech/V1/SynthesizeSpeechRequest.php
  owl-bot-staging/TextToSpeech/v1/proto/src/Google/Cloud/TextToSpeech/V1/SynthesizeSpeechResponse.php
  owl-bot-staging/TextToSpeech/v1/proto/src/Google/Cloud/TextToSpeech/V1/TextToSpeechGrpcClient.php
  owl-bot-staging/TextToSpeech/v1/proto/src/Google/Cloud/TextToSpeech/V1/TextToSpeechLongAudioSynthesizeGrpcClient.php
  owl-bot-staging/TextToSpeech/v1/proto/src/Google/Cloud/TextToSpeech/V1/Voice.php
  owl-bot-staging/TextToSpeech/v1/proto/src/Google/Cloud/TextToSpeech/V1/VoiceSelectionParams.php
  owl-bot-staging/TextToSpeech/v1/samples/V1/TextToSpeechClient/list_voices.php
  owl-bot-staging/TextToSpeech/v1/samples/V1/TextToSpeechClient/synthesize_speech.php
  owl-bot-staging/TextToSpeech/v1/samples/V1/TextToSpeechLongAudioSynthesizeClient/synthesize_long_audio.php
  owl-bot-staging/TextToSpeech/v1/src/V1/Gapic/TextToSpeechGapicClient.php
  owl-bot-staging/TextToSpeech/v1/src/V1/Gapic/TextToSpeechLongAudioSynthesizeGapicClient.php
  owl-bot-staging/TextToSpeech/v1/src/V1/TextToSpeechClient.php
  owl-bot-staging/TextToSpeech/v1/src/V1/TextToSpeechLongAudioSynthesizeClient.php
  owl-bot-staging/TextToSpeech/v1/src/V1/gapic_metadata.json
  owl-bot-staging/TextToSpeech/v1/src/V1/resources/text_to_speech_client_config.json
  owl-bot-staging/TextToSpeech/v1/src/V1/resources/text_to_speech_descriptor_config.php
  owl-bot-staging/TextToSpeech/v1/src/V1/resources/text_to_speech_long_audio_synthesize_client_config.json
  owl-bot-staging/TextToSpeech/v1/src/V1/resources/text_to_speech_long_audio_synthesize_descriptor_config.php
  owl-bot-staging/TextToSpeech/v1/src/V1/resources/text_to_speech_long_audio_synthesize_rest_client_config.php
  owl-bot-staging/TextToSpeech/v1/src/V1/resources/text_to_speech_rest_client_config.php
  owl-bot-staging/TextToSpeech/v1/tests/Unit/V1/TextToSpeechClientTest.php
  owl-bot-staging/TextToSpeech/v1/tests/Unit/V1/TextToSpeechLongAudioSynthesizeClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

revert Build
  Build/.repo-metadata.json
  Build/README.md
  Build/owlbot.py
  Build/src/V1/Artifacts/ArtifactObjects.php
  Build/src/V1/Build/Status.php
  Build/src/V1/BuildEvent/BuildComponentStreamFinished.php
  Build/src/V1/BuildEvent/BuildComponentStreamFinished/FinishType.php
  Build/src/V1/BuildEvent/BuildEnqueued.php
  Build/src/V1/BuildEvent/BuildFinished.php
  Build/src/V1/BuildEvent/ConsoleOutput.php
  Build/src/V1/BuildEvent/InvocationAttemptFinished.php
  Build/src/V1/BuildEvent/InvocationAttemptStarted.php
  Build/src/V1/BuildOptions/LogStreamingOption.php
  Build/src/V1/BuildOptions/LoggingMode.php
  Build/src/V1/BuildOptions/MachineType.php
  Build/src/V1/BuildOptions/SubstitutionOption.php
  Build/src/V1/BuildOptions/VerifyOption.php
  Build/src/V1/BuildStatus/Result.php
  Build/src/V1/Hash/HashType.php
  Build/src/V1/PublishLifecycleEventRequest/ServiceLevel.php
  Build/src/V1/PubsubConfig/State.php
  Build/src/V1/PullRequestFilter/CommentControl.php
  Build/src/V1/StreamId/BuildComponent.php
  Build/src/V1/WorkerPool/Region.php
  Build/src/V1/WorkerPool/Status.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

add back Build compat files
  Build/src/V1/Artifacts_ArtifactObjects.php
  Build/src/V1/BuildEvent_BuildComponentStreamFinished.php
  Build/src/V1/BuildEvent_BuildComponentStreamFinished_FinishType.php
  Build/src/V1/BuildEvent_BuildEnqueued.php
  Build/src/V1/BuildEvent_BuildFinished.php
  Build/src/V1/BuildEvent_ConsoleOutput.php
  Build/src/V1/BuildEvent_InvocationAttemptFinished.php
  Build/src/V1/BuildEvent_InvocationAttemptStarted.php
  Build/src/V1/BuildOptions_LogStreamingOption.php
  Build/src/V1/BuildOptions_LoggingMode.php
  Build/src/V1/BuildOptions_MachineType.php
  Build/src/V1/BuildOptions_SubstitutionOption.php
  Build/src/V1/BuildOptions_VerifyOption.php
  Build/src/V1/BuildStatus_Result.php
  Build/src/V1/Build_Status.php
  Build/src/V1/CloudBuildGrpcClient.php
  Build/src/V1/Hash_HashType.php
  Build/src/V1/PublishBuildEventGrpcClient.php
  Build/src/V1/PublishLifecycleEventRequest_ServiceLevel.php
  Build/src/V1/PubsubConfig_State.php
  Build/src/V1/PullRequestFilter_CommentControl.php
  Build/src/V1/StreamId_BuildComponent.php
  Build/src/V1/WorkerPool_Region.php
  Build/src/V1/WorkerPool_Status.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: remove build from gitgnore
  .gitignore
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: remove build from gitgnore (#5681)
  .gitignore
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ b3a5b7fb031446b7066073a177d6e7edc0422a41 🚀
  json/cloud-language/main/types.json
  json/google-cloud/main/types.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

correct umbrella version
  CHANGELOG.md
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ 893984b28990ff1dad3af504e8078bceba1879e5 🚀
  manifest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: removed abandoned package from composer
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

update README, update more links
  AnalyticsAdmin/.repo-metadata.json
  AnalyticsData/.repo-metadata.json
  AssuredWorkloads/.repo-metadata.json
  BigQuery/.repo-metadata.json
  BigQueryConnection/.repo-metadata.json
  BigQueryDataTransfer/.repo-metadata.json
  BigQueryDataTransfer/README.md
  BigQueryReservation/.repo-metadata.json
  Bigtable/.repo-metadata.json
  Bigtable/README.md
  Compute/.repo-metadata.json
  README.md
  VideoIntelligence/README.md
  dev/tests/fixtures/split/get-repo.json
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable

fix: merge conflicts
  Datastore/src/Operation.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: test provider should be default db only
  Datastore/src/Operation.php
  Datastore/tests/System/QueryResultPaginationTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore(docs): escape HTML entities
  dev/src/DocFx/Node/DocblockTrait.php
  dev/tests/fixtures/docfx/V1.ProductSearchClient.yml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(docs): escape HTML entities (#5687)
  dev/src/DocFx/Node/DocblockTrait.php
  dev/tests/fixtures/docfx/V1.ProductSearchClient.yml
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ 7ebae6c3de78015842d5f83f3208cb3c464c7a93 🚀
  json/cloud-text-to-speech/main/types.json
  json/cloud-text-to-speech/main/v1/audioconfig.json
  json/cloud-text-to-speech/main/v1/gapic/texttospeechlongaudiosynthesizegapicclient.json
  json/cloud-text-to-speech/main/v1/synthesisinput.json
  json/cloud-text-to-speech/main/v1/synthesizelongaudiometadata.json
  json/cloud-text-to-speech/main/v1/synthesizelongaudiorequest.json
  json/cloud-text-to-speech/main/v1/synthesizelongaudioresponse.json
  json/cloud-text-to-speech/main/v1/texttospeechlongaudiosynthesizeclient.json
  json/cloud-text-to-speech/main/v1/texttospeechlongaudiosynthesizegrpcclient.json
  json/cloud-text-to-speech/main/v1/voiceselectionparams.json
  json/google-cloud/main/texttospeech/v1/audioconfig.json
  json/google-cloud/main/texttospeech/v1/gapic/texttospeechlongaudiosynthesizegapicclient.json
  json/google-cloud/main/texttospeech/v1/synthesisinput.json
  json/google-cloud/main/texttospeech/v1/synthesizelongaudiometadata.json
  json/google-cloud/main/texttospeech/v1/synthesizelongaudiorequest.json
  json/google-cloud/main/texttospeech/v1/synthesizelongaudioresponse.json
  json/google-cloud/main/texttospeech/v1/texttospeechlongaudiosynthesizeclient.json
  json/google-cloud/main/texttospeech/v1/texttospeechlongaudiosynthesizegrpcclient.json
  json/google-cloud/main/texttospeech/v1/voiceselectionparams.json
  json/google-cloud/main/types.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency certifi to v2022.12.7 [security]
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

Login not needed in the conformance tests now
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat: introduce bigquery data policies v1
  BigQueryDataPolicies/.OwlBot.yaml
  BigQueryDataPolicies/metadata/V1/Datapolicy.php
  BigQueryDataPolicies/samples/V1/DataPolicyServiceClient/create_data_policy.php
  BigQueryDataPolicies/samples/V1/DataPolicyServiceClient/delete_data_policy.php
  BigQueryDataPolicies/samples/V1/DataPolicyServiceClient/get_data_policy.php
  BigQueryDataPolicies/samples/V1/DataPolicyServiceClient/get_iam_policy.php
  BigQueryDataPolicies/samples/V1/DataPolicyServiceClient/list_data_policies.php
  BigQueryDataPolicies/samples/V1/DataPolicyServiceClient/rename_data_policy.php
  BigQueryDataPolicies/samples/V1/DataPolicyServiceClient/set_iam_policy.php
  BigQueryDataPolicies/samples/V1/DataPolicyServiceClient/test_iam_permissions.php
  BigQueryDataPolicies/samples/V1/DataPolicyServiceClient/update_data_policy.php
  BigQueryDataPolicies/src/V1/CreateDataPolicyRequest.php
  BigQueryDataPolicies/src/V1/DataMaskingPolicy.php
  BigQueryDataPolicies/src/V1/DataMaskingPolicy/PredefinedExpression.php
  BigQueryDataPolicies/src/V1/DataPolicy.php
  BigQueryDataPolicies/src/V1/DataPolicy/DataPolicyType.php
  BigQueryDataPolicies/src/V1/DataPolicyServiceClient.php
  BigQueryDataPolicies/src/V1/DeleteDataPolicyRequest.php
  BigQueryDataPolicies/src/V1/Gapic/DataPolicyServiceGapicClient.php
  BigQueryDataPolicies/src/V1/GetDataPolicyRequest.php
  BigQueryDataPolicies/src/V1/ListDataPoliciesRequest.php
  BigQueryDataPolicies/src/V1/ListDataPoliciesResponse.php
  BigQueryDataPolicies/src/V1/RenameDataPolicyRequest.php
  BigQueryDataPolicies/src/V1/UpdateDataPolicyRequest.php
  BigQueryDataPolicies/src/V1/gapic_metadata.json
  BigQueryDataPolicies/src/V1/resources/data_policy_service_client_config.json
  BigQueryDataPolicies/src/V1/resources/data_policy_service_descriptor_config.php
  BigQueryDataPolicies/src/V1/resources/data_policy_service_rest_client_config.php
  BigQueryDataPolicies/tests/Unit/V1/DataPolicyServiceClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update Trace/README.md
  Trace/README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: use new samples in cloud RAD
  .github/snippet-bot.yml
  .kokoro/docs/publish.sh
  dev/src/DocFx/Command/DocFx.php
  dev/src/DocFx/Node/DocblockTrait.php
  dev/src/DocFx/Page/Page.php
  dev/src/DocFx/Page/PageTree.php
  dev/tests/Unit/DocFx/CommandTest.php
  dev/tests/Unit/DocFx/PageTest.php
  dev/tests/fixtures/component/Vision/.repo-metadata.json
  dev/tests/fixtures/component/Vision/README.md
  dev/tests/fixtures/component/Vision/composer.json
  dev/tests/fixtures/component/Vision/samples/V1/ImageAnnotatorClient/async_batch_annotate_files.php
  dev/tests/fixtures/component/Vision/samples/V1/ImageAnnotatorClient/async_batch_annotate_images.php
  dev/tests/fixtures/component/Vision/samples/V1/ImageAnnotatorClient/batch_annotate_files.php
  dev/tests/fixtures/component/Vision/samples/V1/ImageAnnotatorClient/batch_annotate_images.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/add_product_to_product_set.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/create_product.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/create_product_set.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/create_reference_image.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/delete_product.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/delete_product_set.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/delete_reference_image.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/get_product.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/get_product_set.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/get_reference_image.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/import_product_sets.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/list_product_sets.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/list_products.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/list_products_in_product_set.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/list_reference_images.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/purge_products.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/remove_product_from_product_set.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/update_product.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/update_product_set.php
  dev/tests/fixtures/docfx/V1.ImageAnnotatorClient.yml
  dev/tests/fixtures/docfx/V1.ProductSearchClient.yml
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: ensuring test pass for BigQuery and PubSub
  BigQuery/tests/System/LoadDataAndQueryTest.php
  PubSub/composer.json
  PubSub/tests/System/SchemaTest.php
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-pubsub

fix: ensuring php56 test pass
  PubSub/composer.json
  composer.json
Owners: @googleapis/api-pubsub, @googleapis/yoshi-php, @googleapis/cicd

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-php team is the default owner for anything not
# explicitly taken by someone else.
*                               @googleapis/yoshi-php @googleapis/cicd

/Bigtable       @googleapis/api-bigtable @googleapis/yoshi-php @googleapis/cicd
/Datastore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Firestore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Storage/       @googleapis/cloud-storage-dpe @googleapis/yoshi-php @googleapis/cicd
/BigQuery*/.    @googleapis/api-bigquery @googleapis/yoshi-php @googleapis/cicd
/PubSub/        @googleapis/api-pubsub @googleapis/yoshi-php @googleapis/cicd
