Repository googleapis/google-cloud-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/cloud-storage-dpe, @googleapis/api-bigquery, @googleapis/api-pubsub

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-php team is the default owner for anything not
# explicitly taken by someone else.
*                               @googleapis/yoshi-php @googleapis/cicd

/Bigtable       @googleapis/api-bigtable @googleapis/yoshi-php @googleapis/cicd
/Datastore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Firestore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Storage/       @googleapis/cloud-storage-dpe @googleapis/yoshi-php @googleapis/cicd
/BigQuery*/.    @googleapis/api-bigquery @googleapis/yoshi-php @googleapis/cicd
/PubSub/        @googleapis/api-pubsub @googleapis/yoshi-php @googleapis/cicd

feat(storage): adding tests for autoclass (#5582)
  Storage/src/Bucket.php
  Storage/src/StorageClient.php
  Storage/tests/System/ManageBucketsTest.php
  Storage/tests/Unit/BucketTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ 323c0375175f063a255724c16ea13157977c35b9 🚀
  json/cloud-storage/main/bucket.json
  json/cloud-storage/main/storageclient.json
  json/google-cloud/main/storage/bucket.json
  json/google-cloud/main/storage/storageclient.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ aac228f80e65e4da2329ced624f5e6e0e57c0afc 🚀
  manifest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: remove phpstan ignore (https://github.com/googleapis/google-auth-library-php/issues/424)
  src/HttpHandler/HttpHandlerFactory.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: remove phpstan ignore (googleapis/google-auth-library-php#424)
  src/HttpHandler/HttpHandlerFactory.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: Introduce the event publishing using JSON representation of CloudEvents
  owl-bot-staging/EventarcPublishing/v1/proto/src/GPBMetadata/Google/Cloud/Eventarc/Publishing/V1/Publisher.php
  owl-bot-staging/EventarcPublishing/v1/proto/src/Google/Cloud/Eventarc/Publishing/V1/PublishChannelConnectionEventsRequest.php
  owl-bot-staging/EventarcPublishing/v1/proto/src/Google/Cloud/Eventarc/Publishing/V1/PublishChannelConnectionEventsResponse.php
  owl-bot-staging/EventarcPublishing/v1/proto/src/Google/Cloud/Eventarc/Publishing/V1/PublishEventsRequest.php
  owl-bot-staging/EventarcPublishing/v1/proto/src/Google/Cloud/Eventarc/Publishing/V1/PublishEventsResponse.php
  owl-bot-staging/EventarcPublishing/v1/proto/src/Google/Cloud/Eventarc/Publishing/V1/PublisherGrpcClient.php
  owl-bot-staging/EventarcPublishing/v1/src/V1/Gapic/PublisherGapicClient.php
  owl-bot-staging/EventarcPublishing/v1/src/V1/PublisherClient.php
  owl-bot-staging/EventarcPublishing/v1/src/V1/gapic_metadata.json
  owl-bot-staging/EventarcPublishing/v1/src/V1/resources/publisher_client_config.json
  owl-bot-staging/EventarcPublishing/v1/src/V1/resources/publisher_descriptor_config.php
  owl-bot-staging/EventarcPublishing/v1/src/V1/resources/publisher_rest_client_config.php
  owl-bot-staging/EventarcPublishing/v1/tests/Unit/V1/PublisherClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

🦉 Updates from OwlBot post-processor
  EventarcPublishing/metadata/V1/Publisher.php
  EventarcPublishing/src/V1/Gapic/PublisherGapicClient.php
  EventarcPublishing/src/V1/PublishChannelConnectionEventsRequest.php
  EventarcPublishing/src/V1/PublishEventsRequest.php
  EventarcPublishing/src/V1/PublisherGrpcClient.php
  owl-bot-staging/EventarcPublishing/v1/proto/src/GPBMetadata/Google/Cloud/Eventarc/Publishing/V1/Publisher.php
  owl-bot-staging/EventarcPublishing/v1/proto/src/Google/Cloud/Eventarc/Publishing/V1/PublishChannelConnectionEventsRequest.php
  owl-bot-staging/EventarcPublishing/v1/proto/src/Google/Cloud/Eventarc/Publishing/V1/PublishChannelConnectionEventsResponse.php
  owl-bot-staging/EventarcPublishing/v1/proto/src/Google/Cloud/Eventarc/Publishing/V1/PublishEventsRequest.php
  owl-bot-staging/EventarcPublishing/v1/proto/src/Google/Cloud/Eventarc/Publishing/V1/PublishEventsResponse.php
  owl-bot-staging/EventarcPublishing/v1/proto/src/Google/Cloud/Eventarc/Publishing/V1/PublisherGrpcClient.php
  owl-bot-staging/EventarcPublishing/v1/src/V1/Gapic/PublisherGapicClient.php
  owl-bot-staging/EventarcPublishing/v1/src/V1/PublisherClient.php
  owl-bot-staging/EventarcPublishing/v1/src/V1/gapic_metadata.json
  owl-bot-staging/EventarcPublishing/v1/src/V1/resources/publisher_client_config.json
  owl-bot-staging/EventarcPublishing/v1/src/V1/resources/publisher_descriptor_config.php
  owl-bot-staging/EventarcPublishing/v1/src/V1/resources/publisher_rest_client_config.php
  owl-bot-staging/EventarcPublishing/v1/tests/Unit/V1/PublisherClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency phpspec/prophecy-phpunit to v2 (googleapis/google-auth-library-php#417)
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency phpspec/prophecy-phpunit to v2 (https://github.com/googleapis/google-auth-library-php/issues/417)
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency phpunit/phpunit to v9 (https://github.com/googleapis/google-auth-library-php/issues/419)
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency phpunit/phpunit to v9 (googleapis/google-auth-library-php#419)
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ 3d05ccb75abc7b57834b21ba5ecd0ea53f96ead7 🚀
  json/cloud-data-catalog/main/v1/databasetablespec.json
  json/cloud-data-catalog/main/v1/datasourceconnectionspec.json
  json/cloud-data-catalog/main/v1/entry.json
  json/cloud-data-catalog/main/v1/usagesignal.json
  json/google-cloud/main/datacatalog/v1/databasetablespec.json
  json/google-cloud/main/datacatalog/v1/datasourceconnectionspec.json
  json/google-cloud/main/datacatalog/v1/entry.json
  json/google-cloud/main/datacatalog/v1/usagesignal.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ 4b18fa45832fbf23f8cd14da1211f6eef5b10b46 🚀
  json/cloud-eventarc/main/types.json
  json/cloud-eventarc/main/v1/channel.json
  json/cloud-eventarc/main/v1/destination.json
  json/cloud-eventarc/main/v1/eventarcclient.json
  json/cloud-eventarc/main/v1/eventarcgrpcclient.json
  json/cloud-eventarc/main/v1/gapic/eventarcgapicclient.json
  json/cloud-eventarc/main/v1/getgooglechannelconfigrequest.json
  json/cloud-eventarc/main/v1/googlechannelconfig.json
  json/cloud-eventarc/main/v1/listchannelconnectionsresponse.json
  json/cloud-eventarc/main/v1/listchannelsresponse.json
  json/cloud-eventarc/main/v1/listprovidersresponse.json
  json/cloud-eventarc/main/v1/listtriggersrequest.json
  json/cloud-eventarc/main/v1/listtriggersresponse.json
  json/cloud-eventarc/main/v1/statecondition.json
  json/cloud-eventarc/main/v1/trigger.json
  json/cloud-eventarc/main/v1/updategooglechannelconfigrequest.json
  json/google-cloud/main/eventarc/v1/channel.json
  json/google-cloud/main/eventarc/v1/destination.json
  json/google-cloud/main/eventarc/v1/eventarcclient.json
  json/google-cloud/main/eventarc/v1/eventarcgrpcclient.json
  json/google-cloud/main/eventarc/v1/gapic/eventarcgapicclient.json
  json/google-cloud/main/eventarc/v1/getgooglechannelconfigrequest.json
  json/google-cloud/main/eventarc/v1/googlechannelconfig.json
  json/google-cloud/main/eventarc/v1/listchannelconnectionsresponse.json
  json/google-cloud/main/eventarc/v1/listchannelsresponse.json
  json/google-cloud/main/eventarc/v1/listprovidersresponse.json
  json/google-cloud/main/eventarc/v1/listtriggersrequest.json
  json/google-cloud/main/eventarc/v1/listtriggersresponse.json
  json/google-cloud/main/eventarc/v1/statecondition.json
  json/google-cloud/main/eventarc/v1/trigger.json
  json/google-cloud/main/eventarc/v1/updategooglechannelconfigrequest.json
  json/google-cloud/main/types.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ e1d43aac00bd0f7307e31b90f8c34ce6708ae4aa 🚀
  json/cloud-eventarc-publishing/main/v1/gapic/publishergapicclient.json
  json/cloud-eventarc-publishing/main/v1/publishchannelconnectioneventsrequest.json
  json/cloud-eventarc-publishing/main/v1/publisherclient.json
  json/cloud-eventarc-publishing/main/v1/publishergrpcclient.json
  json/cloud-eventarc-publishing/main/v1/publisheventsrequest.json
  json/google-cloud/main/eventarcpublishing/v1/gapic/publishergapicclient.json
  json/google-cloud/main/eventarcpublishing/v1/publishchannelconnectioneventsrequest.json
  json/google-cloud/main/eventarcpublishing/v1/publisherclient.json
  json/google-cloud/main/eventarcpublishing/v1/publishergrpcclient.json
  json/google-cloud/main/eventarcpublishing/v1/publisheventsrequest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update Core/tests/Unit/RequestWrapperTest.php
  Core/tests/Unit/RequestWrapperTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ a097d62ab7c65e3426259c6239e35491b4abf3b2 🚀
  json/cloud-container/main/types.json
  json/cloud-container/main/v1/bluegreensettings/standardrolloutpolicy.json
  json/cloud-container/main/v1/clustermanagerclient.json
  json/cloud-container/main/v1/clusterupdate.json
  json/cloud-container/main/v1/gapic/clustermanagergapicclient.json
  json/cloud-container/main/v1/gatewayapiconfig.json
  json/cloud-container/main/v1/gatewayapiconfig/channel.json
  json/cloud-container/main/v1/gatewayapiconfig_channel.json
  json/cloud-container/main/v1/linuxnodeconfig.json
  json/cloud-container/main/v1/linuxnodeconfig/cgroupmode.json
  json/cloud-container/main/v1/linuxnodeconfig_cgroupmode.json
  json/cloud-container/main/v1/masterauthorizednetworksconfig.json
  json/cloud-container/main/v1/networkconfig.json
  json/cloud-container/main/v1/nodeconfig.json
  json/cloud-container/main/v1/nodenetworkconfig.json
  json/cloud-container/main/v1/privateclusterconfig.json
  json/cloud-container/main/v1/resourcelabels.json
  json/cloud-container/main/v1/updatenodepoolrequest.json
  json/google-cloud/main/container/v1/bluegreensettings/standardrolloutpolicy.json
  json/google-cloud/main/container/v1/clustermanagerclient.json
  json/google-cloud/main/container/v1/clusterupdate.json
  json/google-cloud/main/container/v1/gapic/clustermanagergapicclient.json
  json/google-cloud/main/container/v1/gatewayapiconfig.json
  json/google-cloud/main/container/v1/gatewayapiconfig/channel.json
  json/google-cloud/main/container/v1/gatewayapiconfig_channel.json
  json/google-cloud/main/container/v1/linuxnodeconfig.json
  json/google-cloud/main/container/v1/linuxnodeconfig/cgroupmode.json
  json/google-cloud/main/container/v1/linuxnodeconfig_cgroupmode.json
  json/google-cloud/main/container/v1/masterauthorizednetworksconfig.json
  json/google-cloud/main/container/v1/networkconfig.json
  json/google-cloud/main/container/v1/nodeconfig.json
  json/google-cloud/main/container/v1/nodenetworkconfig.json
  json/google-cloud/main/container/v1/privateclusterconfig.json
  json/google-cloud/main/container/v1/resourcelabels.json
  json/google-cloud/main/container/v1/updatenodepoolrequest.json
  json/google-cloud/main/types.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update AnalyticsAdmin/owlbot.py
  AnalyticsAdmin/owlbot.py
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update AnalyticsAdmin/owlbot.py
  AnalyticsAdmin/owlbot.py
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: add support for self-signed JWTs in handwritten client libraries (#4690)
  Core/src/RequestWrapperTrait.php
  Core/tests/Unit/RequestWrapperTest.php
  Storage/src/Connection/Rest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

chore: add name attr in phpunit config testsuite
  AccessApproval/phpunit.xml.dist
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(firestore): add Bulkwriter in FS client
  Firestore/src/BulkWriter.php
  Firestore/src/Connection/ConnectionInterface.php
  Firestore/src/Connection/Grpc.php
  Firestore/src/FirestoreClient.php
  Firestore/src/Transaction.php
  Firestore/src/WriteBatch.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: symbols for witebatch
  phpcs-ruleset.xml
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: enabling docs for bulkwriter
  docs/contents/cloud-firestore.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: add conflict for psr/log v3 as it introduces void return types (#5484)
  Logging/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: update sample code for automl create dataset (#5481)
  AutoMl/README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: remove PHP 7.0 windows unit tests (#5504)
  .github/workflows/tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add beyondcorp* library global files (#5502)
  composer.json
  docs/contents/google-cloud.json
  docs/manifest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: introduce beyondcorp appconnections (#5497)
  BeyondCorpAppConnections/.OwlBot.yaml
  BeyondCorpAppConnections/.gitattributes
  BeyondCorpAppConnections/.github/pull_request_template.md
  BeyondCorpAppConnections/.repo-metadata.json
  BeyondCorpAppConnections/CODE_OF_CONDUCT.md
  BeyondCorpAppConnections/CONTRIBUTING.md
  BeyondCorpAppConnections/LICENSE
  BeyondCorpAppConnections/README.md
  BeyondCorpAppConnections/SECURITY.md
  BeyondCorpAppConnections/VERSION
  BeyondCorpAppConnections/composer.json
  BeyondCorpAppConnections/metadata/V1/AppConnectionsService.php
  BeyondCorpAppConnections/owlbot.py
  BeyondCorpAppConnections/phpunit.xml.dist
  BeyondCorpAppConnections/src/V1/AppConnection.php
  BeyondCorpAppConnections/src/V1/AppConnection/ApplicationEndpoint.php
  BeyondCorpAppConnections/src/V1/AppConnection/Gateway.php
  BeyondCorpAppConnections/src/V1/AppConnection/Gateway/Type.php
  BeyondCorpAppConnections/src/V1/AppConnection/State.php
  BeyondCorpAppConnections/src/V1/AppConnection/Type.php
  BeyondCorpAppConnections/src/V1/AppConnectionOperationMetadata.php
  BeyondCorpAppConnections/src/V1/AppConnectionsServiceClient.php
  BeyondCorpAppConnections/src/V1/AppConnectionsServiceGrpcClient.php
  BeyondCorpAppConnections/src/V1/CreateAppConnectionRequest.php
  BeyondCorpAppConnections/src/V1/DeleteAppConnectionRequest.php
  BeyondCorpAppConnections/src/V1/Gapic/AppConnectionsServiceGapicClient.php
  BeyondCorpAppConnections/src/V1/GetAppConnectionRequest.php
  BeyondCorpAppConnections/src/V1/ListAppConnectionsRequest.php
  BeyondCorpAppConnections/src/V1/ListAppConnectionsResponse.php
  BeyondCorpAppConnections/src/V1/ResolveAppConnectionsRequest.php
  BeyondCorpAppConnections/src/V1/ResolveAppConnectionsResponse.php
  BeyondCorpAppConnections/src/V1/ResolveAppConnectionsResponse/AppConnectionDetails.php
  BeyondCorpAppConnections/src/V1/UpdateAppConnectionRequest.php
  BeyondCorpAppConnections/src/V1/gapic_metadata.json
  BeyondCorpAppConnections/src/V1/resources/app_connections_service_client_config.json
  BeyondCorpAppConnections/src/V1/resources/app_connections_service_descriptor_config.php
  BeyondCorpAppConnections/src/V1/resources/app_connections_service_rest_client_config.php
  BeyondCorpAppConnections/tests/Unit/V1/AppConnectionsServiceClientTest.php
  docs/contents/cloud-beyondcorp-appconnections.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: introduce client connector services (#5500)
  BeyondCorpClientConnectorServices/.OwlBot.yaml
  BeyondCorpClientConnectorServices/.gitattributes
  BeyondCorpClientConnectorServices/.github/pull_request_template.md
  BeyondCorpClientConnectorServices/.repo-metadata.json
  BeyondCorpClientConnectorServices/CODE_OF_CONDUCT.md
  BeyondCorpClientConnectorServices/CONTRIBUTING.md
  BeyondCorpClientConnectorServices/LICENSE
  BeyondCorpClientConnectorServices/README.md
  BeyondCorpClientConnectorServices/SECURITY.md
  BeyondCorpClientConnectorServices/composer.json
  BeyondCorpClientConnectorServices/metadata/V1/ClientConnectorServicesService.php
  BeyondCorpClientConnectorServices/owlbot.py
  BeyondCorpClientConnectorServices/phpunit.xml.dist
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/Egress.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/Egress/PeeredVpc.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/Ingress.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/Ingress/Config.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/Ingress/Config/DestinationRoute.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/Ingress/Config/TransportProtocol.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/State.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorServiceOperationMetadata.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorServicesServiceClient.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorServicesServiceGrpcClient.php
  BeyondCorpClientConnectorServices/src/V1/CreateClientConnectorServiceRequest.php
  BeyondCorpClientConnectorServices/src/V1/DeleteClientConnectorServiceRequest.php
  BeyondCorpClientConnectorServices/src/V1/Gapic/ClientConnectorServicesServiceGapicClient.php
  BeyondCorpClientConnectorServices/src/V1/GetClientConnectorServiceRequest.php
  BeyondCorpClientConnectorServices/src/V1/ListClientConnectorServicesRequest.php
  BeyondCorpClientConnectorServices/src/V1/ListClientConnectorServicesResponse.php
  BeyondCorpClientConnectorServices/src/V1/UpdateClientConnectorServiceRequest.php
  BeyondCorpClientConnectorServices/src/V1/gapic_metadata.json
  BeyondCorpClientConnectorServices/src/V1/resources/client_connector_services_service_client_config.json
  BeyondCorpClientConnectorServices/src/V1/resources/client_connector_services_service_descriptor_config.php
  BeyondCorpClientConnectorServices/src/V1/resources/client_connector_services_service_rest_client_config.php
  BeyondCorpClientConnectorServices/tests/Unit/V1/ClientConnectorServicesServiceClientTest.php
  docs/contents/cloud-beyondcorp-clientconnectorservices.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: introduce beyondcorp appgateways (#5499)
  BeyondCorpAppGateways/.OwlBot.yaml
  BeyondCorpAppGateways/.gitattributes
  BeyondCorpAppGateways/.github/pull_request_template.md
  BeyondCorpAppGateways/.repo-metadata.json
  BeyondCorpAppGateways/CODE_OF_CONDUCT.md
  BeyondCorpAppGateways/CONTRIBUTING.md
  BeyondCorpAppGateways/LICENSE
  BeyondCorpAppGateways/README.md
  BeyondCorpAppGateways/SECURITY.md
  BeyondCorpAppGateways/VERSION
  BeyondCorpAppGateways/composer.json
  BeyondCorpAppGateways/metadata/V1/AppGatewaysService.php
  BeyondCorpAppGateways/owlbot.py
  BeyondCorpAppGateways/phpunit.xml.dist
  BeyondCorpAppGateways/src/V1/AppGateway.php
  BeyondCorpAppGateways/src/V1/AppGateway/AllocatedConnection.php
  BeyondCorpAppGateways/src/V1/AppGateway/HostType.php
  BeyondCorpAppGateways/src/V1/AppGateway/State.php
  BeyondCorpAppGateways/src/V1/AppGateway/Type.php
  BeyondCorpAppGateways/src/V1/AppGatewayOperationMetadata.php
  BeyondCorpAppGateways/src/V1/AppGatewaysServiceClient.php
  BeyondCorpAppGateways/src/V1/AppGatewaysServiceGrpcClient.php
  BeyondCorpAppGateways/src/V1/CreateAppGatewayRequest.php
  BeyondCorpAppGateways/src/V1/DeleteAppGatewayRequest.php
  BeyondCorpAppGateways/src/V1/Gapic/AppGatewaysServiceGapicClient.php
  BeyondCorpAppGateways/src/V1/GetAppGatewayRequest.php
  BeyondCorpAppGateways/src/V1/ListAppGatewaysRequest.php
  BeyondCorpAppGateways/src/V1/ListAppGatewaysResponse.php
  BeyondCorpAppGateways/src/V1/gapic_metadata.json
  BeyondCorpAppGateways/src/V1/resources/app_gateways_service_client_config.json
  BeyondCorpAppGateways/src/V1/resources/app_gateways_service_descriptor_config.php
  BeyondCorpAppGateways/src/V1/resources/app_gateways_service_rest_client_config.php
  BeyondCorpAppGateways/synth.py
  BeyondCorpAppGateways/tests/Unit/V1/AppGatewaysServiceClientTest.php
  docs/contents/cloud-beyondcorp-appgateways.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: introduce beyondcorp clientgateways (#5501)
  BeyondCorpClientGateways/.OwlBot.yaml
  BeyondCorpClientGateways/.gitattributes
  BeyondCorpClientGateways/.github/pull_request_template.md
  BeyondCorpClientGateways/.repo-metadata.json
  BeyondCorpClientGateways/CODE_OF_CONDUCT.md
  BeyondCorpClientGateways/CONTRIBUTING.md
  BeyondCorpClientGateways/LICENSE
  BeyondCorpClientGateways/README.md
  BeyondCorpClientGateways/SECURITY.md
  BeyondCorpClientGateways/composer.json
  BeyondCorpClientGateways/metadata/V1/ClientGatewaysService.php
  BeyondCorpClientGateways/owlbot.py
  BeyondCorpClientGateways/phpunit.xml.dist
  BeyondCorpClientGateways/src/V1/ClientGateway.php
  BeyondCorpClientGateways/src/V1/ClientGateway/State.php
  BeyondCorpClientGateways/src/V1/ClientGatewayOperationMetadata.php
  BeyondCorpClientGateways/src/V1/ClientGatewaysServiceClient.php
  BeyondCorpClientGateways/src/V1/ClientGatewaysServiceGrpcClient.php
  BeyondCorpClientGateways/src/V1/CreateClientGatewayRequest.php
  BeyondCorpClientGateways/src/V1/DeleteClientGatewayRequest.php
  BeyondCorpClientGateways/src/V1/Gapic/ClientGatewaysServiceGapicClient.php
  BeyondCorpClientGateways/src/V1/GetClientGatewayRequest.php
  BeyondCorpClientGateways/src/V1/ListClientGatewaysRequest.php
  BeyondCorpClientGateways/src/V1/ListClientGatewaysResponse.php
  BeyondCorpClientGateways/src/V1/gapic_metadata.json
  BeyondCorpClientGateways/src/V1/resources/client_gateways_service_client_config.json
  BeyondCorpClientGateways/src/V1/resources/client_gateways_service_descriptor_config.php
  BeyondCorpClientGateways/src/V1/resources/client_gateways_service_rest_client_config.php
  BeyondCorpClientGateways/tests/Unit/V1/ClientGatewaysServiceClientTest.php
  docs/contents/cloud-beyondcorp-clientgateways.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update gcr.io/cloud-spanner-emulator/emulator docker tag to v1 (#5512)
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: null trim parameter in PathTrait (#5492)
  Firestore/src/PathTrait.php
  Firestore/tests/Unit/PathTraitTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore: remove pruned versions of umbrella component (#5521)
  docs/manifest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Spanner): Add support for PG JSONB (#5482)
  Spanner/src/Database.php
  Spanner/src/PgJsonb.php
  Spanner/src/SpannerClient.php
  Spanner/src/ValueMapper.php
  Spanner/tests/Snippet/PgJsonbTest.php
  Spanner/tests/Snippet/SpannerClientTest.php
  Spanner/tests/System/PgQueryTest.php
  Spanner/tests/System/PgReadTest.php
  Spanner/tests/System/PgWriteTest.php
  Spanner/tests/Unit/ArrayTypeTest.php
  Spanner/tests/Unit/PgJsonbTest.php
  Spanner/tests/Unit/SpannerClientTest.php
  Spanner/tests/Unit/ValueMapperTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: update CI status in README to php74 (#5536)
  README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: updating README with stackoverflow channel (#5540)
  README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add name attr to testsuite for phpunit config (#5539)
  phpunit-perf.xml.dist
  phpunit-php5-snippets.xml.dist
  phpunit-php5-system.xml.dist
  phpunit-php5.xml.dist
  phpunit-snippets.xml.dist
  phpunit-system.xml.dist
  phpunit.xml.dist
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add action to run individual package tests (#5325)
  .github/run-package-tests.sh
  .github/workflows/tests.yaml
  Bigtable/composer.json
  Bigtable/tests/Unit/BigtableClientTest.php
  CommonProtos/composer.json
  Core/composer.json
  Datastore/tests/Unit/DatastoreClientTest.php
  Filestore/composer.json
  PubSub/tests/Unit/BatchPublisherTest.php
  Redis/tests/Unit/V1/CloudRedisClientPartialVeneerTest.php
  Redis/tests/Unit/V1beta1/CloudRedisClientPartialVeneerTest.php
  Speech/tests/Unit/SpeechClientTest.php
  Speech/tests/Unit/V1/SpeechClientExtensionTest.php
  Vision/tests/Unit/ImageTest.php
  Vision/tests/Unit/V1/ImageAnnotatorClientExtensionTest.php
  Vision/tests/Unit/VisionClientTest.php
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/api-pubsub

chore: update README (#5552)
  README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd
