Repository googleapis/google-cloud-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/cloud-storage-dpe, @googleapis/api-bigquery, @googleapis/api-pubsub

Fixed php5.6 unit test error for bool and boolean
  Storage/tests/Unit/Connection/RestTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

nit: readability
  Core/tests/Unit/GrpcRequestWrapperTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Core): add retryFunction in GrpcRequestWrapper::send (#5770)
  Core/src/GrpcRequestWrapper.php
  Core/tests/Unit/GrpcRequestWrapperTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: update docs link
  GkeMultiCloud/README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(Compute): fix System tests
  Compute/tests/System/V1/PaginationTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Changed headers for transcoded obj
  Storage/src/StorageObject.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore(Spanner): fix system tests
  Spanner/tests/System/BackupTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

remove inadvertently released legacy proto classes
  Memcache/src/V1/RescheduleMaintenanceRequest_RescheduleType.php
  Memcache/src/V1beta2/RescheduleMaintenanceRequest_RescheduleType.php
  NetworkConnectivity/src/V1/PolicyBasedRoute_Filter.php
  NetworkConnectivity/src/V1/PolicyBasedRoute_Filter_ProtocolVersion.php
  NetworkConnectivity/src/V1/PolicyBasedRoute_InterconnectAttachment.php
  NetworkConnectivity/src/V1/PolicyBasedRoute_VirtualMachine.php
  NetworkConnectivity/src/V1/PolicyBasedRoute_Warnings.php
  NetworkConnectivity/src/V1/PolicyBasedRoute_Warnings_Code.php
  OrchestrationAirflow/src/V1/EnvironmentConfig_EnvironmentSize.php
  OrchestrationAirflow/src/V1/MasterAuthorizedNetworksConfig_CidrBlock.php
  OrchestrationAirflow/src/V1/NetworkingConfig_ConnectionType.php
  OrchestrationAirflow/src/V1/WorkloadsConfig_SchedulerResource.php
  OrchestrationAirflow/src/V1/WorkloadsConfig_WebServerResource.php
  OrchestrationAirflow/src/V1/WorkloadsConfig_WorkerResource.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(Spanner): Add JSONB Array system tests (#5769)
  Spanner/tests/System/PgWriteTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(Spanner): adding backup size >= 0
  Spanner/tests/System/BackupTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): GCS Retry Strategy options (#5731)
  Storage/src/Connection/RetryTrait.php
  Storage/tests/Unit/Connection/RestTest.php
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Core): add retryFunction in Rest/Grpc traits
  Core/src/GrpcTrait.php
  Core/src/RestTrait.php
  Core/tests/Unit/GrpcTraitTest.php
  Core/tests/Unit/RestTraitTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

nit: style fix
  Core/tests/Unit/RestTraitTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Addressed PR comments
  Storage/src/Connection/Rest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

removes docs command from readme
  dev/readme.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

use latest version of phpdoc instead of our own templates
  .kokoro/docs/docker/Dockerfile
  dev/data/templates/xml/argument.xml.twig
  dev/data/templates/xml/constant.xml.twig
  dev/data/templates/xml/docblock.xml.twig
  dev/data/templates/xml/method.xml.twig
  dev/data/templates/xml/namespace_tree.xml.twig
  dev/data/templates/xml/property.xml.twig
  dev/data/templates/xml/structure.xml.twig
  dev/data/templates/xml/template.xml
  dev/src/DocFx/Command/DocFx.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

remove custom templates - no longer necessary
  dev/data/templates/xml/argument.xml.twig
  dev/data/templates/xml/constant.xml.twig
  dev/data/templates/xml/docblock.xml.twig
  dev/data/templates/xml/method.xml.twig
  dev/data/templates/xml/namespace_tree.xml.twig
  dev/data/templates/xml/property.xml.twig
  dev/data/templates/xml/structure.xml.twig
  dev/data/templates/xml/template.xml
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Datastore): Add snapshot read feature (#5734)
  Datastore/src/Connection/Rest.php
  Datastore/src/DatastoreClient.php
  Datastore/src/Operation.php
  Datastore/tests/Snippet/DatastoreClientTest.php
  Datastore/tests/System/DatastoreTestCase.php
  Datastore/tests/System/LookupTest.php
  Datastore/tests/System/RunQueryTest.php
  Datastore/tests/System/RunTransactionTest.php
  Datastore/tests/Unit/DatastoreClientTest.php
  Datastore/tests/Unit/TransactionTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix(Spanner): add wait for deleteSessionAsync
  Spanner/src/Session/CacheSessionPool.php
  Spanner/tests/Unit/Session/CacheSessionPoolTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(docs): remove legacy docs generator (#5718)
  dev/google-cloud
  dev/readme.md
  dev/src/DocGenerator/Command/Docs.php
  dev/src/DocGenerator/DocGenerator.php
  dev/src/DocGenerator/Parser/ClassReference.php
  dev/src/DocGenerator/Parser/CodeParser.php
  dev/src/DocGenerator/Parser/MarkdownParser.php
  dev/src/DocGenerator/Parser/ParserInterface.php
  dev/src/DocGenerator/ReflectorRegister.php
  dev/src/DocGenerator/TableOfContents.php
  dev/src/DocGenerator/TypeGenerator.php
  dev/src/DocGenerator/Writer.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Addressed PR comments
  Core/src/ExponentialBackoff.php
  Core/src/RequestWrapper.php
  Core/src/RestTrait.php
  Storage/composer.json
  Storage/src/Connection/Rest.php
  Storage/src/StorageObject.php
  Storage/tests/Unit/StorageObjectTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

Bring back encryption header arguments in StorageObjectTest
  Storage/tests/Unit/StorageObjectTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

Fixed some snippet tests with range headers
  Storage/tests/Snippet/StorageObjectTest.php
  Storage/tests/Unit/StorageObjectTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore(Datastore): Correct the timestamp type
  Datastore/src/DatastoreClient.php
  Datastore/src/Operation.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore(Spanner): Add proper docblock for FGAC databaseRole
  Spanner/src/Batch/BatchClient.php
  Spanner/src/Database.php
  Spanner/src/Session/CacheSessionPool.php
  Spanner/src/SpannerClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

nit: incorporating comments
  Compute/tests/System/V1/PaginationTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

nit: incorporated pr comments
  Spanner/tests/System/BackupTest.php
  Spanner/tests/System/SpannerTestCase.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: rename retryFunction to grpcRetryFunction
  Core/src/GrpcRequestWrapper.php
  Core/src/GrpcTrait.php
  Core/tests/Unit/GrpcRequestWrapperTest.php
  Core/tests/Unit/GrpcTraitTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(Spanner): Add proper docblock for FGAC databaseRole (#5790)
  Spanner/src/Batch/BatchClient.php
  Spanner/src/Database.php
  Spanner/src/Session/CacheSessionPool.php
  Spanner/src/SpannerClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Core): add retryFunction in Rest/Grpc traits (#5782)
  Core/src/GrpcRequestWrapper.php
  Core/src/GrpcTrait.php
  Core/src/RestTrait.php
  Core/tests/Unit/GrpcRequestWrapperTest.php
  Core/tests/Unit/GrpcTraitTest.php
  Core/tests/Unit/RestTraitTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Removed bool type hint in Rest.php to support PHP 5.6
  Storage/src/Connection/Rest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

Removed trailling commas from a snippet test
  Storage/tests/Snippet/StorageObjectTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Storage): Added resumable downloads in GCS. (#5725)
  Core/src/ExponentialBackoff.php
  Core/src/RequestWrapper.php
  Core/src/RestTrait.php
  Storage/composer.json
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
  Storage/src/StorageObject.php
  Storage/tests/Snippet/StorageObjectTest.php
  Storage/tests/Unit/RetryConformanceTest.php
  Storage/tests/Unit/StorageObjectTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

remove duplicate iam methods
  Dataplex/src/V1/Gapic/ContentServiceGapicClient.php
  Dataplex/tests/Unit/V1/ContentServiceClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(Compute): fix System tests (#5779)
  Compute/tests/System/V1/PaginationTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(Spanner): fix system tests (#5781)
  Spanner/tests/System/BackupTest.php
  Spanner/tests/System/SpannerTestCase.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

switch to using docker container
  .github/workflows/tests.yaml
  .kokoro/docs/docker/Dockerfile
  dev/src/DocFx/Command/DocFx.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(docs): use HEAD for phpdoc (#5784)
  .github/workflows/tests.yaml
  .kokoro/docs/docker/Dockerfile
  dev/data/templates/xml/argument.xml.twig
  dev/data/templates/xml/constant.xml.twig
  dev/data/templates/xml/docblock.xml.twig
  dev/data/templates/xml/method.xml.twig
  dev/data/templates/xml/namespace_tree.xml.twig
  dev/data/templates/xml/property.xml.twig
  dev/data/templates/xml/structure.xml.twig
  dev/data/templates/xml/template.xml
  dev/src/DocFx/Command/DocFx.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: support for OrgPolicy dry runs
  owl-bot-staging/OrgPolicy/v2/proto/src/GPBMetadata/Google/Cloud/Orgpolicy/V2/Constraint.php
  owl-bot-staging/OrgPolicy/v2/proto/src/GPBMetadata/Google/Cloud/Orgpolicy/V2/Orgpolicy.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/AlternatePolicySpec.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/Constraint.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/Constraint/BooleanConstraint.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/Constraint/ConstraintDefault.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/Constraint/ListConstraint.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/Constraint_BooleanConstraint.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/Constraint_ConstraintDefault.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/Constraint_ListConstraint.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/CreatePolicyRequest.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/DeletePolicyRequest.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/GetEffectivePolicyRequest.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/GetPolicyRequest.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/ListConstraintsRequest.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/ListConstraintsResponse.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/ListPoliciesRequest.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/ListPoliciesResponse.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/OrgPolicyGrpcClient.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/Policy.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/PolicySpec.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/PolicySpec/PolicyRule.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/PolicySpec/PolicyRule/StringValues.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/PolicySpec_PolicyRule.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/PolicySpec_PolicyRule_StringValues.php
  owl-bot-staging/OrgPolicy/v2/proto/src/Google/Cloud/OrgPolicy/V2/UpdatePolicyRequest.php
  owl-bot-staging/OrgPolicy/v2/samples/V2/OrgPolicyClient/create_policy.php
  owl-bot-staging/OrgPolicy/v2/samples/V2/OrgPolicyClient/delete_policy.php
  owl-bot-staging/OrgPolicy/v2/samples/V2/OrgPolicyClient/get_effective_policy.php
  owl-bot-staging/OrgPolicy/v2/samples/V2/OrgPolicyClient/get_policy.php
  owl-bot-staging/OrgPolicy/v2/samples/V2/OrgPolicyClient/list_constraints.php
  owl-bot-staging/OrgPolicy/v2/samples/V2/OrgPolicyClient/list_policies.php
  owl-bot-staging/OrgPolicy/v2/samples/V2/OrgPolicyClient/update_policy.php
  owl-bot-staging/OrgPolicy/v2/src/V2/Gapic/OrgPolicyGapicClient.php
  owl-bot-staging/OrgPolicy/v2/src/V2/OrgPolicyClient.php
  owl-bot-staging/OrgPolicy/v2/src/V2/gapic_metadata.json
  owl-bot-staging/OrgPolicy/v2/src/V2/resources/org_policy_client_config.json
  owl-bot-staging/OrgPolicy/v2/src/V2/resources/org_policy_descriptor_config.php
  owl-bot-staging/OrgPolicy/v2/src/V2/resources/org_policy_rest_client_config.php
  owl-bot-staging/OrgPolicy/v2/tests/Unit/V2/OrgPolicyClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

update docfx command for repo-metadata.json changes
  dev/src/DocFx/Command/DocFx.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-php team is the default owner for anything not
# explicitly taken by someone else.
*                               @googleapis/yoshi-php @googleapis/cicd

/Bigtable       @googleapis/api-bigtable @googleapis/yoshi-php @googleapis/cicd
/Datastore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Firestore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Storage/       @googleapis/cloud-storage-dpe @googleapis/yoshi-php @googleapis/cicd
/BigQuery*/.    @googleapis/api-bigquery @googleapis/yoshi-php @googleapis/cicd
/PubSub/        @googleapis/api-pubsub @googleapis/yoshi-php @googleapis/cicd
