Repository googleapis/google-cloud-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/cloud-storage-dpe, @googleapis/api-bigquery, @googleapis/api-pubsub

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-php team is the default owner for anything not
# explicitly taken by someone else.
*                               @googleapis/yoshi-php @googleapis/cicd

/Bigtable       @googleapis/api-bigtable @googleapis/yoshi-php @googleapis/cicd
/Datastore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Firestore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Storage/       @googleapis/cloud-storage-dpe @googleapis/yoshi-php @googleapis/cicd
/BigQuery*/.    @googleapis/api-bigquery @googleapis/yoshi-php @googleapis/cicd
/PubSub/        @googleapis/api-pubsub @googleapis/yoshi-php @googleapis/cicd

Test multiple scenarios, remove ACL cleanup, fix lockRetentionPolicy
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: style
  Datastore/tests/System/DatastoreSessionHandlerTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

Added tests for resumable uploads
  Storage/tests/Unit/RetryConformanceTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: UTs
  Datastore/tests/Unit/DatastoreSessionHandlerTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: tests
  Datastore/src/DatastoreSessionHandler.php
  Datastore/tests/Unit/DatastoreSessionHandlerTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(ErrorReporting): Generate HttpRequestContext for log context.
  ErrorReporting/src/Bootstrap.php
  ErrorReporting/tests/Unit/BootstrapTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: add ImpersonatedServiceAccountCredentials (https://github.com/googleapis/google-auth-library-php/issues/421)
  src/Credentials/GCECredentials.php
  src/Credentials/ImpersonatedServiceAccountCredentials.php
  src/CredentialsLoader.php
  src/IamSignerTrait.php
  tests/ApplicationDefaultCredentialsTest.php
  tests/Credentials/ImpersonatedServiceAccountCredentialsTest.php
  tests/fixtures5/.config/gcloud/application_default_credentials.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: add ImpersonatedServiceAccountCredentials (googleapis/google-auth-library-php#421)
  src/Credentials/GCECredentials.php
  src/Credentials/ImpersonatedServiceAccountCredentials.php
  src/CredentialsLoader.php
  src/IamSignerTrait.php
  tests/ApplicationDefaultCredentialsTest.php
  tests/Credentials/ImpersonatedServiceAccountCredentialsTest.php
  tests/fixtures5/.config/gcloud/application_default_credentials.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: use local packages in individual package tests (#5542)
  .github/run-package-tests.sh
  .github/workflows/tests.yaml
  .gitignore
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency protobuf to v4.21.9
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency urllib3 to v1.26.13
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update gcr.io/cloud-spanner-emulator/emulator docker tag to v1.4.8
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency google-cloud-storage to v2.6.0
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency protobuf to v4.21.9 (#5563)
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency urllib3 to v1.26.13 (#5652)
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update gcr.io/cloud-spanner-emulator/emulator docker tag to v1.4.8 (#5655)
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency google-cloud-storage to v2.6.0 (#5594)
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: owlbot copy_excludes for ReadOnly
  Datastore/owlbot.py
  Firestore/owlbot.py
  Spanner/owlbot.py
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: owlbot copy_excludes for ReadOnly (#5660)
  Datastore/owlbot.py
  Firestore/owlbot.py
  Spanner/owlbot.py
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: merge PR comments
  Datastore/src/Connection/Grpc.php
  Datastore/src/DatastoreClient.php
  Datastore/src/DatastoreSessionHandler.php
  Datastore/src/Operation.php
  Datastore/tests/System/DatastoreMultipleDbTestCase.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: broken system tests for emulator
  Datastore/tests/System/DatastoreMultipleDbTestCase.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: added UTs for forcing DB Ids in Operations
  Datastore/src/DatastoreClient.php
  Datastore/src/Operation.php
  Datastore/tests/System/RunTransactionTest.php
  Datastore/tests/Unit/OperationTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

nit: removing dup lines
  Datastore/tests/Unit/OperationTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: increment System test sleep for reliability
  Datastore/tests/System/DatastoreSessionHandlerTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ 30f440d2963a83e983926969d2189df896abc808 🚀
  json/cloud-tpu/main/v1/gapic/tpugapicclient.json
  json/cloud-tpu/main/v1/tpuclient.json
  json/cloud-tpu/main/v1/tpugrpcclient.json
  json/google-cloud/main/tpu/v1/gapic/tpugapicclient.json
  json/google-cloud/main/tpu/v1/tpuclient.json
  json/google-cloud/main/tpu/v1/tpugrpcclient.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(tests): fix all risky tests and warnings (#5631)
  Core/tests/Unit/ClientTraitTest.php
  Core/tests/Unit/Report/GAEStandardMetadataProviderTest.php
  Core/tests/Unit/ValidateTraitTest.php
  Datastore/tests/Unit/OperationTest.php
  Debugger/tests/Unit/CliDaemonTest.php
  Debugger/tests/Unit/DebuggeeTest.php
  Firestore/tests/Unit/QueryTest.php
  Firestore/tests/Unit/WriteBatchTest.php
  PubSub/tests/Unit/SnapshotTest.php
  PubSub/tests/Unit/SubscriptionTest.php
  PubSub/tests/Unit/TopicTest.php
  Spanner/tests/Unit/Connection/GrpcTest.php
  Spanner/tests/Unit/DatabaseTest.php
  Spanner/tests/Unit/ResultTest.php
  Storage/tests/Unit/BucketTest.php
  Storage/tests/Unit/StorageClientTest.php
  Storage/tests/Unit/StorageObjectTest.php
  Translate/tests/Unit/V2/TranslateClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/firestore-dpe, @googleapis/api-pubsub, @googleapis/cloud-storage-dpe

Deploying to gh-pages from @ d6672d7487215f1aadc4082f3a06f8c97da58873 🚀
  json/cloud-firestore/main/admin/v1/firestoreadminclient.json
  json/cloud-firestore/main/admin/v1/gapic/firestoreadmingapicclient.json
  json/cloud-firestore/main/v1/firestoreclient.json
  json/cloud-firestore/main/v1/gapic/firestoregapicclient.json
  json/google-cloud/main/firestore/admin/v1/firestoreadminclient.json
  json/google-cloud/main/firestore/admin/v1/gapic/firestoreadmingapicclient.json
  json/google-cloud/main/firestore/v1/firestoreclient.json
  json/google-cloud/main/firestore/v1/gapic/firestoregapicclient.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ 75226df4642df755f8d0f5521a1dd099e32f93e0 🚀
  json/cloud-datastore/main/types.json
  json/cloud-datastore/main/v1/aggregationquery.json
  json/cloud-datastore/main/v1/aggregationquery/aggregation.json
  json/cloud-datastore/main/v1/aggregationquery/aggregation/count.json
  json/cloud-datastore/main/v1/aggregationquery_aggregation.json
  json/cloud-datastore/main/v1/aggregationquery_aggregation_count.json
  json/cloud-datastore/main/v1/aggregationresult.json
  json/cloud-datastore/main/v1/aggregationresultbatch.json
  json/cloud-datastore/main/v1/datastoreclient.json
  json/cloud-datastore/main/v1/datastoregrpcclient.json
  json/cloud-datastore/main/v1/gapic/datastoregapicclient.json
  json/cloud-datastore/main/v1/runaggregationqueryrequest.json
  json/cloud-datastore/main/v1/runaggregationqueryresponse.json
  json/google-cloud/main/datastore/v1/aggregationquery.json
  json/google-cloud/main/datastore/v1/aggregationquery/aggregation.json
  json/google-cloud/main/datastore/v1/aggregationquery/aggregation/count.json
  json/google-cloud/main/datastore/v1/aggregationquery_aggregation.json
  json/google-cloud/main/datastore/v1/aggregationquery_aggregation_count.json
  json/google-cloud/main/datastore/v1/aggregationresult.json
  json/google-cloud/main/datastore/v1/aggregationresultbatch.json
  json/google-cloud/main/datastore/v1/datastoreclient.json
  json/google-cloud/main/datastore/v1/datastoregrpcclient.json
  json/google-cloud/main/datastore/v1/gapic/datastoregapicclient.json
  json/google-cloud/main/datastore/v1/runaggregationqueryrequest.json
  json/google-cloud/main/datastore/v1/runaggregationqueryresponse.json
  json/google-cloud/main/types.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update Speech/owlbot.py
  Speech/owlbot.py
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update Speech/src/V2/SpeechClient.php
  Speech/src/V2/SpeechClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

add note to readme
  Speech/README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ bffbd70055546ba408820c5920b105c95d0a426a 🚀
  json/cloud-beyondcorp-appconnections/main/v1/appconnectionsserviceclient.json
  json/cloud-beyondcorp-appconnections/main/v1/appconnectionsservicegrpcclient.json
  json/cloud-beyondcorp-appconnections/main/v1/gapic/appconnectionsservicegapicclient.json
  json/cloud-beyondcorp-appconnectors/main/v1/appconnectorsserviceclient.json
  json/cloud-beyondcorp-appconnectors/main/v1/appconnectorsservicegrpcclient.json
  json/cloud-beyondcorp-appconnectors/main/v1/gapic/appconnectorsservicegapicclient.json
  json/cloud-beyondcorp-appgateways/main/v1/appgatewaysserviceclient.json
  json/cloud-beyondcorp-appgateways/main/v1/appgatewaysservicegrpcclient.json
  json/cloud-beyondcorp-appgateways/main/v1/gapic/appgatewaysservicegapicclient.json
  json/cloud-beyondcorp-clientconnectorservices/main/v1/clientconnectorservicesserviceclient.json
  json/cloud-beyondcorp-clientconnectorservices/main/v1/clientconnectorservicesservicegrpcclient.json
  json/cloud-beyondcorp-clientconnectorservices/main/v1/gapic/clientconnectorservicesservicegapicclient.json
  json/cloud-beyondcorp-clientgateways/main/v1/clientgatewaysserviceclient.json
  json/cloud-beyondcorp-clientgateways/main/v1/clientgatewaysservicegrpcclient.json
  json/cloud-beyondcorp-clientgateways/main/v1/gapic/clientgatewaysservicegapicclient.json
  json/google-cloud/main/beyondcorpappconnections/v1/appconnectionsserviceclient.json
  json/google-cloud/main/beyondcorpappconnections/v1/appconnectionsservicegrpcclient.json
  json/google-cloud/main/beyondcorpappconnections/v1/gapic/appconnectionsservicegapicclient.json
  json/google-cloud/main/beyondcorpappconnectors/v1/appconnectorsserviceclient.json
  json/google-cloud/main/beyondcorpappconnectors/v1/appconnectorsservicegrpcclient.json
  json/google-cloud/main/beyondcorpappconnectors/v1/gapic/appconnectorsservicegapicclient.json
  json/google-cloud/main/beyondcorpappgateways/v1/appgatewaysserviceclient.json
  json/google-cloud/main/beyondcorpappgateways/v1/appgatewaysservicegrpcclient.json
  json/google-cloud/main/beyondcorpappgateways/v1/gapic/appgatewaysservicegapicclient.json
  json/google-cloud/main/beyondcorpclientconnectorservices/v1/clientconnectorservicesserviceclient.json
  json/google-cloud/main/beyondcorpclientconnectorservices/v1/clientconnectorservicesservicegrpcclient.json
  json/google-cloud/main/beyondcorpclientconnectorservices/v1/gapic/clientconnectorservicesservicegapicclient.json
  json/google-cloud/main/beyondcorpclientgateways/v1/clientgatewaysserviceclient.json
  json/google-cloud/main/beyondcorpclientgateways/v1/clientgatewaysservicegrpcclient.json
  json/google-cloud/main/beyondcorpclientgateways/v1/gapic/clientgatewaysservicegapicclient.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(tests): retry flakey windows tests on github actions (#5622)
  .github/workflows/tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: added memory limit to phpunit (#5649)
  .kokoro/continuous/run-tests.sh
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix up
  Spanner/src/Session/CacheSessionPool.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(datastore): adding support for multiple db (#5488)
  Datastore/src/Connection/Grpc.php
  Datastore/src/DatastoreClient.php
  Datastore/src/DatastoreSessionHandler.php
  Datastore/src/DatastoreTrait.php
  Datastore/src/Key.php
  Datastore/src/Operation.php
  Datastore/tests/Snippet/DatastoreClientTest.php
  Datastore/tests/System/AllocateKeyTest.php
  Datastore/tests/System/CustomEntityTypeTest.php
  Datastore/tests/System/DatastoreMultipleDbTest.php
  Datastore/tests/System/DatastoreMultipleDbTestCase.php
  Datastore/tests/System/DatastoreSessionHandlerTest.php
  Datastore/tests/System/DatastoreTestCase.php
  Datastore/tests/System/QueryResultPaginationTest.php
  Datastore/tests/System/RunQueryTest.php
  Datastore/tests/System/RunTransactionTest.php
  Datastore/tests/System/SaveAndModifyTest.php
  Datastore/tests/Unit/DatastoreSessionHandlerTest.php
  Datastore/tests/Unit/DatastoreTraitTest.php
  Datastore/tests/Unit/KeyTest.php
  Datastore/tests/Unit/OperationTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ 222f301d43a26c6bd2788f9a46f81f609eb5bf5c 🚀
  json/cloud-datastore/main/datastoreclient.json
  json/cloud-datastore/main/datastoresessionhandler.json
  json/cloud-datastore/main/key.json
  json/cloud-datastore/main/operation.json
  json/google-cloud/main/datastore/datastoreclient.json
  json/google-cloud/main/datastore/datastoresessionhandler.json
  json/google-cloud/main/datastore/key.json
  json/google-cloud/main/datastore/operation.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency protobuf to v4.21.10
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

Fix PubSubClient __debugInfo() throwing \Error
  PubSub/src/PubSubClient.php
Owners: @googleapis/api-pubsub, @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency protobuf to v4.21.10 (#5662)
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd
