Repository googleapis/google-cloud-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/cloud-storage-dpe, @googleapis/api-bigquery, @googleapis/api-pubsub

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-php team is the default owner for anything not
# explicitly taken by someone else.
*                               @googleapis/yoshi-php @googleapis/cicd

/Bigtable       @googleapis/api-bigtable @googleapis/yoshi-php @googleapis/cicd
/Datastore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Firestore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Storage/       @googleapis/cloud-storage-dpe @googleapis/yoshi-php @googleapis/cicd
/BigQuery*/.    @googleapis/api-bigquery @googleapis/yoshi-php @googleapis/cicd
/PubSub/        @googleapis/api-pubsub @googleapis/yoshi-php @googleapis/cicd

fix: throw an exception when the credentials fetcher cannot fetch a token (#5579)
  Core/src/RequestWrapper.php
  Core/tests/Unit/RequestWrapperTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(storage): adding tests for autoclass
  Storage/src/Bucket.php
  Storage/src/StorageClient.php
  Storage/tests/System/ManageBucketsTest.php
  Storage/tests/Unit/BucketTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

address review
  GSuiteAddOns/owlbot.py
  GSuiteAddOns/src/V1/GSuiteAddOnsGrpcClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

address review
  ApiKeys/owlbot.py
  ApiKeys/src/V2/ApiKeysGrpcClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

address review
  BigQueryAnalyticsHub/owlbot.py
  BigQueryAnalyticsHub/src/V1/AnalyticsHubServiceGrpcClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

address review
  BigQueryMigration/owlbot.py
  BigQueryMigration/src/V2/MigrationServiceGrpcClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

address review
  Iam/owlbot.py
  Iam/src/V2/PoliciesGrpcClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

address review
  SecurityPublicCA/owlbot.py
  SecurityPublicCA/src/V1beta1/PublicCertificateAuthorityServiceGrpcClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

address review
  Dataform/owlbot.py
  Dataform/src/V1beta1/DataformGrpcClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

address review
  BigQueryDataPolicies/owlbot.py
  BigQueryDataPolicies/src/V1beta1/DataPolicyServiceGrpcClient.php
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update ModelTest.php
  BigQuery/tests/Snippet/ModelTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

add readme to external dir
  GSuiteAddOns/external/README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

remove serviceAddress documentation
  GSuiteAddOns/owlbot.py
  GSuiteAddOns/src/V1/Gapic/GSuiteAddOnsGapicClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

remove serviceAddress documentation
  BigQueryDataPolicies/owlbot.py
  BigQueryDataPolicies/src/V1beta1/Gapic/DataPolicyServiceGapicClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

remove serviceAddress documentation
  Iam/owlbot.py
  Iam/src/V2/Gapic/PoliciesGapicClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

remove serviceAddress documentation
  ApiKeys/owlbot.py
  ApiKeys/src/V2/Gapic/ApiKeysGapicClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

remove serviceAddress documentation
  SecurityPublicCA/owlbot.py
  SecurityPublicCA/src/V1beta1/Gapic/PublicCertificateAuthorityServiceGapicClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

remove serviceAddress documentation
  BigQueryAnalyticsHub/owlbot.py
  BigQueryAnalyticsHub/src/V1/Gapic/AnalyticsHubServiceGapicClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

remove serviceAddress documentation
  BigQueryMigration/owlbot.py
  BigQueryMigration/src/V2/Gapic/MigrationServiceGapicClient.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

add heading
  GSuiteAddOns/external/README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

Apply suggestions from code review
  GSuiteAddOns/README.md
  GSuiteAddOns/composer.json
  GSuiteAddOns/external/README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix naming
  BigQueryDataPolicies/README.md
  BigQueryDataPolicies/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix naming
  SecurityPublicCA/README.md
  SecurityPublicCA/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix naming
  BigQueryAnalyticsHub/README.md
  BigQueryAnalyticsHub/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix naming
  BigQueryMigration/README.md
  BigQueryMigration/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: introduce bigquery data policies (#5575)
  BigQueryDataPolicies/.OwlBot.yaml
  BigQueryDataPolicies/.gitattributes
  BigQueryDataPolicies/.github/pull_request_template.md
  BigQueryDataPolicies/.repo-metadata.json
  BigQueryDataPolicies/CODE_OF_CONDUCT.md
  BigQueryDataPolicies/CONTRIBUTING.md
  BigQueryDataPolicies/LICENSE
  BigQueryDataPolicies/README.md
  BigQueryDataPolicies/SECURITY.md
  BigQueryDataPolicies/VERSION
  BigQueryDataPolicies/composer.json
  BigQueryDataPolicies/metadata/V1Beta1/Datapolicy.php
  BigQueryDataPolicies/owlbot.py
  BigQueryDataPolicies/phpunit.xml.dist
  BigQueryDataPolicies/src/V1beta1/CreateDataPolicyRequest.php
  BigQueryDataPolicies/src/V1beta1/DataMaskingPolicy.php
  BigQueryDataPolicies/src/V1beta1/DataMaskingPolicy/PredefinedExpression.php
  BigQueryDataPolicies/src/V1beta1/DataPolicy.php
  BigQueryDataPolicies/src/V1beta1/DataPolicy/DataPolicyType.php
  BigQueryDataPolicies/src/V1beta1/DataPolicyServiceClient.php
  BigQueryDataPolicies/src/V1beta1/DeleteDataPolicyRequest.php
  BigQueryDataPolicies/src/V1beta1/Gapic/DataPolicyServiceGapicClient.php
  BigQueryDataPolicies/src/V1beta1/GetDataPolicyRequest.php
  BigQueryDataPolicies/src/V1beta1/ListDataPoliciesRequest.php
  BigQueryDataPolicies/src/V1beta1/ListDataPoliciesResponse.php
  BigQueryDataPolicies/src/V1beta1/UpdateDataPolicyRequest.php
  BigQueryDataPolicies/src/V1beta1/gapic_metadata.json
  BigQueryDataPolicies/src/V1beta1/resources/data_policy_service_client_config.json
  BigQueryDataPolicies/src/V1beta1/resources/data_policy_service_descriptor_config.php
  BigQueryDataPolicies/src/V1beta1/resources/data_policy_service_rest_client_config.php
  BigQueryDataPolicies/tests/Unit/V1beta1/DataPolicyServiceClientTest.php
  composer.json
  docs/contents/cloud-bigquery-datapolicies.json
  docs/contents/google-cloud.json
  docs/manifest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: introduce iam v2 (#5574)
  Iam/.OwlBot.yaml
  Iam/.gitattributes
  Iam/.github/pull_request_template.md
  Iam/.repo-metadata.json
  Iam/CODE_OF_CONDUCT.md
  Iam/CONTRIBUTING.md
  Iam/LICENSE
  Iam/README.md
  Iam/SECURITY.md
  Iam/VERSION
  Iam/composer.json
  Iam/metadata/V2/Deny.php
  Iam/metadata/V2/Policy.php
  Iam/owlbot.py
  Iam/phpunit.xml.dist
  Iam/src/V2/CreatePolicyRequest.php
  Iam/src/V2/DeletePolicyRequest.php
  Iam/src/V2/DenyRule.php
  Iam/src/V2/Gapic/PoliciesGapicClient.php
  Iam/src/V2/GetPolicyRequest.php
  Iam/src/V2/ListPoliciesRequest.php
  Iam/src/V2/ListPoliciesResponse.php
  Iam/src/V2/PoliciesClient.php
  Iam/src/V2/Policy.php
  Iam/src/V2/PolicyOperationMetadata.php
  Iam/src/V2/PolicyRule.php
  Iam/src/V2/UpdatePolicyRequest.php
  Iam/src/V2/gapic_metadata.json
  Iam/src/V2/resources/policies_client_config.json
  Iam/src/V2/resources/policies_descriptor_config.php
  Iam/src/V2/resources/policies_rest_client_config.php
  Iam/tests/Unit/V2/PoliciesClientTest.php
  composer.json
  docs/contents/cloud-iam.json
  docs/contents/google-cloud.json
  docs/manifest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: introduce certificate public CA (#5571)
  SecurityPublicCA/.OwlBot.yaml
  SecurityPublicCA/.gitattributes
  SecurityPublicCA/.github/pull_request_template.md
  SecurityPublicCA/.repo-metadata.json
  SecurityPublicCA/CODE_OF_CONDUCT.md
  SecurityPublicCA/CONTRIBUTING.md
  SecurityPublicCA/LICENSE
  SecurityPublicCA/README.md
  SecurityPublicCA/SECURITY.md
  SecurityPublicCA/VERSION
  SecurityPublicCA/composer.json
  SecurityPublicCA/metadata/V1Beta1/Resources.php
  SecurityPublicCA/metadata/V1Beta1/Service.php
  SecurityPublicCA/owlbot.py
  SecurityPublicCA/phpunit.xml.dist
  SecurityPublicCA/src/V1beta1/CreateExternalAccountKeyRequest.php
  SecurityPublicCA/src/V1beta1/ExternalAccountKey.php
  SecurityPublicCA/src/V1beta1/Gapic/PublicCertificateAuthorityServiceGapicClient.php
  SecurityPublicCA/src/V1beta1/PublicCertificateAuthorityServiceClient.php
  SecurityPublicCA/src/V1beta1/gapic_metadata.json
  SecurityPublicCA/src/V1beta1/resources/public_certificate_authority_service_client_config.json
  SecurityPublicCA/src/V1beta1/resources/public_certificate_authority_service_descriptor_config.php
  SecurityPublicCA/src/V1beta1/resources/public_certificate_authority_service_rest_client_config.php
  SecurityPublicCA/tests/Unit/V1beta1/PublicCertificateAuthorityServiceClientTest.php
  composer.json
  docs/contents/cloud-security-public-ca.json
  docs/contents/google-cloud.json
  docs/manifest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Update manifest.json
  docs/manifest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(storage): seeking object before file creation (#5524)
  Storage/src/StorageObject.php
  Storage/tests/System/ManageObjectsTest.php
  Storage/tests/Unit/StorageObjectTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

remove reverted storage PR from release
  CHANGELOG.md
  Storage/VERSION
  Storage/src/StorageClient.php
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

Deploying to gh-pages from @ 2a92db51a51688b70b357f8e7b0f4e9279cc7290 🚀
  json/cloud-storage/main/storageobject.json
  json/google-cloud/main/storage/storageobject.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

update manifest
  docs/manifest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ ce68ddb876acfa1b4a7941a51a4af66836271dc7 🚀
  manifest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add release-please (firebase/php-jwt#467)
  Jwt/.github/release-please.yml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add release-please (firebase/php-jwt#467)
  .github/release-please.yml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: move changelog into separate file (firebase/php-jwt#469)
  CHANGELOG.md
  README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: move changelog into separate file (firebase/php-jwt#469)
  Jwt/CHANGELOG.md
  Jwt/README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: check kid before using as array index
  src/JWT.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: check kid before using as array index
  Jwt/src/JWT.php
Owners: @googleapis/yoshi-php, @googleapis/cicd
