Repository googleapis/google-cloud-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/cloud-storage-dpe, @googleapis/api-bigquery, @googleapis/api-pubsub

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-php team is the default owner for anything not
# explicitly taken by someone else.
*                               @googleapis/yoshi-php @googleapis/cicd

/Bigtable       @googleapis/api-bigtable @googleapis/yoshi-php @googleapis/cicd
/Datastore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Firestore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Storage/       @googleapis/cloud-storage-dpe @googleapis/yoshi-php @googleapis/cicd
/BigQuery*/.    @googleapis/api-bigquery @googleapis/yoshi-php @googleapis/cicd
/PubSub/        @googleapis/api-pubsub @googleapis/yoshi-php @googleapis/cicd

feat: support customer managed instance configurations (#5523)
  Spanner/src/Connection/ConnectionInterface.php
  Spanner/src/Connection/Grpc.php
  Spanner/src/InstanceConfiguration.php
  Spanner/src/SpannerClient.php
  Spanner/tests/Snippet/InstanceConfigurationTest.php
  Spanner/tests/System/AdminTest.php
  Spanner/tests/Unit/Connection/GrpcTest.php
  Spanner/tests/Unit/Fixtures.php
  Spanner/tests/Unit/InstanceConfigurationTest.php
  Spanner/tests/Unit/fixtures/instanceConfig.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(docs): make publish.sh executable for kokoro (#5551)
  .kokoro/docs/publish.sh
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(Spanner): Removed JSONB array system tests (#5543)
  Spanner/tests/System/PgWriteTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency gcp-docuploader to v0.6.4 (#5545)
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(deps): update dependency google/grafeas to ^0.4.0 (#5555)
  ContainerAnalysis/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency protobuf to v4.21.7 (#5547)
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency certifi to v2022.9.24 (#5544)
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency google-auth to v2.13.0 (#5548)
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(docs): wrap TOC in component (#5556)
  .kokoro/docs/publish.sh
  composer.json
  dev/src/DocFx/Command/DocFx.php
  dev/src/DocFx/Node/ClassNode.php
  dev/src/DocFx/Node/ConstantNode.php
  dev/src/DocFx/Node/MethodNode.php
  dev/src/DocFx/Node/XrefTrait.php
  dev/src/DocFx/Page/OverviewPage.php
  dev/src/DocFx/Page/PageTree.php
  dev/tests/Unit/DocFx/CommandTest.php
  dev/tests/Unit/DocFx/NodeTest.php
  dev/tests/fixtures/docfx/toc.yml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency google-resumable-media to v2.4.0 (#5549)
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency google-api-core to v2.10.2 (#5546)
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

revert: "feat(storage): adding tests for autoclass (#5487)" (#5568)
  Storage/src/Bucket.php
  Storage/src/StorageClient.php
  Storage/tests/System/ManageBucketsTest.php
  Storage/tests/Unit/BucketTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

chore: update vision gitattributes (#5564)
  Vision/.gitattributes
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: migrate away from set-output (#5578)
  .github/workflows/docs.yml
  .github/workflows/release.yml
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(storage): adding tests for autoclass (#5487)
  Storage/src/Bucket.php
  Storage/src/StorageClient.php
  Storage/tests/System/ManageBucketsTest.php
  Storage/tests/Unit/BucketTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat: introduce bigquery data policies (#5575)
  BigQueryDataPolicies/.OwlBot.yaml
  BigQueryDataPolicies/.gitattributes
  BigQueryDataPolicies/.github/pull_request_template.md
  BigQueryDataPolicies/.repo-metadata.json
  BigQueryDataPolicies/CODE_OF_CONDUCT.md
  BigQueryDataPolicies/CONTRIBUTING.md
  BigQueryDataPolicies/LICENSE
  BigQueryDataPolicies/README.md
  BigQueryDataPolicies/SECURITY.md
  BigQueryDataPolicies/VERSION
  BigQueryDataPolicies/composer.json
  BigQueryDataPolicies/metadata/V1Beta1/Datapolicy.php
  BigQueryDataPolicies/owlbot.py
  BigQueryDataPolicies/phpunit.xml.dist
  BigQueryDataPolicies/src/V1beta1/CreateDataPolicyRequest.php
  BigQueryDataPolicies/src/V1beta1/DataMaskingPolicy.php
  BigQueryDataPolicies/src/V1beta1/DataMaskingPolicy/PredefinedExpression.php
  BigQueryDataPolicies/src/V1beta1/DataPolicy.php
  BigQueryDataPolicies/src/V1beta1/DataPolicy/DataPolicyType.php
  BigQueryDataPolicies/src/V1beta1/DataPolicyServiceClient.php
  BigQueryDataPolicies/src/V1beta1/DeleteDataPolicyRequest.php
  BigQueryDataPolicies/src/V1beta1/Gapic/DataPolicyServiceGapicClient.php
  BigQueryDataPolicies/src/V1beta1/GetDataPolicyRequest.php
  BigQueryDataPolicies/src/V1beta1/ListDataPoliciesRequest.php
  BigQueryDataPolicies/src/V1beta1/ListDataPoliciesResponse.php
  BigQueryDataPolicies/src/V1beta1/UpdateDataPolicyRequest.php
  BigQueryDataPolicies/src/V1beta1/gapic_metadata.json
  BigQueryDataPolicies/src/V1beta1/resources/data_policy_service_client_config.json
  BigQueryDataPolicies/src/V1beta1/resources/data_policy_service_descriptor_config.php
  BigQueryDataPolicies/src/V1beta1/resources/data_policy_service_rest_client_config.php
  BigQueryDataPolicies/tests/Unit/V1beta1/DataPolicyServiceClientTest.php
  composer.json
  docs/contents/cloud-bigquery-datapolicies.json
  docs/contents/google-cloud.json
  docs/manifest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: throw an exception when the credentials fetcher cannot fetch a token (#5579)
  Core/src/RequestWrapper.php
  Core/tests/Unit/RequestWrapperTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(storage): adding tests for autoclass (#5582)
  Storage/src/Bucket.php
  Storage/src/StorageClient.php
  Storage/tests/System/ManageBucketsTest.php
  Storage/tests/Unit/BucketTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat: introduce iam v2 (#5574)
  Iam/.OwlBot.yaml
  Iam/.gitattributes
  Iam/.github/pull_request_template.md
  Iam/.repo-metadata.json
  Iam/CODE_OF_CONDUCT.md
  Iam/CONTRIBUTING.md
  Iam/LICENSE
  Iam/README.md
  Iam/SECURITY.md
  Iam/VERSION
  Iam/composer.json
  Iam/metadata/V2/Deny.php
  Iam/metadata/V2/Policy.php
  Iam/owlbot.py
  Iam/phpunit.xml.dist
  Iam/src/V2/CreatePolicyRequest.php
  Iam/src/V2/DeletePolicyRequest.php
  Iam/src/V2/DenyRule.php
  Iam/src/V2/Gapic/PoliciesGapicClient.php
  Iam/src/V2/GetPolicyRequest.php
  Iam/src/V2/ListPoliciesRequest.php
  Iam/src/V2/ListPoliciesResponse.php
  Iam/src/V2/PoliciesClient.php
  Iam/src/V2/Policy.php
  Iam/src/V2/PolicyOperationMetadata.php
  Iam/src/V2/PolicyRule.php
  Iam/src/V2/UpdatePolicyRequest.php
  Iam/src/V2/gapic_metadata.json
  Iam/src/V2/resources/policies_client_config.json
  Iam/src/V2/resources/policies_descriptor_config.php
  Iam/src/V2/resources/policies_rest_client_config.php
  Iam/tests/Unit/V2/PoliciesClientTest.php
  composer.json
  docs/contents/cloud-iam.json
  docs/contents/google-cloud.json
  docs/manifest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix(storage): seeking object before file creation (#5524)
  Storage/src/StorageObject.php
  Storage/tests/System/ManageObjectsTest.php
  Storage/tests/Unit/StorageObjectTest.php
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat: introduce certificate public CA (#5571)
  SecurityPublicCA/.OwlBot.yaml
  SecurityPublicCA/.gitattributes
  SecurityPublicCA/.github/pull_request_template.md
  SecurityPublicCA/.repo-metadata.json
  SecurityPublicCA/CODE_OF_CONDUCT.md
  SecurityPublicCA/CONTRIBUTING.md
  SecurityPublicCA/LICENSE
  SecurityPublicCA/README.md
  SecurityPublicCA/SECURITY.md
  SecurityPublicCA/VERSION
  SecurityPublicCA/composer.json
  SecurityPublicCA/metadata/V1Beta1/Resources.php
  SecurityPublicCA/metadata/V1Beta1/Service.php
  SecurityPublicCA/owlbot.py
  SecurityPublicCA/phpunit.xml.dist
  SecurityPublicCA/src/V1beta1/CreateExternalAccountKeyRequest.php
  SecurityPublicCA/src/V1beta1/ExternalAccountKey.php
  SecurityPublicCA/src/V1beta1/Gapic/PublicCertificateAuthorityServiceGapicClient.php
  SecurityPublicCA/src/V1beta1/PublicCertificateAuthorityServiceClient.php
  SecurityPublicCA/src/V1beta1/gapic_metadata.json
  SecurityPublicCA/src/V1beta1/resources/public_certificate_authority_service_client_config.json
  SecurityPublicCA/src/V1beta1/resources/public_certificate_authority_service_descriptor_config.php
  SecurityPublicCA/src/V1beta1/resources/public_certificate_authority_service_rest_client_config.php
  SecurityPublicCA/tests/Unit/V1beta1/PublicCertificateAuthorityServiceClientTest.php
  composer.json
  docs/contents/cloud-security-public-ca.json
  docs/contents/google-cloud.json
  docs/manifest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: add support for self-signed JWTs in handwritten client libraries (#4690)
  Core/src/RequestWrapperTrait.php
  Core/tests/Unit/RequestWrapperTest.php
  Storage/src/Connection/Rest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/cloud-storage-dpe

feat(firestore): add Bulkwriter in FS client
  Firestore/src/BulkWriter.php
  Firestore/src/FirestoreClient.php
  Firestore/src/Transaction.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: enabling docs for bulkwriter
  docs/contents/cloud-firestore.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(firestore): add RateLimiter to Bulkwriter
  Firestore/src/BulkWriter.php
  Firestore/src/FirestoreClient.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: bulkwriter
  Firestore/src/BulkWriter.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: bulkwriter documentation error
  Firestore/src/BulkWriter.php
  Firestore/src/FirestoreClient.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: bulkwriter
  Firestore/src/BulkWriter.php
  Firestore/src/RateLimiter.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: add conflict for psr/log v3 as it introduces void return types (#5484)
  Logging/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add beyondcorp* library global files (#5502)
  composer.json
  docs/contents/google-cloud.json
  docs/manifest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: update sample code for automl create dataset (#5481)
  AutoMl/README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: remove PHP 7.0 windows unit tests (#5504)
  .github/workflows/tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: introduce beyondcorp appgateways (#5499)
  BeyondCorpAppGateways/.OwlBot.yaml
  BeyondCorpAppGateways/.gitattributes
  BeyondCorpAppGateways/.github/pull_request_template.md
  BeyondCorpAppGateways/.repo-metadata.json
  BeyondCorpAppGateways/CODE_OF_CONDUCT.md
  BeyondCorpAppGateways/CONTRIBUTING.md
  BeyondCorpAppGateways/LICENSE
  BeyondCorpAppGateways/README.md
  BeyondCorpAppGateways/SECURITY.md
  BeyondCorpAppGateways/VERSION
  BeyondCorpAppGateways/composer.json
  BeyondCorpAppGateways/metadata/V1/AppGatewaysService.php
  BeyondCorpAppGateways/owlbot.py
  BeyondCorpAppGateways/phpunit.xml.dist
  BeyondCorpAppGateways/src/V1/AppGateway.php
  BeyondCorpAppGateways/src/V1/AppGateway/AllocatedConnection.php
  BeyondCorpAppGateways/src/V1/AppGateway/HostType.php
  BeyondCorpAppGateways/src/V1/AppGateway/State.php
  BeyondCorpAppGateways/src/V1/AppGateway/Type.php
  BeyondCorpAppGateways/src/V1/AppGatewayOperationMetadata.php
  BeyondCorpAppGateways/src/V1/AppGatewaysServiceClient.php
  BeyondCorpAppGateways/src/V1/AppGatewaysServiceGrpcClient.php
  BeyondCorpAppGateways/src/V1/CreateAppGatewayRequest.php
  BeyondCorpAppGateways/src/V1/DeleteAppGatewayRequest.php
  BeyondCorpAppGateways/src/V1/Gapic/AppGatewaysServiceGapicClient.php
  BeyondCorpAppGateways/src/V1/GetAppGatewayRequest.php
  BeyondCorpAppGateways/src/V1/ListAppGatewaysRequest.php
  BeyondCorpAppGateways/src/V1/ListAppGatewaysResponse.php
  BeyondCorpAppGateways/src/V1/gapic_metadata.json
  BeyondCorpAppGateways/src/V1/resources/app_gateways_service_client_config.json
  BeyondCorpAppGateways/src/V1/resources/app_gateways_service_descriptor_config.php
  BeyondCorpAppGateways/src/V1/resources/app_gateways_service_rest_client_config.php
  BeyondCorpAppGateways/synth.py
  BeyondCorpAppGateways/tests/Unit/V1/AppGatewaysServiceClientTest.php
  docs/contents/cloud-beyondcorp-appgateways.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: introduce beyondcorp appconnections (#5497)
  BeyondCorpAppConnections/.OwlBot.yaml
  BeyondCorpAppConnections/.gitattributes
  BeyondCorpAppConnections/.github/pull_request_template.md
  BeyondCorpAppConnections/.repo-metadata.json
  BeyondCorpAppConnections/CODE_OF_CONDUCT.md
  BeyondCorpAppConnections/CONTRIBUTING.md
  BeyondCorpAppConnections/LICENSE
  BeyondCorpAppConnections/README.md
  BeyondCorpAppConnections/SECURITY.md
  BeyondCorpAppConnections/VERSION
  BeyondCorpAppConnections/composer.json
  BeyondCorpAppConnections/metadata/V1/AppConnectionsService.php
  BeyondCorpAppConnections/owlbot.py
  BeyondCorpAppConnections/phpunit.xml.dist
  BeyondCorpAppConnections/src/V1/AppConnection.php
  BeyondCorpAppConnections/src/V1/AppConnection/ApplicationEndpoint.php
  BeyondCorpAppConnections/src/V1/AppConnection/Gateway.php
  BeyondCorpAppConnections/src/V1/AppConnection/Gateway/Type.php
  BeyondCorpAppConnections/src/V1/AppConnection/State.php
  BeyondCorpAppConnections/src/V1/AppConnection/Type.php
  BeyondCorpAppConnections/src/V1/AppConnectionOperationMetadata.php
  BeyondCorpAppConnections/src/V1/AppConnectionsServiceClient.php
  BeyondCorpAppConnections/src/V1/AppConnectionsServiceGrpcClient.php
  BeyondCorpAppConnections/src/V1/CreateAppConnectionRequest.php
  BeyondCorpAppConnections/src/V1/DeleteAppConnectionRequest.php
  BeyondCorpAppConnections/src/V1/Gapic/AppConnectionsServiceGapicClient.php
  BeyondCorpAppConnections/src/V1/GetAppConnectionRequest.php
  BeyondCorpAppConnections/src/V1/ListAppConnectionsRequest.php
  BeyondCorpAppConnections/src/V1/ListAppConnectionsResponse.php
  BeyondCorpAppConnections/src/V1/ResolveAppConnectionsRequest.php
  BeyondCorpAppConnections/src/V1/ResolveAppConnectionsResponse.php
  BeyondCorpAppConnections/src/V1/ResolveAppConnectionsResponse/AppConnectionDetails.php
  BeyondCorpAppConnections/src/V1/UpdateAppConnectionRequest.php
  BeyondCorpAppConnections/src/V1/gapic_metadata.json
  BeyondCorpAppConnections/src/V1/resources/app_connections_service_client_config.json
  BeyondCorpAppConnections/src/V1/resources/app_connections_service_descriptor_config.php
  BeyondCorpAppConnections/src/V1/resources/app_connections_service_rest_client_config.php
  BeyondCorpAppConnections/tests/Unit/V1/AppConnectionsServiceClientTest.php
  docs/contents/cloud-beyondcorp-appconnections.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: introduce beyondcorp clientgateways (#5501)
  BeyondCorpClientGateways/.OwlBot.yaml
  BeyondCorpClientGateways/.gitattributes
  BeyondCorpClientGateways/.github/pull_request_template.md
  BeyondCorpClientGateways/.repo-metadata.json
  BeyondCorpClientGateways/CODE_OF_CONDUCT.md
  BeyondCorpClientGateways/CONTRIBUTING.md
  BeyondCorpClientGateways/LICENSE
  BeyondCorpClientGateways/README.md
  BeyondCorpClientGateways/SECURITY.md
  BeyondCorpClientGateways/composer.json
  BeyondCorpClientGateways/metadata/V1/ClientGatewaysService.php
  BeyondCorpClientGateways/owlbot.py
  BeyondCorpClientGateways/phpunit.xml.dist
  BeyondCorpClientGateways/src/V1/ClientGateway.php
  BeyondCorpClientGateways/src/V1/ClientGateway/State.php
  BeyondCorpClientGateways/src/V1/ClientGatewayOperationMetadata.php
  BeyondCorpClientGateways/src/V1/ClientGatewaysServiceClient.php
  BeyondCorpClientGateways/src/V1/ClientGatewaysServiceGrpcClient.php
  BeyondCorpClientGateways/src/V1/CreateClientGatewayRequest.php
  BeyondCorpClientGateways/src/V1/DeleteClientGatewayRequest.php
  BeyondCorpClientGateways/src/V1/Gapic/ClientGatewaysServiceGapicClient.php
  BeyondCorpClientGateways/src/V1/GetClientGatewayRequest.php
  BeyondCorpClientGateways/src/V1/ListClientGatewaysRequest.php
  BeyondCorpClientGateways/src/V1/ListClientGatewaysResponse.php
  BeyondCorpClientGateways/src/V1/gapic_metadata.json
  BeyondCorpClientGateways/src/V1/resources/client_gateways_service_client_config.json
  BeyondCorpClientGateways/src/V1/resources/client_gateways_service_descriptor_config.php
  BeyondCorpClientGateways/src/V1/resources/client_gateways_service_rest_client_config.php
  BeyondCorpClientGateways/tests/Unit/V1/ClientGatewaysServiceClientTest.php
  docs/contents/cloud-beyondcorp-clientgateways.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: introduce client connector services (#5500)
  BeyondCorpClientConnectorServices/.OwlBot.yaml
  BeyondCorpClientConnectorServices/.gitattributes
  BeyondCorpClientConnectorServices/.github/pull_request_template.md
  BeyondCorpClientConnectorServices/.repo-metadata.json
  BeyondCorpClientConnectorServices/CODE_OF_CONDUCT.md
  BeyondCorpClientConnectorServices/CONTRIBUTING.md
  BeyondCorpClientConnectorServices/LICENSE
  BeyondCorpClientConnectorServices/README.md
  BeyondCorpClientConnectorServices/SECURITY.md
  BeyondCorpClientConnectorServices/composer.json
  BeyondCorpClientConnectorServices/metadata/V1/ClientConnectorServicesService.php
  BeyondCorpClientConnectorServices/owlbot.py
  BeyondCorpClientConnectorServices/phpunit.xml.dist
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/Egress.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/Egress/PeeredVpc.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/Ingress.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/Ingress/Config.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/Ingress/Config/DestinationRoute.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/Ingress/Config/TransportProtocol.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorService/State.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorServiceOperationMetadata.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorServicesServiceClient.php
  BeyondCorpClientConnectorServices/src/V1/ClientConnectorServicesServiceGrpcClient.php
  BeyondCorpClientConnectorServices/src/V1/CreateClientConnectorServiceRequest.php
  BeyondCorpClientConnectorServices/src/V1/DeleteClientConnectorServiceRequest.php
  BeyondCorpClientConnectorServices/src/V1/Gapic/ClientConnectorServicesServiceGapicClient.php
  BeyondCorpClientConnectorServices/src/V1/GetClientConnectorServiceRequest.php
  BeyondCorpClientConnectorServices/src/V1/ListClientConnectorServicesRequest.php
  BeyondCorpClientConnectorServices/src/V1/ListClientConnectorServicesResponse.php
  BeyondCorpClientConnectorServices/src/V1/UpdateClientConnectorServiceRequest.php
  BeyondCorpClientConnectorServices/src/V1/gapic_metadata.json
  BeyondCorpClientConnectorServices/src/V1/resources/client_connector_services_service_client_config.json
  BeyondCorpClientConnectorServices/src/V1/resources/client_connector_services_service_descriptor_config.php
  BeyondCorpClientConnectorServices/src/V1/resources/client_connector_services_service_rest_client_config.php
  BeyondCorpClientConnectorServices/tests/Unit/V1/ClientConnectorServicesServiceClientTest.php
  docs/contents/cloud-beyondcorp-clientconnectorservices.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: remove pruned versions of umbrella component (#5521)
  docs/manifest.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update gcr.io/cloud-spanner-emulator/emulator docker tag to v1 (#5512)
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: null trim parameter in PathTrait (#5492)
  Firestore/src/PathTrait.php
  Firestore/tests/Unit/PathTraitTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

feat(Spanner): Add support for PG JSONB (#5482)
  Spanner/src/Database.php
  Spanner/src/PgJsonb.php
  Spanner/src/SpannerClient.php
  Spanner/src/ValueMapper.php
  Spanner/tests/Snippet/PgJsonbTest.php
  Spanner/tests/Snippet/SpannerClientTest.php
  Spanner/tests/System/PgQueryTest.php
  Spanner/tests/System/PgReadTest.php
  Spanner/tests/System/PgWriteTest.php
  Spanner/tests/Unit/ArrayTypeTest.php
  Spanner/tests/Unit/PgJsonbTest.php
  Spanner/tests/Unit/SpannerClientTest.php
  Spanner/tests/Unit/ValueMapperTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd
