Repository googleapis/google-cloud-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-bigtable, @googleapis/firestore-dpe, @googleapis/cloud-storage-dpe, @googleapis/api-bigquery, @googleapis/api-pubsub

fix: skip avro deprecation notice
  PubSub/composer.json
  composer.json
Owners: @googleapis/api-pubsub, @googleapis/yoshi-php, @googleapis/cicd

fix(Storage): fix System\StreamWrapper\ImageTest
  Storage/tests/System/StreamWrapper/ImageTest.php
  Storage/tests/System/data/fujifilm-dx10.jpg
  Storage/tests/System/data/screenshot.png
Owners: @googleapis/cloud-storage-dpe, @googleapis/yoshi-php, @googleapis/cicd

utilize example field in docfx yaml
  dev/src/DocFx/Page/Page.php
  dev/tests/fixtures/docfx/V1.ImageAnnotatorClient.yml
  dev/tests/fixtures/docfx/V1.ProductSearchClient.yml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: pin to grpc-1.49.2
  .github/workflows/tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

try 1.49.0
  .github/workflows/tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

drop sample code notation
  dev/src/DocFx/Page/Page.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

update fixtures
  dev/tests/fixtures/docfx/V1.ImageAnnotatorClient.yml
  dev/tests/fixtures/docfx/V1.ProductSearchClient.yml
Owners: @googleapis/yoshi-php, @googleapis/cicd

update variable names
  dev/src/DocFx/Page/Page.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: pin to grpc-1.49.0 (#5696)
  .github/workflows/tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

add note to command option
  dev/src/DocFx/Command/DocFx.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: introduce bigquery data policies v1 (#5693)
  BigQueryDataPolicies/.OwlBot.yaml
  BigQueryDataPolicies/metadata/V1/Datapolicy.php
  BigQueryDataPolicies/samples/V1/DataPolicyServiceClient/create_data_policy.php
  BigQueryDataPolicies/samples/V1/DataPolicyServiceClient/delete_data_policy.php
  BigQueryDataPolicies/samples/V1/DataPolicyServiceClient/get_data_policy.php
  BigQueryDataPolicies/samples/V1/DataPolicyServiceClient/get_iam_policy.php
  BigQueryDataPolicies/samples/V1/DataPolicyServiceClient/list_data_policies.php
  BigQueryDataPolicies/samples/V1/DataPolicyServiceClient/rename_data_policy.php
  BigQueryDataPolicies/samples/V1/DataPolicyServiceClient/set_iam_policy.php
  BigQueryDataPolicies/samples/V1/DataPolicyServiceClient/test_iam_permissions.php
  BigQueryDataPolicies/samples/V1/DataPolicyServiceClient/update_data_policy.php
  BigQueryDataPolicies/src/V1/CreateDataPolicyRequest.php
  BigQueryDataPolicies/src/V1/DataMaskingPolicy.php
  BigQueryDataPolicies/src/V1/DataMaskingPolicy/PredefinedExpression.php
  BigQueryDataPolicies/src/V1/DataPolicy.php
  BigQueryDataPolicies/src/V1/DataPolicy/DataPolicyType.php
  BigQueryDataPolicies/src/V1/DataPolicyServiceClient.php
  BigQueryDataPolicies/src/V1/DeleteDataPolicyRequest.php
  BigQueryDataPolicies/src/V1/Gapic/DataPolicyServiceGapicClient.php
  BigQueryDataPolicies/src/V1/GetDataPolicyRequest.php
  BigQueryDataPolicies/src/V1/ListDataPoliciesRequest.php
  BigQueryDataPolicies/src/V1/ListDataPoliciesResponse.php
  BigQueryDataPolicies/src/V1/RenameDataPolicyRequest.php
  BigQueryDataPolicies/src/V1/UpdateDataPolicyRequest.php
  BigQueryDataPolicies/src/V1/gapic_metadata.json
  BigQueryDataPolicies/src/V1/resources/data_policy_service_client_config.json
  BigQueryDataPolicies/src/V1/resources/data_policy_service_descriptor_config.php
  BigQueryDataPolicies/src/V1/resources/data_policy_service_rest_client_config.php
  BigQueryDataPolicies/tests/Unit/V1/DataPolicyServiceClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

Deploying to gh-pages from @ 68188ce1be3108c77eb1aec509cad3e8ac84d4a5 🚀
  json/cloud-bigquery-datapolicies/main/types.json
  json/cloud-bigquery-datapolicies/main/v1/createdatapolicyrequest.json
  json/cloud-bigquery-datapolicies/main/v1/datamaskingpolicy.json
  json/cloud-bigquery-datapolicies/main/v1/datamaskingpolicy/predefinedexpression.json
  json/cloud-bigquery-datapolicies/main/v1/datapolicy.json
  json/cloud-bigquery-datapolicies/main/v1/datapolicy/datapolicytype.json
  json/cloud-bigquery-datapolicies/main/v1/datapolicyserviceclient.json
  json/cloud-bigquery-datapolicies/main/v1/deletedatapolicyrequest.json
  json/cloud-bigquery-datapolicies/main/v1/gapic/datapolicyservicegapicclient.json
  json/cloud-bigquery-datapolicies/main/v1/getdatapolicyrequest.json
  json/cloud-bigquery-datapolicies/main/v1/listdatapoliciesrequest.json
  json/cloud-bigquery-datapolicies/main/v1/listdatapoliciesresponse.json
  json/cloud-bigquery-datapolicies/main/v1/renamedatapolicyrequest.json
  json/cloud-bigquery-datapolicies/main/v1/updatedatapolicyrequest.json
  json/google-cloud/main/bigquerydatapolicies/v1/createdatapolicyrequest.json
  json/google-cloud/main/bigquerydatapolicies/v1/datamaskingpolicy.json
  json/google-cloud/main/bigquerydatapolicies/v1/datamaskingpolicy/predefinedexpression.json
  json/google-cloud/main/bigquerydatapolicies/v1/datapolicy.json
  json/google-cloud/main/bigquerydatapolicies/v1/datapolicy/datapolicytype.json
  json/google-cloud/main/bigquerydatapolicies/v1/datapolicyserviceclient.json
  json/google-cloud/main/bigquerydatapolicies/v1/deletedatapolicyrequest.json
  json/google-cloud/main/bigquerydatapolicies/v1/gapic/datapolicyservicegapicclient.json
  json/google-cloud/main/bigquerydatapolicies/v1/getdatapolicyrequest.json
  json/google-cloud/main/bigquerydatapolicies/v1/listdatapoliciesrequest.json
  json/google-cloud/main/bigquerydatapolicies/v1/listdatapoliciesresponse.json
  json/google-cloud/main/bigquerydatapolicies/v1/renamedatapolicyrequest.json
  json/google-cloud/main/bigquerydatapolicies/v1/updatedatapolicyrequest.json
  json/google-cloud/main/types.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: add tests for php 8.2
  .github/workflows/tests.yaml
  dev/src/ReleaseBuilder/ReleaseBuilder.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update dependency certifi to v2022.12.7 [security]
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: use new samples in cloud RAD (#5694)
  .github/snippet-bot.yml
  .kokoro/docs/publish.sh
  dev/src/DocFx/Command/DocFx.php
  dev/src/DocFx/Node/DocblockTrait.php
  dev/src/DocFx/Page/Page.php
  dev/src/DocFx/Page/PageTree.php
  dev/tests/Unit/DocFx/CommandTest.php
  dev/tests/Unit/DocFx/PageTest.php
  dev/tests/fixtures/component/Vision/.repo-metadata.json
  dev/tests/fixtures/component/Vision/README.md
  dev/tests/fixtures/component/Vision/composer.json
  dev/tests/fixtures/component/Vision/samples/V1/ImageAnnotatorClient/async_batch_annotate_files.php
  dev/tests/fixtures/component/Vision/samples/V1/ImageAnnotatorClient/async_batch_annotate_images.php
  dev/tests/fixtures/component/Vision/samples/V1/ImageAnnotatorClient/batch_annotate_files.php
  dev/tests/fixtures/component/Vision/samples/V1/ImageAnnotatorClient/batch_annotate_images.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/add_product_to_product_set.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/create_product.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/create_product_set.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/create_reference_image.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/delete_product.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/delete_product_set.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/delete_reference_image.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/get_product.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/get_product_set.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/get_reference_image.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/import_product_sets.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/list_product_sets.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/list_products.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/list_products_in_product_set.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/list_reference_images.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/purge_products.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/remove_product_from_product_set.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/update_product.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/update_product_set.php
  dev/tests/fixtures/docfx/V1.ImageAnnotatorClient.yml
  dev/tests/fixtures/docfx/V1.ProductSearchClient.yml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: update README fixture link
  dev/tests/fixtures/component/Vision/README.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: prune out API documentation link from docfx output
  dev/src/DocFx/Page/OverviewPage.php
  dev/tests/fixtures/component/Vision/README.md
  dev/tests/fixtures/docfx/index.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: contained remainingLimit logic in runQueryFb
  Datastore/src/EntityPageIterator.php
  Datastore/src/Operation.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

fix: ci build jobs cancel out
  .github/workflows/datastore-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore: prune out API documentation link from docfx output (#5702)
  dev/src/DocFx/Page/OverviewPage.php
  dev/tests/fixtures/component/Vision/README.md
  dev/tests/fixtures/docfx/index.md
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: removed abandoned package from composer (#5685)
  BigQuery/tests/System/LoadDataAndQueryTest.php
  PubSub/composer.json
  PubSub/tests/System/SchemaTest.php
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd, @googleapis/api-pubsub

pin to grpc 1.49.0 for emulators
  .github/workflows/datastore-emulator-system-tests.yaml
  .github/workflows/firestore-emulator-system-tests.yaml
  .github/workflows/pubsub-emulator-system-tests.yaml
  .github/workflows/spanner-emulator-system-tests.yaml
Owners: @googleapis/yoshi-php, @googleapis/cicd

fix: Allow `ServiceException` creation with `null` as the message
  Core/src/Exception/ServiceException.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: Enable the usage of `"psr/log": "^2.0|^3.0"`
  Core/composer.json
  Core/src/Testing/Reflection/ReflectionHandlerFactory.php
  Core/src/Testing/Reflection/ReflectionHandlerV5.php
  Logging/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: Enable the installation of Monolog V3
  Core/composer.json
  Logging/composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: Introduce V3 versions of AppEngine Formatters and Handlers
  Core/src/Logger/AppEngineFlexFormatter.php
  Core/src/Logger/AppEngineFlexFormatterV3.php
  Core/src/Logger/AppEngineFlexHandler.php
  Core/src/Logger/AppEngineFlexHandlerFactory.php
  Core/src/Logger/AppEngineFlexHandlerV3.php
  Core/src/Logger/FormatterTrait.php
  Core/tests/Unit/Logger/AppEngineFlexHandlerFactoryTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat: Introduce LogMessageProcessors and their factory
  Logging/src/LogMessageProcessor/MonologMessageProcessor.php
  Logging/src/LogMessageProcessor/MonologV3MessageProcessor.php
  Logging/src/LogMessageProcessorFactory.php
  Logging/src/LogMessageProcessorInterface.php
  Logging/src/PsrLogger.php
  Logging/tests/Unit/PsrLoggerTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Spanner): Implement FGAC
  Spanner/src/Batch/BatchClient.php
  Spanner/src/Database.php
  Spanner/src/Instance.php
  Spanner/src/Operation.php
  Spanner/src/Session/CacheSessionPool.php
  Spanner/src/SpannerClient.php
  Spanner/tests/System/BatchTest.php
  Spanner/tests/System/OperationsTest.php
  Spanner/tests/System/SpannerTestCase.php
  Spanner/tests/System/TransactionTest.php
  Spanner/tests/Unit/Batch/BatchClientTest.php
  Spanner/tests/Unit/DatabaseTest.php
  Spanner/tests/Unit/InstanceTest.php
  Spanner/tests/Unit/Session/CacheSessionPoolTest.php
  Spanner/tests/Unit/SpannerClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

resolve pr comments
  Spanner/src/Batch/BatchClient.php
  Spanner/src/Database.php
  Spanner/src/Instance.php
  Spanner/src/Operation.php
  Spanner/src/Session/CacheSessionPool.php
  Spanner/src/SpannerClient.php
  Spanner/tests/Unit/DatabaseTest.php
  Spanner/tests/Unit/SpannerClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

add grpc null array filter
  Spanner/src/Connection/Grpc.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

add snippet tests
  Spanner/src/Session/CacheSessionPool.php
  Spanner/tests/Snippet/InstanceTest.php
  Spanner/tests/Snippet/Session/CacheSessionPoolTest.php
  Spanner/tests/Snippet/SpannerClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

skip the FGAC tests in the Spanner Emulator
  Spanner/src/Batch/BatchClient.php
  Spanner/src/Database.php
  Spanner/tests/System/BatchTest.php
  Spanner/tests/System/OperationsTest.php
  Spanner/tests/System/SpannerTestCase.php
  Spanner/tests/System/TransactionTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

resolve PR comments
  Spanner/src/Instance.php
  Spanner/src/Session/CacheSessionPool.php
  Spanner/src/SpannerClient.php
  Spanner/tests/System/BatchTest.php
  Spanner/tests/System/OperationsTest.php
  Spanner/tests/System/TransactionTest.php
  Spanner/tests/Unit/InstanceTest.php
  Spanner/tests/Unit/SpannerClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

resolve PR comments
  Spanner/tests/System/SpannerTestCase.php
  Spanner/tests/System/TransactionTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

temp commit just to resolve pr issues
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

solve lint issues
  Spanner/src/Connection/Grpc.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

remove composer json changes
  composer.json
Owners: @googleapis/yoshi-php, @googleapis/cicd

feat(Spanner): FGAC support (#5642)
  Spanner/src/Batch/BatchClient.php
  Spanner/src/Connection/Grpc.php
  Spanner/src/Database.php
  Spanner/src/Instance.php
  Spanner/src/Operation.php
  Spanner/src/Session/CacheSessionPool.php
  Spanner/src/SpannerClient.php
  Spanner/tests/Snippet/InstanceTest.php
  Spanner/tests/Snippet/Session/CacheSessionPoolTest.php
  Spanner/tests/Snippet/SpannerClientTest.php
  Spanner/tests/System/BatchTest.php
  Spanner/tests/System/OperationsTest.php
  Spanner/tests/System/SpannerTestCase.php
  Spanner/tests/System/TransactionTest.php
  Spanner/tests/Unit/Batch/BatchClientTest.php
  Spanner/tests/Unit/DatabaseTest.php
  Spanner/tests/Unit/InstanceTest.php
  Spanner/tests/Unit/Session/CacheSessionPoolTest.php
  Spanner/tests/Unit/SpannerClientTest.php
Owners: @googleapis/yoshi-php, @googleapis/cicd

chore(deps): update python non-major dependencies
  .kokoro/docs/docker/requirements.txt
Owners: @googleapis/yoshi-php, @googleapis/cicd

revert: undo EntityPageIterator
  Datastore/src/EntityPageIterator.php
  Datastore/tests/Unit/EntityPageIteratorTest.php
Owners: @googleapis/firestore-dpe, @googleapis/yoshi-php, @googleapis/cicd

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-php team is the default owner for anything not
# explicitly taken by someone else.
*                               @googleapis/yoshi-php @googleapis/cicd

/Bigtable       @googleapis/api-bigtable @googleapis/yoshi-php @googleapis/cicd
/Datastore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Firestore/     @googleapis/firestore-dpe @googleapis/yoshi-php @googleapis/cicd
/Storage/       @googleapis/cloud-storage-dpe @googleapis/yoshi-php @googleapis/cicd
/BigQuery*/.    @googleapis/api-bigquery @googleapis/yoshi-php @googleapis/cicd
/PubSub/        @googleapis/api-pubsub @googleapis/yoshi-php @googleapis/cicd
