Repository googleapis/google-cloud-php, pull requests merged in 2018-07, with the labels that each got.

#1151 Temporarily remove tts client
  README.md
  TextToSpeech/.gitattributes
  TextToSpeech/.github/pull_request_template.md
  TextToSpeech/CONTRIBUTING.md
  TextToSpeech/LICENSE
  TextToSpeech/README.md
  TextToSpeech/composer.json
  TextToSpeech/metadata/V1/CloudTts.php
  TextToSpeech/src/V1/AudioConfig.php
  TextToSpeech/src/V1/AudioEncoding.php
  TextToSpeech/src/V1/Gapic/TextToSpeechGapicClient.php
  TextToSpeech/src/V1/ListVoicesRequest.php
  TextToSpeech/src/V1/ListVoicesResponse.php
  TextToSpeech/src/V1/README.md
  TextToSpeech/src/V1/SsmlVoiceGender.php
  TextToSpeech/src/V1/SynthesisInput.php
  TextToSpeech/src/V1/SynthesizeSpeechRequest.php
  TextToSpeech/src/V1/SynthesizeSpeechResponse.php
  TextToSpeech/src/V1/TextToSpeechClient.php
  TextToSpeech/src/V1/TextToSpeechGrpcClient.php
  TextToSpeech/src/V1/Voice.php
  TextToSpeech/src/V1/VoiceSelectionParams.php
  TextToSpeech/src/V1/resources/text_to_speech_client_config.json
  TextToSpeech/src/V1/resources/text_to_speech_descriptor_config.php
  TextToSpeech/src/V1/resources/text_to_speech_rest_client_config.php
  TextToSpeech/synth.py
  TextToSpeech/tests/System/V1/TextToSpeechSmokeTest.php
  TextToSpeech/tests/System/bootstrap.php
  TextToSpeech/tests/Unit/V1/TextToSpeechClientTest.php
  composer.json
  docs/contents/cloud-text-to-speech.json
  docs/contents/google-cloud.json
  docs/manifest.json
Labels: cla: yes

#1153 Prepare v0.70.0
  BigQuery/VERSION
  BigQuery/src/BigQueryClient.php
  BigQueryDataTransfer/VERSION
  Bigtable/VERSION
  Container/VERSION
  Core/VERSION
  Dataproc/VERSION
  Debugger/VERSION
  Debugger/src/DebuggerClient.php
  Dialogflow/VERSION
  Dlp/VERSION
  ErrorReporting/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Iot/VERSION
  Kms/VERSION
  Kms/phpunit-snippets.xml.dist
  Kms/phpunit-system.xml.dist
  Kms/phpunit.xml.dist
  Language/VERSION
  Language/src/LanguageClient.php
  Logging/VERSION
  Logging/src/LoggingClient.php
  Monitoring/VERSION
  OsLogin/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Redis/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Speech/VERSION
  Speech/src/SpeechClient.php
  Tasks/VERSION
  Tasks/phpunit-snippets.xml.dist
  Tasks/phpunit-system.xml.dist
  Tasks/phpunit.xml.dist
  Trace/VERSION
  Trace/src/TraceClient.php
  Translate/VERSION
  Translate/src/TranslateClient.php
  VideoIntelligence/VERSION
  Vision/VERSION
  Vision/src/VisionClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1148 BIgtable longrunnig connection
  Bigtable/src/Connection/ConnectionInterface.php
  Bigtable/src/Connection/Grpc.php
  Bigtable/src/Connection/LongRunningConnection.php
  Bigtable/tests/Unit/Connection/LongRunningConnectionTest.php
Labels: api: bigtable, cla: yes

#1154 Exclude the vendor dir and the composer.lock file when copying subdir
  dev/src/ComponentIntegration/Command/ComponentIntegration.php
Labels: cla: yes, type: cleanup

#1157 Fix wrong links in the README
  README.md
Labels: cla: yes

#1156 Revert "Temporarily remove tts client" to add it back
  README.md
  TextToSpeech/.gitattributes
  TextToSpeech/.github/pull_request_template.md
  TextToSpeech/CONTRIBUTING.md
  TextToSpeech/LICENSE
  TextToSpeech/README.md
  TextToSpeech/composer.json
  TextToSpeech/metadata/V1/CloudTts.php
  TextToSpeech/phpunit-snippets.xml.dist
  TextToSpeech/phpunit-system.xml.dist
  TextToSpeech/phpunit.xml.dist
  TextToSpeech/src/V1/AudioConfig.php
  TextToSpeech/src/V1/AudioEncoding.php
  TextToSpeech/src/V1/Gapic/TextToSpeechGapicClient.php
  TextToSpeech/src/V1/ListVoicesRequest.php
  TextToSpeech/src/V1/ListVoicesResponse.php
  TextToSpeech/src/V1/README.md
  TextToSpeech/src/V1/SsmlVoiceGender.php
  TextToSpeech/src/V1/SynthesisInput.php
  TextToSpeech/src/V1/SynthesizeSpeechRequest.php
  TextToSpeech/src/V1/SynthesizeSpeechResponse.php
  TextToSpeech/src/V1/TextToSpeechClient.php
  TextToSpeech/src/V1/TextToSpeechGrpcClient.php
  TextToSpeech/src/V1/Voice.php
  TextToSpeech/src/V1/VoiceSelectionParams.php
  TextToSpeech/src/V1/resources/text_to_speech_client_config.json
  TextToSpeech/src/V1/resources/text_to_speech_descriptor_config.php
  TextToSpeech/src/V1/resources/text_to_speech_rest_client_config.php
  TextToSpeech/synth.py
  TextToSpeech/tests/System/V1/TextToSpeechSmokeTest.php
  TextToSpeech/tests/System/bootstrap.php
  TextToSpeech/tests/Unit/V1/TextToSpeechClientTest.php
  composer.json
  docs/contents/cloud-text-to-speech.json
  docs/contents/google-cloud.json
  docs/manifest.json
Labels: api: text to speech, cla: yes

#1159 Add missing links and trailing slashes to README files
  Bigtable/README.md
  Dataproc/README.md
  Dlp/README.md
  Kms/README.md
  Redis/README.md
  TextToSpeech/README.md
  VideoIntelligence/README.md
Labels: cla: yes

#1166 Add isRacy() to SafeSearch
  Vision/src/Annotation/SafeSearch.php
  Vision/tests/Snippet/Annotation/SafeSearchTest.php
  Vision/tests/System/AnnotationsTest.php
  Vision/tests/Unit/Annotation/SafeSearchTest.php
Labels: api: vision, cla: yes

#1168 Exclude component vendor folder from snippet coverage
  Core/src/Testing/FileListFilterIterator.php
  Core/src/Testing/RegexFileFilter.php
  Core/src/Testing/TestHelpers.php
  dev/src/DocGenerator/Command/Docs.php
Labels: cla: yes

#1164 Allow context to handle Throwable interface
  Logging/src/PsrLogger.php
  Logging/tests/Unit/PsrLoggerTest.php
Labels: api: logging, cla: yes

#1167 Add getServiceAccount to the BigQueryClient
  BigQuery/src/BigQueryClient.php
  BigQuery/src/Connection/ConnectionInterface.php
  BigQuery/src/Connection/Rest.php
  BigQuery/tests/Snippet/BigQueryClientTest.php
  BigQuery/tests/Unit/BigQueryClientTest.php
  BigQuery/tests/Unit/Connection/RestTest.php
Labels: api: bigquery, cla: yes

#1169 Prepare v0.71.0
  BigQuery/VERSION
  BigQuery/src/BigQueryClient.php
  Bigtable/VERSION
  Core/VERSION
  Dataproc/VERSION
  Dlp/VERSION
  Kms/VERSION
  Logging/VERSION
  Logging/src/LoggingClient.php
  Redis/VERSION
  TextToSpeech/VERSION
  VideoIntelligence/VERSION
  Vision/VERSION
  Vision/src/VisionClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1165 [Kms] Regenerate with the new gapic config
  Kms/README.md
  Kms/src/V1/CreateCryptoKeyRequest.php
  Kms/src/V1/CreateCryptoKeyVersionRequest.php
  Kms/src/V1/CreateKeyRingRequest.php
  Kms/src/V1/CryptoKey.php
  Kms/src/V1/CryptoKey/CryptoKeyPurpose.php
  Kms/src/V1/CryptoKeyVersion.php
  Kms/src/V1/CryptoKeyVersion/CryptoKeyVersionState.php
  Kms/src/V1/CryptoKeyVersion_CryptoKeyVersionState.php
  Kms/src/V1/CryptoKey_CryptoKeyPurpose.php
  Kms/src/V1/DecryptRequest.php
  Kms/src/V1/DecryptResponse.php
  Kms/src/V1/DestroyCryptoKeyVersionRequest.php
  Kms/src/V1/EncryptRequest.php
  Kms/src/V1/EncryptResponse.php
  Kms/src/V1/Gapic/KeyManagementServiceGapicClient.php
  Kms/src/V1/GetCryptoKeyRequest.php
  Kms/src/V1/GetCryptoKeyVersionRequest.php
  Kms/src/V1/GetKeyRingRequest.php
  Kms/src/V1/KeyRing.php
  Kms/src/V1/ListCryptoKeyVersionsRequest.php
  Kms/src/V1/ListCryptoKeyVersionsResponse.php
  Kms/src/V1/ListCryptoKeysRequest.php
  Kms/src/V1/ListCryptoKeysResponse.php
  Kms/src/V1/ListKeyRingsRequest.php
  Kms/src/V1/ListKeyRingsResponse.php
  Kms/src/V1/README.md
  Kms/src/V1/RestoreCryptoKeyVersionRequest.php
  Kms/src/V1/UpdateCryptoKeyPrimaryVersionRequest.php
  Kms/src/V1/UpdateCryptoKeyRequest.php
  Kms/src/V1/UpdateCryptoKeyVersionRequest.php
  Kms/synth.py
  README.md
Labels: api: kms, cla: yes

#1161 [Breaking Change] Fix firestore queries
  Firestore/src/Query.php
  Firestore/tests/Unit/QueryTest.php
Labels: api: firestore, cla: yes

#1170 Bump gax to 0.35
  BigQueryDataTransfer/composer.json
  Bigtable/composer.json
  Container/composer.json
  Core/composer.json
  Dataproc/composer.json
  Debugger/composer.json
  Dialogflow/composer.json
  Dlp/composer.json
  ErrorReporting/composer.json
  Firestore/composer.json
  Iot/composer.json
  Kms/composer.json
  Language/composer.json
  Logging/composer.json
  Monitoring/composer.json
  OsLogin/composer.json
  PubSub/composer.json
  Redis/composer.json
  Spanner/composer.json
  Speech/composer.json
  Tasks/composer.json
  TextToSpeech/composer.json
  Trace/composer.json
  VideoIntelligence/composer.json
  Vision/composer.json
  composer.json
  dev/sh/bump-gax.sh
Labels: cla: yes

#1171 Update CreateInstanceMetadata type
  Bigtable/src/Connection/Grpc.php
Labels: api: bigtable, cla: yes

#1158 Bigtable Create Instance Public API
  Bigtable/src/BigtableClient.php
  Bigtable/src/Instance.php
  Bigtable/tests/Snippet/BigtableClientTest.php
  Bigtable/tests/Snippet/InstanceTest.php
  Bigtable/tests/Unit/BigtableClientTest.php
  Bigtable/tests/Unit/InstanceTest.php
Labels: api: bigtable, cla: yes

#1160 Add an interactive release builder.
  dev/google-cloud
  dev/src/AddComponent/Command/AddComponent.php
  dev/src/AddComponent/Composer.php
  dev/src/AddComponent/Info.php
  dev/src/AddComponent/Manifest.php
  dev/src/AddComponent/Readmes.php
  dev/src/AddComponent/TableOfContents.php
  dev/src/ComponentVersionTrait.php
  dev/src/GetComponentsTrait.php
  dev/src/QuestionTrait.php
  dev/src/Release/Release.php
  dev/src/ReleaseBuilder/ReleaseBuilder.php
  dev/src/ReleaseBuilder/templates/release-notes.md.txt
Labels: cla: yes

#1175 Bigtable replace proto constant with class constant
  Bigtable/src/BigtableClient.php
  Bigtable/src/Instance.php
  Bigtable/tests/Unit/InstanceTest.php
Labels: api: bigtable, cla: yes

#1173 Add getServiceAccount method to StorageClient
  Storage/src/Connection/ConnectionInterface.php
  Storage/src/Connection/Rest.php
  Storage/src/StorageClient.php
  Storage/tests/Snippet/StorageClientTest.php
  Storage/tests/System/KmsTest.php
  Storage/tests/Unit/Connection/RestTest.php
  Storage/tests/Unit/StorageClientTest.php
Labels: api: storage, cla: yes

#1172 Add support for Numeric type
  BigQuery/src/BigQueryClient.php
  BigQuery/src/Numeric.php
  BigQuery/src/ValueMapper.php
  BigQuery/tests/Snippet/BigQueryClientTest.php
  BigQuery/tests/Snippet/NumericTest.php
  BigQuery/tests/System/LoadDataAndQueryTest.php
  BigQuery/tests/System/data/table-schema.json
  BigQuery/tests/Unit/BigQueryClientTest.php
  BigQuery/tests/Unit/NumericTest.php
  BigQuery/tests/Unit/ValueMapperTest.php
Labels: api: bigquery, cla: yes

#1162 [Breaking Change] Add support for Document Snapshots in Firestore Query Cursors
  Firestore/src/DocumentSnapshot.php
  Firestore/src/FieldValue.php
  Firestore/src/Query.php
  Firestore/src/ValueMapper.php
  Firestore/tests/Snippet/QueryTest.php
  Firestore/tests/System/QueryTest.php
  Firestore/tests/Unit/QueryTest.php
Labels: api: firestore, cla: yes

#1180 Fix Storage Requesterpays system tests
  Storage/tests/System/RequesterPaysTest.php
Labels: api: storage, cla: yes

#1179 Bigtable delete instance
  Bigtable/src/Connection/Grpc.php
  Bigtable/src/Instance.php
  Bigtable/tests/Snippet/InstanceTest.php
  Bigtable/tests/System/BigtableSystemTestCase.php
  Bigtable/tests/System/InstanceTest.php
  Bigtable/tests/Unit/Connection/GrpcTest.php
  Bigtable/tests/Unit/InstanceTest.php
Labels: api: bigtable, cla: yes

#1176 Bandaid for protobuf 4761
  .travis.yml
  BigQueryDataTransfer/composer.json
  Bigtable/composer.json
  Container/composer.json
  Core/composer.json
  Core/unit-bootstrap.php
  Dataproc/composer.json
  Debugger/composer.json
  Dialogflow/composer.json
  Dlp/composer.json
  ErrorReporting/composer.json
  Firestore/composer.json
  Iot/composer.json
  Kms/composer.json
  Language/composer.json
  Logging/composer.json
  Monitoring/composer.json
  OsLogin/composer.json
  PubSub/composer.json
  Redis/composer.json
  Spanner/composer.json
  Speech/composer.json
  Tasks/composer.json
  TextToSpeech/composer.json
  Trace/composer.json
  VideoIntelligence/composer.json
  Vision/composer.json
  Vision/tests/Unit/V1/ImageAnnotatorClientExtensionTest.php
  composer.json
Labels: cla: yes, testing

#1181 Prepare v0.72.0
  BigQuery/VERSION
  BigQuery/src/BigQueryClient.php
  BigQueryDataTransfer/VERSION
  Bigtable/VERSION
  Container/VERSION
  Core/VERSION
  Dataproc/VERSION
  Debugger/VERSION
  Debugger/src/DebuggerClient.php
  Dialogflow/VERSION
  Dlp/VERSION
  ErrorReporting/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Iot/VERSION
  Kms/VERSION
  Language/VERSION
  Language/src/LanguageClient.php
  Logging/VERSION
  Logging/src/LoggingClient.php
  Monitoring/VERSION
  OsLogin/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Redis/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Speech/VERSION
  Speech/src/SpeechClient.php
  Storage/VERSION
  Storage/src/StorageClient.php
  Tasks/VERSION
  TextToSpeech/VERSION
  Trace/VERSION
  Trace/src/TraceClient.php
  VideoIntelligence/VERSION
  Vision/VERSION
  Vision/src/VisionClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1183 Added a document for the time filter on BigQueryClient->jobs()
  BigQuery/src/BigQueryClient.php
  BigQuery/tests/System/ManageJobsTest.php
  BigQuery/tests/Unit/BigQueryClientTest.php
Labels: api: bigquery, cla: yes

#1189 Workaround for tests to pass with new warning being triggered in auth
  composer.json
Labels: cla: yes, testing

#1186 Bigtable create delete table
  Bigtable/src/BigtableClient.php
  Bigtable/src/Connection/Grpc.php
  Bigtable/src/Instance.php
  Bigtable/src/Table.php
  Bigtable/tests/Snippet/BigtableClientTest.php
  Bigtable/tests/Snippet/InstanceTest.php
  Bigtable/tests/Snippet/TableTest.php
  Bigtable/tests/System/TableTest.php
  Bigtable/tests/Unit/BigtableClientTest.php
  Bigtable/tests/Unit/Connection/GrpcTest.php
  Bigtable/tests/Unit/InstanceTest.php
  Bigtable/tests/Unit/TableTest.php
Labels: api: bigtable, cla: yes

#1194 [Bigtable] Housekeeping job to fix minor issues of styles and PHPDoc
  Bigtable/src/BigtableClient.php
  Bigtable/src/Connection/Grpc.php
  Bigtable/src/Instance.php
  Bigtable/src/Table.php
  Bigtable/tests/Unit/BigtableClientTest.php
  Bigtable/tests/Unit/Connection/GrpcTest.php
  Bigtable/tests/Unit/InstanceTest.php
  Bigtable/tests/Unit/TableTest.php
Labels: api: bigtable, cla: yes

#1111 Improve Signed URLs
  Core/src/Upload/ResumableUploader.php
  Core/src/Upload/SignedUrlUploader.php
  Storage/src/StorageObject.php
  Storage/tests/System/SignedUrlTest.php
  Storage/tests/Unit/StorageObjectTest.php
Labels: api: storage, cla: yes

#1195 Remove auth library restriction
  composer.json
Labels: auth, cla: yes

#1197 Implement Data/Remaining Table RPCs in connection layer
  Bigtable/src/Connection/ConnectionInterface.php
  Bigtable/src/Connection/Grpc.php
  Bigtable/tests/Unit/Connection/GrpcTest.php
Labels: api: bigtable, cla: yes
