Repository googleapis/google-cloud-php, pull requests merged in 2018-09, with the labels that each got.

#1234 Bigtable data read rows
  Bigtable/phpunit-conformance.xml.dist
  Bigtable/src/ChunkFormatter.php
  Bigtable/src/DataClient.php
  Bigtable/src/Exception/BigtableDataOperationException.php
  Bigtable/tests/Conformance/ReadRowsTest.php
  Bigtable/tests/Conformance/fixtures/read-rows-test.json
  Bigtable/tests/Snippet/ChunkFormatterTest.php
  Bigtable/tests/Snippet/DataClientTest.php
  Bigtable/tests/System/DataClientMutateRowsTest.php
  Bigtable/tests/System/DataClientReadRowsTest.php
  Bigtable/tests/System/DataClientTest.php
  Bigtable/tests/Unit/ChunkFormatterTest.php
  Bigtable/tests/Unit/DataClientTest.php
Labels: api: bigtable, cla: yes

#1270 Autosynth language
  Language/src/V1beta2/AnalyzeEntitiesRequest.php
  Language/src/V1beta2/AnalyzeEntitiesResponse.php
  Language/src/V1beta2/AnalyzeEntitySentimentRequest.php
  Language/src/V1beta2/AnalyzeEntitySentimentResponse.php
  Language/src/V1beta2/AnalyzeSentimentRequest.php
  Language/src/V1beta2/AnalyzeSentimentResponse.php
  Language/src/V1beta2/AnalyzeSyntaxRequest.php
  Language/src/V1beta2/AnalyzeSyntaxResponse.php
  Language/src/V1beta2/AnnotateTextRequest.php
  Language/src/V1beta2/AnnotateTextRequest/Features.php
  Language/src/V1beta2/AnnotateTextRequest_Features.php
  Language/src/V1beta2/AnnotateTextResponse.php
  Language/src/V1beta2/ClassificationCategory.php
  Language/src/V1beta2/ClassifyTextRequest.php
  Language/src/V1beta2/ClassifyTextResponse.php
  Language/src/V1beta2/DependencyEdge.php
  Language/src/V1beta2/DependencyEdge/Label.php
  Language/src/V1beta2/DependencyEdge_Label.php
  Language/src/V1beta2/Document.php
  Language/src/V1beta2/Document/Type.php
  Language/src/V1beta2/Document_Type.php
  Language/src/V1beta2/EncodingType.php
  Language/src/V1beta2/Entity.php
  Language/src/V1beta2/Entity/Type.php
  Language/src/V1beta2/EntityMention.php
  Language/src/V1beta2/EntityMention/Type.php
  Language/src/V1beta2/EntityMention_Type.php
  Language/src/V1beta2/Entity_Type.php
  Language/src/V1beta2/Gapic/LanguageServiceGapicClient.php
  Language/src/V1beta2/PartOfSpeech.php
  Language/src/V1beta2/PartOfSpeech/Aspect.php
  Language/src/V1beta2/PartOfSpeech/Form.php
  Language/src/V1beta2/PartOfSpeech/Gender.php
  Language/src/V1beta2/PartOfSpeech/Mood.php
  Language/src/V1beta2/PartOfSpeech/Number.php
  Language/src/V1beta2/PartOfSpeech/PBCase.php
  Language/src/V1beta2/PartOfSpeech/Person.php
  Language/src/V1beta2/PartOfSpeech/Proper.php
  Language/src/V1beta2/PartOfSpeech/Reciprocity.php
  Language/src/V1beta2/PartOfSpeech/Tag.php
  Language/src/V1beta2/PartOfSpeech/Tense.php
  Language/src/V1beta2/PartOfSpeech/Voice.php
  Language/src/V1beta2/PartOfSpeech_Aspect.php
  Language/src/V1beta2/PartOfSpeech_Case.php
  Language/src/V1beta2/PartOfSpeech_Form.php
  Language/src/V1beta2/PartOfSpeech_Gender.php
  Language/src/V1beta2/PartOfSpeech_Mood.php
  Language/src/V1beta2/PartOfSpeech_Number.php
  Language/src/V1beta2/PartOfSpeech_Person.php
  Language/src/V1beta2/PartOfSpeech_Proper.php
  Language/src/V1beta2/PartOfSpeech_Reciprocity.php
  Language/src/V1beta2/PartOfSpeech_Tag.php
  Language/src/V1beta2/PartOfSpeech_Tense.php
  Language/src/V1beta2/PartOfSpeech_Voice.php
  Language/src/V1beta2/Sentence.php
  Language/src/V1beta2/Sentiment.php
  Language/src/V1beta2/TextSpan.php
  Language/src/V1beta2/Token.php
  Language/synth.py
Labels: api: language, cla: yes

#1274 Prepare v0.76.0
  ErrorReporting/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Iot/VERSION
  Kms/VERSION
  Language/VERSION
  Language/src/LanguageClient.php
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1279 Prepare v0.76.1
  BigQuery/VERSION
  BigQuery/src/BigQueryClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1285 Update speech client
  Speech/metadata/V1/CloudSpeech.php
  Speech/src/V1/Gapic/SpeechGapicClient.php
  Speech/src/V1/LongRunningRecognizeResponse.php
  Speech/src/V1/RecognitionAudio.php
  Speech/src/V1/RecognitionConfig.php
  Speech/src/V1/RecognitionConfig/AudioEncoding.php
  Speech/src/V1/RecognizeResponse.php
  Speech/src/V1/SpeechContext.php
  Speech/src/V1/SpeechGrpcClient.php
  Speech/src/V1/SpeechRecognitionAlternative.php
  Speech/src/V1/SpeechRecognitionResult.php
  Speech/src/V1/StreamingRecognitionResult.php
  Speech/src/V1/StreamingRecognizeRequest.php
  Speech/src/V1/StreamingRecognizeResponse.php
  Speech/src/V1/WordInfo.php
  Speech/src/V1/resources/speech_rest_client_config.php
  Speech/src/V1p1beta1/Gapic/SpeechGapicClient.php
Labels: api: speech, cla: yes

#1275 Improve performance of fetching nested resources in an array
  Core/src/Iterator/PageIteratorTrait.php
  Datastore/src/EntityPageIterator.php
  Storage/src/ObjectPageIterator.php
Labels: api: core, cla: yes

#1288 Prepare v0.77.0
  Core/VERSION
  Datastore/VERSION
  Datastore/src/DatastoreClient.php
  Kms/VERSION
  Redis/VERSION
  Speech/VERSION
  Speech/src/SpeechClient.php
  Storage/VERSION
  Storage/src/StorageClient.php
  Vision/VERSION
  Vision/src/VisionClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1269 [Breaking Change] Firestore array operations
  Firestore/src/FieldValue.php
  Firestore/src/FieldValue/ArrayRemoveValue.php
  Firestore/src/FieldValue/ArrayUnionValue.php
  Firestore/src/FieldValue/DeleteFieldValue.php
  Firestore/src/FieldValue/DocumentTransformInterface.php
  Firestore/src/FieldValue/DocumentTransformTrait.php
  Firestore/src/FieldValue/FieldValueInterface.php
  Firestore/src/FieldValue/FieldValueTrait.php
  Firestore/src/FieldValue/ServerTimestampValue.php
  Firestore/src/Query.php
  Firestore/src/ValueMapper.php
  Firestore/src/WriteBatch.php
  Firestore/tests/Snippet/FieldValueTest.php
  Firestore/tests/Snippet/QueryTest.php
  Firestore/tests/System/DocumentAndCollectionTest.php
  Firestore/tests/System/SentinelValueTest.php
  Firestore/tests/Unit/FieldPathTest.php
  Firestore/tests/Unit/FieldValueTest.php
  Firestore/tests/Unit/QueryTest.php
  Firestore/tests/Unit/WriteBatchTest.php
Labels: api: firestore, cla: yes

#1242 Add Cloud Asset API
  Asset/.gitattributes
  Asset/.github/pull_request_template.md
  Asset/CONTRIBUTING.md
  Asset/LICENSE
  Asset/README.md
  Asset/composer.json
  Asset/metadata/V1Beta1/AssetService.php
  Asset/metadata/V1Beta1/Assets.php
  Asset/phpunit-snippets.xml.dist
  Asset/phpunit-system.xml.dist
  Asset/phpunit.xml.dist
  Asset/src/V1beta1/Asset.php
  Asset/src/V1beta1/AssetServiceClient.php
  Asset/src/V1beta1/AssetServiceGrpcClient.php
  Asset/src/V1beta1/BatchGetAssetsHistoryRequest.php
  Asset/src/V1beta1/BatchGetAssetsHistoryResponse.php
  Asset/src/V1beta1/ContentType.php
  Asset/src/V1beta1/ExportAssetsRequest.php
  Asset/src/V1beta1/ExportAssetsResponse.php
  Asset/src/V1beta1/Gapic/AssetServiceGapicClient.php
  Asset/src/V1beta1/GcsDestination.php
  Asset/src/V1beta1/OutputConfig.php
  Asset/src/V1beta1/README.md
  Asset/src/V1beta1/Resource.php
  Asset/src/V1beta1/TemporalAsset.php
  Asset/src/V1beta1/TimeWindow.php
  Asset/src/V1beta1/resources/asset_service_client_config.json
  Asset/src/V1beta1/resources/asset_service_descriptor_config.php
  Asset/src/V1beta1/resources/asset_service_rest_client_config.php
  Asset/synth.py
  Asset/tests/System/V1beta1/AssetServiceSmokeTest.php
  Asset/tests/System/bootstrap.php
  Asset/tests/Unit/V1beta1/AssetServiceClientTest.php
  README.md
  composer.json
  docs/contents/cloud-asset.json
  docs/contents/google-cloud.json
  docs/manifest.json
Labels: api: asset, cla: yes, do not merge

#1292 Revert back to old method name
  Core/src/Iterator/PageIteratorTrait.php
  Datastore/src/EntityPageIterator.php
  Storage/src/ObjectPageIterator.php
Labels: api: core, api: datastore, api: storage, cla: yes

#1293 Prepare v0.78.0
  Asset/VERSION
  Core/VERSION
  Datastore/VERSION
  Datastore/src/DatastoreClient.php
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Storage/VERSION
  Storage/src/StorageClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1300 Initialize the failure file
  Core/src/Batch/BatchJob.php
  Core/src/Batch/HandleFailureTrait.php
Labels: api: core, cla: yes

#1280 Adding kokoro config files for presubmit
  .kokoro/presubmit/common.cfg
  .kokoro/presubmit/php55.cfg
  .kokoro/presubmit/php56.cfg
  .kokoro/presubmit/php70.cfg
  .kokoro/presubmit/php71.cfg
  .kokoro/presubmit/php72.cfg
  .kokoro/presubmit/run-tests.sh
  .kokoro/trampoline.sh
Labels: cla: yes, testing

#1307 Add conformance tests for array operations
  Firestore/tests/Conformance/proto/firestore-test-suite.binproto
  Firestore/tests/Unit/ConformanceTest.php
Labels: api: firestore, cla: yes

#1312 Address gax changes in core
  Core/src/GrpcRequestWrapper.php
  Core/src/GrpcTrait.php
  Core/src/LongRunning/OperationResponseTrait.php
Labels: api: core, cla: yes

#1310 Prepare v0.79.0
  Bigtable/VERSION
  Core/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Kms/VERSION
  Monitoring/VERSION
  OsLogin/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Vision/VERSION
  Vision/src/VisionClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1313 Correct system test configs
  BigQuery/phpunit-system.xml.dist
  BigQueryDataTransfer/phpunit-system.xml.dist
  Bigtable/phpunit-system.xml.dist
  Container/phpunit-system.xml.dist
  Core/phpunit-system.xml.dist
  Dataproc/phpunit-system.xml.dist
  Datastore/phpunit-system.xml.dist
  Debugger/phpunit-system.xml.dist
  Dialogflow/phpunit-system.xml.dist
  Dlp/phpunit-system.xml.dist
  ErrorReporting/phpunit-system.xml.dist
  Firestore/phpunit-system.xml.dist
  Iot/phpunit-system.xml.dist
  Kms/phpunit-system.xml.dist
  Language/phpunit-system.xml.dist
  Logging/phpunit-system.xml.dist
  Monitoring/phpunit-system.xml.dist
  OsLogin/phpunit-system.xml.dist
  PubSub/phpunit-system.xml.dist
  Spanner/phpunit-system.xml.dist
  Speech/phpunit-system.xml.dist
  Storage/phpunit-system.xml.dist
  Tasks/phpunit-system.xml.dist
  TextToSpeech/phpunit-system.xml.dist
  Trace/phpunit-system.xml.dist
  Translate/phpunit-system.xml.dist
  VideoIntelligence/phpunit-system.xml.dist
Labels: cla: yes

#1319 Update dlp client with the new ExcludeFindings feature
  Dlp/metadata/V2/Dlp.php
  Dlp/metadata/V2/Storage.php
  Dlp/src/V2/CloudStorageOptions.php
  Dlp/src/V2/CloudStorageOptions/FileSet.php
  Dlp/src/V2/CustomInfoType.php
  Dlp/src/V2/CustomInfoType/ExclusionType.php
  Dlp/src/V2/CustomInfoType/Regex.php
  Dlp/src/V2/CustomInfoType_ExclusionType.php
  Dlp/src/V2/DlpServiceGrpcClient.php
  Dlp/src/V2/ExcludeInfoTypes.php
  Dlp/src/V2/ExclusionRule.php
  Dlp/src/V2/Gapic/DlpServiceGapicClient.php
  Dlp/src/V2/InspectConfig.php
  Dlp/src/V2/InspectionRule.php
  Dlp/src/V2/InspectionRuleSet.php
  Dlp/src/V2/ListDeidentifyTemplatesRequest.php
  Dlp/src/V2/ListInspectTemplatesRequest.php
  Dlp/src/V2/ListJobTriggersRequest.php
  Dlp/src/V2/ListStoredInfoTypesRequest.php
  Dlp/src/V2/MatchingType.php
  Dlp/src/V2/resources/dlp_service_client_config.json
Labels: api: dlp, cla: yes

#1318 Add more in-depth support for object lifecycle management
  Storage/src/Bucket.php
  Storage/src/Lifecycle.php
  Storage/src/StorageClient.php
  Storage/tests/Snippet/BucketTest.php
  Storage/tests/Snippet/LifecycleTest.php
  Storage/tests/System/ManageBucketsTest.php
  Storage/tests/Unit/BucketTest.php
  Storage/tests/Unit/LifecycleTest.php
  Storage/tests/Unit/StorageClientTest.php
Labels: api: storage, cla: yes

#1321 Prepare v0.80.0
  Asset/VERSION
  BigQuery/VERSION
  BigQuery/src/BigQueryClient.php
  BigQueryDataTransfer/VERSION
  Bigtable/VERSION
  Container/VERSION
  Core/VERSION
  Dataproc/VERSION
  Datastore/VERSION
  Datastore/src/DatastoreClient.php
  Debugger/VERSION
  Debugger/src/DebuggerClient.php
  Dialogflow/VERSION
  Dlp/VERSION
  ErrorReporting/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Iot/VERSION
  Kms/VERSION
  Language/VERSION
  Language/src/LanguageClient.php
  Logging/VERSION
  Logging/src/LoggingClient.php
  Monitoring/VERSION
  OsLogin/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Redis/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Speech/VERSION
  Speech/src/SpeechClient.php
  Storage/VERSION
  Storage/src/StorageClient.php
  Tasks/VERSION
  TextToSpeech/VERSION
  Trace/VERSION
  Trace/src/TraceClient.php
  Translate/VERSION
  Translate/src/TranslateClient.php
  VideoIntelligence/VERSION
  Vision/VERSION
  Vision/src/VisionClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1253 Bigtable: Read rows filter
  Bigtable/src/Filter.php
  Bigtable/src/Filter/Builder/FamilyFilter.php
  Bigtable/src/Filter/Builder/KeyFilter.php
  Bigtable/src/Filter/Builder/LimitFilter.php
  Bigtable/src/Filter/Builder/OffsetFilter.php
  Bigtable/src/Filter/Builder/QualifierFilter.php
  Bigtable/src/Filter/Builder/Range.php
  Bigtable/src/Filter/Builder/RegexTrait.php
  Bigtable/src/Filter/Builder/TimestampFilter.php
  Bigtable/src/Filter/Builder/ValueFilter.php
  Bigtable/src/Filter/ChainFilter.php
  Bigtable/src/Filter/ConditionFilter.php
  Bigtable/src/Filter/FilterInterface.php
  Bigtable/src/Filter/InterleaveFilter.php
  Bigtable/src/Filter/QualifierRangeFilter.php
  Bigtable/src/Filter/SimpleFilter.php
  Bigtable/src/Filter/TimestampRangeFilter.php
  Bigtable/src/Filter/ValueRangeFilter.php
  Bigtable/tests/Snippet/Filter/Builder/FamilyFilterTest.php
  Bigtable/tests/Snippet/Filter/Builder/KeyFilterTest.php
  Bigtable/tests/Snippet/Filter/Builder/LimitFilterTest.php
  Bigtable/tests/Snippet/Filter/Builder/OffsetFilterTest.php
  Bigtable/tests/Snippet/Filter/Builder/QualifierFilterTest.php
  Bigtable/tests/Snippet/Filter/Builder/TimestampFilterTest.php
  Bigtable/tests/Snippet/Filter/Builder/ValueFilterTest.php
  Bigtable/tests/Snippet/Filter/ChainFilterTest.php
  Bigtable/tests/Snippet/Filter/ConditionFilterTest.php
  Bigtable/tests/Snippet/Filter/InterleaveFilterTest.php
  Bigtable/tests/Snippet/Filter/QualifierRangeFilterTest.php
  Bigtable/tests/Snippet/Filter/TimestampRangeFilterTest.php
  Bigtable/tests/Snippet/Filter/ValueRangeFilterTest.php
  Bigtable/tests/Snippet/FilterTest.php
  Bigtable/tests/Unit/Filter/Builder/FamilyFilterTest.php
  Bigtable/tests/Unit/Filter/Builder/KeyFilterTest.php
  Bigtable/tests/Unit/Filter/Builder/LimitFilterTest.php
  Bigtable/tests/Unit/Filter/Builder/OffsetFilterTest.php
  Bigtable/tests/Unit/Filter/Builder/QualifierFilterTest.php
  Bigtable/tests/Unit/Filter/Builder/RangeTest.php
  Bigtable/tests/Unit/Filter/Builder/RegexTraitTest.php
  Bigtable/tests/Unit/Filter/Builder/TimestampFilterTest.php
  Bigtable/tests/Unit/Filter/Builder/ValueFilterTest.php
  Bigtable/tests/Unit/Filter/ChainFilterTest.php
  Bigtable/tests/Unit/Filter/ConditionFilterTest.php
  Bigtable/tests/Unit/Filter/InterleaveFilterTest.php
  Bigtable/tests/Unit/Filter/QualifierRangeFilterTest.php
  Bigtable/tests/Unit/Filter/SimpleFilterTest.php
  Bigtable/tests/Unit/Filter/TimestampRangeFilterTest.php
  Bigtable/tests/Unit/Filter/ValueRangeFilterTest.php
  Bigtable/tests/Unit/FilterTest.php
Labels: api: bigtable, cla: no
