Repository googleapis/google-cloud-php, pull requests merged in 2018-08, with the labels that each got.

#1201 Allow setting field values to null
  Spanner/src/Operation.php
  Spanner/tests/System/WriteTest.php
  Spanner/tests/Unit/OperationTest.php
Labels: api: spanner, cla: yes

#1204 Update exception messaging and pass in previous exception
  Core/src/Lock/SymfonyLockAdapter.php
Labels: api: core, cla: yes

#1198 Implement Remaining Instance RPCs in connection layer
  Bigtable/src/Connection/Grpc.php
  Bigtable/tests/Unit/Connection/GrpcTest.php
Labels: api: bigtable, cla: yes

#1209 Prepare v0.73.0
  BigQuery/VERSION
  BigQuery/src/BigQueryClient.php
  BigQueryDataTransfer/VERSION
  Core/VERSION
  Datastore/VERSION
  Datastore/src/DatastoreClient.php
  Debugger/VERSION
  Debugger/src/DebuggerClient.php
  ErrorReporting/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Language/VERSION
  Language/src/LanguageClient.php
  Logging/VERSION
  Logging/src/LoggingClient.php
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Speech/VERSION
  Speech/src/SpeechClient.php
  Storage/VERSION
  Storage/src/StorageClient.php
  TextToSpeech/VERSION
  Trace/VERSION
  Trace/src/TraceClient.php
  Translate/VERSION
  Translate/src/TranslateClient.php
  Vision/VERSION
  Vision/src/VisionClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1211 Update collection documentation for specifying document IDs
  Firestore/src/CollectionReference.php
Labels: api: firestore, cla: yes

#803 Trigger notice if keyfile is missing a project ID
  Core/src/ClientTrait.php
  Core/tests/Unit/ClientTraitTest.php
Labels: api: core, cla: yes

#1225 Skip doc issues on generated proto classes
  dev/src/DocGenerator/Parser/CodeParser.php
Labels: cla: yes, type: docs

#1229 Update Breakpoint constants
  Debugger/src/Breakpoint.php
Labels: api: debugger, cla: yes

#1230 Bigtable data operation mutate rows
  Bigtable/src/DataClient.php
  Bigtable/src/Exception/BigtableDataOperationException.php
  Bigtable/src/RowMutation.php
  Bigtable/tests/Snippet/DataClientTest.php
  Bigtable/tests/System/DataClientTest.php
  Bigtable/tests/Unit/DataClientTest.php
  Bigtable/tests/Unit/RowMutationTest.php
Labels: api: bigtable, cla: yes

#1233 Bigtable Mutate rows optional parameter
  Bigtable/src/DataClient.php
  Bigtable/tests/Unit/DataClientTest.php
Labels: cla: yes

#1219 Update required version of google/cloud-core
  BigQuery/composer.json
  BigQueryDataTransfer/composer.json
  Bigtable/composer.json
  Container/composer.json
  Dataproc/composer.json
  Datastore/composer.json
  Debugger/composer.json
  Dialogflow/composer.json
  Dlp/composer.json
  ErrorReporting/composer.json
  Firestore/composer.json
  Iot/composer.json
  Kms/composer.json
  Language/composer.json
  Logging/composer.json
  Monitoring/composer.json
  OsLogin/composer.json
  PubSub/composer.json
  Redis/composer.json
  Spanner/composer.json
  Speech/composer.json
  Storage/composer.json
  Tasks/composer.json
  TextToSpeech/composer.json
  Trace/composer.json
  Translate/composer.json
  VideoIntelligence/composer.json
  Vision/composer.json
Labels: api: core, cla: yes

#1235 Prepare v0.74.0
  BigQuery/VERSION
  BigQuery/src/BigQueryClient.php
  BigQueryDataTransfer/VERSION
  Bigtable/VERSION
  Container/VERSION
  Core/VERSION
  Dataproc/VERSION
  Datastore/VERSION
  Datastore/src/DatastoreClient.php
  Debugger/VERSION
  Debugger/src/DebuggerClient.php
  Dialogflow/VERSION
  Dlp/VERSION
  ErrorReporting/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Iot/VERSION
  Kms/VERSION
  Language/VERSION
  Language/src/LanguageClient.php
  Logging/VERSION
  Logging/src/LoggingClient.php
  Monitoring/VERSION
  OsLogin/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Redis/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Speech/VERSION
  Speech/src/SpeechClient.php
  Storage/VERSION
  Storage/src/StorageClient.php
  Tasks/VERSION
  TextToSpeech/VERSION
  Trace/VERSION
  Trace/src/TraceClient.php
  Translate/VERSION
  Translate/src/TranslateClient.php
  VideoIntelligence/VERSION
  Vision/VERSION
  Vision/src/VisionClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1237 Fix suppressKeyFileNotice check
  Core/src/ClientTrait.php
Labels: api: core, cla: yes

#1238 Fix test which could catch wrong E_NOTICE
  Core/tests/Unit/ClientTraitTest.php
Labels: cla: yes

#1241 Prepare v0.74.1
  Core/VERSION
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1243 Revert "Revert "Spanner grpc config" (#1240)"
  BigQueryDataTransfer/composer.json
  Bigtable/composer.json
  Container/composer.json
  Core/composer.json
  Dataproc/composer.json
  Debugger/composer.json
  Dialogflow/composer.json
  Dlp/composer.json
  ErrorReporting/composer.json
  Firestore/composer.json
  Iot/composer.json
  Kms/composer.json
  Language/composer.json
  Logging/composer.json
  Monitoring/composer.json
  OsLogin/composer.json
  PubSub/composer.json
  Redis/composer.json
  Spanner/composer.json
  Spanner/src/V1/Gapic/SpannerGapicClient.php
  Spanner/src/V1/resources/spanner_grpc_config.json
  Speech/composer.json
  Tasks/composer.json
  TextToSpeech/composer.json
  Trace/composer.json
  VideoIntelligence/composer.json
  Vision/composer.json
  composer.json
Labels: cla: yes

#1239 Update AliasContext constants
  Debugger/src/AliasContext.php
Labels: api: debugger, cla: yes

#1244 Delete all sessions when dropping database
  Spanner/src/Database.php
  Spanner/tests/Snippet/DatabaseTest.php
  Spanner/tests/Unit/DatabaseTest.php
Labels: api: spanner, cla: yes

#1257 Prepare v0.75.0
  BigQueryDataTransfer/VERSION
  Bigtable/VERSION
  Container/VERSION
  Core/VERSION
  Dataproc/VERSION
  Debugger/VERSION
  Debugger/src/DebuggerClient.php
  Dialogflow/VERSION
  Dlp/VERSION
  ErrorReporting/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Iot/VERSION
  Kms/VERSION
  Language/VERSION
  Language/src/LanguageClient.php
  Logging/VERSION
  Logging/src/LoggingClient.php
  Monitoring/VERSION
  OsLogin/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Redis/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Speech/VERSION
  Speech/src/SpeechClient.php
  Tasks/VERSION
  TextToSpeech/VERSION
  Trace/VERSION
  Trace/src/TraceClient.php
  VideoIntelligence/VERSION
  Vision/VERSION
  Vision/src/VisionClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes
