Repository googleapis/google-cloud-php, pull requests merged in 2019-04, with the labels that each got.

#1793 Regenerate metadata and add value to name map
  Vision/metadata/V1/Geometry.php
  Vision/metadata/V1/ImageAnnotator.php
  Vision/metadata/V1/ProductSearch.php
  Vision/metadata/V1/ProductSearchService.php
  Vision/metadata/V1/TextAnnotation.php
  Vision/metadata/V1/WebDetection.php
  Vision/src/V1/BatchOperationMetadata/State.php
  Vision/src/V1/Block/BlockType.php
  Vision/src/V1/FaceAnnotation/Landmark/Type.php
  Vision/src/V1/Feature/Type.php
  Vision/src/V1/Likelihood.php
  Vision/src/V1/OperationMetadata/State.php
  Vision/src/V1/TextAnnotation/DetectedBreak/BreakType.php
  Vision/synth.metadata
Labels: api: vision, cla: yes

#1792 Regenerate metadata and add value to name map
  Trace/metadata/V2/Trace.php
  Trace/metadata/V2/Tracing.php
  Trace/src/V2/Span.php
  Trace/src/V2/Span/Link/Type.php
  Trace/src/V2/Span/TimeEvent/MessageEvent/Type.php
  Trace/synth.metadata
Labels: api: cloudtrace, cla: yes

#1791 Regenerate metadata and include name to value map
  Spanner/metadata/Admin/Database/V1/SpannerDatabaseAdmin.php
  Spanner/metadata/Admin/Instance/V1/SpannerInstanceAdmin.php
  Spanner/metadata/V1/Keys.php
  Spanner/metadata/V1/Mutation.php
  Spanner/metadata/V1/QueryPlan.php
  Spanner/metadata/V1/ResultSet.php
  Spanner/metadata/V1/Spanner.php
  Spanner/metadata/V1/Transaction.php
  Spanner/metadata/V1/Type.php
  Spanner/src/Admin/Database/V1/Database/State.php
  Spanner/src/Admin/Instance/V1/Instance/State.php
  Spanner/src/V1/ExecuteSqlRequest/QueryMode.php
  Spanner/src/V1/PlanNode/Kind.php
  Spanner/src/V1/TypeCode.php
  Spanner/synth.metadata
Labels: api: spanner, cla: yes

#1790 Regenerate metadata and include name to value map
  Redis/metadata/V1/CloudRedis.php
  Redis/metadata/V1Beta1/CloudRedis.php
  Redis/src/V1/FailoverInstanceRequest/DataProtectionMode.php
  Redis/src/V1/Instance/State.php
  Redis/src/V1/Instance/Tier.php
  Redis/src/V1beta1/Instance/State.php
  Redis/src/V1beta1/Instance/Tier.php
  Redis/synth.metadata
Labels: api: redis, cla: yes

#1787 Regenerate metadata and include name to value map
  Monitoring/metadata/V3/Alert.php
  Monitoring/metadata/V3/AlertService.php
  Monitoring/metadata/V3/Common.php
  Monitoring/metadata/V3/DroppedLabels.php
  Monitoring/metadata/V3/Group.php
  Monitoring/metadata/V3/GroupService.php
  Monitoring/metadata/V3/Metric.php
  Monitoring/metadata/V3/MetricService.php
  Monitoring/metadata/V3/MutationRecord.php
  Monitoring/metadata/V3/Notification.php
  Monitoring/metadata/V3/NotificationService.php
  Monitoring/metadata/V3/SpanContext.php
  Monitoring/metadata/V3/Uptime.php
  Monitoring/metadata/V3/UptimeService.php
  Monitoring/src/V3/Aggregation/Aligner.php
  Monitoring/src/V3/Aggregation/Reducer.php
  Monitoring/src/V3/AlertPolicy.php
  Monitoring/src/V3/AlertPolicy/ConditionCombinerType.php
  Monitoring/src/V3/ComparisonType.php
  Monitoring/src/V3/GroupResourceType.php
  Monitoring/src/V3/ListTimeSeriesRequest/TimeSeriesView.php
  Monitoring/src/V3/NotificationChannel.php
  Monitoring/src/V3/NotificationChannel/VerificationStatus.php
  Monitoring/src/V3/ServiceTier.php
  Monitoring/src/V3/UptimeCheckRegion.php
  Monitoring/synth.metadata
Labels: api: monitoring, cla: yes

#1784 Add crypto deterministic config and various documentation updates
  Dlp/metadata/V2/Dlp.php
  Dlp/metadata/V2/Storage.php
  Dlp/src/V2/Action.php
  Dlp/src/V2/CreateDeidentifyTemplateRequest.php
  Dlp/src/V2/CreateDlpJobRequest.php
  Dlp/src/V2/CreateInspectTemplateRequest.php
  Dlp/src/V2/CreateJobTriggerRequest.php
  Dlp/src/V2/CreateStoredInfoTypeRequest.php
  Dlp/src/V2/CryptoDeterministicConfig.php
  Dlp/src/V2/CryptoReplaceFfxFpeConfig.php
  Dlp/src/V2/DlpServiceGrpcClient.php
  Dlp/src/V2/Gapic/DlpServiceGapicClient.php
  Dlp/src/V2/InspectDataSourceDetails/Result.php
  Dlp/src/V2/KmsWrappedCryptoKey.php
  Dlp/src/V2/PrimitiveTransformation.php
  Dlp/src/V2/TransformationSummary.php
  Dlp/src/V2/UnwrappedCryptoKey.php
  Dlp/synth.metadata
Labels: api: dlp, cla: yes

#1786 Regenerate metadata and include name to value map
  Logging/metadata/V2/LogEntry.php
  Logging/metadata/V2/Logging.php
  Logging/metadata/V2/LoggingConfig.php
  Logging/metadata/V2/LoggingMetrics.php
  Logging/src/V2/LogMetric/ApiVersion.php
  Logging/src/V2/LogSink/VersionFormat.php
  Logging/synth.metadata
Labels: api: logging, cla: yes

#1795 Add `value()` and `name()` methods to enum types and add additional request headers.
  Firestore/metadata/V1/Common.php
  Firestore/metadata/V1/Document.php
  Firestore/metadata/V1/Firestore.php
  Firestore/metadata/V1/Query.php
  Firestore/metadata/V1/Write.php
  Firestore/metadata/V1Beta1/Common.php
  Firestore/metadata/V1Beta1/Document.php
  Firestore/metadata/V1Beta1/Firestore.php
  Firestore/metadata/V1Beta1/Query.php
  Firestore/metadata/V1Beta1/Write.php
  Firestore/src/V1/DocumentTransform/FieldTransform/ServerValue.php
  Firestore/src/V1/Gapic/FirestoreGapicClient.php
  Firestore/src/V1/StructuredQuery.php
  Firestore/src/V1/StructuredQuery/CompositeFilter/Operator.php
  Firestore/src/V1/StructuredQuery/Direction.php
  Firestore/src/V1/StructuredQuery/FieldFilter/Operator.php
  Firestore/src/V1/StructuredQuery/UnaryFilter/Operator.php
  Firestore/src/V1/TargetChange/TargetChangeType.php
  Firestore/src/V1beta1/DocumentTransform/FieldTransform/ServerValue.php
  Firestore/src/V1beta1/Gapic/FirestoreGapicClient.php
  Firestore/src/V1beta1/StructuredQuery.php
  Firestore/src/V1beta1/StructuredQuery/CompositeFilter/Operator.php
  Firestore/src/V1beta1/StructuredQuery/Direction.php
  Firestore/src/V1beta1/StructuredQuery/FieldFilter/Operator.php
  Firestore/src/V1beta1/StructuredQuery/UnaryFilter/Operator.php
  Firestore/src/V1beta1/TargetChange/TargetChangeType.php
  Firestore/synth.metadata
Labels: api: firestore, cla: yes

#1798 Add resource headers and enum helper methods.
  Scheduler/metadata/V1/Cloudscheduler.php
  Scheduler/metadata/V1/Job.php
  Scheduler/metadata/V1/Target.php
  Scheduler/metadata/V1Beta1/Cloudscheduler.php
  Scheduler/metadata/V1Beta1/Job.php
  Scheduler/metadata/V1Beta1/Target.php
  Scheduler/src/V1/Gapic/CloudSchedulerGapicClient.php
  Scheduler/src/V1/HttpMethod.php
  Scheduler/src/V1/Job/State.php
  Scheduler/src/V1beta1/Gapic/CloudSchedulerGapicClient.php
  Scheduler/src/V1beta1/HttpMethod.php
  Scheduler/src/V1beta1/Job/State.php
  Scheduler/synth.metadata
Labels: api: cloudscheduler, cla: yes

#1797 Update documentation, add resource headers, add enum methods.
  Datastore/src/V1/AllocateIdsRequest.php
  Datastore/src/V1/AllocateIdsResponse.php
  Datastore/src/V1/BeginTransactionRequest.php
  Datastore/src/V1/BeginTransactionResponse.php
  Datastore/src/V1/CommitRequest/Mode.php
  Datastore/src/V1/CompositeFilter/Operator.php
  Datastore/src/V1/EntityResult.php
  Datastore/src/V1/EntityResult/ResultType.php
  Datastore/src/V1/Gapic/DatastoreGapicClient.php
  Datastore/src/V1/GqlQuery.php
  Datastore/src/V1/PartitionId.php
  Datastore/src/V1/PropertyFilter/Operator.php
  Datastore/src/V1/PropertyOrder/Direction.php
  Datastore/src/V1/Query.php
  Datastore/src/V1/QueryResultBatch/MoreResultsType.php
  Datastore/src/V1/ReadOptions/ReadConsistency.php
  Datastore/src/V1/ReserveIdsRequest.php
  Datastore/src/V1/ReserveIdsResponse.php
  Datastore/src/V1/RollbackResponse.php
  Datastore/src/V1/RunQueryResponse.php
  Datastore/src/V1/TransactionOptions.php
  Datastore/src/V1/Value.php
  Datastore/synth.metadata
Labels: api: datastore, cla: yes

#1800 Add Google Cloud Web Risk Client.
  README.md
  WebRisk/.gitattributes
  WebRisk/.github/pull_request_template.md
  WebRisk/CONTRIBUTING.md
  WebRisk/LICENSE
  WebRisk/README.md
  WebRisk/composer.json
  WebRisk/metadata/V1Beta1/Webrisk.php
  WebRisk/phpunit.xml.dist
  WebRisk/src/V1beta1/CompressionType.php
  WebRisk/src/V1beta1/ComputeThreatListDiffRequest.php
  WebRisk/src/V1beta1/ComputeThreatListDiffRequest/Constraints.php
  WebRisk/src/V1beta1/ComputeThreatListDiffRequest_Constraints.php
  WebRisk/src/V1beta1/ComputeThreatListDiffResponse.php
  WebRisk/src/V1beta1/ComputeThreatListDiffResponse/Checksum.php
  WebRisk/src/V1beta1/ComputeThreatListDiffResponse/ResponseType.php
  WebRisk/src/V1beta1/ComputeThreatListDiffResponse_Checksum.php
  WebRisk/src/V1beta1/ComputeThreatListDiffResponse_ResponseType.php
  WebRisk/src/V1beta1/Gapic/WebRiskServiceV1Beta1GapicClient.php
  WebRisk/src/V1beta1/README.md
  WebRisk/src/V1beta1/RawHashes.php
  WebRisk/src/V1beta1/RawIndices.php
  WebRisk/src/V1beta1/RiceDeltaEncoding.php
  WebRisk/src/V1beta1/SearchHashesRequest.php
  WebRisk/src/V1beta1/SearchHashesResponse.php
  WebRisk/src/V1beta1/SearchHashesResponse/ThreatHash.php
  WebRisk/src/V1beta1/SearchHashesResponse_ThreatHash.php
  WebRisk/src/V1beta1/SearchUrisRequest.php
  WebRisk/src/V1beta1/SearchUrisResponse.php
  WebRisk/src/V1beta1/SearchUrisResponse/ThreatUri.php
  WebRisk/src/V1beta1/SearchUrisResponse_ThreatUri.php
  WebRisk/src/V1beta1/ThreatEntryAdditions.php
  WebRisk/src/V1beta1/ThreatEntryRemovals.php
  WebRisk/src/V1beta1/ThreatType.php
  WebRisk/src/V1beta1/WebRiskServiceV1Beta1Client.php
  WebRisk/src/V1beta1/WebRiskServiceV1Beta1GrpcClient.php
  WebRisk/src/V1beta1/resources/web_risk_service_v1_beta1_client_config.json
  WebRisk/src/V1beta1/resources/web_risk_service_v1_beta1_descriptor_config.php
  WebRisk/src/V1beta1/resources/web_risk_service_v1_beta1_rest_client_config.php
  WebRisk/synth.metadata
  WebRisk/synth.py
  WebRisk/tests/Unit/V1beta1/WebRiskServiceV1Beta1ClientTest.php
  composer.json
  docs/contents/cloud-web-risk.json
  docs/contents/google-cloud.json
  docs/manifest.json
Labels: api: webrisk, cla: yes

#1801 Prepare v0.98.0
  Asset/VERSION
  BigQueryDataTransfer/VERSION
  Bigtable/VERSION
  Bigtable/src/BigtableClient.php
  Container/VERSION
  Dataproc/VERSION
  Datastore/VERSION
  Datastore/src/DatastoreClient.php
  Debugger/VERSION
  Debugger/src/DebuggerClient.php
  Dialogflow/VERSION
  Dlp/VERSION
  ErrorReporting/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Iot/VERSION
  Kms/VERSION
  Language/VERSION
  Language/src/LanguageClient.php
  Logging/VERSION
  Logging/src/LoggingClient.php
  Monitoring/VERSION
  OsLogin/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Redis/VERSION
  Scheduler/VERSION
  SecurityCenter/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Speech/VERSION
  Speech/src/SpeechClient.php
  Talent/VERSION
  Tasks/VERSION
  TextToSpeech/VERSION
  Trace/VERSION
  Trace/src/TraceClient.php
  VideoIntelligence/VERSION
  Vision/VERSION
  Vision/src/VisionClient.php
  WebRisk/VERSION
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1803 Add note re API whitelist, signup for Beta
  WebRisk/README.md
Labels: cla: yes

#1804 Fix system test copyright year.
  Language/synth.metadata
  Language/tests/System/V1/LanguageServiceSmokeTest.php
Labels: api: language, cla: yes

#1802 Update WebRisk synth config
  WebRisk/synth.py
Labels: api: webrisk, cla: yes

#1806 Update Documentation.
  Language/metadata/V1/LanguageService.php
  Language/src/V1/AnalyzeEntitiesRequest.php
  Language/src/V1/AnalyzeEntitiesResponse.php
  Language/src/V1/AnalyzeEntitySentimentRequest.php
  Language/src/V1/AnalyzeEntitySentimentResponse.php
  Language/src/V1/AnalyzeSentimentRequest.php
  Language/src/V1/AnalyzeSentimentResponse.php
  Language/src/V1/AnalyzeSyntaxRequest.php
  Language/src/V1/AnalyzeSyntaxResponse.php
  Language/src/V1/AnnotateTextRequest.php
  Language/src/V1/AnnotateTextResponse.php
  Language/src/V1/ClassifyTextRequest.php
  Language/src/V1/Document.php
  Language/src/V1/Entity.php
  Language/src/V1/Entity/Type.php
  Language/src/V1/EntityMention.php
  Language/src/V1/Gapic/LanguageServiceGapicClient.php
  Language/src/V1/LanguageServiceGrpcClient.php
  Language/src/V1/Sentence.php
  Language/src/V1/TextSpan.php
  Language/synth.metadata
Labels: api: language, cla: yes

#1810 Add support for failover instances.
  Redis/metadata/V1Beta1/CloudRedis.php
  Redis/src/V1beta1/CloudRedisGrpcClient.php
  Redis/src/V1beta1/FailoverInstanceRequest.php
  Redis/src/V1beta1/FailoverInstanceRequest/DataProtectionMode.php
  Redis/src/V1beta1/FailoverInstanceRequest_DataProtectionMode.php
  Redis/src/V1beta1/Gapic/CloudRedisGapicClient.php
  Redis/src/V1beta1/Instance.php
  Redis/src/V1beta1/Instance/State.php
  Redis/src/V1beta1/ListInstancesResponse.php
  Redis/src/V1beta1/UpdateInstanceRequest.php
  Redis/src/V1beta1/resources/cloud_redis_client_config.json
  Redis/src/V1beta1/resources/cloud_redis_descriptor_config.php
  Redis/src/V1beta1/resources/cloud_redis_rest_client_config.php
  Redis/synth.metadata
  Redis/tests/Unit/V1beta1/CloudRedisClientTest.php
Labels: api: redis, cla: yes

#1811 Update documentation and add support for OAuth and OIDC tokens in Task HTTP Request.
  Tasks/metadata/V2Beta3/Cloudtasks.php
  Tasks/metadata/V2Beta3/Queue.php
  Tasks/metadata/V2Beta3/Target.php
  Tasks/metadata/V2Beta3/Task.php
  Tasks/src/V2beta3/AppEngineHttpQueue.php
  Tasks/src/V2beta3/AppEngineHttpRequest.php
  Tasks/src/V2beta3/AppEngineRouting.php
  Tasks/src/V2beta3/CloudTasksGrpcClient.php
  Tasks/src/V2beta3/CreateQueueRequest.php
  Tasks/src/V2beta3/CreateTaskRequest.php
  Tasks/src/V2beta3/DeleteQueueRequest.php
  Tasks/src/V2beta3/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2beta3/GetQueueRequest.php
  Tasks/src/V2beta3/GetTaskRequest.php
  Tasks/src/V2beta3/HttpRequest.php
  Tasks/src/V2beta3/ListQueuesRequest.php
  Tasks/src/V2beta3/ListQueuesResponse.php
  Tasks/src/V2beta3/ListTasksRequest.php
  Tasks/src/V2beta3/ListTasksResponse.php
  Tasks/src/V2beta3/OAuthToken.php
  Tasks/src/V2beta3/OidcToken.php
  Tasks/src/V2beta3/PauseQueueRequest.php
  Tasks/src/V2beta3/PurgeQueueRequest.php
  Tasks/src/V2beta3/Queue.php
  Tasks/src/V2beta3/RateLimits.php
  Tasks/src/V2beta3/ResumeQueueRequest.php
  Tasks/src/V2beta3/RetryConfig.php
  Tasks/src/V2beta3/RunTaskRequest.php
  Tasks/src/V2beta3/Task.php
  Tasks/src/V2beta3/Task/View.php
  Tasks/src/V2beta3/UpdateQueueRequest.php
  Tasks/synth.metadata
  Tasks/tests/Unit/V2beta3/CloudTasksClientTest.php
Labels: api: cloudtasks, cla: yes

#1815 Retry fixes
  BigQuery/src/BigQueryClient.php
  Core/src/ExponentialBackoff.php
  Core/src/Logger/AppEngineFlexFormatter.php
  Core/src/RequestWrapper.php
  Core/src/RetryDeciderTrait.php
  Core/tests/Unit/ExponentialBackoffTest.php
  Core/tests/Unit/RequestWrapperTest.php
  Core/tests/Unit/RetryDeciderTraitTest.php
  Language/src/LanguageClient.php
  Storage/src/Connection/Rest.php
Labels: api: bigquery, api: core, api: language, api: storage, cla: yes

#1816 Update README.md
  Spanner/README.md
Labels: cla: yes

#1817 Update Scheduler V1beta1 client.
  Scheduler/metadata/V1Beta1/Cloudscheduler.php
  Scheduler/metadata/V1Beta1/Job.php
  Scheduler/metadata/V1Beta1/Target.php
  Scheduler/src/V1beta1/AppEngineHttpTarget.php
  Scheduler/src/V1beta1/AppEngineRouting.php
  Scheduler/src/V1beta1/CloudSchedulerGrpcClient.php
  Scheduler/src/V1beta1/CreateJobRequest.php
  Scheduler/src/V1beta1/Gapic/CloudSchedulerGapicClient.php
  Scheduler/src/V1beta1/GetJobRequest.php
  Scheduler/src/V1beta1/HttpTarget.php
  Scheduler/src/V1beta1/Job.php
  Scheduler/src/V1beta1/Job/State.php
  Scheduler/src/V1beta1/ListJobsRequest.php
  Scheduler/src/V1beta1/ListJobsResponse.php
  Scheduler/src/V1beta1/OAuthToken.php
  Scheduler/src/V1beta1/OidcToken.php
  Scheduler/src/V1beta1/PauseJobRequest.php
  Scheduler/src/V1beta1/ResumeJobRequest.php
  Scheduler/src/V1beta1/RetryConfig.php
  Scheduler/src/V1beta1/UpdateJobRequest.php
  Scheduler/synth.metadata
Labels: api: cloudscheduler, cla: yes

#1818 Avoid usage of STDERR constant
  Core/src/Batch/BatchTrait.php
Labels: api: core, cla: yes

#1796 Add YCSB performance test
  Spanner/tests/Perf/Config.php
  Spanner/tests/Perf/Operation.php
  Spanner/tests/Perf/README.md
  Spanner/tests/Perf/Report.php
  Spanner/tests/Perf/pkb/workloada
  Spanner/tests/Perf/pkb/workloadb
  Spanner/tests/Perf/ycsb.php
Labels: :rotating_light:, api: spanner, cla: yes

#1734 Create Sessions Async
  Spanner/src/Connection/ConnectionInterface.php
  Spanner/src/Connection/Grpc.php
  Spanner/src/Session/CacheSessionPool.php
  Spanner/tests/Unit/Connection/GrpcTest.php
  Spanner/tests/Unit/Session/CacheSessionPoolTest.php
Labels: :rotating_light:, cla: yes

#1742 [Storage] Signed URLs v4
  Core/composer.json
  Core/src/JsonTrait.php
  Core/src/RequestWrapperTrait.php
  Storage/src/Bucket.php
  Storage/src/Connection/Rest.php
  Storage/src/EncryptionTrait.php
  Storage/src/SigningHelper.php
  Storage/src/StorageObject.php
  Storage/tests/Snippet/BucketTest.php
  Storage/tests/Snippet/StorageObjectTest.php
  Storage/tests/System/SignedUrlTest.php
  Storage/tests/Unit/BucketTest.php
  Storage/tests/Unit/SignedUrlConformanceTest.php
  Storage/tests/Unit/SigningHelperTest.php
  Storage/tests/Unit/StorageObjectTest.php
  Storage/tests/Unit/data/signed-url-v4-service-account.json
  Storage/tests/Unit/data/signed-url-v4-testdata.json
  composer.json
Labels: :rotating_light:, api: storage, cla: yes

#1822 Update cross-component dependency versions
  Asset/composer.json
  AutoMl/composer.json
  BigQuery/composer.json
  BigQueryDataTransfer/composer.json
  Bigtable/composer.json
  Container/composer.json
  Dataproc/composer.json
  Datastore/composer.json
  Debugger/composer.json
  Dialogflow/composer.json
  Dlp/composer.json
  ErrorReporting/composer.json
  Firestore/composer.json
  Iot/composer.json
  Kms/composer.json
  Language/composer.json
  Logging/composer.json
  Monitoring/composer.json
  OsLogin/composer.json
  PubSub/composer.json
  Redis/composer.json
  Scheduler/composer.json
  SecurityCenter/composer.json
  Spanner/composer.json
  Speech/composer.json
  Storage/composer.json
  Talent/composer.json
  Tasks/composer.json
  TextToSpeech/composer.json
  Trace/composer.json
  Translate/composer.json
  VideoIntelligence/composer.json
  Vision/composer.json
  WebRisk/composer.json
  dev/src/AddComponent/Composer.php
Labels: cla: yes

#1820 Update KMS retry configuration.
  Kms/src/V1/resources/key_management_service_client_config.json
  Kms/synth.metadata
Labels: api: cloudkms, cla: yes

#1824 Ensure a parser instance is available
  Storage/tests/Snippet/StorageObjectTest.php
Labels: cla: yes

#1825 Add links to Bucket Policy Only documentation
  Storage/src/Bucket.php
  Storage/src/StorageClient.php
Labels: api: storage, cla: yes

#1819 Automatically paginate GQL Queries
  Datastore/src/Operation.php
  Datastore/src/Query/GqlQuery.php
  Datastore/tests/Snippet/DatastoreClientTest.php
  Datastore/tests/Snippet/ReadOnlyTransactionTest.php
  Datastore/tests/Snippet/TransactionTest.php
  Datastore/tests/System/DatastoreTestCase.php
  Datastore/tests/System/QueryResultPaginationTest.php
  Datastore/tests/Unit/OperationTest.php
  Datastore/tests/Unit/Query/GqlQueryTest.php
  Datastore/tests/Unit/fixtures/query-results.json
Labels: api: datastore, cla: yes

#1831 Re-order resource name methods.
  Bigtable/src/Admin/V2/Gapic/BigtableInstanceAdminGapicClient.php
  Bigtable/src/Admin/V2/Gapic/BigtableTableAdminGapicClient.php
  Bigtable/synth.metadata
Labels: api: bigtable, cla: yes

#1832 Re-order resource name methods.
  Dialogflow/src/V2/Gapic/ContextsGapicClient.php
  Dialogflow/src/V2/Gapic/EntityTypesGapicClient.php
  Dialogflow/src/V2/Gapic/IntentsGapicClient.php
  Dialogflow/synth.metadata
Labels: api: dialogflow, cla: yes

#1834 Re-order resource name methods.
  Firestore/src/V1/Gapic/FirestoreGapicClient.php
  Firestore/src/V1beta1/Gapic/FirestoreGapicClient.php
  Firestore/synth.metadata
Labels: api: firestore, cla: yes

#1835 Re-order resource name methods.
  Iot/src/V1/Gapic/DeviceManagerGapicClient.php
  Iot/synth.metadata
Labels: api: cloudiot, cla: yes

#1836 Re-order resource name methods.
  Kms/src/V1/Gapic/KeyManagementServiceGapicClient.php
  Kms/synth.metadata
Labels: api: cloudkms, cla: yes

#1837 Re-order resource name methods.
  Monitoring/src/V3/Gapic/AlertPolicyServiceGapicClient.php
  Monitoring/src/V3/Gapic/GroupServiceGapicClient.php
  Monitoring/src/V3/Gapic/MetricServiceGapicClient.php
  Monitoring/src/V3/Gapic/NotificationChannelServiceGapicClient.php
  Monitoring/synth.metadata
Labels: api: monitoring, cla: yes

#1838 Re-order resource name methods.
  OsLogin/src/V1/Gapic/OsLoginServiceGapicClient.php
  OsLogin/src/V1beta/Gapic/OsLoginServiceGapicClient.php
  OsLogin/synth.metadata
Labels: api: oslogin, cla: yes

#1842 Update documentation and re-order resource name methods.
  Vision/src/V1/Gapic/ProductSearchGapicClient.php
  Vision/synth.metadata
  Vision/tests/Unit/V1/ProductSearchClientTest.php
Labels: api: vision, cla: yes

#1839 Re-order resource name methods.
  Redis/src/V1/Gapic/CloudRedisGapicClient.php
  Redis/src/V1beta1/Gapic/CloudRedisGapicClient.php
  Redis/synth.metadata
Labels: api: redis, cla: yes

#1840 Re-order resource name methods.
  Spanner/src/Admin/Database/V1/Gapic/DatabaseAdminGapicClient.php
  Spanner/src/Admin/Instance/V1/Gapic/InstanceAdminGapicClient.php
  Spanner/synth.metadata
Labels: api: spanner, cla: yes

#1841 Re-order resource name methods.
  Tasks/src/V2/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2beta2/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2beta3/Gapic/CloudTasksGapicClient.php
  Tasks/synth.metadata
Labels: api: cloudtasks, cla: yes

#1843 Prevent transient failures in Signed URL v4 unit tests.
  Storage/tests/Unit/SigningHelperTest.php
Labels: api: storage, cla: yes, kokoro:force-run

#1828 Add Firestore Admin API
  Firestore/metadata/Admin/V1/Field.php
  Firestore/metadata/Admin/V1/FirestoreAdmin.php
  Firestore/metadata/Admin/V1/Index.php
  Firestore/metadata/Admin/V1/Location.php
  Firestore/metadata/Admin/V1/Operation.php
  Firestore/src/Admin/V1/CreateIndexRequest.php
  Firestore/src/Admin/V1/DeleteIndexRequest.php
  Firestore/src/Admin/V1/ExportDocumentsMetadata.php
  Firestore/src/Admin/V1/ExportDocumentsRequest.php
  Firestore/src/Admin/V1/ExportDocumentsResponse.php
  Firestore/src/Admin/V1/Field.php
  Firestore/src/Admin/V1/Field/IndexConfig.php
  Firestore/src/Admin/V1/FieldOperationMetadata.php
  Firestore/src/Admin/V1/FieldOperationMetadata/IndexConfigDelta.php
  Firestore/src/Admin/V1/FieldOperationMetadata/IndexConfigDelta/ChangeType.php
  Firestore/src/Admin/V1/FieldOperationMetadata_IndexConfigDelta.php
  Firestore/src/Admin/V1/FieldOperationMetadata_IndexConfigDelta_ChangeType.php
  Firestore/src/Admin/V1/Field_IndexConfig.php
  Firestore/src/Admin/V1/FirestoreAdminClient.php
  Firestore/src/Admin/V1/FirestoreAdminGrpcClient.php
  Firestore/src/Admin/V1/Gapic/FirestoreAdminGapicClient.php
  Firestore/src/Admin/V1/GetFieldRequest.php
  Firestore/src/Admin/V1/GetIndexRequest.php
  Firestore/src/Admin/V1/ImportDocumentsMetadata.php
  Firestore/src/Admin/V1/ImportDocumentsRequest.php
  Firestore/src/Admin/V1/Index.php
  Firestore/src/Admin/V1/Index/IndexField.php
  Firestore/src/Admin/V1/Index/IndexField/ArrayConfig.php
  Firestore/src/Admin/V1/Index/IndexField/Order.php
  Firestore/src/Admin/V1/Index/QueryScope.php
  Firestore/src/Admin/V1/Index/State.php
  Firestore/src/Admin/V1/IndexOperationMetadata.php
  Firestore/src/Admin/V1/Index_IndexField.php
  Firestore/src/Admin/V1/Index_IndexField_ArrayConfig.php
  Firestore/src/Admin/V1/Index_IndexField_Order.php
  Firestore/src/Admin/V1/Index_QueryScope.php
  Firestore/src/Admin/V1/Index_State.php
  Firestore/src/Admin/V1/ListFieldsRequest.php
  Firestore/src/Admin/V1/ListFieldsResponse.php
  Firestore/src/Admin/V1/ListIndexesRequest.php
  Firestore/src/Admin/V1/ListIndexesResponse.php
  Firestore/src/Admin/V1/LocationMetadata.php
  Firestore/src/Admin/V1/OperationState.php
  Firestore/src/Admin/V1/Progress.php
  Firestore/src/Admin/V1/UpdateFieldRequest.php
  Firestore/src/Admin/V1/resources/firestore_admin_client_config.json
  Firestore/src/Admin/V1/resources/firestore_admin_descriptor_config.php
  Firestore/src/Admin/V1/resources/firestore_admin_rest_client_config.php
  Firestore/synth.py
  Firestore/tests/System/Admin/V1/FirestoreAdminClientSmokeTest.php
  Firestore/tests/Unit/Admin/V1/FirestoreAdminClientTest.php
  docs/contents/cloud-firestore.json
Labels: api: firestore, cla: yes

#1833 Re-order resource name methods.
  Dlp/src/V2/Gapic/DlpServiceGapicClient.php
  Dlp/synth.metadata
Labels: api: dlp, cla: yes

#1844 Fix transaction configuration for single-use transactions
  Spanner/src/Database.php
  Spanner/src/TransactionConfigurationTrait.php
  Spanner/tests/Unit/DatabaseTest.php
Labels: api: spanner, cla: yes

#1847 Re-order resource name methods.
  Firestore/src/Admin/V1/Gapic/FirestoreAdminGapicClient.php
  Firestore/synth.metadata
Labels: api: firestore, cla: yes

#1854 Re-order resource name methods.
  Logging/src/V2/Gapic/ConfigServiceV2GapicClient.php
  Logging/src/V2/Gapic/MetricsServiceV2GapicClient.php
  Logging/synth.metadata
Labels: api: logging, cla: yes

#1855 Re-order resource name methods.
  PubSub/src/V1/Gapic/PublisherGapicClient.php
  PubSub/src/V1/Gapic/SubscriberGapicClient.php
  PubSub/synth.metadata
Labels: api: pubsub, cla: yes

#1853 Re-order resource name methods.
  BigQueryDataTransfer/src/V1/Gapic/DataTransferServiceGapicClient.php
  BigQueryDataTransfer/synth.metadata
Labels: api: bigquerydatatransfer, cla: yes

#1856 Fix flaky test
  Storage/tests/Unit/SigningHelperTest.php
Labels: api: storage, cla: yes

#1852 Lazily instantiate admin and operations clients
  Spanner/src/Connection/Grpc.php
Labels: api: spanner, cla: yes

#1858 Add support for speech model variants.
  Dialogflow/metadata/V2/AudioConfig.php
  Dialogflow/metadata/V2/Session.php
  Dialogflow/src/V2/AudioEncoding.php
  Dialogflow/src/V2/InputAudioConfig.php
  Dialogflow/src/V2/OutputAudioConfig.php
  Dialogflow/src/V2/SpeechModelVariant.php
  Dialogflow/synth.metadata
Labels: api: dialogflow, cla: yes

#1859 Add samples for using Bootstrap class
  ErrorReporting/README.md
  README.md
Labels: api: clouderrorreporting, cla: yes
