Repository googleapis/google-cloud-php, pull requests merged in 2019-06, with the labels that each got.

#1988 feat(dataproc): Update Dataproc generated clients
  Dataproc/metadata/V1/Clusters.php
  Dataproc/metadata/V1/Shared.php
  Dataproc/src/V1/ClusterConfig.php
  Dataproc/src/V1/ClusterControllerGrpcClient.php
  Dataproc/src/V1/Component.php
  Dataproc/src/V1/CreateClusterRequest.php
  Dataproc/src/V1/DeleteClusterRequest.php
  Dataproc/src/V1/Gapic/ClusterControllerGapicClient.php
  Dataproc/src/V1/Gapic/JobControllerGapicClient.php
  Dataproc/src/V1/Gapic/WorkflowTemplateServiceGapicClient.php
  Dataproc/src/V1/GceClusterConfig.php
  Dataproc/src/V1/JobControllerGrpcClient.php
  Dataproc/src/V1/JobReference.php
  Dataproc/src/V1/OrderedJob.php
  Dataproc/src/V1/SoftwareConfig.php
  Dataproc/src/V1/SubmitJobRequest.php
  Dataproc/src/V1/TemplateParameter.php
  Dataproc/src/V1/UpdateClusterRequest.php
  Dataproc/src/V1/WorkflowTemplateServiceGrpcClient.php
  Dataproc/src/V1beta2/Gapic/JobControllerGapicClient.php
  Dataproc/synth.metadata
  Dataproc/tests/Unit/V1/ClusterControllerClientTest.php
  Dataproc/tests/Unit/V1/JobControllerClientTest.php
  Dataproc/tests/Unit/V1/WorkflowTemplateServiceClientTest.php
  Dataproc/tests/Unit/V1beta2/AutoscalingPolicyServiceClientTest.php
  Dataproc/tests/Unit/V1beta2/ClusterControllerClientTest.php
  Dataproc/tests/Unit/V1beta2/JobControllerClientTest.php
  Dataproc/tests/Unit/V1beta2/WorkflowTemplateServiceClientTest.php
Labels: api: dataproc, cla: yes

#1990 Prepare v0.103.0
  BigQuery/VERSION
  BigQuery/src/BigQueryClient.php
  Core/VERSION
  Dataproc/VERSION
  Datastore/VERSION
  Datastore/src/DatastoreClient.php
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Redis/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Storage/VERSION
  Storage/src/StorageClient.php
  Vision/VERSION
  Vision/src/VisionClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1992 Fix anchor link
  README.md
Labels: cla: yes

#1989 fix(debugger): Static analysis fixes and bug patches.
  Debugger/src/Agent.php
  Debugger/src/Breakpoint.php
  Debugger/src/BreakpointStorage/SysvBreakpointStorage.php
  Debugger/src/Debuggee.php
  Debugger/src/DebuggerClient.php
  Debugger/src/StatusMessage.php
  Debugger/tests/System/BasicTest.php
  Debugger/tests/Unit/DebuggerClientTest.php
Labels: api: clouddebugger, cla: yes

#1994 fix(core): Exclude generated code from snippet scanner
  Core/src/Testing/TestHelpers.php
Labels: cla: yes

#1977 fix: Add namespaces and test configs in component tool
  dev/src/AddComponent/Command/AddComponent.php
  dev/src/AddComponent/Composer.php
  dev/src/AddComponent/TestConfig.php
  dev/src/AddComponent/templates/template-phpunit-snippets.xml.dist.txt
  dev/src/AddComponent/templates/template-phpunit-system.xml.dist.txt
  dev/src/AddComponent/templates/template-phpunit.xml.dist.txt
Labels: cla: yes

#2005 docs(kms): Update Documentation.
  Kms/src/V1/Gapic/KeyManagementServiceGapicClient.php
  Kms/synth.metadata
  Kms/tests/Unit/V1/KeyManagementServiceClientTest.php
Labels: api: cloudkms, cla: yes

#2010 fix: Update timeout configuration, update generated unit tests.
  PubSub/src/V1/resources/publisher_client_config.json
  PubSub/synth.metadata
  PubSub/tests/Unit/V1/PublisherClientTest.php
  PubSub/tests/Unit/V1/SubscriberClientTest.php
Labels: api: pubsub, cla: yes

#1996 test: Update generated unit tests.
  BigQueryDataTransfer/src/V1/Gapic/DataTransferServiceGapicClient.php
  BigQueryDataTransfer/synth.metadata
  BigQueryDataTransfer/tests/Unit/V1/DataTransferServiceClientTest.php
Labels: api: bigquerydatatransfer, cla: yes

#2003 test: Update generated unit tests.
  Firestore/synth.metadata
  Firestore/tests/Unit/Admin/V1/FirestoreAdminClientTest.php
  Firestore/tests/Unit/V1/FirestoreClientTest.php
  Firestore/tests/Unit/V1beta1/FirestoreClientTest.php
Labels: api: firestore, cla: yes

#2002 test: Update generated unit tests.
  ErrorReporting/synth.metadata
  ErrorReporting/tests/Unit/V1beta1/ErrorGroupServiceClientTest.php
  ErrorReporting/tests/Unit/V1beta1/ErrorStatsServiceClientTest.php
  ErrorReporting/tests/Unit/V1beta1/ReportErrorsServiceClientTest.php
Labels: api: clouderrorreporting, cla: yes

#2001 test: Update generated unit tests.
  Dlp/src/V2/Gapic/DlpServiceGapicClient.php
  Dlp/synth.metadata
  Dlp/tests/Unit/V2/DlpServiceClientTest.php
Labels: api: dlp, cla: yes

#2000 test: Update generated unit tests.
  Dialogflow/src/V2/Gapic/EntityTypesGapicClient.php
  Dialogflow/synth.metadata
  Dialogflow/tests/Unit/V2/AgentsClientTest.php
  Dialogflow/tests/Unit/V2/ContextsClientTest.php
  Dialogflow/tests/Unit/V2/EntityTypesClientTest.php
  Dialogflow/tests/Unit/V2/IntentsClientTest.php
  Dialogflow/tests/Unit/V2/SessionEntityTypesClientTest.php
  Dialogflow/tests/Unit/V2/SessionsClientTest.php
Labels: api: dialogflow, cla: yes

#2007 test: Update generated unit tests.
  Logging/synth.metadata
  Logging/tests/Unit/V2/ConfigServiceV2ClientTest.php
  Logging/tests/Unit/V2/LoggingServiceV2ClientTest.php
  Logging/tests/Unit/V2/MetricsServiceV2ClientTest.php
Labels: api: logging, cla: yes

#2004 test: Update generated unit tests.
  Iot/synth.metadata
  Iot/tests/Unit/V1/DeviceManagerClientTest.php
Labels: api: cloudiot, cla: yes

#2009 test: Update generated unit tests.
  OsLogin/synth.metadata
  OsLogin/tests/Unit/V1/OsLoginServiceClientTest.php
  OsLogin/tests/Unit/V1beta/OsLoginServiceClientTest.php
Labels: api: oslogin, cla: yes

#1999 test: Update generated unit tests.
  Debugger/src/V2/Gapic/Debugger2GapicClient.php
  Debugger/synth.metadata
  Debugger/tests/Unit/V2/Controller2ClientTest.php
  Debugger/tests/Unit/V2/Debugger2ClientTest.php
Labels: api: clouddebugger, cla: yes

#2012 test: Update generated unit tests.
  Spanner/src/V1/Gapic/SpannerGapicClient.php
  Spanner/synth.metadata
  Spanner/tests/Unit/Admin/Database/V1/DatabaseAdminClientTest.php
  Spanner/tests/Unit/Admin/Instance/V1/InstanceAdminClientTest.php
  Spanner/tests/Unit/V1/SpannerClientTest.php
Labels: api: spanner, cla: yes

#1993 feat: Add frame/video confidence threshhold and support for object tracking
  VideoIntelligence/metadata/V1/VideoIntelligence.php
  VideoIntelligence/src/V1/LabelDetectionConfig.php
  VideoIntelligence/src/V1/ObjectTrackingConfig.php
  VideoIntelligence/src/V1/TextDetectionConfig.php
  VideoIntelligence/src/V1/VideoContext.php
  VideoIntelligence/synth.metadata
  VideoIntelligence/tests/Unit/V1/VideoIntelligenceServiceClientTest.php
  VideoIntelligence/tests/Unit/V1beta2/VideoIntelligenceServiceClientTest.php
Labels: api: videointelligence, cla: yes

#2018 test: Update generated tests.
  Vision/synth.metadata
  Vision/tests/System/V1/ImageAnnotatorSmokeTest.php
  Vision/tests/Unit/V1/ImageAnnotatorClientTest.php
  Vision/tests/Unit/V1/ProductSearchClientTest.php
Labels: api: vision, cla: yes

#2016 test: Update generated unit tests.
  Trace/synth.metadata
  Trace/tests/Unit/V2/TraceServiceClientTest.php
Labels: api: cloudtrace, cla: yes

#2015 test: Update generated unit tests.
  TextToSpeech/synth.metadata
  TextToSpeech/tests/Unit/V1/TextToSpeechClientTest.php
Labels: api: texttospeech, cla: yes

#2014 test: Update generated unit tests.
  Tasks/src/V2/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2beta2/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2beta3/Gapic/CloudTasksGapicClient.php
  Tasks/synth.metadata
  Tasks/tests/Unit/V2/CloudTasksClientTest.php
  Tasks/tests/Unit/V2beta2/CloudTasksClientTest.php
  Tasks/tests/Unit/V2beta3/CloudTasksClientTest.php
Labels: api: cloudtasks, cla: yes

#1995 test: Update generated unit tests.
  Asset/synth.metadata
  Asset/tests/Unit/V1/AssetServiceClientTest.php
  Asset/tests/Unit/V1beta1/AssetServiceClientTest.php
Labels: api: cloudasset, cla: yes

#2022 feat(dlp): Add stored info type statistics.
  Dlp/metadata/V2/Dlp.php
  Dlp/metadata/V2/Storage.php
  Dlp/src/V2/Action/PublishToPubSub.php
  Dlp/src/V2/Gapic/DlpServiceGapicClient.php
  Dlp/src/V2/InspectJobConfig.php
  Dlp/src/V2/LargeCustomDictionaryStats.php
  Dlp/src/V2/ListDlpJobsRequest.php
  Dlp/src/V2/StoredInfoTypeStats.php
  Dlp/src/V2/StoredInfoTypeVersion.php
  Dlp/synth.metadata
Labels: api: dlp, cla: yes

#2021 Addresses invalid serialization of timestamps
  Datastore/src/Connection/Grpc.php
Labels: api: datastore, cla: yes

#2025 feat: Update v1 generated client.
  BigQueryDataTransfer/metadata/V1/Datasource.php
  BigQueryDataTransfer/metadata/V1/Datatransfer.php
  BigQueryDataTransfer/metadata/V1/Resourcestate.php
  BigQueryDataTransfer/metadata/V1/Transfer.php
  BigQueryDataTransfer/src/V1/CreateDataSourceDefinitionRequest.php
  BigQueryDataTransfer/src/V1/CreateTransferConfigRequest.php
  BigQueryDataTransfer/src/V1/DataSource.php
  BigQueryDataTransfer/src/V1/DataSourceDefinition.php
  BigQueryDataTransfer/src/V1/DataSourceParameter.php
  BigQueryDataTransfer/src/V1/DataSourceParameter/Type.php
  BigQueryDataTransfer/src/V1/DataSourceServiceGrpcClient.php
  BigQueryDataTransfer/src/V1/DataTransferServiceGrpcClient.php
  BigQueryDataTransfer/src/V1/DeleteDataSourceDefinitionRequest.php
  BigQueryDataTransfer/src/V1/EnableDataTransferServiceRequest.php
  BigQueryDataTransfer/src/V1/FinishRunRequest.php
  BigQueryDataTransfer/src/V1/Gapic/DataTransferServiceGapicClient.php
  BigQueryDataTransfer/src/V1/GetDataSourceDefinitionRequest.php
  BigQueryDataTransfer/src/V1/ImportedDataInfo.php
  BigQueryDataTransfer/src/V1/ImportedDataInfo/Encoding.php
  BigQueryDataTransfer/src/V1/ImportedDataInfo/FieldSchema.php
  BigQueryDataTransfer/src/V1/ImportedDataInfo/FieldSchema/Type.php
  BigQueryDataTransfer/src/V1/ImportedDataInfo/Format.php
  BigQueryDataTransfer/src/V1/ImportedDataInfo/RecordSchema.php
  BigQueryDataTransfer/src/V1/ImportedDataInfo/TableDefinition.php
  BigQueryDataTransfer/src/V1/ImportedDataInfo/TableDefinition/CsvOptions.php
  BigQueryDataTransfer/src/V1/ImportedDataInfo_Encoding.php
  BigQueryDataTransfer/src/V1/ImportedDataInfo_FieldSchema.php
  BigQueryDataTransfer/src/V1/ImportedDataInfo_FieldSchema_Type.php
  BigQueryDataTransfer/src/V1/ImportedDataInfo_Format.php
  BigQueryDataTransfer/src/V1/ImportedDataInfo_RecordSchema.php
  BigQueryDataTransfer/src/V1/ImportedDataInfo_TableDefinition.php
  BigQueryDataTransfer/src/V1/ImportedDataInfo_TableDefinition_CsvOptions.php
  BigQueryDataTransfer/src/V1/IsDataTransferServiceEnabledRequest.php
  BigQueryDataTransfer/src/V1/IsDataTransferServiceEnabledResponse.php
  BigQueryDataTransfer/src/V1/ListDataSourceDefinitionsRequest.php
  BigQueryDataTransfer/src/V1/ListDataSourceDefinitionsResponse.php
  BigQueryDataTransfer/src/V1/LogTransferRunMessagesRequest.php
  BigQueryDataTransfer/src/V1/ScheduleOptions.php
  BigQueryDataTransfer/src/V1/ScheduleTransferRunsRequest.php
  BigQueryDataTransfer/src/V1/StartBigQueryJobsRequest.php
  BigQueryDataTransfer/src/V1/StartManualTransferRunsRequest.php
  BigQueryDataTransfer/src/V1/StartManualTransferRunsRequest/TimeRange.php
  BigQueryDataTransfer/src/V1/StartManualTransferRunsRequest_TimeRange.php
  BigQueryDataTransfer/src/V1/StartManualTransferRunsResponse.php
  BigQueryDataTransfer/src/V1/TransferConfig.php
  BigQueryDataTransfer/src/V1/TransferMessage/MessageSeverity.php
  BigQueryDataTransfer/src/V1/TransferRun.php
  BigQueryDataTransfer/src/V1/TransferState.php
  BigQueryDataTransfer/src/V1/UpdateDataSourceDefinitionRequest.php
  BigQueryDataTransfer/src/V1/UpdateTransferConfigRequest.php
  BigQueryDataTransfer/src/V1/UpdateTransferRunRequest.php
  BigQueryDataTransfer/src/V1/WriteDisposition.php
  BigQueryDataTransfer/src/V1/resources/data_transfer_service_client_config.json
  BigQueryDataTransfer/src/V1/resources/data_transfer_service_rest_client_config.php
  BigQueryDataTransfer/synth.metadata
  BigQueryDataTransfer/tests/Unit/V1/DataTransferServiceClientTest.php
Labels: api: bigquerydatatransfer, cla: yes

#2028 test: Update unit test groups.
  ErrorReporting/synth.metadata
  ErrorReporting/tests/System/V1beta1/ReportErrorsServiceSmokeTest.php
  ErrorReporting/tests/Unit/V1beta1/ErrorGroupServiceClientTest.php
  ErrorReporting/tests/Unit/V1beta1/ErrorStatsServiceClientTest.php
  ErrorReporting/tests/Unit/V1beta1/ReportErrorsServiceClientTest.php
Labels: api: clouderrorreporting, cla: yes

#2032 test: Update unit test groups.
  VideoIntelligence/synth.metadata
  VideoIntelligence/tests/System/V1/VideoIntelligenceServiceSmokeTest.php
  VideoIntelligence/tests/Unit/V1/VideoIntelligenceServiceClientTest.php
  VideoIntelligence/tests/Unit/V1beta2/VideoIntelligenceServiceClientTest.php
Labels: api: videointelligence, cla: yes

#2030 test: Update unit test groups.
  OsLogin/synth.metadata
  OsLogin/tests/Unit/V1/OsLoginServiceClientTest.php
  OsLogin/tests/Unit/V1beta/OsLoginServiceClientTest.php
Labels: api: oslogin, cla: yes

#2037 test: Fix test groups for generated unit tests
  BigQueryDataTransfer/synth.py
  Firestore/synth.py
  Spanner/synth.py
Labels: api: bigquerydatatransfer, api: firestore, api: spanner, cla: yes

#2038 Prepare v0.104.0
  Asset/VERSION
  BigQueryDataTransfer/VERSION
  Core/VERSION
  Datastore/VERSION
  Datastore/src/DatastoreClient.php
  Debugger/VERSION
  Debugger/src/DebuggerClient.php
  Dialogflow/VERSION
  Dlp/VERSION
  ErrorReporting/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Iot/VERSION
  Kms/VERSION
  Logging/VERSION
  Logging/src/LoggingClient.php
  OsLogin/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Tasks/VERSION
  TextToSpeech/VERSION
  Trace/VERSION
  Trace/src/TraceClient.php
  VideoIntelligence/VERSION
  Vision/VERSION
  Vision/src/VisionClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1974 feat(core): Update Compute Metadata Reader
  Core/src/Compute/Metadata.php
  Core/src/Compute/Metadata/Readers/HttpHandlerReader.php
  Core/src/Compute/Metadata/Readers/StreamReader.php
  Core/tests/Unit/Compute/Metadata/Readers/HttpHandlerReaderTest.php
  Core/tests/Unit/Compute/Metadata/Readers/StreamReaderTest.php
  Core/tests/Unit/Compute/MetadataTest.php
Labels: :rotating_light:, api: core, cla: yes

#1951 test: Add system tests for storage location type
  Storage/tests/System/ManageBucketsTest.php
Labels: :rotating_light:, api: storage, cla: yes

#2040 docs: Update documentation.
  BigQueryDataTransfer/src/V1/CreateTransferConfigRequest.php
  BigQueryDataTransfer/src/V1/Gapic/DataTransferServiceGapicClient.php
  BigQueryDataTransfer/src/V1/UpdateTransferConfigRequest.php
  BigQueryDataTransfer/synth.metadata
  BigQueryDataTransfer/tests/System/V1/DataTransferServiceSmokeTest.php
Labels: api: bigquerydatatransfer, cla: yes

#2043 docs: Update documentation.
  VideoIntelligence/src/V1beta2/Gapic/VideoIntelligenceServiceGapicClient.php
  VideoIntelligence/synth.metadata
  VideoIntelligence/tests/Unit/V1beta2/VideoIntelligenceServiceClientTest.php
Labels: api: videointelligence, cla: yes

#2041 feat!: Remove `enableDataTransferService` and `isDataTransferServiceEnabled` resources and partner info.
  BigQueryDataTransfer/metadata/V1/Datatransfer.php
  BigQueryDataTransfer/metadata/V1/Transfer.php
  BigQueryDataTransfer/src/V1/DataSource.php
  BigQueryDataTransfer/src/V1/DataSourceParameter.php
  BigQueryDataTransfer/src/V1/DataTransferServiceGrpcClient.php
  BigQueryDataTransfer/src/V1/Gapic/DataTransferServiceGapicClient.php
  BigQueryDataTransfer/src/V1/ScheduleTransferRunsRequest.php
  BigQueryDataTransfer/src/V1/StartManualTransferRunsRequest.php
  BigQueryDataTransfer/src/V1/TransferConfig.php
  BigQueryDataTransfer/src/V1/TransferMessage/MessageSeverity.php
  BigQueryDataTransfer/src/V1/TransferRun.php
  BigQueryDataTransfer/src/V1/resources/data_transfer_service_client_config.json
  BigQueryDataTransfer/src/V1/resources/data_transfer_service_rest_client_config.php
  BigQueryDataTransfer/synth.metadata
  BigQueryDataTransfer/tests/Unit/V1/DataTransferServiceClientTest.php
Labels: api: bigquerydatatransfer, cla: yes

#2046 fix: Fix BigQueryDataTransfer smoke test
  BigQueryDataTransfer/tests/System/V1/DataTransferServiceSmokeTest.php
Labels: api: bigquerydatatransfer, cla: yes

#2050 feat: Add support for avro
  Dlp/metadata/V2/Dlp.php
  Dlp/metadata/V2/Storage.php
  Dlp/src/V2/ByteContentItem/BytesType.php
  Dlp/src/V2/FileType.php
  Dlp/synth.metadata
Labels: api: dlp, cla: yes

#2056 feat: Update timeout configurations.
  Spanner/src/Admin/Database/V1/resources/database_admin_client_config.json
  Spanner/src/V1/resources/spanner_client_config.json
  Spanner/synth.metadata
Labels: api: spanner, cla: yes

#2051 docs: Correct web security scanner doc site link
  docs/contents/cloud-web-security-scanner.json
Labels: api: websecurityscanner, cla: yes

#2057 build: add release-please bin to CI
  .kokoro/continuous/node10/release.sh
  .kokoro/continuous/node10/test.cfg
Labels: cla: yes

#2059 build: should be php-yoshi release type
  .kokoro/continuous/node10/release.sh
Labels: cla: yes

#1998 docs: Update samples.
  Container/src/V1/Gapic/ClusterManagerGapicClient.php
  Container/synth.metadata
  Container/synth.py
  Container/tests/Unit/V1/ClusterManagerClientTest.php
Labels: api: container, cla: yes

#2006 docs: Update documentation and tests.
  Language/src/V1/Gapic/LanguageServiceGapicClient.php
  Language/src/V1beta2/Gapic/LanguageServiceGapicClient.php
  Language/synth.metadata
  Language/synth.py
  Language/tests/System/V1beta2/LanguageServiceSmokeTest.php
  Language/tests/Unit/V1/LanguageServiceClientTest.php
  Language/tests/Unit/V1beta2/LanguageServiceClientTest.php
Labels: :rotating_light:, api: language, cla: yes

#2008 docs: Update documentation.
  Monitoring/src/V3/Gapic/AlertPolicyServiceGapicClient.php
  Monitoring/src/V3/Gapic/GroupServiceGapicClient.php
  Monitoring/src/V3/Gapic/MetricServiceGapicClient.php
  Monitoring/src/V3/Gapic/NotificationChannelServiceGapicClient.php
  Monitoring/src/V3/Gapic/UptimeCheckServiceGapicClient.php
  Monitoring/synth.metadata
  Monitoring/synth.py
  Monitoring/tests/Unit/V3/AlertPolicyServiceClientTest.php
  Monitoring/tests/Unit/V3/GroupServiceClientTest.php
  Monitoring/tests/Unit/V3/MetricServiceClientTest.php
  Monitoring/tests/Unit/V3/NotificationChannelServiceClientTest.php
  Monitoring/tests/Unit/V3/UptimeCheckServiceClientTest.php
Labels: api: monitoring, cla: yes

#1997 feat: Update ReadRowsResponse, update sample code.
  Bigtable/src/Admin/V2/Gapic/BigtableInstanceAdminGapicClient.php
  Bigtable/src/Admin/V2/Gapic/BigtableTableAdminGapicClient.php
  Bigtable/src/V2/Gapic/BigtableGapicClient.php
  Bigtable/src/V2/ReadRowsResponse/CellChunk.php
  Bigtable/synth.metadata
  Bigtable/synth.py
  Bigtable/tests/Unit/Admin/V2/BigtableInstanceAdminClientTest.php
  Bigtable/tests/Unit/Admin/V2/BigtableTableAdminClientTest.php
  Bigtable/tests/Unit/V2/BigtableClientTest.php
Labels: :rotating_light:, api: bigtable, cla: yes

#2013 docs: Update documentation and generated tests.
  Speech/src/V1/Gapic/SpeechGapicClient.php
  Speech/src/V1p1beta1/Gapic/SpeechGapicClient.php
  Speech/src/V1p1beta1/SpeechContext.php
  Speech/synth.metadata
  Speech/synth.py
  Speech/tests/System/V1/SpeechSmokeTest.php
  Speech/tests/System/V1p1beta1/SpeechSmokeTest.php
  Speech/tests/Unit/V1/SpeechClientTest.php
  Speech/tests/Unit/V1p1beta1/SpeechClientTest.php
Labels: api: speech, cla: yes

#2065 fix: Use updated URIs for operations
  VideoIntelligence/src/V1/resources/video_intelligence_service_rest_client_config.php
Labels: api: videointelligence, cla: yes

#2069 docs: Update documentation.
  Speech/src/V1/RecognitionConfig.php
  Speech/src/V1p1beta1/RecognitionConfig.php
  Speech/synth.metadata
Labels: api: speech, cla: yes

#1848 Skip Content-Length if stream size is unknown
  Core/src/Upload/MultipartUploader.php
  Core/tests/Unit/Upload/MultipartUploaderTest.php
Labels: api: core, cla: yes

#2071 fix: Remove unset content type in system test
  Storage/tests/System/SignedUrlTest.php
Labels: api: storage, cla: yes

#2073 fix: Use image/jpeg contentType instead of image/jpg & explicit…
  Storage/tests/System/SignedUrlTest.php
Labels: api: storage, cla: yes

#2072 Prepare v0.105.0
  BigQueryDataTransfer/VERSION
  Bigtable/VERSION
  Bigtable/src/BigtableClient.php
  Container/VERSION
  Core/VERSION
  Dlp/VERSION
  Kms/VERSION
  Language/VERSION
  Language/src/LanguageClient.php
  Monitoring/VERSION
  Redis/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Speech/VERSION
  Speech/src/SpeechClient.php
  Storage/VERSION
  Storage/src/StorageClient.php
  VideoIntelligence/VERSION
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes
