Repository googleapis/google-cloud-php, pull requests merged in 2019-07, with the labels that each got.

#2098 test: Fix location type system test expectations
  Storage/tests/System/ManageBucketsTest.php
Labels: api: storage, cla: yes

#2100 Pin to artman v0.29.1 until protoc v3.9.0 lands
  Asset/synth.py
  AutoMl/synth.py
  BigQueryDataTransfer/synth.py
  Bigtable/synth.py
  Container/synth.py
  Dataproc/synth.py
  Datastore/synth.py
  Debugger/synth.py
  Dialogflow/synth.py
  Dlp/synth.py
  ErrorReporting/synth.py
  Firestore/synth.py
  Iot/synth.py
  Kms/synth.py
  Language/synth.py
  Logging/synth.py
  Monitoring/synth.py
  OsLogin/synth.py
  PubSub/synth.py
  Redis/synth.py
  Scheduler/synth.py
  SecurityCenter/synth.py
  Spanner/synth.py
  Speech/synth.py
  Talent/synth.py
  Tasks/synth.py
  TextToSpeech/synth.py
  Trace/synth.py
  VideoIntelligence/synth.py
  Vision/synth.py
  WebRisk/synth.py
  WebSecurityScanner/synth.py
Labels: cla: yes

#2102 feat: Add SetAgent/DeleteAgent methods
  Dialogflow/metadata/V2/Agent.php
  Dialogflow/metadata/V2/AudioConfig.php
  Dialogflow/metadata/V2/Context.php
  Dialogflow/metadata/V2/EntityType.php
  Dialogflow/metadata/V2/Intent.php
  Dialogflow/metadata/V2/Session.php
  Dialogflow/metadata/V2/SessionEntityType.php
  Dialogflow/metadata/V2/Webhook.php
  Dialogflow/src/V2/Agent.php
  Dialogflow/src/V2/Agent/ApiVersion.php
  Dialogflow/src/V2/Agent/Tier.php
  Dialogflow/src/V2/Agent_ApiVersion.php
  Dialogflow/src/V2/Agent_Tier.php
  Dialogflow/src/V2/AgentsGrpcClient.php
  Dialogflow/src/V2/BatchCreateEntitiesRequest.php
  Dialogflow/src/V2/BatchDeleteEntitiesRequest.php
  Dialogflow/src/V2/BatchUpdateEntitiesRequest.php
  Dialogflow/src/V2/BatchUpdateEntityTypesRequest.php
  Dialogflow/src/V2/BatchUpdateIntentsRequest.php
  Dialogflow/src/V2/Context.php
  Dialogflow/src/V2/ContextsGrpcClient.php
  Dialogflow/src/V2/CreateEntityTypeRequest.php
  Dialogflow/src/V2/CreateIntentRequest.php
  Dialogflow/src/V2/DeleteAgentRequest.php
  Dialogflow/src/V2/EntityTypesGrpcClient.php
  Dialogflow/src/V2/EventInput.php
  Dialogflow/src/V2/Gapic/AgentsGapicClient.php
  Dialogflow/src/V2/Gapic/ContextsGapicClient.php
  Dialogflow/src/V2/Gapic/EntityTypesGapicClient.php
  Dialogflow/src/V2/Gapic/IntentsGapicClient.php
  Dialogflow/src/V2/Gapic/SessionEntityTypesGapicClient.php
  Dialogflow/src/V2/GetEntityTypeRequest.php
  Dialogflow/src/V2/GetIntentRequest.php
  Dialogflow/src/V2/InputAudioConfig.php
  Dialogflow/src/V2/Intent/Parameter.php
  Dialogflow/src/V2/IntentsGrpcClient.php
  Dialogflow/src/V2/ListEntityTypesRequest.php
  Dialogflow/src/V2/ListIntentsRequest.php
  Dialogflow/src/V2/QueryResult.php
  Dialogflow/src/V2/SessionEntityTypesGrpcClient.php
  Dialogflow/src/V2/SetAgentRequest.php
  Dialogflow/src/V2/SpeechModelVariant.php
  Dialogflow/src/V2/StreamingDetectIntentRequest.php
  Dialogflow/src/V2/StreamingDetectIntentResponse.php
  Dialogflow/src/V2/StreamingRecognitionResult/MessageType.php
  Dialogflow/src/V2/TextInput.php
  Dialogflow/src/V2/UpdateEntityTypeRequest.php
  Dialogflow/src/V2/UpdateIntentRequest.php
  Dialogflow/src/V2/WebhookResponse.php
  Dialogflow/src/V2/resources/agents_client_config.json
  Dialogflow/src/V2/resources/agents_rest_client_config.php
  Dialogflow/src/V2/resources/contexts_rest_client_config.php
  Dialogflow/src/V2/resources/entity_types_rest_client_config.php
  Dialogflow/src/V2/resources/intents_rest_client_config.php
  Dialogflow/src/V2/resources/session_entity_types_rest_client_config.php
  Dialogflow/src/V2/resources/sessions_rest_client_config.php
  Dialogflow/synth.metadata
  Dialogflow/tests/Unit/V2/AgentsClientTest.php
Labels: api: dialogflow, cla: yes

#2103 feat: Add ability to publish findings to Cloud Data Catalog
  Dlp/metadata/V2/Dlp.php
  Dlp/src/V2/Action.php
  Dlp/src/V2/Action/PublishFindingsToCloudDataCatalog.php
  Dlp/src/V2/Action_PublishFindingsToCloudDataCatalog.php
  Dlp/src/V2/CustomInfoType/DetectionRule.php
  Dlp/synth.metadata
Labels: api: dlp, cla: yes

#2111 chore: Update doc generator `exclude`.
  dev/src/DocGenerator/Command/Docs.php
  dev/src/DocGenerator/Parser/CodeParser.php
  dev/src/DocGenerator/ReflectorRegister.php
  docs/external-classes.json
  docs/external-classes.php
Labels: cla: yes, type: docs

#2033 Added suggested App Engine config to docs
  Datastore/README.md
Labels: cla: yes, needs work

#2122 fix: Fix update subscription method
  PubSub/src/Connection/Grpc.php
  PubSub/src/Subscription.php
  PubSub/tests/Snippet/SubscriptionTest.php
  PubSub/tests/System/ManageSubscriptionsTest.php
  PubSub/tests/System/PubSubTestCase.php
  PubSub/tests/Unit/Connection/GrpcTest.php
  PubSub/tests/Unit/SubscriptionTest.php
Labels: api: pubsub, cla: yes

#2039 feat: Add support for BigQuery Models.
  BigQuery/src/Connection/ConnectionInterface.php
  BigQuery/src/Connection/Rest.php
  BigQuery/src/Connection/ServiceDefinition/bigquery-v2.json
  BigQuery/src/Dataset.php
  BigQuery/src/Model.php
  BigQuery/tests/Snippet/DatasetTest.php
  BigQuery/tests/Snippet/ModelTest.php
  BigQuery/tests/System/ManageModelsTest.php
  BigQuery/tests/Unit/Connection/RestTest.php
  BigQuery/tests/Unit/DatasetTest.php
  BigQuery/tests/Unit/ModelTest.php
Labels: api: bigquery, cla: yes

#1846 feat(storage): Add CRC32 Checksums to Cloud Storage uploads.
  Core/src/Upload/ResumableUploader.php
  Storage/composer.json
  Storage/src/Bucket.php
  Storage/src/Connection/Rest.php
  Storage/tests/System/UploadObjectsTest.php
  Storage/tests/Unit/Connection/RestTest.php
  composer.json
Labels: api: storage, cla: yes

#2124 feat: Add explicit support for dataset filters
  BigQuery/src/BigQueryClient.php
  BigQuery/tests/System/ManageDatasetsTest.php
Labels: api: bigquery, cla: yes

#2126 feat: Add SpeakerDiarizationConfig to v1p1beta1.
  Speech/metadata/V1P1Beta1/CloudSpeech.php
  Speech/src/V1p1beta1/RecognitionConfig.php
  Speech/src/V1p1beta1/SpeakerDiarizationConfig.php
  Speech/synth.metadata
Labels: api: speech, cla: yes

#2117 fix: Add documentation for new pubsub features and fix Duration handling.
  Core/src/TimeTrait.php
  Core/tests/Unit/TimestampTest.php
  PubSub/src/Connection/Grpc.php
  PubSub/src/Connection/ServiceDefinition/pubsub-v1.json
  PubSub/src/Message.php
  PubSub/src/Subscription.php
  PubSub/src/Topic.php
  PubSub/tests/System/ManageSubscriptionsTest.php
  PubSub/tests/Unit/MessageTest.php
  PubSub/tests/Unit/SubscriptionTest.php
Labels: api: pubsub, cla: yes

#2135 feat: Add IAM `GetPolicyOptions` support.
  Tasks/src/V2/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2beta2/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2beta3/Gapic/CloudTasksGapicClient.php
  Tasks/synth.metadata
Labels: api: cloudtasks, cla: yes

#2134 feat: Deprecate v1p1beta1 diarization fields in favor of `SpeakerDiarizationConfig`.
  Speech/metadata/V1P1Beta1/CloudSpeech.php
  Speech/src/V1p1beta1/RecognitionConfig.php
  Speech/src/V1p1beta1/SpeakerDiarizationConfig.php
  Speech/synth.metadata
Labels: api: speech, cla: yes

#2133 feat: Add IAM `GetPolicyOptions` support.
  Spanner/src/Admin/Database/V1/Gapic/DatabaseAdminGapicClient.php
  Spanner/src/Admin/Instance/V1/Gapic/InstanceAdminGapicClient.php
  Spanner/synth.metadata
Labels: api: spanner, cla: yes

#2130 feat: Add IAM `GetPolicyOptions` support.
  Iot/src/V1/Gapic/DeviceManagerGapicClient.php
  Iot/synth.metadata
Labels: api: cloudiot, cla: yes

#2131 feat: Add IAM `GetPolicyOptions` support.
  Kms/src/V1/Gapic/KeyManagementServiceGapicClient.php
  Kms/synth.metadata
Labels: api: cloudkms, cla: yes

#2129 feat: Add IAM `GetPolicyOptions` support and update retry and timeout configuration.
  Bigtable/src/Admin/V2/Gapic/BigtableInstanceAdminGapicClient.php
  Bigtable/src/Admin/V2/resources/bigtable_instance_admin_client_config.json
  Bigtable/src/Admin/V2/resources/bigtable_instance_admin_descriptor_config.php
  Bigtable/src/Admin/V2/resources/bigtable_table_admin_client_config.json
  Bigtable/src/Admin/V2/resources/bigtable_table_admin_descriptor_config.php
  Bigtable/src/V2/resources/bigtable_client_config.json
  Bigtable/synth.metadata
Labels: api: bigtable, cla: yes

#2132 feat: Add IAM `GetPolicyOptions` support.
  PubSub/src/V1/Gapic/PublisherGapicClient.php
  PubSub/src/V1/Gapic/SubscriberGapicClient.php
  PubSub/synth.metadata
Labels: api: pubsub, cla: yes

#2136 fix: Add locationName formatting method and update system test
  BigQueryDataTransfer/src/V1/Gapic/DataTransferServiceGapicClient.php
  BigQueryDataTransfer/synth.metadata
  BigQueryDataTransfer/tests/System/V1/DataTransferServiceSmokeTest.php
Labels: api: bigquerydatatransfer, cla: yes

#2137 feat: Add `single_utterance` to audio config, deprecate `single_utterance` request property.
  Dialogflow/metadata/V2/AudioConfig.php
  Dialogflow/metadata/V2/Session.php
  Dialogflow/src/V2/InputAudioConfig.php
  Dialogflow/src/V2/QueryResult.php
  Dialogflow/src/V2/StreamingDetectIntentRequest.php
  Dialogflow/src/V2/StreamingRecognitionResult.php
  Dialogflow/synth.metadata
Labels: api: dialogflow, cla: yes

#2099 chore: release 0.106.0
  BigQuery/VERSION
  BigQuery/src/BigQueryClient.php
  BigQueryDataTransfer/VERSION
  Bigtable/VERSION
  Bigtable/src/BigtableClient.php
  CHANGELOG.md
  Core/VERSION
  Dialogflow/VERSION
  Dlp/VERSION
  Iot/VERSION
  Kms/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Speech/VERSION
  Speech/src/SpeechClient.php
  Storage/VERSION
  Storage/src/StorageClient.php
  Tasks/VERSION
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: closed, autorelease: pending, cla: yes, type: process

#2140 fix(docs): close code snippet
  Spanner/src/Transaction.php
Labels: api: spanner, cla: yes

#2142 chore: release 0.106.1
  CHANGELOG.md
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process

#2144 docs: Update `SpeakerDiarizationConfig` documentation.
  Speech/src/V1p1beta1/SpeakerDiarizationConfig.php
  Speech/synth.metadata
Labels: api: speech, cla: yes

#2147 Removes STDERR const, which is defined by CLI SAPI
  ErrorReporting/src/Bootstrap.php
Labels: cla: yes

#2149 docs: Fix subscription expiration ttl documentation
  PubSub/src/Subscription.php
Labels: api: pubsub, cla: yes

#2153 fix: Address Firestore memory leak (affects long running processes)
  Core/src/ExponentialBackoff.php
  Firestore/src/WriteBatch.php
Labels: api: core, api: firestore, cla: yes
