Repository googleapis/google-cloud-php, pull requests merged in 2019-05, with the labels that each got.

#1860 Use the correct option for providing credentials
  Firestore/tests/System/Admin/V1/FirestoreAdminClientSmokeTest.php
Labels: cla: yes

#1864 Regenerate Vision V1
  Vision/metadata/V1/ImageAnnotator.php
  Vision/metadata/V1/WebDetection.php
  Vision/src/V1/AnnotateFileRequest.php
  Vision/src/V1/AnnotateFileResponse.php
  Vision/src/V1/AnnotateImageRequest.php
  Vision/src/V1/AsyncBatchAnnotateImagesRequest.php
  Vision/src/V1/AsyncBatchAnnotateImagesResponse.php
  Vision/src/V1/BatchAnnotateFilesRequest.php
  Vision/src/V1/BatchAnnotateFilesResponse.php
  Vision/src/V1/CropHint.php
  Vision/src/V1/FaceAnnotation.php
  Vision/src/V1/Gapic/ImageAnnotatorGapicClient.php
  Vision/src/V1/Gapic/ProductSearchGapicClient.php
  Vision/src/V1/GcsDestination.php
  Vision/src/V1/ImageAnnotatorGrpcClient.php
  Vision/src/V1/InputConfig.php
  Vision/src/V1/ProductSearchGrpcClient.php
  Vision/src/V1/ProductSearchParams.php
  Vision/src/V1/ProductSearchResults.php
  Vision/src/V1/ProductSet.php
  Vision/src/V1/resources/image_annotator_client_config.json
  Vision/src/V1/resources/image_annotator_descriptor_config.php
  Vision/src/V1/resources/image_annotator_rest_client_config.php
  Vision/src/V1/resources/product_search_client_config.json
  Vision/src/V1/resources/product_search_descriptor_config.php
  Vision/src/V1/resources/product_search_rest_client_config.php
  Vision/synth.metadata
  Vision/tests/Unit/V1/ImageAnnotatorClientTest.php
  Vision/tests/Unit/V1/ProductSearchClientTest.php
Labels: cla: yes

#1862 Use correct projectId
  Firestore/tests/System/Admin/V1/FirestoreAdminClientSmokeTest.php
Labels: cla: yes

#1861 Move Tasks V2 to GA
  README.md
  Tasks/README.md
  Tasks/metadata/V2/Cloudtasks.php
  Tasks/metadata/V2/Queue.php
  Tasks/metadata/V2/Task.php
  Tasks/src/V2/CloudTasksClient.php
  Tasks/src/V2/Gapic/CloudTasksGapicClient.php
  Tasks/synth.metadata
  Tasks/synth.py
Labels: api: cloudtasks, cla: yes

#1866 Prepare v0.100.0
  BigQueryDataTransfer/VERSION
  Bigtable/VERSION
  Bigtable/src/BigtableClient.php
  Datastore/VERSION
  Datastore/src/DatastoreClient.php
  Dialogflow/VERSION
  Dlp/VERSION
  ErrorReporting/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Iot/VERSION
  Kms/VERSION
  Logging/VERSION
  Logging/src/LoggingClient.php
  Monitoring/VERSION
  OsLogin/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Redis/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Storage/VERSION
  Storage/src/StorageClient.php
  Tasks/VERSION
  Vision/VERSION
  Vision/src/VisionClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1870 Update retry configuration.
  Spanner/src/V1/resources/spanner_client_config.json
  Spanner/synth.metadata
Labels: api: spanner, cla: yes

#1869 Remove snapshot beta warning and add KMS key name to topic.
  PubSub/metadata/V1/Pubsub.php
  PubSub/src/V1/CreateSnapshotRequest.php
  PubSub/src/V1/DeleteSnapshotRequest.php
  PubSub/src/V1/Gapic/PublisherGapicClient.php
  PubSub/src/V1/Gapic/SubscriberGapicClient.php
  PubSub/src/V1/GetSnapshotRequest.php
  PubSub/src/V1/ListSnapshotsRequest.php
  PubSub/src/V1/ListSnapshotsResponse.php
  PubSub/src/V1/ListTopicSnapshotsRequest.php
  PubSub/src/V1/ListTopicSnapshotsResponse.php
  PubSub/src/V1/PublisherGrpcClient.php
  PubSub/src/V1/PushConfig/OidcToken.php
  PubSub/src/V1/SeekRequest.php
  PubSub/src/V1/Snapshot.php
  PubSub/src/V1/SubscriberGrpcClient.php
  PubSub/src/V1/Subscription.php
  PubSub/src/V1/Topic.php
  PubSub/src/V1/UpdateSnapshotRequest.php
  PubSub/synth.metadata
  PubSub/tests/Unit/V1/PublisherClientTest.php
Labels: api: pubsub, cla: yes

#1867 Fix pagination bug with filters and test flakiness
  Datastore/src/Connection/Grpc.php
  Datastore/tests/System/QueryResultPaginationTest.php
  Datastore/tests/Unit/Connection/GrpcTest.php
Labels: api: datastore, cla: yes

#1878 Update documentation.
  Tasks/src/V2/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2beta2/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2beta3/Gapic/CloudTasksGapicClient.php
  Tasks/synth.metadata
Labels: api: cloudtasks, cla: yes

#1876 Update documentation.
  PubSub/src/V1/Gapic/PublisherGapicClient.php
  PubSub/src/V1/Gapic/SubscriberGapicClient.php
  PubSub/synth.metadata
Labels: api: pubsub, cla: yes

#1875 Update documentation.
  Kms/src/V1/Gapic/KeyManagementServiceGapicClient.php
  Kms/synth.metadata
Labels: api: cloudkms, cla: yes

#1874 Update documentation.
  Iot/src/V1/Gapic/DeviceManagerGapicClient.php
  Iot/synth.metadata
Labels: api: cloudiot, cla: yes

#1877 Update documentation.
  Spanner/src/Admin/Database/V1/Gapic/DatabaseAdminGapicClient.php
  Spanner/src/Admin/Instance/V1/Gapic/InstanceAdminGapicClient.php
  Spanner/synth.metadata
Labels: api: spanner, cla: yes

#1873 Update documentation.
  Bigtable/src/Admin/V2/Gapic/BigtableInstanceAdminGapicClient.php
  Bigtable/synth.metadata
Labels: api: bigtable, cla: yes

#1904 Update retry configuration.
  Vision/src/V1/resources/image_annotator_client_config.json
  Vision/src/V1/resources/product_search_client_config.json
  Vision/synth.metadata
Labels: api: vision, cla: yes

#1903 Update retry configuration.
  VideoIntelligence/src/V1/resources/video_intelligence_service_client_config.json
  VideoIntelligence/src/V1beta2/resources/video_intelligence_service_client_config.json
  VideoIntelligence/synth.metadata
Labels: api: videointelligence, cla: yes

#1902 Update retry configuration.
  Trace/src/V2/resources/trace_service_client_config.json
  Trace/synth.metadata
Labels: api: cloudtrace, cla: yes

#1884 Update retry configuration.
  Dataproc/src/V1/resources/cluster_controller_client_config.json
  Dataproc/src/V1/resources/job_controller_client_config.json
  Dataproc/src/V1/resources/workflow_template_service_client_config.json
  Dataproc/src/V1beta2/resources/cluster_controller_client_config.json
  Dataproc/src/V1beta2/resources/job_controller_client_config.json
  Dataproc/src/V1beta2/resources/workflow_template_service_client_config.json
  Dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#1896 Update retry configuration.
  PubSub/src/V1/resources/publisher_client_config.json
  PubSub/synth.metadata
Labels: api: pubsub, cla: yes

#1898 Update retry configuration.
  Spanner/src/Admin/Database/V1/resources/database_admin_client_config.json
  Spanner/src/Admin/Instance/V1/resources/instance_admin_client_config.json
  Spanner/synth.metadata
Labels: api: spanner, cla: yes

#1899 Update retry configuration.
  Speech/src/V1/resources/speech_client_config.json
  Speech/src/V1p1beta1/resources/speech_client_config.json
  Speech/synth.metadata
Labels: api: speech, cla: yes

#1901 Update retry configuration.
  TextToSpeech/src/V1/resources/text_to_speech_client_config.json
  TextToSpeech/synth.metadata
Labels: api: texttospeech, cla: yes

#1900 Update retry configuration.
  Tasks/src/V2/resources/cloud_tasks_client_config.json
  Tasks/src/V2beta2/resources/cloud_tasks_client_config.json
  Tasks/src/V2beta3/resources/cloud_tasks_client_config.json
  Tasks/synth.metadata
Labels: api: cloudtasks, cla: yes

#1905 Move Cloud Scheduler to GA
  README.md
  Scheduler/README.md
  Scheduler/metadata/V1/Cloudscheduler.php
  Scheduler/metadata/V1/Job.php
  Scheduler/metadata/V1/Target.php
  Scheduler/src/V1/CloudSchedulerClient.php
  Scheduler/src/V1/Gapic/CloudSchedulerGapicClient.php
  Scheduler/src/V1/HttpTarget.php
  Scheduler/src/V1/Job.php
  Scheduler/src/V1/Job_State.php
  Scheduler/src/V1/OAuthToken.php
  Scheduler/src/V1/OidcToken.php
  Scheduler/src/V1/README.md
  Scheduler/src/V1/resources/cloud_scheduler_client_config.json
  Scheduler/src/V1beta1/Gapic/CloudSchedulerGapicClient.php
  Scheduler/src/V1beta1/Job_State.php
  Scheduler/src/V1beta1/resources/cloud_scheduler_client_config.json
  Scheduler/synth.metadata
  Scheduler/synth.py
  Scheduler/tests/System/V1/CloudSchedulerSmokeTest.php
  Scheduler/tests/System/V1beta1/CloudSchedulerSmokeTest.php
Labels: api: cloudscheduler, cla: yes

#1907 Prepare v0.101.0
  Asset/VERSION
  BigQueryDataTransfer/VERSION
  Bigtable/VERSION
  Bigtable/src/BigtableClient.php
  Container/VERSION
  Dataproc/VERSION
  Datastore/VERSION
  Datastore/src/DatastoreClient.php
  Debugger/VERSION
  Debugger/src/DebuggerClient.php
  Dialogflow/VERSION
  Dlp/VERSION
  ErrorReporting/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Iot/VERSION
  Kms/VERSION
  Language/VERSION
  Language/src/LanguageClient.php
  Logging/VERSION
  Logging/src/LoggingClient.php
  Monitoring/VERSION
  OsLogin/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Redis/VERSION
  Scheduler/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Speech/VERSION
  Speech/src/SpeechClient.php
  Talent/VERSION
  Tasks/VERSION
  TextToSpeech/VERSION
  Trace/VERSION
  Trace/src/TraceClient.php
  VideoIntelligence/VERSION
  Vision/VERSION
  Vision/src/VisionClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1936 correct client name
  docs/contents/cloud-kms.json
Labels: cla: yes, type: docs

#1909 Update retry configuration
  Asset/src/V1/resources/asset_service_client_config.json
  Asset/src/V1beta1/resources/asset_service_client_config.json
  Asset/synth.metadata
Labels: api: cloudasset, cla: yes

#1910 Update retry configuration
  BigQueryDataTransfer/src/V1/resources/data_transfer_service_client_config.json
  BigQueryDataTransfer/synth.metadata
Labels: api: bigquerydatatransfer, cla: yes

#1911 Update retry configuration
  Bigtable/src/Admin/V2/resources/bigtable_instance_admin_client_config.json
  Bigtable/src/Admin/V2/resources/bigtable_table_admin_client_config.json
  Bigtable/src/V2/resources/bigtable_client_config.json
  Bigtable/synth.metadata
Labels: api: bigtable, cla: yes

#1912 Update retry configuration
  Container/src/V1/resources/cluster_manager_client_config.json
  Container/synth.metadata
Labels: api: container, cla: yes

#1913 Update retry configuration
  Dataproc/src/V1/resources/cluster_controller_client_config.json
  Dataproc/src/V1/resources/job_controller_client_config.json
  Dataproc/src/V1/resources/workflow_template_service_client_config.json
  Dataproc/src/V1beta2/resources/cluster_controller_client_config.json
  Dataproc/src/V1beta2/resources/job_controller_client_config.json
  Dataproc/src/V1beta2/resources/workflow_template_service_client_config.json
  Dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#1914 Update retry configuration
  Debugger/src/V2/resources/controller2_client_config.json
  Debugger/src/V2/resources/debugger2_client_config.json
  Debugger/synth.metadata
Labels: api: clouddebugger, cla: yes

#1915 Update retry configuration
  Dialogflow/src/V2/resources/agents_client_config.json
  Dialogflow/src/V2/resources/contexts_client_config.json
  Dialogflow/src/V2/resources/entity_types_client_config.json
  Dialogflow/src/V2/resources/intents_client_config.json
  Dialogflow/src/V2/resources/session_entity_types_client_config.json
  Dialogflow/src/V2/resources/sessions_client_config.json
  Dialogflow/synth.metadata
Labels: api: dialogflow, cla: yes

#1916 Update retry configuration
  Dlp/src/V2/resources/dlp_service_client_config.json
  Dlp/synth.metadata
Labels: api: dlp, cla: yes

#1917 Update retry configuration
  ErrorReporting/src/V1beta1/resources/error_group_service_client_config.json
  ErrorReporting/src/V1beta1/resources/error_stats_service_client_config.json
  ErrorReporting/src/V1beta1/resources/report_errors_service_client_config.json
  ErrorReporting/synth.metadata
Labels: api: clouderrorreporting, cla: yes

#1918 Update retry configuration
  Firestore/src/Admin/V1/resources/firestore_admin_client_config.json
  Firestore/src/V1/resources/firestore_client_config.json
  Firestore/src/V1beta1/resources/firestore_client_config.json
  Firestore/synth.metadata
Labels: api: firestore, cla: yes

#1919 Update retry configuration
  Iot/src/V1/resources/device_manager_client_config.json
  Iot/synth.metadata
Labels: api: cloudiot, cla: yes

#1920 Update retry configuration
  Kms/src/V1/resources/key_management_service_client_config.json
  Kms/synth.metadata
Labels: api: cloudkms, cla: yes

#1921 Update retry configuration
  Language/src/V1/resources/language_service_client_config.json
  Language/src/V1beta2/resources/language_service_client_config.json
  Language/synth.metadata
Labels: api: language, cla: yes

#1922 Update retry configuration
  Logging/src/V2/resources/config_service_v2_client_config.json
  Logging/src/V2/resources/logging_service_v2_client_config.json
  Logging/src/V2/resources/metrics_service_v2_client_config.json
  Logging/synth.metadata
Labels: api: logging, cla: yes

#1923 Update retry configuration
  Monitoring/src/V3/resources/alert_policy_service_client_config.json
  Monitoring/src/V3/resources/group_service_client_config.json
  Monitoring/src/V3/resources/metric_service_client_config.json
  Monitoring/src/V3/resources/notification_channel_service_client_config.json
  Monitoring/src/V3/resources/uptime_check_service_client_config.json
  Monitoring/synth.metadata
Labels: api: monitoring, cla: yes

#1924 Update retry configuration
  OsLogin/src/V1/resources/os_login_service_client_config.json
  OsLogin/src/V1beta/resources/os_login_service_client_config.json
  OsLogin/synth.metadata
Labels: api: oslogin, cla: yes

#1925 Update retry configuration
  PubSub/src/V1/resources/publisher_client_config.json
  PubSub/synth.metadata
Labels: api: pubsub, cla: yes

#1926 Update retry configuration
  Redis/src/V1/resources/cloud_redis_client_config.json
  Redis/src/V1beta1/resources/cloud_redis_client_config.json
  Redis/synth.metadata
Labels: api: redis, cla: yes

#1927 Update retry configuration
  Spanner/src/Admin/Database/V1/resources/database_admin_client_config.json
  Spanner/src/Admin/Instance/V1/resources/instance_admin_client_config.json
  Spanner/synth.metadata
Labels: api: spanner, cla: yes

#1928 Update retry configuration
  Speech/src/V1/resources/speech_client_config.json
  Speech/src/V1p1beta1/resources/speech_client_config.json
  Speech/synth.metadata
Labels: api: speech, cla: yes

#1929 Update retry configuration
  Tasks/src/V2/resources/cloud_tasks_client_config.json
  Tasks/src/V2beta2/resources/cloud_tasks_client_config.json
  Tasks/src/V2beta3/resources/cloud_tasks_client_config.json
  Tasks/synth.metadata
Labels: api: cloudtasks, cla: yes

#1930 Update retry configuration
  TextToSpeech/src/V1/resources/text_to_speech_client_config.json
  TextToSpeech/synth.metadata
Labels: api: texttospeech, cla: yes

#1931 Update retry configuration
  Trace/src/V2/resources/trace_service_client_config.json
  Trace/synth.metadata
Labels: api: cloudtrace, cla: yes

#1932 Update retry configuration
  VideoIntelligence/src/V1/Gapic/VideoIntelligenceServiceGapicClient.php
  VideoIntelligence/src/V1/resources/video_intelligence_service_client_config.json
  VideoIntelligence/src/V1beta2/resources/video_intelligence_service_client_config.json
  VideoIntelligence/synth.metadata
  VideoIntelligence/tests/System/V1/VideoIntelligenceServiceSmokeTest.php
  VideoIntelligence/tests/Unit/V1/VideoIntelligenceServiceClientTest.php
Labels: api: videointelligence, cla: yes

#1933 Update retry configuration
  Vision/src/V1/resources/image_annotator_client_config.json
  Vision/src/V1/resources/product_search_client_config.json
  Vision/synth.metadata
Labels: api: vision, cla: yes

#1940 Update retry configuration
  Scheduler/src/V1/resources/cloud_scheduler_client_config.json
  Scheduler/src/V1beta1/resources/cloud_scheduler_client_config.json
  Scheduler/synth.metadata
Labels: api: cloudscheduler, cla: yes

#1943 Update documentation.
  Vision/src/V1/InputConfig.php
  Vision/synth.metadata
Labels: api: vision, cla: yes

#1941 Add recognition metadata, result end time and language code.
  Speech/metadata/V1/CloudSpeech.php
  Speech/src/V1/RecognitionConfig.php
  Speech/src/V1/RecognitionMetadata.php
  Speech/src/V1/RecognitionMetadata/InteractionType.php
  Speech/src/V1/RecognitionMetadata/MicrophoneDistance.php
  Speech/src/V1/RecognitionMetadata/OriginalMediaType.php
  Speech/src/V1/RecognitionMetadata/RecordingDeviceType.php
  Speech/src/V1/RecognitionMetadata_InteractionType.php
  Speech/src/V1/RecognitionMetadata_MicrophoneDistance.php
  Speech/src/V1/RecognitionMetadata_OriginalMediaType.php
  Speech/src/V1/RecognitionMetadata_RecordingDeviceType.php
  Speech/src/V1/StreamingRecognitionResult.php
  Speech/synth.metadata
Labels: api: speech, cla: yes

#1945 Revert "Add recognition metadata, result end time and language code."
  Speech/metadata/V1/CloudSpeech.php
  Speech/src/V1/RecognitionConfig.php
  Speech/src/V1/RecognitionMetadata.php
  Speech/src/V1/RecognitionMetadata/InteractionType.php
  Speech/src/V1/RecognitionMetadata/MicrophoneDistance.php
  Speech/src/V1/RecognitionMetadata/OriginalMediaType.php
  Speech/src/V1/RecognitionMetadata/RecordingDeviceType.php
  Speech/src/V1/RecognitionMetadata_InteractionType.php
  Speech/src/V1/RecognitionMetadata_MicrophoneDistance.php
  Speech/src/V1/RecognitionMetadata_OriginalMediaType.php
  Speech/src/V1/RecognitionMetadata_RecordingDeviceType.php
  Speech/src/V1/StreamingRecognitionResult.php
  Speech/synth.metadata
Labels: cla: yes

#1946 Revert "Add Stackdriver logging config, update documentation."
  Tasks/metadata/V2/Cloudtasks.php
  Tasks/metadata/V2Beta3/Cloudtasks.php
  Tasks/metadata/V2Beta3/Queue.php
  Tasks/src/V2/AppEngineHttpRequest.php
  Tasks/src/V2/CloudTasksGrpcClient.php
  Tasks/src/V2/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2/ListQueuesRequest.php
  Tasks/src/V2/ListTasksRequest.php
  Tasks/src/V2beta3/AppEngineHttpRequest.php
  Tasks/src/V2beta3/CloudTasksGrpcClient.php
  Tasks/src/V2beta3/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2beta3/HttpRequest.php
  Tasks/src/V2beta3/ListQueuesRequest.php
  Tasks/src/V2beta3/ListTasksRequest.php
  Tasks/src/V2beta3/OAuthToken.php
  Tasks/src/V2beta3/OidcToken.php
  Tasks/src/V2beta3/Queue.php
  Tasks/src/V2beta3/StackdriverLoggingConfig.php
  Tasks/src/V2beta3/Task.php
  Tasks/synth.metadata
  Tasks/tests/Unit/V2beta3/CloudTasksClientTest.php
Labels: cla: yes

#1947 Skip commit in release builder
  dev/src/ReleaseBuilder/ReleaseBuilder.php
Labels: cla: yes

#1948 Prepare v0.101.1
  Asset/VERSION
  BigQueryDataTransfer/VERSION
  Bigtable/VERSION
  Bigtable/src/BigtableClient.php
  Container/VERSION
  Dataproc/VERSION
  Debugger/VERSION
  Debugger/src/DebuggerClient.php
  Dialogflow/VERSION
  Dlp/VERSION
  ErrorReporting/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Iot/VERSION
  Kms/VERSION
  Language/VERSION
  Language/src/LanguageClient.php
  Logging/VERSION
  Logging/src/LoggingClient.php
  Monitoring/VERSION
  OsLogin/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Redis/VERSION
  Scheduler/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Speech/VERSION
  Speech/src/SpeechClient.php
  Tasks/VERSION
  TextToSpeech/VERSION
  Trace/VERSION
  Trace/src/TraceClient.php
  VideoIntelligence/VERSION
  Vision/VERSION
  Vision/src/VisionClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1949 Add recognition metadata, result end time and language code.
  Speech/metadata/V1/CloudSpeech.php
  Speech/src/V1/RecognitionConfig.php
  Speech/src/V1/RecognitionMetadata.php
  Speech/src/V1/RecognitionMetadata/InteractionType.php
  Speech/src/V1/RecognitionMetadata/MicrophoneDistance.php
  Speech/src/V1/RecognitionMetadata/OriginalMediaType.php
  Speech/src/V1/RecognitionMetadata/RecordingDeviceType.php
  Speech/src/V1/RecognitionMetadata_InteractionType.php
  Speech/src/V1/RecognitionMetadata_MicrophoneDistance.php
  Speech/src/V1/RecognitionMetadata_OriginalMediaType.php
  Speech/src/V1/RecognitionMetadata_RecordingDeviceType.php
  Speech/src/V1/StreamingRecognitionResult.php
  Speech/synth.metadata
Labels: api: speech, cla: yes

#1950 Add Stackdriver logging config, update documentation.
  Tasks/metadata/V2/Cloudtasks.php
  Tasks/metadata/V2Beta3/Cloudtasks.php
  Tasks/metadata/V2Beta3/Queue.php
  Tasks/src/V2/AppEngineHttpRequest.php
  Tasks/src/V2/CloudTasksGrpcClient.php
  Tasks/src/V2/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2/ListQueuesRequest.php
  Tasks/src/V2/ListTasksRequest.php
  Tasks/src/V2beta3/AppEngineHttpRequest.php
  Tasks/src/V2beta3/CloudTasksGrpcClient.php
  Tasks/src/V2beta3/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2beta3/HttpRequest.php
  Tasks/src/V2beta3/ListQueuesRequest.php
  Tasks/src/V2beta3/ListTasksRequest.php
  Tasks/src/V2beta3/OAuthToken.php
  Tasks/src/V2beta3/OidcToken.php
  Tasks/src/V2beta3/Queue.php
  Tasks/src/V2beta3/StackdriverLoggingConfig.php
  Tasks/src/V2beta3/Task.php
  Tasks/synth.metadata
  Tasks/tests/Unit/V2beta3/CloudTasksClientTest.php
Labels: api: cloudtasks, cla: yes

#1956 Documentation updates.
  Dialogflow/metadata/V2/Agent.php
  Dialogflow/metadata/V2/Context.php
  Dialogflow/metadata/V2/EntityType.php
  Dialogflow/metadata/V2/Intent.php
  Dialogflow/metadata/V2/Session.php
  Dialogflow/metadata/V2/SessionEntityType.php
  Dialogflow/src/V2/Intent.php
  Dialogflow/src/V2/Intent/Message/Platform.php
  Dialogflow/src/V2/QueryResult.php
  Dialogflow/synth.metadata
Labels: api: dialogflow, cla: yes

#1954 Update documentation.
  Vision/src/V1/Product.php
  Vision/src/V1/ProductSearchParams.php
  Vision/synth.metadata
Labels: api: vision, cla: yes

#1944 Add Collection Group Query support
  Firestore/src/Connection/Grpc.php
  Firestore/src/FieldPath.php
  Firestore/src/FirestoreClient.php
  Firestore/src/Query.php
  Firestore/src/SnapshotTrait.php
  Firestore/tests/Snippet/CollectionReferenceTest.php
  Firestore/tests/Snippet/FieldPathTest.php
  Firestore/tests/Snippet/FirestoreClientTest.php
  Firestore/tests/Snippet/QueryTest.php
  Firestore/tests/System/CollectionGroupTest.php
  Firestore/tests/System/FirestoreTestCase.php
  Firestore/tests/Unit/CollectionReferenceTest.php
  Firestore/tests/Unit/FieldPathTest.php
  Firestore/tests/Unit/FirestoreClientTest.php
  Firestore/tests/Unit/QueryTest.php
Labels: api: firestore, cla: yes

#1957 Fix continue switch targeting warning in PHP 7.3
  Debugger/src/Agent.php
Labels: api: clouddebugger, cla: yes

#1958 Fix language system test
  Language/tests/System/AnalyzeTest.php
Labels: api: language, cla: yes

#1959 Add mp3 encoding and context hint boost support.
  Speech/metadata/V1P1Beta1/CloudSpeech.php
  Speech/src/V1p1beta1/RecognitionConfig/AudioEncoding.php
  Speech/src/V1p1beta1/SpeechContext.php
  Speech/synth.metadata
Labels: api: speech, cla: yes

#1963 correctly label as beta
  AutoMl/README.md
Labels: api: automl, cla: yes

#1962 move speech from alpha -> beta
  README.md
  Speech/README.md
Labels: api: speech, cla: yes

#1965 Prepare v0.102.0
  AutoMl/VERSION
  Debugger/VERSION
  Debugger/src/DebuggerClient.php
  Dialogflow/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Language/VERSION
  Language/src/LanguageClient.php
  Speech/VERSION
  Speech/src/SpeechClient.php
  Tasks/VERSION
  Vision/VERSION
  Vision/src/VisionClient.php
  WebSecurityScanner/VERSION
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1964 Assorted minor fixes for Cloud Datastore client
  Datastore/src/Connection/Grpc.php
  Datastore/src/DatastoreClient.php
  Datastore/src/Entity.php
  Datastore/src/EntityIterator.php
  Datastore/src/EntityMapper.php
  Datastore/src/Key.php
  Datastore/src/Operation.php
  Datastore/src/TransactionTrait.php
Labels: api: datastore, cla: yes

#1967 Update PubSub timeouts.
  PubSub/src/V1/resources/subscriber_client_config.json
  PubSub/synth.metadata
Labels: api: pubsub, cla: yes

#1969 Update documentation.
  Vision/src/V1/Product.php
  Vision/src/V1/ProductSearchParams.php
  Vision/synth.metadata
Labels: api: vision, cla: yes

#1973 Strip method reference in external type link
  dev/src/DocGenerator/Parser/CodeParser.php
Labels: cla: yes

#1960 Cleanup minor issues in Core
  Core/composer.json
  Core/src/ArrayTrait.php
  Core/src/Batch/BatchRunner.php
  Core/src/Batch/InterruptTrait.php
  Core/src/Batch/JobTrait.php
  Core/src/Batch/SimpleJob.php
  Core/src/Compute/Metadata.php
  Core/src/DebugInfoTrait.php
  Core/src/GrpcRequestWrapper.php
  Core/src/Iterator/ItemIteratorTrait.php
  Core/src/PhpArray.php
  Core/src/RequestWrapper.php
  Core/src/RequestWrapperTrait.php
  Core/src/Retry.php
  Core/src/ServiceBuilder.php
  Core/src/Testing/ArrayHasSameValuesToken.php
  Core/src/Testing/Snippet/Coverage/Coverage.php
  Core/src/Testing/Snippet/Coverage/ScannerInterface.php
  Core/src/Testing/Snippet/Parser/InvokeResult.php
  Core/src/Testing/Snippet/Parser/Parser.php
  Core/src/TimeTrait.php
  Core/src/Upload/ResumableUploader.php
  Core/src/Upload/SignedUrlUploader.php
  Core/tests/Unit/ArrayTraitTest.php
  Core/tests/Unit/BlobTest.php
  Core/tests/Unit/GrpcRequestWrapperTest.php
Labels: api: core, cla: yes

#1966 Add support for Autoscaling Policies to v1beta2.
  Dataproc/metadata/V1Beta2/AutoscalingPolicies.php
  Dataproc/metadata/V1Beta2/Clusters.php
  Dataproc/metadata/V1Beta2/Jobs.php
  Dataproc/metadata/V1Beta2/Shared.php
  Dataproc/src/V1beta2/AcceleratorConfig.php
  Dataproc/src/V1beta2/AutoscalingConfig.php
  Dataproc/src/V1beta2/AutoscalingPolicy.php
  Dataproc/src/V1beta2/AutoscalingPolicyServiceClient.php
  Dataproc/src/V1beta2/AutoscalingPolicyServiceGrpcClient.php
  Dataproc/src/V1beta2/BasicAutoscalingAlgorithm.php
  Dataproc/src/V1beta2/BasicYarnAutoscalingConfig.php
  Dataproc/src/V1beta2/ClusterConfig.php
  Dataproc/src/V1beta2/Component.php
  Dataproc/src/V1beta2/CreateAutoscalingPolicyRequest.php
  Dataproc/src/V1beta2/CreateClusterRequest.php
  Dataproc/src/V1beta2/DeleteAutoscalingPolicyRequest.php
  Dataproc/src/V1beta2/DeleteClusterRequest.php
  Dataproc/src/V1beta2/EndpointConfig.php
  Dataproc/src/V1beta2/Gapic/AutoscalingPolicyServiceGapicClient.php
  Dataproc/src/V1beta2/Gapic/ClusterControllerGapicClient.php
  Dataproc/src/V1beta2/Gapic/JobControllerGapicClient.php
  Dataproc/src/V1beta2/Gapic/WorkflowTemplateServiceGapicClient.php
  Dataproc/src/V1beta2/GceClusterConfig.php
  Dataproc/src/V1beta2/GetAutoscalingPolicyRequest.php
  Dataproc/src/V1beta2/InstanceGroupAutoscalingPolicyConfig.php
  Dataproc/src/V1beta2/Job.php
  Dataproc/src/V1beta2/JobReference.php
  Dataproc/src/V1beta2/KerberosConfig.php
  Dataproc/src/V1beta2/ListAutoscalingPoliciesRequest.php
  Dataproc/src/V1beta2/ListAutoscalingPoliciesResponse.php
  Dataproc/src/V1beta2/OrderedJob.php
  Dataproc/src/V1beta2/ReservationAffinity.php
  Dataproc/src/V1beta2/ReservationAffinity/Type.php
  Dataproc/src/V1beta2/ReservationAffinity_Type.php
  Dataproc/src/V1beta2/SecurityConfig.php
  Dataproc/src/V1beta2/SoftwareConfig.php
  Dataproc/src/V1beta2/SparkRJob.php
  Dataproc/src/V1beta2/SubmitJobRequest.php
  Dataproc/src/V1beta2/TemplateParameter.php
  Dataproc/src/V1beta2/UpdateAutoscalingPolicyRequest.php
  Dataproc/src/V1beta2/UpdateClusterRequest.php
  Dataproc/src/V1beta2/WorkflowTemplate.php
  Dataproc/src/V1beta2/WorkflowTemplateServiceGrpcClient.php
  Dataproc/src/V1beta2/resources/autoscaling_policy_service_client_config.json
  Dataproc/src/V1beta2/resources/autoscaling_policy_service_descriptor_config.php
  Dataproc/src/V1beta2/resources/autoscaling_policy_service_rest_client_config.php
  Dataproc/synth.metadata
  Dataproc/tests/Unit/V1beta2/AutoscalingPolicyServiceClientTest.php
  docs/contents/cloud-dataproc.json
Labels: api: dataproc, cla: yes

#1872 Adds an option to return raw results from BigQuery
  BigQuery/src/BigQueryClient.php
  BigQuery/src/QueryResults.php
  BigQuery/tests/Unit/QueryResultsTest.php
Labels: api: bigquery, cla: yes

#1980 Fix typo in Redis sample code
  Redis/README.md
Labels: cla: yes

#1984 fix: Fix static analysis issues in GCS
  Storage/src/Bucket.php
  Storage/src/Notification.php
  Storage/src/ObjectIterator.php
  Storage/src/SigningHelper.php
  Storage/src/StorageClient.php
  Storage/src/StorageObject.php
  Storage/src/StreamWrapper.php
Labels: api: storage, cla: yes

#1982 fix: Firestore cleanup and fixes
  Firestore/src/Connection/Grpc.php
  Firestore/src/PathTrait.php
  Firestore/src/Query.php
  Firestore/src/QuerySnapshot.php
  Firestore/src/SnapshotTrait.php
  Firestore/src/WriteBatch.php
Labels: api: firestore, cla: yes

#1983 fix(spanner): Fixes from static analysis.
  Spanner/src/Bytes.php
  Spanner/src/Connection/ConnectionInterface.php
  Spanner/src/Connection/Grpc.php
  Spanner/src/Database.php
  Spanner/src/Date.php
  Spanner/src/Instance.php
  Spanner/src/KeyRange.php
  Spanner/src/Operation.php
  Spanner/src/Result.php
  Spanner/src/Session/CacheSessionPool.php
  Spanner/src/Session/Session.php
  Spanner/src/SpannerClient.php
  Spanner/src/Timestamp.php
  Spanner/src/Transaction.php
  Spanner/src/ValueInterface.php
Labels: api: spanner, cla: yes
