Repository googleapis/google-cloud-php, pull requests merged in 2019-08, with the labels that each got.

#2155 feat: Add support for notification channel verification codes.
  Monitoring/src/V3/Gapic/NotificationChannelServiceGapicClient.php
  Monitoring/src/V3/resources/notification_channel_service_client_config.json
  Monitoring/src/V3/resources/notification_channel_service_rest_client_config.php
  Monitoring/synth.metadata
  Monitoring/tests/Unit/V3/NotificationChannelServiceClientTest.php
Labels: api: monitoring, cla: yes

#2158 docs: Update PubSub Documentation.
  PubSub/metadata/V1/Pubsub.php
  PubSub/src/V1/Gapic/PublisherGapicClient.php
  PubSub/src/V1/MessageStoragePolicy.php
  PubSub/src/V1/PushConfig.php
  PubSub/src/V1/Topic.php
  PubSub/synth.metadata
Labels: api: pubsub, cla: yes

#2160 chore: update renovate config
  renovate.json
Labels: cla: yes

#2154 [CHANGE ME] Re-generated VideoIntelligence to pick up changes in the API or client library generator.
  VideoIntelligence/metadata/V1/VideoIntelligence.php
  VideoIntelligence/metadata/V1Beta2/VideoIntelligence.php
  VideoIntelligence/src/V1/SpeechRecognitionAlternative.php
  VideoIntelligence/src/V1/VideoAnnotationProgress.php
  VideoIntelligence/src/V1/VideoAnnotationResults.php
  VideoIntelligence/src/V1/VideoIntelligenceServiceGrpcClient.php
  VideoIntelligence/src/V1/resources/video_intelligence_service_rest_client_config.php
  VideoIntelligence/src/V1beta2/resources/video_intelligence_service_rest_client_config.php
  VideoIntelligence/synth.metadata
Labels: api: videointelligence, cla: yes

#1938 feat(storage): Add support for service account HMAC keys
  Storage/src/Connection/ConnectionInterface.php
  Storage/src/Connection/Rest.php
  Storage/src/Connection/ServiceDefinition/storage-v1.json
  Storage/src/CreatedHmacKey.php
  Storage/src/HmacKey.php
  Storage/src/StorageClient.php
  Storage/tests/Snippet/CreatedHmacKeyTest.php
  Storage/tests/Snippet/HmacKeyTest.php
  Storage/tests/Snippet/StorageClientTest.php
  Storage/tests/System/HmacKeyTest.php
  Storage/tests/Unit/Connection/RestTest.php
  Storage/tests/Unit/CreatedHmacKeyTest.php
  Storage/tests/Unit/HmacKeyTest.php
  Storage/tests/Unit/StorageClientTest.php
Labels: api: storage, cla: yes, do not merge

#2165 chore: update synth scripts to document/utilize apiEndpoint instead of serviceAddress option
  Asset/synth.py
  AutoMl/synth.py
  BigQueryDataTransfer/synth.py
  Bigtable/synth.py
  Container/synth.py
  Dataproc/synth.py
  Datastore/synth.py
  Debugger/synth.py
  Dialogflow/synth.py
  Dlp/synth.py
  ErrorReporting/synth.py
  Firestore/synth.py
  Iot/synth.py
  Kms/synth.py
  Language/synth.py
  Logging/synth.py
  Monitoring/synth.py
  OsLogin/synth.py
  PubSub/synth.py
  Redis/synth.py
  Scheduler/synth.py
  SecurityCenter/synth.py
  Spanner/synth.py
  Speech/synth.py
  Talent/synth.py
  Tasks/synth.py
  TextToSpeech/synth.py
  Trace/synth.py
  VideoIntelligence/synth.py
  Vision/synth.py
  WebRisk/synth.py
  WebSecurityScanner/synth.py
Labels: cla: yes

#2200 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Asset/src/V1/Gapic/AssetServiceGapicClient.php
  Asset/src/V1beta1/Gapic/AssetServiceGapicClient.php
  Asset/synth.metadata
Labels: api: cloudasset, cla: yes

#2202 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  BigQueryDataTransfer/src/V1/Gapic/DataTransferServiceGapicClient.php
  BigQueryDataTransfer/synth.metadata
Labels: api: bigquerydatatransfer, cla: yes

#2203 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Bigtable/src/Admin/V2/Gapic/BigtableInstanceAdminGapicClient.php
  Bigtable/src/Admin/V2/Gapic/BigtableTableAdminGapicClient.php
  Bigtable/src/V2/Gapic/BigtableGapicClient.php
  Bigtable/synth.metadata
Labels: api: bigtable, cla: yes

#2204 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Container/src/V1/Gapic/ClusterManagerGapicClient.php
  Container/synth.metadata
Labels: api: container, cla: yes

#2205 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Dataproc/src/V1/Gapic/ClusterControllerGapicClient.php
  Dataproc/src/V1/Gapic/JobControllerGapicClient.php
  Dataproc/src/V1/Gapic/WorkflowTemplateServiceGapicClient.php
  Dataproc/src/V1beta2/Gapic/AutoscalingPolicyServiceGapicClient.php
  Dataproc/src/V1beta2/Gapic/ClusterControllerGapicClient.php
  Dataproc/src/V1beta2/Gapic/JobControllerGapicClient.php
  Dataproc/src/V1beta2/Gapic/WorkflowTemplateServiceGapicClient.php
  Dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#2207 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Debugger/src/V2/Gapic/Controller2GapicClient.php
  Debugger/src/V2/Gapic/Debugger2GapicClient.php
  Debugger/synth.metadata
Labels: api: clouddebugger, cla: yes

#2210 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  ErrorReporting/src/V1beta1/Gapic/ErrorGroupServiceGapicClient.php
  ErrorReporting/src/V1beta1/Gapic/ErrorStatsServiceGapicClient.php
  ErrorReporting/src/V1beta1/Gapic/ReportErrorsServiceGapicClient.php
  ErrorReporting/synth.metadata
Labels: api: clouderrorreporting, cla: yes

#2206 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Datastore/metadata/V1/Datastore.php
  Datastore/metadata/V1/Entity.php
  Datastore/metadata/V1/Query.php
  Datastore/src/V1/Gapic/DatastoreGapicClient.php
  Datastore/synth.metadata
  Datastore/synth.py
  Datastore/tests/Unit/V1/DatastoreClientTest.php
Labels: api: datastore, cla: yes

#2228 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option and add new parameters to annotation results.
  VideoIntelligence/metadata/V1/VideoIntelligence.php
  VideoIntelligence/src/V1/Gapic/VideoIntelligenceServiceGapicClient.php
  VideoIntelligence/src/V1/VideoAnnotationResults.php
  VideoIntelligence/src/V1beta2/Gapic/VideoIntelligenceServiceGapicClient.php
  VideoIntelligence/synth.metadata
Labels: api: videointelligence, cla: yes

#2226 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  TextToSpeech/src/V1/Gapic/TextToSpeechGapicClient.php
  TextToSpeech/synth.metadata
Labels: api: texttospeech, cla: yes

#2229 feat: Update Vision V1 Client.
  Vision/metadata/V1/ImageAnnotator.php
  Vision/metadata/V1/ProductSearch.php
  Vision/metadata/V1/ProductSearchService.php
  Vision/metadata/V1/WebDetection.php
  Vision/src/V1/AnnotateFileResponse.php
  Vision/src/V1/AsyncBatchAnnotateFilesRequest.php
  Vision/src/V1/AsyncBatchAnnotateImagesRequest.php
  Vision/src/V1/BatchAnnotateFilesRequest.php
  Vision/src/V1/BatchAnnotateImagesRequest.php
  Vision/src/V1/Gapic/ImageAnnotatorGapicClient.php
  Vision/src/V1/Gapic/ProductSearchGapicClient.php
  Vision/src/V1/Likelihood.php
  Vision/src/V1/Paragraph.php
  Vision/src/V1/Product.php
  Vision/src/V1/ProductSearchGrpcClient.php
  Vision/src/V1/ProductSearchResults/GroupedResult.php
  Vision/src/V1/ProductSearchResults/ObjectAnnotation.php
  Vision/src/V1/ProductSearchResults_ObjectAnnotation.php
  Vision/src/V1/ProductSetPurgeConfig.php
  Vision/src/V1/PurgeProductsRequest.php
  Vision/src/V1/Symbol.php
  Vision/src/V1/resources/image_annotator_rest_client_config.php
  Vision/src/V1/resources/product_search_client_config.json
  Vision/src/V1/resources/product_search_descriptor_config.php
  Vision/src/V1/resources/product_search_rest_client_config.php
  Vision/synth.metadata
  Vision/tests/Unit/V1/ProductSearchClientTest.php
Labels: api: vision, cla: yes

#2225 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Tasks/src/V2/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2beta2/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2beta3/Gapic/CloudTasksGapicClient.php
  Tasks/synth.metadata
Labels: api: cloudtasks, cla: yes

#2208 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Dialogflow/src/V2/Gapic/AgentsGapicClient.php
  Dialogflow/src/V2/Gapic/ContextsGapicClient.php
  Dialogflow/src/V2/Gapic/EntityTypesGapicClient.php
  Dialogflow/src/V2/Gapic/IntentsGapicClient.php
  Dialogflow/src/V2/Gapic/SessionEntityTypesGapicClient.php
  Dialogflow/src/V2/Gapic/SessionsGapicClient.php
  Dialogflow/src/V2/QueryResult.php
  Dialogflow/synth.metadata
Labels: api: dialogflow, cla: yes

#2223 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Speech/src/V1/Gapic/SpeechGapicClient.php
  Speech/src/V1p1beta1/Gapic/SpeechGapicClient.php
  Speech/synth.metadata
Labels: api: speech, cla: yes

#2209 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Dlp/src/V2/Gapic/DlpServiceGapicClient.php
  Dlp/synth.metadata
Labels: api: dlp, cla: yes

#2224 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Talent/metadata/V4Beta1/Tenant.php
  Talent/src/V4beta1/Gapic/ApplicationServiceGapicClient.php
  Talent/src/V4beta1/Gapic/CompanyServiceGapicClient.php
  Talent/src/V4beta1/Gapic/CompletionGapicClient.php
  Talent/src/V4beta1/Gapic/EventServiceGapicClient.php
  Talent/src/V4beta1/Gapic/JobServiceGapicClient.php
  Talent/src/V4beta1/Gapic/ProfileServiceGapicClient.php
  Talent/src/V4beta1/Gapic/ResumeServiceGapicClient.php
  Talent/src/V4beta1/Gapic/TenantServiceGapicClient.php
  Talent/src/V4beta1/LocationFilter.php
  Talent/src/V4beta1/Profile.php
  Talent/synth.metadata
Labels: api: talent, cla: yes

#2222 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Spanner/src/Admin/Database/V1/Gapic/DatabaseAdminGapicClient.php
  Spanner/src/Admin/Instance/V1/Gapic/InstanceAdminGapicClient.php
  Spanner/src/V1/Gapic/SpannerGapicClient.php
  Spanner/synth.metadata
  Spanner/synth.py
Labels: api: spanner, cla: yes

#2227 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Trace/src/V2/Gapic/TraceServiceGapicClient.php
  Trace/synth.metadata
Labels: api: cloudtrace, cla: yes

#2233 docs: Fix AutoMl Examples
  AutoMl/src/V1beta1/Gapic/AutoMlGapicClient.php
  AutoMl/src/V1beta1/Gapic/PredictionServiceGapicClient.php
  AutoMl/synth.metadata
  AutoMl/synth.py
Labels: api: automl, cla: yes

#2220 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Scheduler/src/V1/Gapic/CloudSchedulerGapicClient.php
  Scheduler/src/V1beta1/Gapic/CloudSchedulerGapicClient.php
  Scheduler/synth.metadata
  Scheduler/tests/Unit/V1/CloudSchedulerClientTest.php
  Scheduler/tests/Unit/V1beta1/CloudSchedulerClientTest.php
Labels: api: cloudscheduler, cla: yes

#2219 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Redis/src/V1/Gapic/CloudRedisGapicClient.php
  Redis/src/V1beta1/Gapic/CloudRedisGapicClient.php
  Redis/synth.metadata
Labels: api: redis, cla: yes

#2218 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  PubSub/src/V1/Gapic/PublisherGapicClient.php
  PubSub/src/V1/Gapic/SubscriberGapicClient.php
  PubSub/synth.metadata
Labels: api: pubsub, cla: yes

#2217 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  OsLogin/src/V1/Gapic/OsLoginServiceGapicClient.php
  OsLogin/src/V1beta/Gapic/OsLoginServiceGapicClient.php
  OsLogin/synth.metadata
Labels: api: oslogin, cla: yes

#2216 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Monitoring/src/V3/Gapic/AlertPolicyServiceGapicClient.php
  Monitoring/src/V3/Gapic/GroupServiceGapicClient.php
  Monitoring/src/V3/Gapic/MetricServiceGapicClient.php
  Monitoring/src/V3/Gapic/NotificationChannelServiceGapicClient.php
  Monitoring/src/V3/Gapic/UptimeCheckServiceGapicClient.php
  Monitoring/synth.metadata
Labels: api: monitoring, cla: yes

#2215 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Logging/src/V2/Gapic/ConfigServiceV2GapicClient.php
  Logging/src/V2/Gapic/LoggingServiceV2GapicClient.php
  Logging/src/V2/Gapic/MetricsServiceV2GapicClient.php
  Logging/synth.metadata
Labels: api: logging, cla: yes

#2214 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Language/src/V1/Gapic/LanguageServiceGapicClient.php
  Language/src/V1beta2/Gapic/LanguageServiceGapicClient.php
  Language/synth.metadata
Labels: api: language, cla: yes

#2212 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Iot/src/V1/Gapic/DeviceManagerGapicClient.php
  Iot/synth.metadata
Labels: api: cloudiot, cla: yes

#2213 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Kms/src/V1/Gapic/KeyManagementServiceGapicClient.php
  Kms/synth.metadata
Labels: api: cloudkms, cla: yes

#2231 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  WebSecurityScanner/src/V1beta/Gapic/WebSecurityScannerGapicClient.php
  WebSecurityScanner/synth.metadata
  WebSecurityScanner/tests/Unit/V1beta/WebSecurityScannerClientTest.php
Labels: api: websecurityscanner, cla: yes

#2211 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  Firestore/src/Admin/V1/Gapic/FirestoreAdminGapicClient.php
  Firestore/src/V1/Gapic/FirestoreGapicClient.php
  Firestore/src/V1beta1/Gapic/FirestoreGapicClient.php
  Firestore/synth.metadata
  Firestore/synth.py
Labels: api: firestore, cla: yes

#2230 feat: Add support for apiEndpoint and deprecate serviceAddress client configuration option.
  WebRisk/src/V1beta1/Gapic/WebRiskServiceV1Beta1GapicClient.php
  WebRisk/synth.metadata
  WebRisk/synth.py
  WebRisk/tests/Unit/V1beta1/WebRiskServiceV1Beta1ClientTest.php
Labels: api: webrisk, cla: yes

#2232 chore: release 0.107.0
  Asset/VERSION
  AutoMl/VERSION
  BigQuery/VERSION
  BigQuery/src/BigQueryClient.php
  BigQueryDataTransfer/VERSION
  Bigtable/VERSION
  Bigtable/src/BigtableClient.php
  CHANGELOG.md
  Container/VERSION
  Core/VERSION
  Dataproc/VERSION
  Datastore/VERSION
  Datastore/src/DatastoreClient.php
  Debugger/VERSION
  Debugger/src/DebuggerClient.php
  Dialogflow/VERSION
  Dlp/VERSION
  ErrorReporting/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Iot/VERSION
  Kms/VERSION
  Language/VERSION
  Language/src/LanguageClient.php
  Logging/VERSION
  Logging/src/LoggingClient.php
  Monitoring/VERSION
  OsLogin/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Redis/VERSION
  Scheduler/VERSION
  SecurityCenter/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Speech/VERSION
  Speech/src/SpeechClient.php
  Storage/VERSION
  Storage/src/StorageClient.php
  Talent/VERSION
  Tasks/VERSION
  TextToSpeech/VERSION
  Trace/VERSION
  Trace/src/TraceClient.php
  Translate/VERSION
  Translate/src/TranslateClient.php
  VideoIntelligence/VERSION
  Vision/VERSION
  Vision/src/VisionClient.php
  WebRisk/VERSION
  WebSecurityScanner/VERSION
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process

#2234 fix: Remove autoload of non-existant file
  Firestore/composer.json
Labels: api: firestore, cla: yes

#2239 Fix: Provide headers required for Firestore emulator.
  Firestore/src/Connection/Grpc.php
  Firestore/tests/Unit/Connection/GrpcTest.php
Labels: api: firestore, cla: yes

#2238 chore: release 0.107.1
  CHANGELOG.md
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process

#2244 test: remove punctuation in assertion
  Vision/tests/System/AnnotationsTest.php
Labels: api: vision, cla: yes

#2243 chore: Add a stricter replacement for serviceAddress
  Asset/synth.py
  AutoMl/synth.py
  BigQueryDataTransfer/synth.py
  Bigtable/synth.py
  Container/synth.py
  Dataproc/synth.py
  Datastore/synth.py
  Debugger/synth.py
  Dialogflow/synth.py
  Dlp/synth.py
  ErrorReporting/synth.py
  Firestore/synth.py
  Iot/synth.py
  Kms/synth.py
  Language/synth.py
  Logging/synth.py
  Monitoring/synth.py
  OsLogin/synth.py
  PubSub/synth.py
  Redis/synth.py
  Scheduler/synth.py
  SecurityCenter/synth.py
  Spanner/synth.py
  Speech/synth.py
  Talent/synth.py
  Tasks/synth.py
  TextToSpeech/synth.py
  Trace/synth.py
  VideoIntelligence/synth.py
  Vision/synth.py
  WebRisk/synth.py
  WebSecurityScanner/synth.py
Labels: cla: yes

#2242 feat: Refresh V1Beta1 client
  AutoMl/metadata/V1Beta1/Classification.php
  AutoMl/metadata/V1Beta1/PredictionService.php
  AutoMl/metadata/V1Beta1/TableSpec.php
  AutoMl/metadata/V1Beta1/Tables.php
  AutoMl/src/V1beta1/AutoMlGrpcClient.php
  AutoMl/src/V1beta1/BatchPredictInputConfig.php
  AutoMl/src/V1beta1/BatchPredictOutputConfig.php
  AutoMl/src/V1beta1/BatchPredictRequest.php
  AutoMl/src/V1beta1/BatchPredictResult.php
  AutoMl/src/V1beta1/ClassificationEvaluationMetrics/ConfusionMatrix.php
  AutoMl/src/V1beta1/ColumnSpec.php
  AutoMl/src/V1beta1/Gapic/AutoMlGapicClient.php
  AutoMl/src/V1beta1/Gapic/PredictionServiceGapicClient.php
  AutoMl/src/V1beta1/ImageObjectDetectionAnnotation.php
  AutoMl/src/V1beta1/ImageObjectDetectionModelMetadata.php
  AutoMl/src/V1beta1/InputConfig.php
  AutoMl/src/V1beta1/Model.php
  AutoMl/src/V1beta1/ModelEvaluation.php
  AutoMl/src/V1beta1/ModelExportOutputConfig.php
  AutoMl/src/V1beta1/PredictRequest.php
  AutoMl/src/V1beta1/PredictionServiceGrpcClient.php
  AutoMl/src/V1beta1/Row.php
  AutoMl/src/V1beta1/TableSpec.php
  AutoMl/src/V1beta1/TablesAnnotation.php
  AutoMl/src/V1beta1/TablesDatasetMetadata.php
  AutoMl/src/V1beta1/TablesModelColumnInfo.php
  AutoMl/src/V1beta1/TablesModelMetadata.php
  AutoMl/src/V1beta1/TextClassificationDatasetMetadata.php
  AutoMl/src/V1beta1/TextSentimentDatasetMetadata.php
  AutoMl/src/V1beta1/TextSnippet.php
  AutoMl/src/V1beta1/TypeCode.php
  AutoMl/src/V1beta1/UpdateColumnSpecRequest.php
  AutoMl/src/V1beta1/UpdateDatasetRequest.php
  AutoMl/src/V1beta1/UpdateTableSpecRequest.php
  AutoMl/src/V1beta1/VideoObjectTrackingAnnotation.php
  AutoMl/synth.metadata
  AutoMl/tests/Unit/V1beta1/AutoMlClientTest.php
Labels: api: automl, cla: yes

#2247 docs: Update Talent documentation.
  Talent/metadata/V4Beta1/Tenant.php
  Talent/src/V4beta1/Gapic/ProfileServiceGapicClient.php
  Talent/src/V4beta1/UpdateProfileRequest.php
  Talent/synth.metadata
Labels: api: talent, cla: yes

#2248 feat: Add INTERNAL as a retryable error code
  Kms/src/V1/resources/key_management_service_client_config.json
  Kms/synth.metadata
Labels: api: cloudkms, cla: yes

#2241 feat: Add apiEndpoint support to BigQuery and improve Translate basePath support.
  BigQuery/src/BigQueryClient.php
  BigQuery/src/Connection/Rest.php
  BigQuery/src/Connection/ServiceDefinition/bigquery-v2.json
  BigQuery/tests/Unit/Connection/RestTest.php
  Core/src/RequestBuilder.php
  Core/tests/Unit/Fixtures.php
  Core/tests/Unit/RequestBuilderTest.php
  Core/tests/Unit/fixtures/service-fixture-basepath.json
  Translate/src/Connection/Rest.php
  Translate/tests/Unit/Connection/RestTest.php
Labels: api: bigquery, api: core, api: translation, cla: yes

#2251 feat: Update AutoML v1beta1 client.
  AutoMl/metadata/V1Beta1/DataItems.php
  AutoMl/metadata/V1Beta1/PredictionService.php
  AutoMl/src/V1beta1/BatchPredictRequest.php
  AutoMl/src/V1beta1/BatchPredictResult.php
  AutoMl/src/V1beta1/Document.php
  AutoMl/src/V1beta1/Document/Layout.php
  AutoMl/src/V1beta1/Document/Layout/TextSegmentType.php
  AutoMl/src/V1beta1/DocumentDimensions.php
  AutoMl/src/V1beta1/DocumentDimensions/DocumentDimensionUnit.php
  AutoMl/src/V1beta1/DocumentDimensions_DocumentDimensionUnit.php
  AutoMl/src/V1beta1/Document_Layout.php
  AutoMl/src/V1beta1/Document_Layout_TextSegmentType.php
  AutoMl/src/V1beta1/Gapic/PredictionServiceGapicClient.php
  AutoMl/src/V1beta1/InputConfig.php
  AutoMl/src/V1beta1/PredictRequest.php
  AutoMl/src/V1beta1/PredictResponse.php
  AutoMl/src/V1beta1/PredictionServiceGrpcClient.php
  AutoMl/src/V1beta1/TextSnippet.php
  AutoMl/synth.metadata
Labels: api: automl, cla: yes

#2249 fix: Bump core dependency for BigQuery and Translate
  BigQuery/composer.json
  Translate/composer.json
Labels: api: bigquery, api: translation, cla: yes

#2252 fix: Prevent setting null debuggee ID
  Debugger/src/Debuggee.php
  Debugger/tests/Unit/DebuggeeTest.php
Labels: api: clouddebugger, cla: yes

#2253 Docs: Fix Subscription::update() argument documentation.
  PubSub/src/Subscription.php
Labels: api: pubsub, cla: yes

#2254 docs: Update Talent v4beta1 documentation.
  Talent/metadata/V4Beta1/Common.php
  Talent/metadata/V4Beta1/Job.php
  Talent/metadata/V4Beta1/JobService.php
  Talent/src/V4beta1/Gapic/ProfileServiceGapicClient.php
  Talent/src/V4beta1/Job.php
  Talent/src/V4beta1/LocationFilter.php
  Talent/src/V4beta1/LocationFilter/TelecommutePreference.php
  Talent/src/V4beta1/ProfileQuery.php
  Talent/src/V4beta1/SearchProfilesRequest.php
  Talent/src/V4beta1/Visibility.php
  Talent/synth.metadata
Labels: api: talent, cla: yes

#2250 feat: Add support for Message Storage Policy
  PubSub/src/Connection/Grpc.php
  PubSub/src/PubSubClient.php
  PubSub/src/Topic.php
  PubSub/tests/System/ManageTopicsTest.php
  PubSub/tests/System/PubSubTestCase.php
Labels: api: pubsub, cla: yes

#2256 feat: Allow for topics to updated via a new method
  PubSub/src/Connection/ConnectionInterface.php
  PubSub/src/Connection/Grpc.php
  PubSub/src/Connection/Rest.php
  PubSub/src/Topic.php
  PubSub/tests/Snippet/TopicTest.php
  PubSub/tests/System/ManageTopicsTest.php
  PubSub/tests/Unit/Connection/GrpcTest.php
  PubSub/tests/Unit/Connection/RestTest.php
  PubSub/tests/Unit/TopicTest.php
Labels: cla: yes

#2257 chore: Update Talent v4beta1 metadata.
  Talent/metadata/V4Beta1/JobService.php
  Talent/synth.metadata
Labels: api: talent, cla: yes

#2246 chore: release 0.108.0
  AutoMl/VERSION
  BigQuery/VERSION
  BigQuery/src/BigQueryClient.php
  CHANGELOG.md
  Core/VERSION
  Debugger/VERSION
  Debugger/src/DebuggerClient.php
  Kms/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Translate/VERSION
  Translate/src/TranslateClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: closed, autorelease: pending, cla: yes, type: process

#2262 feat: Add BatchCreateSessions RPC.
  Spanner/metadata/V1/Spanner.php
  Spanner/src/V1/BatchCreateSessionsRequest.php
  Spanner/src/V1/BatchCreateSessionsResponse.php
  Spanner/src/V1/ExecuteBatchDmlRequest/Statement.php
  Spanner/src/V1/ExecuteBatchDmlResponse.php
  Spanner/src/V1/ExecuteSqlRequest.php
  Spanner/src/V1/Gapic/SpannerGapicClient.php
  Spanner/src/V1/SpannerGrpcClient.php
  Spanner/src/V1/resources/spanner_client_config.json
  Spanner/src/V1/resources/spanner_rest_client_config.php
  Spanner/synth.metadata
  Spanner/tests/Unit/V1/SpannerClientTest.php
Labels: api: spanner, cla: yes

#2263 docs: Update Talent client documentation.
  Talent/metadata/V4Beta1/Common.php
  Talent/metadata/V4Beta1/JobService.php
  Talent/src/V4beta1/BatchOperationMetadata.php
  Talent/src/V4beta1/BatchOperationMetadata/State.php
  Talent/src/V4beta1/BatchOperationMetadata_State.php
  Talent/src/V4beta1/Gapic/ProfileServiceGapicClient.php
  Talent/src/V4beta1/JobOperationResult.php
  Talent/src/V4beta1/JobOperationResult/JobResult.php
  Talent/src/V4beta1/JobOperationResult_JobResult.php
  Talent/src/V4beta1/ProfileQuery.php
  Talent/synth.metadata
Labels: api: talent, cla: yes

#2264 fix: Fix typo in description in composer.json
  Translate/composer.json
Labels: cla: yes

#2268 docs: Update Talent client documentation.
  Talent/metadata/V4Beta1/Common.php
  Talent/metadata/V4Beta1/JobService.php
  Talent/src/V4beta1/BatchOperationMetadata.php
  Talent/src/V4beta1/BatchOperationMetadata/State.php
  Talent/src/V4beta1/BatchOperationMetadata_State.php
  Talent/src/V4beta1/Gapic/ProfileServiceGapicClient.php
  Talent/src/V4beta1/JobOperationResult.php
  Talent/src/V4beta1/JobOperationResult/JobResult.php
  Talent/src/V4beta1/JobOperationResult_JobResult.php
  Talent/src/V4beta1/ProfileQuery.php
  Talent/synth.metadata
Labels: api: talent, cla: yes

#2260 feat: Add DeadLetterPolicy support.
  PubSub/metadata/V1/Pubsub.php
  PubSub/src/V1/DeadLetterPolicy.php
  PubSub/src/V1/Gapic/SubscriberGapicClient.php
  PubSub/src/V1/PullRequest.php
  PubSub/src/V1/Subscription.php
  PubSub/synth.metadata
Labels: api: pubsub, cla: yes

#2274 chore: Use latest artman version and remove final keyword
  Asset/synth.py
  AutoMl/synth.py
  BigQueryDataTransfer/synth.py
  Bigtable/synth.py
  Container/synth.py
  Dataproc/synth.py
  Datastore/synth.py
  Debugger/synth.py
  Dialogflow/synth.py
  Dlp/synth.py
  ErrorReporting/synth.py
  Firestore/synth.py
  Iot/synth.py
  Kms/synth.py
  Language/synth.py
  Logging/synth.py
  Monitoring/synth.py
  OsLogin/synth.py
  PubSub/synth.py
  Redis/synth.py
  Scheduler/synth.py
  SecurityCenter/synth.py
  Spanner/synth.py
  Speech/synth.py
  Talent/synth.py
  Tasks/synth.py
  TextToSpeech/synth.py
  Trace/synth.py
  VideoIntelligence/synth.py
  Vision/synth.py
  WebRisk/synth.py
  WebSecurityScanner/synth.py
Labels: cla: yes

#2269 docs: Added additional docs for executeUpdate
  Spanner/src/Transaction.php
  Spanner/tests/Snippet/TransactionTest.php
Labels: cla: yes

#2283 chore: Replace Unwrapped with Value on proto method names
  Asset/synth.py
  AutoMl/synth.py
  BigQueryDataTransfer/synth.py
  Bigtable/synth.py
  Container/synth.py
  Dataproc/synth.py
  Datastore/synth.py
  Debugger/synth.py
  Dialogflow/synth.py
  Dlp/synth.py
  ErrorReporting/synth.py
  Firestore/synth.py
  Iot/synth.py
  Kms/synth.py
  Language/synth.py
  Logging/synth.py
  Monitoring/synth.py
  OsLogin/synth.py
  PubSub/synth.py
  Redis/synth.py
  Scheduler/synth.py
  SecurityCenter/synth.py
  Spanner/synth.py
  Speech/synth.py
  Talent/synth.py
  Tasks/synth.py
  TextToSpeech/synth.py
  Trace/synth.py
  VideoIntelligence/synth.py
  Vision/synth.py
  WebRisk/synth.py
  WebSecurityScanner/synth.py
Labels: cla: yes

#2284 docs: Move Bigtable to GA
  Bigtable/README.md
  README.md
Labels: api: bigtable, cla: yes

#2285 feat: Support new location based data sources.
  BigQueryDataTransfer/src/V1/Gapic/DataTransferServiceGapicClient.php
  BigQueryDataTransfer/synth.metadata
Labels: api: bigquerydatatransfer, cla: yes

#2287 feat: Add support for new billing/folder/organization resources.
  Logging/src/V2/Gapic/ConfigServiceV2GapicClient.php
  Logging/src/V2/Gapic/LoggingServiceV2GapicClient.php
  Logging/src/V2/Gapic/MetricsServiceV2GapicClient.php
  Logging/synth.metadata
Labels: api: logging, cla: yes

#2288 feat: Add support for new companyWithoutTenant/jobWithoutTenant/project resources.
  Talent/src/V4beta1/Gapic/CompanyServiceGapicClient.php
  Talent/src/V4beta1/Gapic/CompletionGapicClient.php
  Talent/src/V4beta1/Gapic/EventServiceGapicClient.php
  Talent/src/V4beta1/Gapic/JobServiceGapicClient.php
  Talent/synth.metadata
Labels: api: talent, cla: yes

#2289 chore: Fix Unwrapped regex to be more specific
  Asset/synth.py
  AutoMl/synth.py
  BigQueryDataTransfer/synth.py
  Bigtable/synth.py
  Container/synth.py
  Dataproc/synth.py
  Datastore/synth.py
  Debugger/synth.py
  Dialogflow/synth.py
  Dlp/synth.py
  ErrorReporting/synth.py
  Firestore/synth.py
  Iot/synth.py
  Kms/synth.py
  Language/synth.py
  Logging/synth.py
  Monitoring/synth.py
  OsLogin/synth.py
  PubSub/synth.py
  Redis/synth.py
  Scheduler/synth.py
  SecurityCenter/synth.py
  Spanner/synth.py
  Speech/synth.py
  Talent/synth.py
  Tasks/synth.py
  TextToSpeech/synth.py
  Trace/synth.py
  VideoIntelligence/synth.py
  Vision/synth.py
  WebRisk/synth.py
  WebSecurityScanner/synth.py
Labels: cla: yes

#2292 test: Fix Vision landmark system test
  Vision/tests/System/AnnotationsTest.php
  Vision/tests/System/fixtures/landmark.jpg
Labels: api: vision, cla: yes

#2265 chore: release 0.109.0
  BigQueryDataTransfer/VERSION
  Bigtable/VERSION
  Bigtable/src/BigtableClient.php
  CHANGELOG.md
  Logging/VERSION
  Logging/src/LoggingClient.php
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Talent/VERSION
  Translate/VERSION
  Translate/src/TranslateClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process
