Repository googleapis/google-cloud-php, pull requests merged in 2019-12, with the labels that each got.

#2499 docs: update documentation
  Firestore/metadata/V1/Firestore.php
  Firestore/metadata/V1/Query.php
  Firestore/src/V1/BatchGetDocumentsRequest.php
  Firestore/src/V1/BeginTransactionRequest.php
  Firestore/src/V1/CommitRequest.php
  Firestore/src/V1/CreateDocumentRequest.php
  Firestore/src/V1/DeleteDocumentRequest.php
  Firestore/src/V1/Gapic/FirestoreGapicClient.php
  Firestore/src/V1/GetDocumentRequest.php
  Firestore/src/V1/ListCollectionIdsRequest.php
  Firestore/src/V1/ListDocumentsRequest.php
  Firestore/src/V1/ListenRequest.php
  Firestore/src/V1/RollbackRequest.php
  Firestore/src/V1/RunQueryRequest.php
  Firestore/src/V1/UpdateDocumentRequest.php
  Firestore/src/V1/WriteRequest.php
  Firestore/synth.metadata
Labels: api: firestore, cla: yes

#2502 docs: update documentation
  Firestore/metadata/Admin/V1/Field.php
  Firestore/metadata/Admin/V1/FirestoreAdmin.php
  Firestore/metadata/Admin/V1/Index.php
  Firestore/metadata/V1Beta1/Firestore.php
  Firestore/metadata/V1Beta1/Query.php
  Firestore/src/Admin/V1/CreateIndexRequest.php
  Firestore/src/Admin/V1/DeleteIndexRequest.php
  Firestore/src/Admin/V1/ExportDocumentsRequest.php
  Firestore/src/Admin/V1/Gapic/FirestoreAdminGapicClient.php
  Firestore/src/Admin/V1/GetFieldRequest.php
  Firestore/src/Admin/V1/GetIndexRequest.php
  Firestore/src/Admin/V1/ImportDocumentsRequest.php
  Firestore/src/Admin/V1/ListFieldsRequest.php
  Firestore/src/Admin/V1/ListIndexesRequest.php
  Firestore/src/Admin/V1/UpdateFieldRequest.php
  Firestore/src/V1beta1/BatchGetDocumentsRequest.php
  Firestore/src/V1beta1/BeginTransactionRequest.php
  Firestore/src/V1beta1/CommitRequest.php
  Firestore/src/V1beta1/CreateDocumentRequest.php
  Firestore/src/V1beta1/DeleteDocumentRequest.php
  Firestore/src/V1beta1/Gapic/FirestoreGapicClient.php
  Firestore/src/V1beta1/GetDocumentRequest.php
  Firestore/src/V1beta1/ListCollectionIdsRequest.php
  Firestore/src/V1beta1/ListDocumentsRequest.php
  Firestore/src/V1beta1/ListenRequest.php
  Firestore/src/V1beta1/RollbackRequest.php
  Firestore/src/V1beta1/RunQueryRequest.php
  Firestore/src/V1beta1/UpdateDocumentRequest.php
  Firestore/src/V1beta1/WriteRequest.php
  Firestore/synth.metadata
Labels: api: firestore, cla: yes

#2495 fix: add back in HTTP bindings for operation calls
  Talent/src/V4beta1/resources/application_service_rest_client_config.php
  Talent/src/V4beta1/resources/company_service_rest_client_config.php
  Talent/src/V4beta1/resources/completion_rest_client_config.php
  Talent/src/V4beta1/resources/event_service_rest_client_config.php
  Talent/src/V4beta1/resources/job_service_rest_client_config.php
  Talent/src/V4beta1/resources/profile_service_rest_client_config.php
  Talent/src/V4beta1/resources/tenant_service_rest_client_config.php
  Talent/synth.metadata
Labels: api: talent, cla: yes

#2501 fix: demonstrate row key in sample
  Bigtable/src/Table.php
  Bigtable/tests/Snippet/TableTest.php
Labels: api: bigtable, cla: yes

#2507 feat: update client
  BigQueryDataTransfer/metadata/V1/Datatransfer.php
  BigQueryDataTransfer/metadata/V1/Transfer.php
  BigQueryDataTransfer/src/V1/CheckValidCredsRequest.php
  BigQueryDataTransfer/src/V1/CreateTransferConfigRequest.php
  BigQueryDataTransfer/src/V1/DeleteTransferConfigRequest.php
  BigQueryDataTransfer/src/V1/DeleteTransferRunRequest.php
  BigQueryDataTransfer/src/V1/EmailPreferences.php
  BigQueryDataTransfer/src/V1/Gapic/DataTransferServiceGapicClient.php
  BigQueryDataTransfer/src/V1/GetDataSourceRequest.php
  BigQueryDataTransfer/src/V1/GetTransferConfigRequest.php
  BigQueryDataTransfer/src/V1/GetTransferRunRequest.php
  BigQueryDataTransfer/src/V1/ListDataSourcesRequest.php
  BigQueryDataTransfer/src/V1/ListTransferConfigsRequest.php
  BigQueryDataTransfer/src/V1/ListTransferLogsRequest.php
  BigQueryDataTransfer/src/V1/ListTransferRunsRequest.php
  BigQueryDataTransfer/src/V1/ScheduleTransferRunsRequest.php
  BigQueryDataTransfer/src/V1/StartManualTransferRunsRequest.php
  BigQueryDataTransfer/src/V1/TransferConfig.php
  BigQueryDataTransfer/src/V1/TransferRun.php
  BigQueryDataTransfer/src/V1/UpdateTransferConfigRequest.php
  BigQueryDataTransfer/synth.metadata
  BigQueryDataTransfer/tests/Unit/V1/DataTransferServiceClientTest.php
Labels: api: bigquerydatatransfer, cla: yes

#2489 feat: add locationId to request messages
  Dlp/metadata/V2/Dlp.php
  Dlp/src/V2/CreateDeidentifyTemplateRequest.php
  Dlp/src/V2/CreateDlpJobRequest.php
  Dlp/src/V2/CreateInspectTemplateRequest.php
  Dlp/src/V2/CreateJobTriggerRequest.php
  Dlp/src/V2/CreateStoredInfoTypeRequest.php
  Dlp/src/V2/DateShiftConfig.php
  Dlp/src/V2/DeidentifyContentRequest.php
  Dlp/src/V2/DeidentifyTemplate.php
  Dlp/src/V2/Gapic/DlpServiceGapicClient.php
  Dlp/src/V2/InspectContentRequest.php
  Dlp/src/V2/InspectTemplate.php
  Dlp/src/V2/ListDeidentifyTemplatesRequest.php
  Dlp/src/V2/ListDlpJobsRequest.php
  Dlp/src/V2/ListInfoTypesRequest.php
  Dlp/src/V2/ListInspectTemplatesRequest.php
  Dlp/src/V2/ListJobTriggersRequest.php
  Dlp/src/V2/ListStoredInfoTypesRequest.php
  Dlp/src/V2/RedactImageRequest.php
  Dlp/src/V2/ReidentifyContentRequest.php
  Dlp/src/V2/StoredInfoTypeConfig.php
  Dlp/src/V2/resources/dlp_service_rest_client_config.php
  Dlp/synth.metadata
Labels: api: dlp, cla: yes

#2509 docs: update documentation
  Bigtable/metadata/V2/Bigtable.php
  Bigtable/src/Admin/V2/BigtableTableAdminGrpcClient.php
  Bigtable/src/Admin/V2/Gapic/BigtableTableAdminGapicClient.php
  Bigtable/src/V2/Gapic/BigtableGapicClient.php
  Bigtable/synth.metadata
Labels: api: bigtable, cla: yes

#2510 docs: update documentation
  Language/src/V1beta2/Gapic/LanguageServiceGapicClient.php
  Language/src/V1beta2/LanguageServiceGrpcClient.php
  Language/synth.metadata
Labels: api: language, cla: yes

#2488 fix: add http annotations for operations
  Datastore/metadata/V1/Datastore.php
  Datastore/src/V1/AllocateIdsRequest.php
  Datastore/src/V1/AllocateIdsResponse.php
  Datastore/src/V1/ArrayValue.php
  Datastore/src/V1/BeginTransactionRequest.php
  Datastore/src/V1/BeginTransactionResponse.php
  Datastore/src/V1/CommitRequest.php
  Datastore/src/V1/DatastoreGrpcClient.php
  Datastore/src/V1/EntityResult.php
  Datastore/src/V1/Gapic/DatastoreGapicClient.php
  Datastore/src/V1/LookupRequest.php
  Datastore/src/V1/ReserveIdsRequest.php
  Datastore/src/V1/ReserveIdsResponse.php
  Datastore/src/V1/RollbackRequest.php
  Datastore/src/V1/RollbackResponse.php
  Datastore/src/V1/RunQueryRequest.php
  Datastore/src/V1/RunQueryResponse.php
  Datastore/src/V1/TransactionOptions.php
  Datastore/src/V1/Value.php
  Datastore/src/V1/resources/datastore_rest_client_config.php
  Datastore/synth.metadata
  Datastore/synth.py
Labels: api: datastore, cla: yes

#2505 feat: update timeouts
  Speech/src/V1/resources/speech_client_config.json
  Speech/synth.metadata
Labels: api: speech, cla: yes

#2506 chore: update metadata
  Talent/metadata/V4Beta1/ProfileService.php
  Talent/synth.metadata
Labels: api: talent, cla: yes

#2487 fix: update unit tests
  VideoIntelligence/synth.metadata
  VideoIntelligence/synth.py
  VideoIntelligence/tests/Unit/V1/VideoIntelligenceServiceClientTest.php
  VideoIntelligence/tests/Unit/V1beta2/VideoIntelligenceServiceClientTest.php
Labels: api: videointelligence, cla: yes

#2512 fix: make vision test more resilient
  Vision/tests/System/AnnotationsTest.php
Labels: api: vision, cla: yes

#2513 docs: update documentation
  Talent/src/V4beta1/SearchJobsRequest/DiversificationLevel.php
  Talent/synth.metadata
Labels: api: talent, cla: yes

#2496 fix: fix is_dir() and scandir() behavior in stream wrapper
  Storage/src/StreamWrapper.php
  Storage/tests/System/StreamWrapper/DirectoryTest.php
  Storage/tests/System/StreamWrapper/ImageTest.php
  Storage/tests/System/StreamWrapper/ReadTest.php
  Storage/tests/System/StreamWrapper/RenameTest.php
  Storage/tests/System/StreamWrapper/StreamWrapperTestCase.php
  Storage/tests/System/StreamWrapper/UrlStatTest.php
  Storage/tests/System/StreamWrapper/WriteTest.php
  Storage/tests/Unit/StreamWrapperTest.php
Labels: api: storage, cla: yes

#2515 docs: update documentation
  Dataproc/metadata/V1/Clusters.php
  Dataproc/src/V1/AcceleratorConfig.php
  Dataproc/src/V1/AutoscalingConfig.php
  Dataproc/src/V1/AutoscalingPolicyServiceGrpcClient.php
  Dataproc/src/V1/CancelJobRequest.php
  Dataproc/src/V1/Cluster.php
  Dataproc/src/V1/ClusterConfig.php
  Dataproc/src/V1/ClusterStatus/Substate.php
  Dataproc/src/V1/CreateClusterRequest.php
  Dataproc/src/V1/DeleteClusterRequest.php
  Dataproc/src/V1/DeleteJobRequest.php
  Dataproc/src/V1/DiagnoseClusterRequest.php
  Dataproc/src/V1/Gapic/ClusterControllerGapicClient.php
  Dataproc/src/V1/Gapic/JobControllerGapicClient.php
  Dataproc/src/V1/Gapic/WorkflowTemplateServiceGapicClient.php
  Dataproc/src/V1/GceClusterConfig.php
  Dataproc/src/V1/GetClusterRequest.php
  Dataproc/src/V1/GetJobRequest.php
  Dataproc/src/V1/HadoopJob.php
  Dataproc/src/V1/HiveJob.php
  Dataproc/src/V1/InstanceGroupConfig.php
  Dataproc/src/V1/Job.php
  Dataproc/src/V1/JobControllerGrpcClient.php
  Dataproc/src/V1/JobPlacement.php
  Dataproc/src/V1/JobStatus.php
  Dataproc/src/V1/JobStatus/Substate.php
  Dataproc/src/V1/ListClustersRequest.php
  Dataproc/src/V1/ListJobsRequest.php
  Dataproc/src/V1/PigJob.php
  Dataproc/src/V1/PySparkJob.php
  Dataproc/src/V1/SoftwareConfig.php
  Dataproc/src/V1/SparkJob.php
  Dataproc/src/V1/SparkSqlJob.php
  Dataproc/src/V1/SubmitJobRequest.php
  Dataproc/src/V1/UpdateClusterRequest.php
  Dataproc/src/V1/UpdateJobRequest.php
  Dataproc/src/V1/WorkflowMetadata.php
  Dataproc/src/V1/WorkflowTemplate.php
  Dataproc/src/V1/WorkflowTemplateServiceGrpcClient.php
  Dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#2517 docs: update documentation
  Dataproc/metadata/V1/WorkflowTemplates.php
  Dataproc/metadata/V1Beta2/WorkflowTemplates.php
  Dataproc/src/V1/UpdateWorkflowTemplateRequest.php
  Dataproc/src/V1beta2/UpdateWorkflowTemplateRequest.php
  Dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#2463 feat: add bigquery destination, update GCS destination, support Real Time Feed API
  Asset/metadata/V1/AssetService.php
  Asset/metadata/V1/Assets.php
  Asset/src/V1/Asset.php
  Asset/src/V1/AssetServiceGrpcClient.php
  Asset/src/V1/BatchGetAssetsHistoryRequest.php
  Asset/src/V1/BigQueryDestination.php
  Asset/src/V1/ContentType.php
  Asset/src/V1/CreateFeedRequest.php
  Asset/src/V1/DeleteFeedRequest.php
  Asset/src/V1/ExportAssetsRequest.php
  Asset/src/V1/Feed.php
  Asset/src/V1/FeedOutputConfig.php
  Asset/src/V1/Gapic/AssetServiceGapicClient.php
  Asset/src/V1/GcsDestination.php
  Asset/src/V1/GetFeedRequest.php
  Asset/src/V1/ListFeedsRequest.php
  Asset/src/V1/ListFeedsResponse.php
  Asset/src/V1/OutputConfig.php
  Asset/src/V1/PubsubDestination.php
  Asset/src/V1/UpdateFeedRequest.php
  Asset/src/V1/resources/asset_service_client_config.json
  Asset/src/V1/resources/asset_service_rest_client_config.php
  Asset/synth.metadata
  Asset/tests/Unit/V1/AssetServiceClientTest.php
  composer.json
Labels: api: cloudasset, cla: yes

#2508 chore: release 0.121.0
  Asset/VERSION
  BigQueryDataTransfer/VERSION
  Bigtable/VERSION
  Bigtable/src/BigtableClient.php
  CHANGELOG.md
  Datastore/VERSION
  Datastore/src/DatastoreClient.php
  Dlp/VERSION
  Speech/VERSION
  Speech/src/SpeechClient.php
  Storage/VERSION
  Storage/src/StorageClient.php
  Talent/VERSION
  VideoIntelligence/VERSION
  Vision/VERSION
  Vision/src/VisionClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process

#2525 fix: fix compatibility with phpspec/prophecy v1.10
  Firestore/tests/Unit/FirestoreClientTest.php
  Spanner/tests/Snippet/ArrayTypeTest.php
  Spanner/tests/Snippet/Batch/BatchClientTest.php
  Spanner/tests/Snippet/Batch/BatchSnapshotTest.php
  Spanner/tests/Snippet/Batch/QueryPartitionTest.php
  Spanner/tests/Snippet/Batch/ReadPartitionTest.php
  Spanner/tests/Snippet/BatchDmlResultTest.php
  Spanner/tests/Snippet/CommitTimestampTest.php
  Spanner/tests/Snippet/DatabaseTest.php
  Spanner/tests/Snippet/InstanceConfigurationTest.php
  Spanner/tests/Snippet/InstanceTest.php
  Spanner/tests/Snippet/SnapshotTest.php
  Spanner/tests/Snippet/SpannerClientTest.php
  Spanner/tests/Snippet/StructTypeTest.php
  Spanner/tests/Snippet/StructValueTest.php
  Spanner/tests/Snippet/TransactionTest.php
  Spanner/tests/Snippet/TransactionalReadMethodsTest.php
  Spanner/tests/StubCreationTrait.php
  Spanner/tests/Unit/Batch/BatchClientTest.php
  Spanner/tests/Unit/Batch/BatchSnapshotTest.php
  Spanner/tests/Unit/Connection/IamDatabaseTest.php
  Spanner/tests/Unit/Connection/IamInstanceTest.php
  Spanner/tests/Unit/Connection/LongRunningConnectionTest.php
  Spanner/tests/Unit/DatabaseTest.php
  Spanner/tests/Unit/InstanceConfigurationTest.php
  Spanner/tests/Unit/InstanceTest.php
  Spanner/tests/Unit/OperationTest.php
  Spanner/tests/Unit/SpannerClientTest.php
  Spanner/tests/Unit/TransactionTest.php
  Spanner/tests/Unit/TransactionTypeTest.php
  composer.json
Labels: api: firestore, api: spanner, cla: yes

#2428 feat: add support for ARCHIVE storage class
  Storage/src/Bucket.php
  Storage/src/Lifecycle.php
  Storage/src/StorageClient.php
  Storage/tests/System/ManageBucketsTest.php
Labels: api: storage, cla: yes
