Repository googleapis/google-cloud-php, pull requests merged in 2019-03, with the labels that each got.

#1710 Update Language Documentation.
  Language/src/V1beta2/AnalyzeEntitiesResponse.php
  Language/src/V1beta2/AnalyzeEntitySentimentResponse.php
  Language/src/V1beta2/AnalyzeSentimentResponse.php
  Language/src/V1beta2/AnalyzeSyntaxResponse.php
  Language/src/V1beta2/AnnotateTextResponse.php
  Language/src/V1beta2/Entity.php
  Language/src/V1beta2/EntityMention.php
  Language/src/V1beta2/Gapic/LanguageServiceGapicClient.php
  Language/src/V1beta2/LanguageServiceGrpcClient.php
  Language/src/V1beta2/Sentence.php
  Language/src/V1beta2/TextSpan.php
  Language/synth.metadata
Labels: cla: yes

#1711 Update PubSub Documentation.
  PubSub/src/V1/CreateSnapshotRequest.php
  PubSub/src/V1/Gapic/SubscriberGapicClient.php
  PubSub/src/V1/SubscriberGrpcClient.php
  PubSub/src/V1/Subscription.php
  PubSub/synth.metadata
Labels: cla: yes

#1714 Update Vision Documentation.
  Vision/src/V1/BatchOperationMetadata.php
  Vision/src/V1/Gapic/ProductSearchGapicClient.php
  Vision/src/V1/ImportProductSetsGcsSource.php
  Vision/src/V1/ImportProductSetsResponse.php
  Vision/src/V1/ProductSearchGrpcClient.php
  Vision/src/V1/ProductSearchParams.php
  Vision/src/V1/TextAnnotation.php
  Vision/synth.metadata
Labels: cla: yes

#1713 Update VideoIntelligence Documentation.
  VideoIntelligence/src/V1/AnnotateVideoRequest.php
  VideoIntelligence/src/V1/Gapic/VideoIntelligenceServiceGapicClient.php
  VideoIntelligence/src/V1beta2/AnnotateVideoRequest.php
  VideoIntelligence/src/V1beta2/Gapic/VideoIntelligenceServiceGapicClient.php
  VideoIntelligence/synth.metadata
Labels: cla: yes

#1712 Update Tasks Documentation.
  Tasks/src/V2beta2/AcknowledgeTaskRequest.php
  Tasks/src/V2beta2/AppEngineHttpRequest.php
  Tasks/src/V2beta2/AppEngineHttpTarget.php
  Tasks/src/V2beta2/AppEngineRouting.php
  Tasks/src/V2beta2/CancelLeaseRequest.php
  Tasks/src/V2beta2/CloudTasksGrpcClient.php
  Tasks/src/V2beta2/CreateQueueRequest.php
  Tasks/src/V2beta2/CreateTaskRequest.php
  Tasks/src/V2beta2/DeleteQueueRequest.php
  Tasks/src/V2beta2/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2beta2/GetQueueRequest.php
  Tasks/src/V2beta2/GetTaskRequest.php
  Tasks/src/V2beta2/LeaseTasksRequest.php
  Tasks/src/V2beta2/LeaseTasksResponse.php
  Tasks/src/V2beta2/ListQueuesRequest.php
  Tasks/src/V2beta2/ListQueuesResponse.php
  Tasks/src/V2beta2/ListTasksRequest.php
  Tasks/src/V2beta2/ListTasksResponse.php
  Tasks/src/V2beta2/PauseQueueRequest.php
  Tasks/src/V2beta2/PullMessage.php
  Tasks/src/V2beta2/PurgeQueueRequest.php
  Tasks/src/V2beta2/Queue.php
  Tasks/src/V2beta2/Queue/State.php
  Tasks/src/V2beta2/RateLimits.php
  Tasks/src/V2beta2/RenewLeaseRequest.php
  Tasks/src/V2beta2/ResumeQueueRequest.php
  Tasks/src/V2beta2/RetryConfig.php
  Tasks/src/V2beta2/RunTaskRequest.php
  Tasks/src/V2beta2/Task.php
  Tasks/src/V2beta2/Task/View.php
  Tasks/src/V2beta2/TaskStatus.php
  Tasks/src/V2beta2/UpdateQueueRequest.php
  Tasks/src/V2beta3/AppEngineHttpQueue.php
  Tasks/src/V2beta3/AppEngineHttpRequest.php
  Tasks/src/V2beta3/AppEngineRouting.php
  Tasks/src/V2beta3/CloudTasksGrpcClient.php
  Tasks/src/V2beta3/CreateQueueRequest.php
  Tasks/src/V2beta3/CreateTaskRequest.php
  Tasks/src/V2beta3/DeleteQueueRequest.php
  Tasks/src/V2beta3/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2beta3/GetQueueRequest.php
  Tasks/src/V2beta3/GetTaskRequest.php
  Tasks/src/V2beta3/HttpRequest.php
  Tasks/src/V2beta3/ListQueuesRequest.php
  Tasks/src/V2beta3/ListQueuesResponse.php
  Tasks/src/V2beta3/ListTasksRequest.php
  Tasks/src/V2beta3/ListTasksResponse.php
  Tasks/src/V2beta3/PauseQueueRequest.php
  Tasks/src/V2beta3/PurgeQueueRequest.php
  Tasks/src/V2beta3/Queue.php
  Tasks/src/V2beta3/RateLimits.php
  Tasks/src/V2beta3/ResumeQueueRequest.php
  Tasks/src/V2beta3/RetryConfig.php
  Tasks/src/V2beta3/RunTaskRequest.php
  Tasks/src/V2beta3/Task.php
  Tasks/src/V2beta3/Task/View.php
  Tasks/src/V2beta3/UpdateQueueRequest.php
  Tasks/synth.metadata
Labels: cla: yes

#1709 Update Firestore Documentation.
  Firestore/src/V1/BatchGetDocumentsRequest.php
  Firestore/src/V1/BatchGetDocumentsResponse.php
  Firestore/src/V1/BeginTransactionRequest.php
  Firestore/src/V1/BeginTransactionResponse.php
  Firestore/src/V1/CreateDocumentRequest.php
  Firestore/src/V1/DeleteDocumentRequest.php
  Firestore/src/V1/DocumentChange.php
  Firestore/src/V1/DocumentDelete.php
  Firestore/src/V1/DocumentMask.php
  Firestore/src/V1/DocumentRemove.php
  Firestore/src/V1/DocumentTransform/FieldTransform.php
  Firestore/src/V1/ExistenceFilter.php
  Firestore/src/V1/FirestoreGrpcClient.php
  Firestore/src/V1/Gapic/FirestoreGapicClient.php
  Firestore/src/V1/GetDocumentRequest.php
  Firestore/src/V1/ListCollectionIdsRequest.php
  Firestore/src/V1/ListCollectionIdsResponse.php
  Firestore/src/V1/ListDocumentsRequest.php
  Firestore/src/V1/ListDocumentsResponse.php
  Firestore/src/V1/ListenResponse.php
  Firestore/src/V1/RunQueryResponse.php
  Firestore/src/V1/Target.php
  Firestore/src/V1/UpdateDocumentRequest.php
  Firestore/src/V1/WriteRequest.php
  Firestore/src/V1/WriteResult.php
  Firestore/src/V1beta1/BatchGetDocumentsRequest.php
  Firestore/src/V1beta1/BatchGetDocumentsResponse.php
  Firestore/src/V1beta1/BeginTransactionRequest.php
  Firestore/src/V1beta1/BeginTransactionResponse.php
  Firestore/src/V1beta1/CommitRequest.php
  Firestore/src/V1beta1/CommitResponse.php
  Firestore/src/V1beta1/CreateDocumentRequest.php
  Firestore/src/V1beta1/DeleteDocumentRequest.php
  Firestore/src/V1beta1/DocumentChange.php
  Firestore/src/V1beta1/DocumentDelete.php
  Firestore/src/V1beta1/DocumentMask.php
  Firestore/src/V1beta1/DocumentRemove.php
  Firestore/src/V1beta1/DocumentTransform/FieldTransform.php
  Firestore/src/V1beta1/ExistenceFilter.php
  Firestore/src/V1beta1/FirestoreGrpcClient.php
  Firestore/src/V1beta1/Gapic/FirestoreGapicClient.php
  Firestore/src/V1beta1/GetDocumentRequest.php
  Firestore/src/V1beta1/ListCollectionIdsRequest.php
  Firestore/src/V1beta1/ListCollectionIdsResponse.php
  Firestore/src/V1beta1/ListDocumentsRequest.php
  Firestore/src/V1beta1/ListDocumentsResponse.php
  Firestore/src/V1beta1/ListenResponse.php
  Firestore/src/V1beta1/RollbackRequest.php
  Firestore/src/V1beta1/RunQueryRequest.php
  Firestore/src/V1beta1/RunQueryResponse.php
  Firestore/src/V1beta1/Target.php
  Firestore/src/V1beta1/UpdateDocumentRequest.php
  Firestore/src/V1beta1/WriteRequest.php
  Firestore/src/V1beta1/WriteResult.php
  Firestore/synth.metadata
Labels: cla: yes

#1708 Update Dataproc Documentation.
  Dataproc/metadata/V1Beta2/Clusters.php
  Dataproc/src/V1/AcceleratorConfig.php
  Dataproc/src/V1/Cluster.php
  Dataproc/src/V1/ClusterConfig.php
  Dataproc/src/V1/CreateClusterRequest.php
  Dataproc/src/V1/DeleteClusterRequest.php
  Dataproc/src/V1/Gapic/ClusterControllerGapicClient.php
  Dataproc/src/V1/Gapic/JobControllerGapicClient.php
  Dataproc/src/V1/Gapic/WorkflowTemplateServiceGapicClient.php
  Dataproc/src/V1/GceClusterConfig.php
  Dataproc/src/V1/HadoopJob.php
  Dataproc/src/V1/HiveJob.php
  Dataproc/src/V1/InstanceGroupConfig.php
  Dataproc/src/V1/Job.php
  Dataproc/src/V1/JobControllerGrpcClient.php
  Dataproc/src/V1/OrderedJob.php
  Dataproc/src/V1/PigJob.php
  Dataproc/src/V1/PySparkJob.php
  Dataproc/src/V1/SoftwareConfig.php
  Dataproc/src/V1/SparkSqlJob.php
  Dataproc/src/V1/SubmitJobRequest.php
  Dataproc/src/V1/TemplateParameter.php
  Dataproc/src/V1/UpdateClusterRequest.php
  Dataproc/src/V1/WorkflowTemplateServiceGrpcClient.php
  Dataproc/src/V1beta2/AcceleratorConfig.php
  Dataproc/src/V1beta2/Cluster.php
  Dataproc/src/V1beta2/ClusterConfig.php
  Dataproc/src/V1beta2/CreateClusterRequest.php
  Dataproc/src/V1beta2/DeleteClusterRequest.php
  Dataproc/src/V1beta2/Gapic/ClusterControllerGapicClient.php
  Dataproc/src/V1beta2/Gapic/JobControllerGapicClient.php
  Dataproc/src/V1beta2/Gapic/WorkflowTemplateServiceGapicClient.php
  Dataproc/src/V1beta2/GceClusterConfig.php
  Dataproc/src/V1beta2/HadoopJob.php
  Dataproc/src/V1beta2/HiveJob.php
  Dataproc/src/V1beta2/InstanceGroupConfig.php
  Dataproc/src/V1beta2/Job.php
  Dataproc/src/V1beta2/JobControllerGrpcClient.php
  Dataproc/src/V1beta2/ListWorkflowTemplatesResponse.php
  Dataproc/src/V1beta2/OrderedJob.php
  Dataproc/src/V1beta2/PigJob.php
  Dataproc/src/V1beta2/PySparkJob.php
  Dataproc/src/V1beta2/SoftwareConfig.php
  Dataproc/src/V1beta2/SparkSqlJob.php
  Dataproc/src/V1beta2/SubmitJobRequest.php
  Dataproc/src/V1beta2/TemplateParameter.php
  Dataproc/src/V1beta2/UpdateClusterRequest.php
  Dataproc/src/V1beta2/WorkflowTemplateServiceGrpcClient.php
  Dataproc/synth.metadata
Labels: cla: yes

#1707 Update BigQuery Data Transfer Documentation.
  BigQueryDataTransfer/src/V1/DataTransferServiceGrpcClient.php
  BigQueryDataTransfer/src/V1/Gapic/DataTransferServiceGapicClient.php
  BigQueryDataTransfer/synth.metadata
Labels: cla: yes

#1695 Firestore list documents
  Firestore/src/CollectionReference.php
  Firestore/src/Connection/ConnectionInterface.php
  Firestore/src/Connection/Grpc.php
  Firestore/tests/Snippet/CollectionReferenceTest.php
  Firestore/tests/System/DocumentAndCollectionTest.php
  Firestore/tests/Unit/CollectionReferenceTest.php
  Firestore/tests/Unit/Connection/GrpcTest.php
Labels: :rotating_light:, api: firestore, cla: yes

#1718 Add batch DML to generated clients.
  Spanner/metadata/V1/Spanner.php
  Spanner/src/V1/ExecuteBatchDmlRequest.php
  Spanner/src/V1/ExecuteBatchDmlRequest/Statement.php
  Spanner/src/V1/ExecuteBatchDmlRequest_Statement.php
  Spanner/src/V1/ExecuteBatchDmlResponse.php
  Spanner/src/V1/Gapic/SpannerGapicClient.php
  Spanner/src/V1/SpannerGrpcClient.php
  Spanner/src/V1/resources/spanner_client_config.json
  Spanner/src/V1/resources/spanner_rest_client_config.php
  Spanner/synth.metadata
  Spanner/tests/Unit/V1/SpannerClientTest.php
Labels: cla: yes

#1720 Updating the contributing doc
  CONTRIBUTING.md
Labels: cla: yes

#1721 Handle error/exception types outside of ServiceExceptions more gracefully
  Spanner/src/Result.php
  Spanner/tests/Unit/ResultTest.php
Labels: api: spanner, cla: yes

#1719 Add support for Batch DML
  Spanner/src/Batch/QueryPartition.php
  Spanner/src/Batch/ReadPartition.php
  Spanner/src/BatchDmlResult.php
  Spanner/src/Connection/ConnectionInterface.php
  Spanner/src/Connection/Grpc.php
  Spanner/src/Operation.php
  Spanner/src/Transaction.php
  Spanner/src/V1/Gapic/SpannerGapicClient.php
  Spanner/synth.py
  Spanner/tests/Snippet/Batch/QueryPartitionTest.php
  Spanner/tests/Snippet/BatchDmlResultTest.php
  Spanner/tests/Snippet/TransactionTest.php
  Spanner/tests/System/BatchTest.php
  Spanner/tests/System/OperationsTest.php
  Spanner/tests/System/PartitionedDmlTest.php
  Spanner/tests/System/SnapshotTest.php
  Spanner/tests/System/SpannerTestCase.php
  Spanner/tests/System/TransactionTest.php
  Spanner/tests/System/WriteTest.php
  Spanner/tests/System/pcntl/AbortedErrorCausesRetry.php
  Spanner/tests/System/pcntl/ConcurrentTransactionsIncrementValueWithExecute.php
  Spanner/tests/Unit/Connection/GrpcTest.php
  Spanner/tests/Unit/TransactionTest.php
Labels: api: spanner, cla: yes

#1724 Prepare v0.96.0
  Asset/VERSION
  BigQueryDataTransfer/VERSION
  Dataproc/VERSION
  Dialogflow/VERSION
  ErrorReporting/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Kms/VERSION
  Language/VERSION
  Language/src/LanguageClient.php
  Logging/VERSION
  Logging/src/LoggingClient.php
  Monitoring/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Redis/VERSION
  Scheduler/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Speech/VERSION
  Speech/src/SpeechClient.php
  Tasks/VERSION
  VideoIntelligence/VERSION
  Vision/VERSION
  Vision/src/VisionClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes, do not merge

#1733 Fix documentation typos.
  Firestore/src/V1/Write.php
  Firestore/src/V1beta1/Write.php
  Firestore/synth.metadata
Labels: cla: yes

#1740 Prefer emulator project when pub/sub emulator is detected
  Core/src/ClientTrait.php
  Core/tests/Unit/ClientTraitTest.php
  PubSub/tests/Snippet/PubSubClientTest.php
Labels: cla: yes

#1744 Expose PubSub message ordering
  PubSub/metadata/V1/Pubsub.php
  PubSub/src/V1/Gapic/SubscriberGapicClient.php
  PubSub/src/V1/PubsubMessage.php
  PubSub/src/V1/Subscription.php
  PubSub/synth.metadata
  PubSub/tests/Unit/V1/SubscriberClientTest.php
Labels: cla: yes

#1745 Marks Vision classes as deprecated in favor of gapic
  Vision/src/Annotation.php
  Vision/src/Annotation/AbstractFeature.php
  Vision/src/Annotation/CropHint.php
  Vision/src/Annotation/Document.php
  Vision/src/Annotation/Entity.php
  Vision/src/Annotation/Face.php
  Vision/src/Annotation/Face/Landmarks.php
  Vision/src/Annotation/FeatureInterface.php
  Vision/src/Annotation/ImageProperties.php
  Vision/src/Annotation/LikelihoodTrait.php
  Vision/src/Annotation/SafeSearch.php
  Vision/src/Annotation/Web.php
  Vision/src/Annotation/Web/WebEntity.php
  Vision/src/Annotation/Web/WebImage.php
  Vision/src/Annotation/Web/WebPage.php
  Vision/src/Connection/Rest.php
  Vision/src/Image.php
  Vision/src/VisionClient.php
Labels: api: vision, cla: yes

#1748 Update copyright year
  Tasks/synth.metadata
  Tasks/tests/System/V2/TasksServiceSmokeTest.php
Labels: cla: yes

#1747 Regenerate metadata
  Monitoring/metadata/V3/DroppedLabels.php
  Monitoring/synth.metadata
Labels: cla: yes

#1732 Update GAX/common-protos/protobuf dependencies
  Asset/composer.json
  AutoMl/composer.json
  BigQueryDataTransfer/composer.json
  Bigtable/composer.json
  CommonProtos/composer.json
  Container/composer.json
  Core/composer.json
  Dataproc/composer.json
  Datastore/composer.json
  Debugger/composer.json
  Dialogflow/composer.json
  Dlp/composer.json
  ErrorReporting/composer.json
  Firestore/composer.json
  Iot/composer.json
  Kms/composer.json
  Language/composer.json
  Logging/composer.json
  Monitoring/composer.json
  OsLogin/composer.json
  PubSub/composer.json
  Redis/composer.json
  Scheduler/composer.json
  Spanner/composer.json
  Speech/composer.json
  Talent/composer.json
  Tasks/composer.json
  TextToSpeech/composer.json
  Trace/composer.json
  VideoIntelligence/composer.json
  Vision/composer.json
  composer.json
Labels: :rotating_light:, cla: yes

#1730 [Breaking Change] Remove importInstance and exportInstance methods.
  Redis/metadata/V1/CloudRedis.php
  Redis/src/V1/CloudRedisGrpcClient.php
  Redis/src/V1/CreateInstanceRequest.php
  Redis/src/V1/DeleteInstanceRequest.php
  Redis/src/V1/Gapic/CloudRedisGapicClient.php
  Redis/src/V1/Instance.php
  Redis/src/V1/Instance/State.php
  Redis/src/V1/UpdateInstanceRequest.php
  Redis/src/V1/resources/cloud_redis_client_config.json
  Redis/src/V1/resources/cloud_redis_descriptor_config.php
  Redis/src/V1/resources/cloud_redis_rest_client_config.php
  Redis/synth.metadata
  Redis/tests/Unit/V1/CloudRedisClientTest.php
Labels: api: redis, cla: yes, needs work

#1749 Explicitly require latest versions
  Debugger/composer.json
  ErrorReporting/composer.json
Labels: cla: yes

#1750 Prepare v0.97.0
  Asset/VERSION
  AutoMl/VERSION
  BigQueryDataTransfer/VERSION
  Bigtable/VERSION
  Bigtable/src/BigtableClient.php
  CommonProtos/VERSION
  Container/VERSION
  Core/VERSION
  Dataproc/VERSION
  Datastore/VERSION
  Datastore/src/DatastoreClient.php
  Debugger/VERSION
  Debugger/src/DebuggerClient.php
  Dialogflow/VERSION
  Dlp/VERSION
  ErrorReporting/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Iot/VERSION
  Kms/VERSION
  Language/VERSION
  Language/src/LanguageClient.php
  Logging/VERSION
  Logging/src/LoggingClient.php
  Monitoring/VERSION
  OsLogin/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Redis/VERSION
  Scheduler/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Speech/VERSION
  Speech/src/SpeechClient.php
  Talent/VERSION
  Tasks/VERSION
  TextToSpeech/VERSION
  Trace/VERSION
  Trace/src/TraceClient.php
  VideoIntelligence/VERSION
  Vision/VERSION
  Vision/src/VisionClient.php
  composer.json
  dev/src/Split/Command.php
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: cla: yes

#1751 Add additional request name headers
  Asset/src/V1/Gapic/AssetServiceGapicClient.php
  Asset/src/V1beta1/Gapic/AssetServiceGapicClient.php
  Asset/synth.metadata
Labels: api: cloudasset, cla: yes

#1752 Add additional request name headers
  Container/src/V1/Gapic/ClusterManagerGapicClient.php
  Container/synth.metadata
Labels: api: container, cla: yes

#1753 Add additional request name headers
  Dataproc/src/V1/Gapic/WorkflowTemplateServiceGapicClient.php
  Dataproc/src/V1beta2/Gapic/WorkflowTemplateServiceGapicClient.php
  Dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#1754 Add additional request name headers
  Debugger/src/V2/Gapic/Controller2GapicClient.php
  Debugger/src/V2/Gapic/Debugger2GapicClient.php
  Debugger/synth.metadata
Labels: api: clouddebugger, cla: yes

#1755 Add additional request name headers
  Dialogflow/src/V2/Gapic/AgentsGapicClient.php
  Dialogflow/src/V2/Gapic/ContextsGapicClient.php
  Dialogflow/src/V2/Gapic/EntityTypesGapicClient.php
  Dialogflow/src/V2/Gapic/IntentsGapicClient.php
  Dialogflow/src/V2/Gapic/SessionEntityTypesGapicClient.php
  Dialogflow/src/V2/Gapic/SessionsGapicClient.php
  Dialogflow/synth.metadata
Labels: api: dialogflow, cla: yes

#1756 Add additional request name headers
  Dlp/src/V2/Gapic/DlpServiceGapicClient.php
  Dlp/synth.metadata
Labels: api: dlp, cla: yes

#1757 Add additional request name headers
  ErrorReporting/src/V1beta1/Gapic/ErrorGroupServiceGapicClient.php
  ErrorReporting/src/V1beta1/Gapic/ErrorStatsServiceGapicClient.php
  ErrorReporting/src/V1beta1/Gapic/ReportErrorsServiceGapicClient.php
  ErrorReporting/synth.metadata
Labels: api: clouderrorreporting, cla: yes

#1767 Add `value()` and `name()` methods to enum types.
  Asset/metadata/V1/AssetService.php
  Asset/metadata/V1/Assets.php
  Asset/metadata/V1Beta1/AssetService.php
  Asset/metadata/V1Beta1/Assets.php
  Asset/src/V1/ContentType.php
  Asset/src/V1beta1/ContentType.php
  Asset/synth.metadata
Labels: api: cloudasset, cla: yes

#1768 Add `value()` and `name()` methods to enum types.
  BigQueryDataTransfer/metadata/V1/Datatransfer.php
  BigQueryDataTransfer/metadata/V1/Transfer.php
  BigQueryDataTransfer/src/V1/DataSource/AuthorizationType.php
  BigQueryDataTransfer/src/V1/DataSource/DataRefreshType.php
  BigQueryDataTransfer/src/V1/DataSourceParameter.php
  BigQueryDataTransfer/src/V1/DataSourceParameter/Type.php
  BigQueryDataTransfer/src/V1/ListTransferRunsRequest/RunAttempt.php
  BigQueryDataTransfer/src/V1/TransferMessage/MessageSeverity.php
  BigQueryDataTransfer/src/V1/TransferState.php
  BigQueryDataTransfer/src/V1/TransferType.php
  BigQueryDataTransfer/synth.metadata
Labels: api: bigquerydatatransfer, cla: yes

#1769 Add `value()` and `name()` methods to enum types.
  Bigtable/metadata/Admin/V2/BigtableInstanceAdmin.php
  Bigtable/metadata/Admin/V2/BigtableTableAdmin.php
  Bigtable/metadata/Admin/V2/Common.php
  Bigtable/metadata/Admin/V2/Instance.php
  Bigtable/metadata/Admin/V2/Table.php
  Bigtable/metadata/V2/Bigtable.php
  Bigtable/metadata/V2/Data.php
  Bigtable/src/Admin/V2/Cluster/State.php
  Bigtable/src/Admin/V2/Instance/State.php
  Bigtable/src/Admin/V2/Instance/Type.php
  Bigtable/src/Admin/V2/Snapshot/State.php
  Bigtable/src/Admin/V2/StorageType.php
  Bigtable/src/Admin/V2/Table/ClusterState/ReplicationState.php
  Bigtable/src/Admin/V2/Table/TimestampGranularity.php
  Bigtable/src/Admin/V2/Table/View.php
  Bigtable/synth.metadata
Labels: api: bigtable, cla: yes

#1770 Add `value()` and `name()` methods to enum types.
  Container/metadata/V1/ClusterService.php
  Container/src/V1/Cluster/Status.php
  Container/src/V1/NetworkPolicy/Provider.php
  Container/src/V1/NodePool/Status.php
  Container/src/V1/Operation/Status.php
  Container/src/V1/Operation/Type.php
  Container/src/V1/SetMasterAuthRequest/Action.php
  Container/synth.metadata
Labels: api: container, cla: yes

#1771 Add `value()` and `name()` methods to enum types.
  Dataproc/metadata/V1/Clusters.php
  Dataproc/metadata/V1/Jobs.php
  Dataproc/metadata/V1/Operations.php
  Dataproc/metadata/V1/WorkflowTemplates.php
  Dataproc/metadata/V1Beta2/Clusters.php
  Dataproc/metadata/V1Beta2/Jobs.php
  Dataproc/metadata/V1Beta2/Operations.php
  Dataproc/metadata/V1Beta2/Shared.php
  Dataproc/metadata/V1Beta2/WorkflowTemplates.php
  Dataproc/src/V1/ClusterOperationStatus/State.php
  Dataproc/src/V1/ClusterStatus/State.php
  Dataproc/src/V1/ClusterStatus/Substate.php
  Dataproc/src/V1/JobStatus/State.php
  Dataproc/src/V1/JobStatus/Substate.php
  Dataproc/src/V1/ListJobsRequest/JobStateMatcher.php
  Dataproc/src/V1/LoggingConfig/Level.php
  Dataproc/src/V1/WorkflowMetadata/State.php
  Dataproc/src/V1/WorkflowNode/NodeState.php
  Dataproc/src/V1/YarnApplication/State.php
  Dataproc/src/V1beta2/ClusterOperationStatus/State.php
  Dataproc/src/V1beta2/ClusterStatus/State.php
  Dataproc/src/V1beta2/ClusterStatus/Substate.php
  Dataproc/src/V1beta2/JobStatus/State.php
  Dataproc/src/V1beta2/JobStatus/Substate.php
  Dataproc/src/V1beta2/ListJobsRequest/JobStateMatcher.php
  Dataproc/src/V1beta2/LoggingConfig/Level.php
  Dataproc/src/V1beta2/WorkflowMetadata/State.php
  Dataproc/src/V1beta2/WorkflowNode/NodeState.php
  Dataproc/src/V1beta2/YarnApplication/State.php
  Dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#1772 Add `value()` and `name()` methods to enum types.
  Debugger/metadata/V2/Controller.php
  Debugger/metadata/V2/Data.php
  Debugger/metadata/V2/Debugger.php
  Debugger/src/V2/Breakpoint/Action.php
  Debugger/src/V2/Breakpoint/LogLevel.php
  Debugger/src/V2/StatusMessage/Reference.php
  Debugger/src/V2/Variable.php
  Debugger/synth.metadata
Labels: api: clouddebugger, cla: yes

#1775 Add `value()` and `name()` methods to enum types.
  ErrorReporting/metadata/V1Beta1/Common.php
  ErrorReporting/metadata/V1Beta1/ErrorGroupService.php
  ErrorReporting/metadata/V1Beta1/ErrorStatsService.php
  ErrorReporting/metadata/V1Beta1/ReportErrorsService.php
  ErrorReporting/src/V1beta1/ErrorGroupOrder.php
  ErrorReporting/src/V1beta1/QueryTimeRange/Period.php
  ErrorReporting/src/V1beta1/TimedCountAlignment.php
  ErrorReporting/synth.metadata
Labels: api: clouderrorreporting, cla: yes

#1774 Add `value()` and `name()` methods to enum types.
  Dlp/metadata/V2/Dlp.php
  Dlp/metadata/V2/Storage.php
  Dlp/src/V2/BigQueryOptions/SampleMethod.php
  Dlp/src/V2/ByteContentItem/BytesType.php
  Dlp/src/V2/CharsToIgnore/CommonCharsToIgnore.php
  Dlp/src/V2/CloudStorageOptions/SampleMethod.php
  Dlp/src/V2/ContentOption.php
  Dlp/src/V2/CryptoReplaceFfxFpeConfig/FfxCommonNativeAlphabet.php
  Dlp/src/V2/CustomInfoType/ExclusionType.php
  Dlp/src/V2/DlpJob/JobState.php
  Dlp/src/V2/DlpJobType.php
  Dlp/src/V2/FileType.php
  Dlp/src/V2/InfoTypeSupportedBy.php
  Dlp/src/V2/JobTrigger/Status.php
  Dlp/src/V2/Likelihood.php
  Dlp/src/V2/MatchingType.php
  Dlp/src/V2/OutputStorageConfig/OutputSchema.php
  Dlp/src/V2/RecordCondition/Expressions/LogicalOperator.php
  Dlp/src/V2/RelationalOperator.php
  Dlp/src/V2/StoredInfoTypeState.php
  Dlp/src/V2/TimePartConfig/TimePart.php
  Dlp/src/V2/TransformationSummary/TransformationResultCode.php
  Dlp/synth.metadata
Labels: api: dlp, cla: yes

#1773 Add `value()` and `name()` methods to enum types.
  Dialogflow/metadata/V2/Agent.php
  Dialogflow/metadata/V2/Context.php
  Dialogflow/metadata/V2/EntityType.php
  Dialogflow/metadata/V2/Intent.php
  Dialogflow/metadata/V2/Session.php
  Dialogflow/metadata/V2/SessionEntityType.php
  Dialogflow/metadata/V2/Webhook.php
  Dialogflow/src/V2/Agent/MatchMode.php
  Dialogflow/src/V2/AudioEncoding.php
  Dialogflow/src/V2/EntityType/AutoExpansionMode.php
  Dialogflow/src/V2/EntityType/Kind.php
  Dialogflow/src/V2/Intent/Message/Platform.php
  Dialogflow/src/V2/Intent/TrainingPhrase/Type.php
  Dialogflow/src/V2/Intent/WebhookState.php
  Dialogflow/src/V2/IntentView.php
  Dialogflow/src/V2/SessionEntityType/EntityOverrideMode.php
  Dialogflow/src/V2/StreamingRecognitionResult/MessageType.php
  Dialogflow/synth.metadata
Labels: api: dialogflow, cla: yes

#1778 Add `value()` and `name()` methods to enum types.
  Language/metadata/V1Beta2/LanguageService.php
  Language/src/V1beta2/DependencyEdge/Label.php
  Language/src/V1beta2/Document/Type.php
  Language/src/V1beta2/EncodingType.php
  Language/src/V1beta2/Entity/Type.php
  Language/src/V1beta2/EntityMention/Type.php
  Language/src/V1beta2/PartOfSpeech/Aspect.php
  Language/src/V1beta2/PartOfSpeech/Form.php
  Language/src/V1beta2/PartOfSpeech/Gender.php
  Language/src/V1beta2/PartOfSpeech/Mood.php
  Language/src/V1beta2/PartOfSpeech/Number.php
  Language/src/V1beta2/PartOfSpeech/PBCase.php
  Language/src/V1beta2/PartOfSpeech/Person.php
  Language/src/V1beta2/PartOfSpeech/Proper.php
  Language/src/V1beta2/PartOfSpeech/Reciprocity.php
  Language/src/V1beta2/PartOfSpeech/Tag.php
  Language/src/V1beta2/PartOfSpeech/Tense.php
  Language/src/V1beta2/PartOfSpeech/Voice.php
  Language/synth.metadata
Labels: api: language, cla: yes

#1776 Add `value()` and `name()` methods to enum types.
  Iot/metadata/V1/DeviceManager.php
  Iot/metadata/V1/Resources.php
  Iot/src/V1/GatewayAuthMethod.php
  Iot/src/V1/GatewayType.php
  Iot/src/V1/HttpState.php
  Iot/src/V1/LogLevel.php
  Iot/src/V1/MqttState.php
  Iot/src/V1/PublicKeyCertificateFormat.php
  Iot/src/V1/PublicKeyFormat.php
  Iot/synth.metadata
Labels: api: cloudiot, cla: yes

#1777 Add `value()` and `name()` methods to enum types.
  Kms/metadata/V1/Resources.php
  Kms/metadata/V1/Service.php
  Kms/src/V1/CryptoKey/CryptoKeyPurpose.php
  Kms/src/V1/CryptoKeyVersion/CryptoKeyVersionAlgorithm.php
  Kms/src/V1/CryptoKeyVersion/CryptoKeyVersionState.php
  Kms/src/V1/CryptoKeyVersion/CryptoKeyVersionView.php
  Kms/src/V1/KeyOperationAttestation/AttestationFormat.php
  Kms/src/V1/ProtectionLevel.php
  Kms/synth.metadata
Labels: api: cloudkms, cla: yes

#1779 Add `value()` and `name()` methods to enum types.
  Speech/metadata/V1/CloudSpeech.php
  Speech/metadata/V1P1Beta1/CloudSpeech.php
  Speech/src/V1/RecognitionConfig/AudioEncoding.php
  Speech/src/V1/StreamingRecognizeResponse/SpeechEventType.php
  Speech/src/V1p1beta1/RecognitionConfig/AudioEncoding.php
  Speech/src/V1p1beta1/RecognitionMetadata/InteractionType.php
  Speech/src/V1p1beta1/RecognitionMetadata/MicrophoneDistance.php
  Speech/src/V1p1beta1/RecognitionMetadata/OriginalMediaType.php
  Speech/src/V1p1beta1/RecognitionMetadata/RecordingDeviceType.php
  Speech/src/V1p1beta1/StreamingRecognizeResponse/SpeechEventType.php
  Speech/synth.metadata
Labels: api: speech, cla: yes

#1780 Add `value()` and `name()` methods to enum types.
  Tasks/metadata/V2/Cloudtasks.php
  Tasks/metadata/V2/Queue.php
  Tasks/metadata/V2/Target.php
  Tasks/metadata/V2/Task.php
  Tasks/metadata/V2Beta2/Cloudtasks.php
  Tasks/metadata/V2Beta2/Queue.php
  Tasks/metadata/V2Beta2/Target.php
  Tasks/metadata/V2Beta2/Task.php
  Tasks/metadata/V2Beta3/Cloudtasks.php
  Tasks/metadata/V2Beta3/Queue.php
  Tasks/metadata/V2Beta3/Target.php
  Tasks/metadata/V2Beta3/Task.php
  Tasks/src/V2/HttpMethod.php
  Tasks/src/V2/Queue/State.php
  Tasks/src/V2/Task/View.php
  Tasks/src/V2beta2/HttpMethod.php
  Tasks/src/V2beta2/Queue/State.php
  Tasks/src/V2beta2/Task/View.php
  Tasks/src/V2beta3/HttpMethod.php
  Tasks/src/V2beta3/Queue/State.php
  Tasks/src/V2beta3/Task/View.php
  Tasks/synth.metadata
Labels: api: cloudtasks, cla: yes

#1781 Add `value()` and `name()` methods to enum types.
  TextToSpeech/metadata/V1/CloudTts.php
  TextToSpeech/src/V1/AudioEncoding.php
  TextToSpeech/src/V1/SsmlVoiceGender.php
  TextToSpeech/synth.metadata
Labels: api: texttospeech, cla: yes

#1782 Add `value()` and `name()` methods to enum types.
  VideoIntelligence/metadata/V1/VideoIntelligence.php
  VideoIntelligence/metadata/V1Beta2/VideoIntelligence.php
  VideoIntelligence/src/V1/Feature.php
  VideoIntelligence/src/V1/LabelDetectionMode.php
  VideoIntelligence/src/V1/Likelihood.php
  VideoIntelligence/src/V1beta2/Feature.php
  VideoIntelligence/src/V1beta2/LabelDetectionMode.php
  VideoIntelligence/src/V1beta2/Likelihood.php
  VideoIntelligence/synth.metadata
Labels: api: videointelligence, cla: yes

#1759 Add additional request name headers
  Logging/src/V2/Gapic/ConfigServiceV2GapicClient.php
  Logging/src/V2/Gapic/LoggingServiceV2GapicClient.php
  Logging/src/V2/Gapic/MetricsServiceV2GapicClient.php
  Logging/synth.metadata
Labels: api: logging, cla: yes

#1760 Add additional request name headers
  Monitoring/src/V3/Gapic/AlertPolicyServiceGapicClient.php
  Monitoring/src/V3/Gapic/GroupServiceGapicClient.php
  Monitoring/src/V3/Gapic/MetricServiceGapicClient.php
  Monitoring/src/V3/Gapic/NotificationChannelServiceGapicClient.php
  Monitoring/src/V3/Gapic/UptimeCheckServiceGapicClient.php
  Monitoring/synth.metadata
Labels: api: monitoring, cla: yes

#1761 Add additional request name headers
  OsLogin/src/V1/Gapic/OsLoginServiceGapicClient.php
  OsLogin/src/V1beta/Gapic/OsLoginServiceGapicClient.php
  OsLogin/synth.metadata
Labels: api: oslogin, cla: yes

#1762 Add additional request name headers
  PubSub/src/V1/Gapic/PublisherGapicClient.php
  PubSub/src/V1/Gapic/SubscriberGapicClient.php
  PubSub/synth.metadata
Labels: api: pubsub, cla: yes

#1764 Add additional request name headers
  Spanner/src/Admin/Database/V1/Gapic/DatabaseAdminGapicClient.php
  Spanner/src/Admin/Instance/V1/Gapic/InstanceAdminGapicClient.php
  Spanner/src/V1/Gapic/SpannerGapicClient.php
  Spanner/synth.metadata
Labels: api: spanner, cla: yes

#1765 Add additional request name headers
  Trace/src/V2/Gapic/TraceServiceGapicClient.php
  Trace/synth.metadata
Labels: api: cloudtrace, cla: yes

#1763 Add additional request name headers
  Redis/src/V1/Gapic/CloudRedisGapicClient.php
  Redis/src/V1beta1/Gapic/CloudRedisGapicClient.php
  Redis/synth.metadata
Labels: api: redis, cla: yes

#1766 Add additional request name headers
  Vision/src/V1/Gapic/ProductSearchGapicClient.php
  Vision/synth.metadata
Labels: api: vision, cla: yes
