Repository googleapis/google-cloud-php, pull requests merged in 2019-09, with the labels that each got.

#2298 feat: Add IAM management methods.
  Bigtable/metadata/Admin/V2/BigtableTableAdmin.php
  Bigtable/src/Admin/V2/BigtableTableAdminGrpcClient.php
  Bigtable/src/Admin/V2/Gapic/BigtableTableAdminGapicClient.php
  Bigtable/src/Admin/V2/resources/bigtable_table_admin_client_config.json
  Bigtable/src/Admin/V2/resources/bigtable_table_admin_rest_client_config.php
  Bigtable/synth.metadata
  Bigtable/tests/Unit/Admin/V2/BigtableTableAdminClientTest.php
Labels: api: bigtable, cla: yes

#2300 feat: Add SpeakerDiarizationConfig to v1 client.
  Speech/metadata/V1/CloudSpeech.php
  Speech/src/V1/RecognitionConfig.php
  Speech/src/V1/SpeakerDiarizationConfig.php
  Speech/synth.metadata
Labels: api: speech, cla: yes

#2305 feat: Update BigQuery's default endpoint
  BigQuery/src/Connection/Rest.php
Labels: cla: yes

#2308 docs: Update Text-To-Speech client documentation.
  TextToSpeech/metadata/V1/CloudTts.php
  TextToSpeech/src/V1/AudioConfig.php
  TextToSpeech/src/V1/AudioEncoding.php
  TextToSpeech/src/V1/Gapic/TextToSpeechGapicClient.php
  TextToSpeech/src/V1/ListVoicesRequest.php
  TextToSpeech/src/V1/SynthesizeSpeechRequest.php
  TextToSpeech/src/V1/SynthesizeSpeechResponse.php
  TextToSpeech/src/V1/VoiceSelectionParams.php
  TextToSpeech/src/V1/resources/text_to_speech_client_config.json
  TextToSpeech/synth.metadata
Labels: api: texttospeech, cla: yes

#2309 fix!: Add threatTypes to searchHashes request signature.
  WebRisk/src/V1beta1/Gapic/WebRiskServiceV1Beta1GapicClient.php
  WebRisk/synth.metadata
  WebRisk/tests/Unit/V1beta1/WebRiskServiceV1Beta1ClientTest.php
Labels: api: webrisk, cla: yes

#2304 chore: release 0.110.0
  BigQuery/VERSION
  BigQuery/src/BigQueryClient.php
  Bigtable/VERSION
  Bigtable/src/BigtableClient.php
  CHANGELOG.md
  Speech/VERSION
  Speech/src/SpeechClient.php
  WebRisk/VERSION
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process

#2311 feat: Update Monitoring client.
  Monitoring/metadata/V3/Alert.php
  Monitoring/metadata/V3/AlertService.php
  Monitoring/metadata/V3/Common.php
  Monitoring/metadata/V3/DroppedLabels.php
  Monitoring/metadata/V3/GroupService.php
  Monitoring/metadata/V3/Metric.php
  Monitoring/metadata/V3/MetricService.php
  Monitoring/metadata/V3/Notification.php
  Monitoring/metadata/V3/NotificationService.php
  Monitoring/metadata/V3/Uptime.php
  Monitoring/metadata/V3/UptimeService.php
  Monitoring/src/V3/AlertPolicy.php
  Monitoring/src/V3/AlertPolicyServiceGrpcClient.php
  Monitoring/src/V3/CreateTimeSeriesRequest.php
  Monitoring/src/V3/DeleteGroupRequest.php
  Monitoring/src/V3/Gapic/GroupServiceGapicClient.php
  Monitoring/src/V3/Gapic/MetricServiceGapicClient.php
  Monitoring/src/V3/Gapic/NotificationChannelServiceGapicClient.php
  Monitoring/src/V3/GroupServiceGrpcClient.php
  Monitoring/src/V3/InternalChecker.php
  Monitoring/src/V3/InternalChecker/State.php
  Monitoring/src/V3/InternalChecker_State.php
  Monitoring/src/V3/ListTimeSeriesRequest.php
  Monitoring/src/V3/MetricServiceGrpcClient.php
  Monitoring/src/V3/NotificationChannel.php
  Monitoring/src/V3/NotificationChannelServiceGrpcClient.php
  Monitoring/src/V3/TimeInterval.php
  Monitoring/src/V3/UptimeCheckConfig.php
  Monitoring/src/V3/UptimeCheckConfig/ContentMatcher.php
  Monitoring/src/V3/UptimeCheckConfig/ContentMatcher/ContentMatcherOption.php
  Monitoring/src/V3/UptimeCheckConfig/HttpCheck.php
  Monitoring/src/V3/UptimeCheckConfig_ContentMatcher_ContentMatcherOption.php
  Monitoring/src/V3/UptimeCheckServiceGrpcClient.php
  Monitoring/synth.metadata
  Monitoring/tests/Unit/V3/NotificationChannelServiceClientTest.php
  Monitoring/tests/Unit/V3/UptimeCheckServiceClientTest.php
Labels: api: monitoring, cla: yes

#2310 feat: Increase ImportData/CreateModel/BatchPredict/Deploy/Undeploy timeouts
  AutoMl/src/V1beta1/resources/auto_ml_descriptor_config.php
  AutoMl/src/V1beta1/resources/prediction_service_descriptor_config.php
  AutoMl/synth.metadata
Labels: api: automl, cla: yes

#2322 docs: Update Vision Product documentation.
  Vision/src/V1/Product.php
  Vision/src/V1/ProductSearchParams.php
  Vision/synth.metadata
Labels: api: vision, cla: yes

#2324 chore: Use minor version bump before GA
  .kokoro/continuous/node10/release.sh
Labels: cla: yes

#2325 chore: Add backslash to correctly merge lines together
  .kokoro/continuous/node10/release.sh
Labels: cla: yes

#2327 Fix incorrect return value in LoadJobConfiguration
  BigQuery/src/LoadJobConfiguration.php
Labels: cla: yes

#2328 fix: Fix fluent setter in ExtractJobConfiguration
  BigQuery/src/ExtractJobConfiguration.php
  BigQuery/tests/Unit/CopyJobConfigurationTest.php
  BigQuery/tests/Unit/ExtractJobConfigurationTest.php
  BigQuery/tests/Unit/LoadJobConfigurationTest.php
  BigQuery/tests/Unit/QueryJobConfigurationTest.php
Labels: api: bigquery, cla: yes

#2326 feat: Add safe search annotation confidence scores
  Vision/metadata/V1/ImageAnnotator.php
  Vision/metadata/V1/ProductSearch.php
  Vision/metadata/V1/ProductSearchService.php
  Vision/metadata/V1/TextAnnotation.php
  Vision/src/V1/AddProductToProductSetRequest.php
  Vision/src/V1/AsyncBatchAnnotateFilesRequest.php
  Vision/src/V1/AsyncBatchAnnotateImagesRequest.php
  Vision/src/V1/BatchAnnotateFilesRequest.php
  Vision/src/V1/BatchAnnotateImagesRequest.php
  Vision/src/V1/BatchOperationMetadata.php
  Vision/src/V1/CreateProductRequest.php
  Vision/src/V1/CreateProductSetRequest.php
  Vision/src/V1/CreateReferenceImageRequest.php
  Vision/src/V1/DeleteProductRequest.php
  Vision/src/V1/DeleteProductSetRequest.php
  Vision/src/V1/DeleteReferenceImageRequest.php
  Vision/src/V1/Gapic/ImageAnnotatorGapicClient.php
  Vision/src/V1/Gapic/ProductSearchGapicClient.php
  Vision/src/V1/GetProductRequest.php
  Vision/src/V1/GetProductSetRequest.php
  Vision/src/V1/GetReferenceImageRequest.php
  Vision/src/V1/ImportProductSetsGcsSource.php
  Vision/src/V1/ImportProductSetsRequest.php
  Vision/src/V1/ImportProductSetsResponse.php
  Vision/src/V1/ListProductSetsRequest.php
  Vision/src/V1/ListProductsInProductSetRequest.php
  Vision/src/V1/ListProductsRequest.php
  Vision/src/V1/ListReferenceImagesRequest.php
  Vision/src/V1/Product.php
  Vision/src/V1/ProductSearchGrpcClient.php
  Vision/src/V1/ProductSearchParams.php
  Vision/src/V1/ProductSet.php
  Vision/src/V1/PurgeProductsRequest.php
  Vision/src/V1/ReferenceImage.php
  Vision/src/V1/RemoveProductFromProductSetRequest.php
  Vision/src/V1/SafeSearchAnnotation.php
  Vision/src/V1/TextAnnotation.php
  Vision/src/V1/UpdateProductRequest.php
  Vision/src/V1/UpdateProductSetRequest.php
  Vision/synth.metadata
Labels: api: vision, cla: yes

#2329 chore: release 0.112.0
  BigQuery/VERSION
  BigQuery/src/BigQueryClient.php
  CHANGELOG.md
  Vision/VERSION
  Vision/src/VisionClient.php
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process

#2335 feat: Add constant for collection group query scope.
  Firestore/metadata/Admin/V1/FirestoreAdmin.php
  Firestore/metadata/Admin/V1/Index.php
  Firestore/metadata/V1/Firestore.php
  Firestore/metadata/V1/Query.php
  Firestore/metadata/V1Beta1/Firestore.php
  Firestore/metadata/V1Beta1/Query.php
  Firestore/src/Admin/V1/Field/IndexConfig.php
  Firestore/src/Admin/V1/Index.php
  Firestore/src/Admin/V1/Index/QueryScope.php
  Firestore/src/V1/FirestoreGrpcClient.php
  Firestore/src/V1/StructuredQuery/UnaryFilter/Operator.php
  Firestore/src/V1/Target.php
  Firestore/src/V1/TargetChange.php
  Firestore/src/V1beta1/FirestoreGrpcClient.php
  Firestore/src/V1beta1/StructuredQuery/UnaryFilter/Operator.php
  Firestore/src/V1beta1/Target.php
  Firestore/src/V1beta1/TargetChange.php
  Firestore/synth.metadata
Labels: api: firestore, cla: yes

#2258 feat: Add Firestore session handler.
  Firestore/src/FirestoreClient.php
  Firestore/src/FirestoreSessionHandler.php
  Firestore/src/Query.php
  Firestore/tests/Snippet/FirestoreSessionHandlerTest.php
  Firestore/tests/System/FirestoreSessionHandlerTest.php
  Firestore/tests/Unit/FirestoreClientTest.php
  Firestore/tests/Unit/FirestoreSessionHandlerTest.php
Labels: api: firestore, cla: yes

#2346 feat: Add request metadata types.
  AutoMl/metadata/V1Beta1/Image.php
  AutoMl/metadata/V1Beta1/Service.php
  AutoMl/src/V1beta1/DeployModelRequest.php
  AutoMl/src/V1beta1/Gapic/AutoMlGapicClient.php
  AutoMl/src/V1beta1/ImageClassificationModelDeploymentMetadata.php
  AutoMl/src/V1beta1/ImageClassificationModelMetadata.php
  AutoMl/synth.metadata
Labels: api: automl, cla: yes

#2347 feat: Update request timeout configuration.
  PubSub/src/V1/resources/publisher_client_config.json
  PubSub/src/V1/resources/subscriber_client_config.json
  PubSub/synth.metadata
Labels: api: pubsub, cla: yes

#2353 docs: Update documentation.
  Vision/src/V1/Product.php
  Vision/synth.metadata
Labels: api: vision, cla: yes

#2357 docs: Update documentation.
  BigQueryDataTransfer/metadata/V1/Datatransfer.php
  BigQueryDataTransfer/metadata/V1/Transfer.php
  BigQueryDataTransfer/src/V1/CheckValidCredsRequest.php
  BigQueryDataTransfer/src/V1/CreateTransferConfigRequest.php
  BigQueryDataTransfer/src/V1/DataSource.php
  BigQueryDataTransfer/src/V1/DeleteTransferConfigRequest.php
  BigQueryDataTransfer/src/V1/DeleteTransferRunRequest.php
  BigQueryDataTransfer/src/V1/Gapic/DataTransferServiceGapicClient.php
  BigQueryDataTransfer/src/V1/GetDataSourceRequest.php
  BigQueryDataTransfer/src/V1/GetTransferConfigRequest.php
  BigQueryDataTransfer/src/V1/GetTransferRunRequest.php
  BigQueryDataTransfer/src/V1/ListDataSourcesRequest.php
  BigQueryDataTransfer/src/V1/ListDataSourcesResponse.php
  BigQueryDataTransfer/src/V1/ListTransferConfigsRequest.php
  BigQueryDataTransfer/src/V1/ListTransferConfigsResponse.php
  BigQueryDataTransfer/src/V1/ListTransferLogsRequest.php
  BigQueryDataTransfer/src/V1/ListTransferLogsResponse.php
  BigQueryDataTransfer/src/V1/ListTransferRunsRequest.php
  BigQueryDataTransfer/src/V1/ListTransferRunsResponse.php
  BigQueryDataTransfer/src/V1/ScheduleTransferRunsRequest.php
  BigQueryDataTransfer/src/V1/StartManualTransferRunsRequest.php
  BigQueryDataTransfer/src/V1/TransferConfig.php
  BigQueryDataTransfer/src/V1/TransferRun.php
  BigQueryDataTransfer/src/V1/UpdateTransferConfigRequest.php
  BigQueryDataTransfer/synth.metadata
Labels: api: bigquerydatatransfer, cla: yes

#2358 chore: Regenerate metadata.
  Tasks/metadata/V2/Cloudtasks.php
  Tasks/metadata/V2Beta2/Cloudtasks.php
  Tasks/metadata/V2Beta3/Cloudtasks.php
  Tasks/synth.metadata
Labels: api: cloudtasks, cla: yes

#2348 fix: Make `sessionCount` required for `batchCreateSessions`.
  Spanner/src/V1/Gapic/SpannerGapicClient.php
  Spanner/synth.metadata
  Spanner/tests/Unit/V1/SpannerClientTest.php
Labels: api: spanner, cla: yes
