Repository googleapis/google-cloud-php, pull requests merged in 2019-11, with the labels that each got.

#2146 feat: (storage) support for uniform bucket-level access
  Storage/src/Bucket.php
  Storage/src/Connection/ServiceDefinition/storage-v1.json
  Storage/src/StorageClient.php
  Storage/tests/System/IamConfigurationTest.php
Labels: api: storage, cla: yes

#2445 feat: add HttpRequest/OAuthToken/OidcToken support
  Tasks/metadata/V2/Target.php
  Tasks/metadata/V2/Task.php
  Tasks/src/V2/HttpRequest.php
  Tasks/src/V2/OAuthToken.php
  Tasks/src/V2/OidcToken.php
  Tasks/src/V2/Queue.php
  Tasks/src/V2/Task.php
  Tasks/synth.metadata
Labels: api: cloudtasks, cla: yes

#2452 chore: disable codecov
  .kokoro/presubmit/run-tests.sh
Labels: cla: yes

#2432 chore: release 0.117.0
  CHANGELOG.md
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Storage/VERSION
  Storage/src/StorageClient.php
  Talent/VERSION
  Tasks/VERSION
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process

#2441 test: update smoke test
  Vision/synth.metadata
  Vision/tests/System/V1/ImageAnnotatorSmokeTest.php
Labels: api: vision, cla: yes

#2457 chore: update synth config to fix container documentation links
  Container/synth.py
Labels: api: container, cla: yes

#2460 chore: release 0.118.0
  AutoMl/VERSION
  CHANGELOG.md
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process

#2451 feat: add publishToStackdriver option
  Dlp/metadata/V2/Dlp.php
  Dlp/metadata/V2/Storage.php
  Dlp/src/V2/Action.php
  Dlp/src/V2/Action/PublishToStackdriver.php
  Dlp/src/V2/Action_PublishToStackdriver.php
  Dlp/src/V2/ActivateJobTriggerRequest.php
  Dlp/src/V2/CancelDlpJobRequest.php
  Dlp/src/V2/CharacterMaskConfig.php
  Dlp/src/V2/CreateDeidentifyTemplateRequest.php
  Dlp/src/V2/CreateDlpJobRequest.php
  Dlp/src/V2/CreateInspectTemplateRequest.php
  Dlp/src/V2/CreateJobTriggerRequest.php
  Dlp/src/V2/CreateStoredInfoTypeRequest.php
  Dlp/src/V2/CryptoDeterministicConfig.php
  Dlp/src/V2/CryptoReplaceFfxFpeConfig.php
  Dlp/src/V2/DeidentifyContentRequest.php
  Dlp/src/V2/DeleteDeidentifyTemplateRequest.php
  Dlp/src/V2/DeleteDlpJobRequest.php
  Dlp/src/V2/DeleteInspectTemplateRequest.php
  Dlp/src/V2/DeleteJobTriggerRequest.php
  Dlp/src/V2/DeleteStoredInfoTypeRequest.php
  Dlp/src/V2/Gapic/DlpServiceGapicClient.php
  Dlp/src/V2/GetDeidentifyTemplateRequest.php
  Dlp/src/V2/GetDlpJobRequest.php
  Dlp/src/V2/GetInspectTemplateRequest.php
  Dlp/src/V2/GetJobTriggerRequest.php
  Dlp/src/V2/GetStoredInfoTypeRequest.php
  Dlp/src/V2/InspectConfig.php
  Dlp/src/V2/InspectContentRequest.php
  Dlp/src/V2/JobTrigger.php
  Dlp/src/V2/ListDeidentifyTemplatesRequest.php
  Dlp/src/V2/ListDlpJobsRequest.php
  Dlp/src/V2/ListInspectTemplatesRequest.php
  Dlp/src/V2/ListJobTriggersRequest.php
  Dlp/src/V2/ListStoredInfoTypesRequest.php
  Dlp/src/V2/RedactImageRequest.php
  Dlp/src/V2/ReidentifyContentRequest.php
  Dlp/src/V2/StorageConfig/TimespanConfig.php
  Dlp/src/V2/TimePartConfig/TimePart.php
  Dlp/src/V2/UpdateDeidentifyTemplateRequest.php
  Dlp/src/V2/UpdateInspectTemplateRequest.php
  Dlp/src/V2/UpdateJobTriggerRequest.php
  Dlp/src/V2/UpdateStoredInfoTypeRequest.php
  Dlp/synth.metadata
Labels: api: dlp, cla: yes

#2444 docs: update documentation
  Talent/metadata/V4Beta1/JobService.php
  Talent/src/V4beta1/AvailabilitySignalType.php
  Talent/src/V4beta1/BatchUpdateJobsRequest.php
  Talent/src/V4beta1/Gapic/JobServiceGapicClient.php
  Talent/src/V4beta1/LocationFilter.php
  Talent/src/V4beta1/Phone/PhoneType.php
  Talent/src/V4beta1/Resume/ResumeType.php
  Talent/synth.metadata
Labels: api: talent, cla: yes

#2446 feat: update rest configuration uri templates
  Dataproc/metadata/V1Beta2/Clusters.php
  Dataproc/metadata/V1Beta2/Jobs.php
  Dataproc/src/V1beta2/resources/cluster_controller_rest_client_config.php
  Dataproc/src/V1beta2/resources/job_controller_rest_client_config.php
  Dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#2455 feat: update timeout and retry configuration
  PubSub/src/V1/resources/publisher_client_config.json
  PubSub/src/V1/resources/subscriber_client_config.json
  PubSub/synth.metadata
Labels: api: pubsub, cla: yes

#2469 feat: update generated clients
  Spanner/metadata/Admin/Instance/V1/SpannerInstanceAdmin.php
  Spanner/src/Admin/Database/V1/CreateDatabaseRequest.php
  Spanner/src/Admin/Database/V1/DatabaseAdminGrpcClient.php
  Spanner/src/Admin/Database/V1/DropDatabaseRequest.php
  Spanner/src/Admin/Database/V1/Gapic/DatabaseAdminGapicClient.php
  Spanner/src/Admin/Database/V1/GetDatabaseDdlRequest.php
  Spanner/src/Admin/Database/V1/GetDatabaseDdlResponse.php
  Spanner/src/Admin/Database/V1/GetDatabaseRequest.php
  Spanner/src/Admin/Database/V1/ListDatabasesRequest.php
  Spanner/src/Admin/Database/V1/ListDatabasesResponse.php
  Spanner/src/Admin/Database/V1/UpdateDatabaseDdlRequest.php
  Spanner/src/Admin/Database/V1/resources/database_admin_client_config.json
  Spanner/src/Admin/Database/V1/resources/database_admin_rest_client_config.php
  Spanner/src/Admin/Instance/V1/Gapic/InstanceAdminGapicClient.php
  Spanner/src/Admin/Instance/V1/GetInstanceRequest.php
  Spanner/src/Admin/Instance/V1/Instance.php
  Spanner/src/V1/BatchCreateSessionsRequest.php
  Spanner/src/V1/BatchCreateSessionsResponse.php
  Spanner/src/V1/BeginTransactionRequest.php
  Spanner/src/V1/ExecuteBatchDmlRequest.php
  Spanner/src/V1/ExecuteBatchDmlRequest/Statement.php
  Spanner/src/V1/ExecuteBatchDmlResponse.php
  Spanner/src/V1/ExecuteSqlRequest.php
  Spanner/src/V1/Gapic/SpannerGapicClient.php
  Spanner/src/V1/ListSessionsRequest.php
  Spanner/src/V1/ListSessionsResponse.php
  Spanner/src/V1/PartitionQueryRequest.php
  Spanner/src/V1/PartitionReadRequest.php
  Spanner/src/V1/ReadRequest.php
  Spanner/src/V1/SpannerGrpcClient.php
  Spanner/src/V1/resources/spanner_client_config.json
  Spanner/synth.metadata
  Spanner/tests/Unit/Admin/Database/V1/DatabaseAdminClientTest.php
  Spanner/tests/Unit/Admin/Instance/V1/InstanceAdminClientTest.php
  Spanner/tests/Unit/V1/SpannerClientTest.php
Labels: api: spanner, cla: yes

#2466 feat: update timeouts and documentation
  Debugger/metadata/V2/Controller.php
  Debugger/metadata/V2/Data.php
  Debugger/metadata/V2/Debugger.php
  Debugger/src/V2/Controller2GrpcClient.php
  Debugger/src/V2/Debugger2GrpcClient.php
  Debugger/src/V2/DeleteBreakpointRequest.php
  Debugger/src/V2/Gapic/Controller2GapicClient.php
  Debugger/src/V2/Gapic/Debugger2GapicClient.php
  Debugger/src/V2/GetBreakpointRequest.php
  Debugger/src/V2/ListActiveBreakpointsRequest.php
  Debugger/src/V2/ListBreakpointsRequest.php
  Debugger/src/V2/ListDebuggeesRequest.php
  Debugger/src/V2/RegisterDebuggeeRequest.php
  Debugger/src/V2/SetBreakpointRequest.php
  Debugger/src/V2/UpdateActiveBreakpointRequest.php
  Debugger/src/V2/resources/controller2_client_config.json
  Debugger/src/V2/resources/controller2_rest_client_config.php
  Debugger/src/V2/resources/debugger2_client_config.json
  Debugger/src/V2/resources/debugger2_rest_client_config.php
  Debugger/synth.metadata
  Debugger/tests/Unit/V2/Controller2ClientTest.php
  Debugger/tests/Unit/V2/Debugger2ClientTest.php
Labels: api: clouddebugger, cla: yes

#2471 revert: rollback spanner client change
  Spanner/metadata/Admin/Instance/V1/SpannerInstanceAdmin.php
  Spanner/src/Admin/Database/V1/CreateDatabaseRequest.php
  Spanner/src/Admin/Database/V1/DatabaseAdminGrpcClient.php
  Spanner/src/Admin/Database/V1/DropDatabaseRequest.php
  Spanner/src/Admin/Database/V1/Gapic/DatabaseAdminGapicClient.php
  Spanner/src/Admin/Database/V1/GetDatabaseDdlRequest.php
  Spanner/src/Admin/Database/V1/GetDatabaseDdlResponse.php
  Spanner/src/Admin/Database/V1/GetDatabaseRequest.php
  Spanner/src/Admin/Database/V1/ListDatabasesRequest.php
  Spanner/src/Admin/Database/V1/ListDatabasesResponse.php
  Spanner/src/Admin/Database/V1/UpdateDatabaseDdlRequest.php
  Spanner/src/Admin/Database/V1/resources/database_admin_client_config.json
  Spanner/src/Admin/Database/V1/resources/database_admin_rest_client_config.php
  Spanner/src/Admin/Instance/V1/Gapic/InstanceAdminGapicClient.php
  Spanner/src/Admin/Instance/V1/GetInstanceRequest.php
  Spanner/src/Admin/Instance/V1/Instance.php
  Spanner/src/V1/BatchCreateSessionsRequest.php
  Spanner/src/V1/BatchCreateSessionsResponse.php
  Spanner/src/V1/BeginTransactionRequest.php
  Spanner/src/V1/ExecuteBatchDmlRequest.php
  Spanner/src/V1/ExecuteBatchDmlRequest/Statement.php
  Spanner/src/V1/ExecuteBatchDmlResponse.php
  Spanner/src/V1/ExecuteSqlRequest.php
  Spanner/src/V1/Gapic/SpannerGapicClient.php
  Spanner/src/V1/ListSessionsRequest.php
  Spanner/src/V1/ListSessionsResponse.php
  Spanner/src/V1/PartitionQueryRequest.php
  Spanner/src/V1/PartitionReadRequest.php
  Spanner/src/V1/ReadRequest.php
  Spanner/src/V1/SpannerGrpcClient.php
  Spanner/src/V1/resources/spanner_client_config.json
  Spanner/synth.metadata
  Spanner/tests/Unit/Admin/Database/V1/DatabaseAdminClientTest.php
  Spanner/tests/Unit/Admin/Instance/V1/InstanceAdminClientTest.php
  Spanner/tests/Unit/V1/SpannerClientTest.php
Labels: api: spanner, cla: yes

#2453 feat: update retry configurations and docs
  Iot/metadata/V1/DeviceManager.php
  Iot/metadata/V1/Resources.php
  Iot/src/V1/BindDeviceToGatewayRequest.php
  Iot/src/V1/CreateDeviceRegistryRequest.php
  Iot/src/V1/CreateDeviceRequest.php
  Iot/src/V1/DeleteDeviceRegistryRequest.php
  Iot/src/V1/DeleteDeviceRequest.php
  Iot/src/V1/DeviceManagerGrpcClient.php
  Iot/src/V1/Gapic/DeviceManagerGapicClient.php
  Iot/src/V1/GetDeviceRegistryRequest.php
  Iot/src/V1/GetDeviceRequest.php
  Iot/src/V1/ListDeviceConfigVersionsRequest.php
  Iot/src/V1/ListDeviceRegistriesRequest.php
  Iot/src/V1/ListDeviceStatesRequest.php
  Iot/src/V1/ListDevicesRequest.php
  Iot/src/V1/ModifyCloudToDeviceConfigRequest.php
  Iot/src/V1/SendCommandToDeviceRequest.php
  Iot/src/V1/UnbindDeviceFromGatewayRequest.php
  Iot/src/V1/UpdateDeviceRegistryRequest.php
  Iot/src/V1/UpdateDeviceRequest.php
  Iot/src/V1/resources/device_manager_client_config.json
  Iot/synth.metadata
  Iot/tests/Unit/V1/DeviceManagerClientTest.php
Labels: api: cloudiot, cla: yes

#2476 fix: update metadata to include operations and documentation
  AutoMl/metadata/V1/Operations.php
  AutoMl/metadata/V1/PredictionService.php
  AutoMl/metadata/V1/Service.php
  AutoMl/metadata/V1Beta1/Operations.php
  AutoMl/src/V1beta1/TablesModelColumnInfo.php
  AutoMl/synth.metadata
Labels: api: automl, cla: yes

#2473 feat: update generated clients
  Spanner/metadata/Admin/Instance/V1/SpannerInstanceAdmin.php
  Spanner/src/Admin/Database/V1/CreateDatabaseRequest.php
  Spanner/src/Admin/Database/V1/DatabaseAdminGrpcClient.php
  Spanner/src/Admin/Database/V1/DropDatabaseRequest.php
  Spanner/src/Admin/Database/V1/Gapic/DatabaseAdminGapicClient.php
  Spanner/src/Admin/Database/V1/GetDatabaseDdlRequest.php
  Spanner/src/Admin/Database/V1/GetDatabaseDdlResponse.php
  Spanner/src/Admin/Database/V1/GetDatabaseRequest.php
  Spanner/src/Admin/Database/V1/ListDatabasesRequest.php
  Spanner/src/Admin/Database/V1/ListDatabasesResponse.php
  Spanner/src/Admin/Database/V1/UpdateDatabaseDdlRequest.php
  Spanner/src/Admin/Database/V1/resources/database_admin_client_config.json
  Spanner/src/Admin/Database/V1/resources/database_admin_rest_client_config.php
  Spanner/src/Admin/Instance/V1/Gapic/InstanceAdminGapicClient.php
  Spanner/src/Admin/Instance/V1/GetInstanceRequest.php
  Spanner/src/Admin/Instance/V1/Instance.php
  Spanner/src/V1/BatchCreateSessionsRequest.php
  Spanner/src/V1/BatchCreateSessionsResponse.php
  Spanner/src/V1/BeginTransactionRequest.php
  Spanner/src/V1/ExecuteBatchDmlRequest.php
  Spanner/src/V1/ExecuteBatchDmlRequest/Statement.php
  Spanner/src/V1/ExecuteBatchDmlResponse.php
  Spanner/src/V1/ExecuteSqlRequest.php
  Spanner/src/V1/Gapic/SpannerGapicClient.php
  Spanner/src/V1/ListSessionsRequest.php
  Spanner/src/V1/ListSessionsResponse.php
  Spanner/src/V1/PartitionQueryRequest.php
  Spanner/src/V1/PartitionReadRequest.php
  Spanner/src/V1/ReadRequest.php
  Spanner/src/V1/SpannerGrpcClient.php
  Spanner/src/V1/resources/spanner_client_config.json
  Spanner/synth.metadata
  Spanner/synth.py
  Spanner/tests/Unit/Admin/Database/V1/DatabaseAdminClientTest.php
  Spanner/tests/Unit/Admin/Instance/V1/InstanceAdminClientTest.php
  Spanner/tests/Unit/V1/SpannerClientTest.php
Labels: api: spanner, cla: yes

#2461 chore: release 0.119.0
  AutoMl/VERSION
  CHANGELOG.md
  Dataproc/VERSION
  Debugger/VERSION
  Debugger/src/DebuggerClient.php
  Dlp/VERSION
  Iot/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Talent/VERSION
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process

#2481 feat: add speaker tag to wordinfo and update timeouts
  Speech/metadata/V1/CloudSpeech.php
  Speech/metadata/V1P1Beta1/CloudSpeech.php
  Speech/src/V1/Gapic/SpeechGapicClient.php
  Speech/src/V1/LongRunningRecognizeRequest.php
  Speech/src/V1/LongRunningRecognizeResponse.php
  Speech/src/V1/RecognitionAudio.php
  Speech/src/V1/RecognitionConfig.php
  Speech/src/V1/RecognitionConfig/AudioEncoding.php
  Speech/src/V1/RecognizeRequest.php
  Speech/src/V1/RecognizeResponse.php
  Speech/src/V1/SpeakerDiarizationConfig.php
  Speech/src/V1/SpeechContext.php
  Speech/src/V1/SpeechGrpcClient.php
  Speech/src/V1/SpeechRecognitionAlternative.php
  Speech/src/V1/SpeechRecognitionResult.php
  Speech/src/V1/StreamingRecognitionConfig.php
  Speech/src/V1/StreamingRecognitionResult.php
  Speech/src/V1/StreamingRecognizeRequest.php
  Speech/src/V1/StreamingRecognizeResponse.php
  Speech/src/V1/WordInfo.php
  Speech/src/V1/resources/speech_client_config.json
  Speech/src/V1/resources/speech_descriptor_config.php
  Speech/src/V1/resources/speech_rest_client_config.php
  Speech/src/V1p1beta1/Gapic/SpeechGapicClient.php
  Speech/src/V1p1beta1/LongRunningRecognizeRequest.php
  Speech/src/V1p1beta1/LongRunningRecognizeResponse.php
  Speech/src/V1p1beta1/RecognitionAudio.php
  Speech/src/V1p1beta1/RecognitionConfig.php
  Speech/src/V1p1beta1/RecognitionConfig/AudioEncoding.php
  Speech/src/V1p1beta1/RecognitionMetadata.php
  Speech/src/V1p1beta1/RecognizeRequest.php
  Speech/src/V1p1beta1/RecognizeResponse.php
  Speech/src/V1p1beta1/SpeakerDiarizationConfig.php
  Speech/src/V1p1beta1/SpeechContext.php
  Speech/src/V1p1beta1/SpeechGrpcClient.php
  Speech/src/V1p1beta1/SpeechRecognitionAlternative.php
  Speech/src/V1p1beta1/SpeechRecognitionResult.php
  Speech/src/V1p1beta1/StreamingRecognitionConfig.php
  Speech/src/V1p1beta1/StreamingRecognitionResult.php
  Speech/src/V1p1beta1/StreamingRecognizeRequest.php
  Speech/src/V1p1beta1/StreamingRecognizeResponse.php
  Speech/src/V1p1beta1/WordInfo.php
  Speech/src/V1p1beta1/resources/speech_client_config.json
  Speech/src/V1p1beta1/resources/speech_descriptor_config.php
  Speech/src/V1p1beta1/resources/speech_rest_client_config.php
  Speech/synth.metadata
  Speech/tests/System/V1/SpeechSmokeTest.php
  Speech/tests/System/V1p1beta1/SpeechSmokeTest.php
Labels: api: speech, cla: yes

#2477 feat: update metadata, documentation and rest configuration
  Trace/metadata/V2/Trace.php
  Trace/metadata/V2/Tracing.php
  Trace/src/V2/BatchWriteSpansRequest.php
  Trace/src/V2/Gapic/TraceServiceGapicClient.php
  Trace/src/V2/Span.php
  Trace/src/V2/Span/Attributes.php
  Trace/src/V2/TraceServiceGrpcClient.php
  Trace/src/V2/resources/trace_service_rest_client_config.php
  Trace/synth.metadata
Labels: api: cloudtrace, cla: yes

#2482 chore: release 0.120.0
  CHANGELOG.md
  Speech/VERSION
  Speech/src/SpeechClient.php
  Trace/VERSION
  Trace/src/TraceClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process
