Repository googleapis/google-cloud-php, pull requests merged in 2019-10, with the labels that each got.

#2342 feat: Add support for batch session creation in Cloud Spanner
  .kokoro/presubmit/windows/test.bat
  Spanner/src/Connection/ConnectionInterface.php
  Spanner/src/Connection/Grpc.php
  Spanner/src/Session/CacheSessionPool.php
  Spanner/tests/System/SessionTest.php
  Spanner/tests/Unit/Batch/BatchClientTest.php
  Spanner/tests/Unit/Connection/GrpcTest.php
  Spanner/tests/Unit/Session/CacheSessionPoolTest.php
  Spanner/tests/Unit/ValueMapperTest.php
Labels: api: spanner, cla: yes

#2354 feat: Add support for Authenticated Push
  Core/composer.json
  PubSub/src/Subscription.php
  PubSub/tests/Snippet/SubscriptionTest.php
  composer.json
Labels: api: pubsub, cla: yes

#2365 docs: Update documentation.
  Monitoring/src/V3/AlertPolicy/Condition/MetricThreshold.php
  Monitoring/src/V3/CreateUptimeCheckConfigRequest.php
  Monitoring/src/V3/DeleteUptimeCheckConfigRequest.php
  Monitoring/src/V3/Gapic/UptimeCheckServiceGapicClient.php
  Monitoring/src/V3/GetUptimeCheckConfigRequest.php
  Monitoring/src/V3/InternalChecker.php
  Monitoring/src/V3/InternalChecker/State.php
  Monitoring/src/V3/ListUptimeCheckConfigsRequest.php
  Monitoring/src/V3/ListUptimeCheckConfigsResponse.php
  Monitoring/src/V3/UpdateUptimeCheckConfigRequest.php
  Monitoring/src/V3/UptimeCheckConfig.php
  Monitoring/src/V3/UptimeCheckConfig/ContentMatcher.php
  Monitoring/src/V3/UptimeCheckConfig/ContentMatcher/ContentMatcherOption.php
  Monitoring/src/V3/UptimeCheckConfig/HttpCheck.php
  Monitoring/src/V3/UptimeCheckConfig/HttpCheck/BasicAuthentication.php
  Monitoring/src/V3/UptimeCheckConfig/ResourceGroup.php
  Monitoring/src/V3/UptimeCheckConfig/TcpCheck.php
  Monitoring/src/V3/UptimeCheckIp.php
  Monitoring/src/V3/UptimeCheckRegion.php
  Monitoring/src/V3/UptimeCheckServiceGrpcClient.php
  Monitoring/synth.metadata
Labels: api: monitoring, cla: yes

#2361 feat: Add entity types.
  Language/metadata/V1Beta2/LanguageService.php
  Language/src/V1beta2/AnalyzeEntitiesRequest.php
  Language/src/V1beta2/AnalyzeEntitiesResponse.php
  Language/src/V1beta2/AnalyzeEntitySentimentRequest.php
  Language/src/V1beta2/AnalyzeEntitySentimentResponse.php
  Language/src/V1beta2/AnalyzeSentimentRequest.php
  Language/src/V1beta2/AnalyzeSentimentResponse.php
  Language/src/V1beta2/AnalyzeSyntaxRequest.php
  Language/src/V1beta2/AnalyzeSyntaxResponse.php
  Language/src/V1beta2/AnnotateTextRequest.php
  Language/src/V1beta2/AnnotateTextRequest/Features.php
  Language/src/V1beta2/AnnotateTextResponse.php
  Language/src/V1beta2/ClassificationCategory.php
  Language/src/V1beta2/ClassifyTextRequest.php
  Language/src/V1beta2/Document.php
  Language/src/V1beta2/EncodingType.php
  Language/src/V1beta2/Entity.php
  Language/src/V1beta2/Entity/Type.php
  Language/src/V1beta2/EntityMention.php
  Language/src/V1beta2/Gapic/LanguageServiceGapicClient.php
  Language/src/V1beta2/LanguageServiceGrpcClient.php
  Language/src/V1beta2/Sentence.php
  Language/src/V1beta2/Sentiment.php
  Language/src/V1beta2/TextSpan.php
  Language/synth.metadata
Labels: api: language, cla: yes

#2360 Updates to FirestoreSessionHandler
  Firestore/src/FirestoreClient.php
  Firestore/src/FirestoreSessionHandler.php
  Firestore/tests/System/FirestoreSessionHandlerTest.php
  Firestore/tests/Unit/FirestoreSessionHandlerTest.php
Labels: api: firestore, cla: yes

#2339 chore: release 0.113.0
  AutoMl/VERSION
  CHANGELOG.md
  Core/VERSION
  Dataproc/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Language/VERSION
  Language/src/LanguageClient.php
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process

#2366 feat: Introduce Cloud Translation V3 client
  Translate/README.md
  Translate/composer.json
  Translate/metadata/V3/TranslationService.php
  Translate/src/V3/BatchTranslateMetadata.php
  Translate/src/V3/BatchTranslateMetadata/State.php
  Translate/src/V3/BatchTranslateMetadata_State.php
  Translate/src/V3/BatchTranslateResponse.php
  Translate/src/V3/BatchTranslateTextRequest.php
  Translate/src/V3/CreateGlossaryMetadata.php
  Translate/src/V3/CreateGlossaryMetadata/State.php
  Translate/src/V3/CreateGlossaryMetadata_State.php
  Translate/src/V3/CreateGlossaryRequest.php
  Translate/src/V3/DeleteGlossaryMetadata.php
  Translate/src/V3/DeleteGlossaryMetadata/State.php
  Translate/src/V3/DeleteGlossaryMetadata_State.php
  Translate/src/V3/DeleteGlossaryRequest.php
  Translate/src/V3/DeleteGlossaryResponse.php
  Translate/src/V3/DetectLanguageRequest.php
  Translate/src/V3/DetectLanguageResponse.php
  Translate/src/V3/DetectedLanguage.php
  Translate/src/V3/Gapic/TranslationServiceGapicClient.php
  Translate/src/V3/GcsDestination.php
  Translate/src/V3/GcsSource.php
  Translate/src/V3/GetGlossaryRequest.php
  Translate/src/V3/GetSupportedLanguagesRequest.php
  Translate/src/V3/Glossary.php
  Translate/src/V3/Glossary/LanguageCodePair.php
  Translate/src/V3/Glossary/LanguageCodesSet.php
  Translate/src/V3/GlossaryInputConfig.php
  Translate/src/V3/Glossary_LanguageCodePair.php
  Translate/src/V3/Glossary_LanguageCodesSet.php
  Translate/src/V3/InputConfig.php
  Translate/src/V3/ListGlossariesRequest.php
  Translate/src/V3/ListGlossariesResponse.php
  Translate/src/V3/OutputConfig.php
  Translate/src/V3/README.md
  Translate/src/V3/SupportedLanguage.php
  Translate/src/V3/SupportedLanguages.php
  Translate/src/V3/TranslateTextGlossaryConfig.php
  Translate/src/V3/TranslateTextRequest.php
  Translate/src/V3/TranslateTextResponse.php
  Translate/src/V3/Translation.php
  Translate/src/V3/TranslationServiceClient.php
  Translate/src/V3/TranslationServiceGrpcClient.php
  Translate/src/V3/resources/translation_service_client_config.json
  Translate/src/V3/resources/translation_service_descriptor_config.php
  Translate/src/V3/resources/translation_service_rest_client_config.php
  Translate/synth.metadata
  Translate/synth.py
  Translate/tests/System/V3/TranslationServiceSmokeTest.php
  Translate/tests/System/bootstrap.php
  Translate/tests/Unit/V3/TranslationServiceClientTest.php
  composer.json
  docs/contents/cloud-translate.json
Labels: api: translation, cla: yes

#2370 Add AutoMl V1 README
  AutoMl/src/V1/README.md
Labels: api: automl, cla: yes

#2369 chore: release 0.114.0
  AutoMl/VERSION
  CHANGELOG.md
  Translate/VERSION
  Translate/src/TranslateClient.php
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process

#2373 fix: Correct system test namespaces
  AutoMl/tests/System/V1/AutoMlSmokeTest.php
  AutoMl/tests/System/V1beta1/AutoMlSmokeTest.php
Labels: cla: yes

#2362 feat: Increase default timeouts.
  Spanner/src/V1/resources/spanner_client_config.json
  Spanner/synth.metadata
Labels: api: spanner, cla: yes

#2379 fix: **BREAKING** Ensure operations calls work correctly.
  AutoMl/metadata/V1/Operations.php
  AutoMl/metadata/V1/PredictionService.php
  AutoMl/metadata/V1/Service.php
  AutoMl/src/V1/CreateDatasetRequest.php
  AutoMl/src/V1/CreateModelRequest.php
  AutoMl/src/V1/DeleteDatasetRequest.php
  AutoMl/src/V1/DeleteModelRequest.php
  AutoMl/src/V1/ExportDataRequest.php
  AutoMl/src/V1/Gapic/AutoMlGapicClient.php
  AutoMl/src/V1/GetDatasetRequest.php
  AutoMl/src/V1/GetModelEvaluationRequest.php
  AutoMl/src/V1/GetModelRequest.php
  AutoMl/src/V1/ImportDataRequest.php
  AutoMl/src/V1/ListDatasetsRequest.php
  AutoMl/src/V1/ListDatasetsResponse.php
  AutoMl/src/V1/ListModelEvaluationsRequest.php
  AutoMl/src/V1/ListModelEvaluationsResponse.php
  AutoMl/src/V1/ListModelsRequest.php
  AutoMl/src/V1/ListModelsResponse.php
  AutoMl/src/V1/PredictRequest.php
  AutoMl/src/V1/PredictResponse.php
  AutoMl/src/V1/UpdateDatasetRequest.php
  AutoMl/src/V1/UpdateModelRequest.php
  AutoMl/src/V1/resources/auto_ml_descriptor_config.php
  AutoMl/synth.metadata
  AutoMl/tests/System/V1/AutoMlSmokeTest.php
  AutoMl/tests/Unit/V1/AutoMlClientTest.php
Labels: api: automl, cla: yes

#2375 chore: release 0.115.0
  AutoMl/VERSION
  CHANGELOG.md
  Dataproc/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process

#2345 feat: Make dataProtectionMode in CloudRedisGapicClient::failoverInstance optional / Update timeouts
  Redis/metadata/V1/CloudRedis.php
  Redis/metadata/V1Beta1/CloudRedis.php
  Redis/src/V1/CreateInstanceRequest.php
  Redis/src/V1/DeleteInstanceRequest.php
  Redis/src/V1/ExportInstanceRequest.php
  Redis/src/V1/FailoverInstanceRequest.php
  Redis/src/V1/Gapic/CloudRedisGapicClient.php
  Redis/src/V1/GcsDestination.php
  Redis/src/V1/GcsSource.php
  Redis/src/V1/GetInstanceRequest.php
  Redis/src/V1/ImportInstanceRequest.php
  Redis/src/V1/Instance.php
  Redis/src/V1/ListInstancesRequest.php
  Redis/src/V1/LocationMetadata.php
  Redis/src/V1/UpdateInstanceRequest.php
  Redis/src/V1/resources/cloud_redis_client_config.json
  Redis/src/V1/resources/cloud_redis_descriptor_config.php
  Redis/src/V1/resources/cloud_redis_rest_client_config.php
  Redis/src/V1beta1/CreateInstanceRequest.php
  Redis/src/V1beta1/DeleteInstanceRequest.php
  Redis/src/V1beta1/ExportInstanceRequest.php
  Redis/src/V1beta1/FailoverInstanceRequest.php
  Redis/src/V1beta1/Gapic/CloudRedisGapicClient.php
  Redis/src/V1beta1/GcsDestination.php
  Redis/src/V1beta1/GcsSource.php
  Redis/src/V1beta1/GetInstanceRequest.php
  Redis/src/V1beta1/ImportInstanceRequest.php
  Redis/src/V1beta1/Instance.php
  Redis/src/V1beta1/ListInstancesRequest.php
  Redis/src/V1beta1/LocationMetadata.php
  Redis/src/V1beta1/UpdateInstanceRequest.php
  Redis/src/V1beta1/resources/cloud_redis_client_config.json
  Redis/src/V1beta1/resources/cloud_redis_descriptor_config.php
  Redis/src/V1beta1/resources/cloud_redis_rest_client_config.php
  Redis/synth.metadata
  Redis/tests/Unit/V1/CloudRedisClientTest.php
  Redis/tests/Unit/V1beta1/CloudRedisClientTest.php
Labels: api: redis, cla: yes

#2384 feat: Introduce availability filters and signals
  Talent/metadata/V4Beta1/Common.php
  Talent/metadata/V4Beta1/Filters.php
  Talent/metadata/V4Beta1/Profile.php
  Talent/src/V4beta1/AvailabilityFilter.php
  Talent/src/V4beta1/AvailabilitySignal.php
  Talent/src/V4beta1/AvailabilitySignalType.php
  Talent/src/V4beta1/CandidateAvailabilityFilter.php
  Talent/src/V4beta1/Gapic/ProfileServiceGapicClient.php
  Talent/src/V4beta1/Profile.php
  Talent/src/V4beta1/ProfileQuery.php
  Talent/src/V4beta1/UpdateProfileRequest.php
  Talent/synth.metadata
Labels: api: talent, cla: yes

#2382 fix: Update output string
  Translate/tests/System/TranslateTest.php
Labels: api: translation, cla: yes

#2383 feat: Update timeouts.
  Redis/src/V1/Gapic/CloudRedisGapicClient.php
  Redis/src/V1/resources/cloud_redis_client_config.json
  Redis/src/V1/resources/cloud_redis_descriptor_config.php
  Redis/src/V1/resources/cloud_redis_rest_client_config.php
  Redis/src/V1beta1/Gapic/CloudRedisGapicClient.php
  Redis/src/V1beta1/resources/cloud_redis_client_config.json
  Redis/src/V1beta1/resources/cloud_redis_descriptor_config.php
  Redis/src/V1beta1/resources/cloud_redis_rest_client_config.php
  Redis/synth.metadata
  Redis/tests/Unit/V1/CloudRedisClientTest.php
  Redis/tests/Unit/V1beta1/CloudRedisClientTest.php
Labels: api: redis, cla: yes

#2391 chore: Explicitly define artman configuration path
  Dialogflow/synth.py
Labels: api: dialogflow, cla: yes

#2389 docs: Update documentation.
  WebRisk/src/V1beta1/ComputeThreatListDiffRequest.php
  WebRisk/src/V1beta1/ComputeThreatListDiffResponse.php
  WebRisk/src/V1beta1/Gapic/WebRiskServiceV1Beta1GapicClient.php
  WebRisk/src/V1beta1/SearchHashesRequest.php
  WebRisk/src/V1beta1/SearchUrisRequest.php
  WebRisk/synth.metadata
Labels: api: webrisk, cla: yes

#2376 feat: Extract KMS testing utilities
  Core/src/Testing/System/KeyManager.php
Labels: api: core, cla: yes

#2378 test: Use core encryption testing util
  Storage/tests/System/KmsTest.php
Labels: api: storage, cla: yes

#2341 Only throw exception when creating directory really failed in HandleFailureTrait
  Core/src/Batch/HandleFailureTrait.php
Labels: api: core, cla: yes

#2394 test: Update landmark image
  Vision/tests/System/AnnotationsTest.php
  Vision/tests/System/fixtures/landmark.jpg
Labels: api: vision, cla: yes

#2396 feat: Add additional array operators to generated client query.
  Firestore/metadata/V1/Query.php
  Firestore/metadata/V1Beta1/Query.php
  Firestore/src/V1/StructuredQuery/FieldFilter/Operator.php
  Firestore/src/V1beta1/StructuredQuery/FieldFilter/Operator.php
  Firestore/synth.metadata
Labels: api: firestore, cla: yes

#2401 feat: Add DroppedLabels proto message.
  Monitoring/metadata/V3/DroppedLabels.php
  Monitoring/src/V3/DroppedLabels.php
  Monitoring/synth.metadata
Labels: api: monitoring, cla: yes

#2406 docs: Update documentation.
  Scheduler/metadata/V1/Cloudscheduler.php
  Scheduler/metadata/V1/Job.php
  Scheduler/metadata/V1/Target.php
  Scheduler/src/V1/CreateJobRequest.php
  Scheduler/src/V1/DeleteJobRequest.php
  Scheduler/src/V1/Gapic/CloudSchedulerGapicClient.php
  Scheduler/src/V1/GetJobRequest.php
  Scheduler/src/V1/HttpTarget.php
  Scheduler/src/V1/ListJobsRequest.php
  Scheduler/src/V1/OAuthToken.php
  Scheduler/src/V1/OidcToken.php
  Scheduler/src/V1/PauseJobRequest.php
  Scheduler/src/V1/PubsubTarget.php
  Scheduler/src/V1/ResumeJobRequest.php
  Scheduler/src/V1/RunJobRequest.php
  Scheduler/src/V1/UpdateJobRequest.php
  Scheduler/synth.metadata
Labels: api: cloudscheduler, cla: yes

#2405 feat: Add `isInternal` flag to uptime check config.
  Monitoring/metadata/V3/Uptime.php
  Monitoring/src/V3/Point.php
  Monitoring/src/V3/TimeInterval.php
  Monitoring/src/V3/UptimeCheckConfig.php
  Monitoring/synth.metadata
  Monitoring/tests/Unit/V3/UptimeCheckServiceClientTest.php
Labels: api: monitoring, cla: yes

#2388 docs: Update documentation.
  VideoIntelligence/metadata/V1/VideoIntelligence.php
  VideoIntelligence/src/V1/AnnotateVideoRequest.php
  VideoIntelligence/src/V1/Gapic/VideoIntelligenceServiceGapicClient.php
  VideoIntelligence/src/V1/SpeechContext.php
  VideoIntelligence/src/V1/SpeechRecognitionAlternative.php
  VideoIntelligence/src/V1/SpeechTranscription.php
  VideoIntelligence/src/V1/SpeechTranscriptionConfig.php
  VideoIntelligence/src/V1/VideoAnnotationResults.php
  VideoIntelligence/src/V1/WordInfo.php
  VideoIntelligence/src/V1/resources/video_intelligence_service_client_config.json
  VideoIntelligence/src/V1/resources/video_intelligence_service_rest_client_config.php
  VideoIntelligence/synth.metadata
Labels: api: videointelligence, cla: yes

#2398 feat: Add additional Scan error code, update documentation.
  WebSecurityScanner/metadata/V1Beta/CrawledUrl.php
  WebSecurityScanner/metadata/V1Beta/Finding.php
  WebSecurityScanner/metadata/V1Beta/FindingAddon.php
  WebSecurityScanner/metadata/V1Beta/FindingTypeStats.php
  WebSecurityScanner/metadata/V1Beta/ScanConfig.php
  WebSecurityScanner/metadata/V1Beta/ScanConfigError.php
  WebSecurityScanner/metadata/V1Beta/ScanRun.php
  WebSecurityScanner/metadata/V1Beta/WebSecurityScanner.php
  WebSecurityScanner/src/V1beta/CrawledUrl.php
  WebSecurityScanner/src/V1beta/CreateScanConfigRequest.php
  WebSecurityScanner/src/V1beta/DeleteScanConfigRequest.php
  WebSecurityScanner/src/V1beta/Finding.php
  WebSecurityScanner/src/V1beta/FindingTypeStats.php
  WebSecurityScanner/src/V1beta/Gapic/WebSecurityScannerGapicClient.php
  WebSecurityScanner/src/V1beta/GetFindingRequest.php
  WebSecurityScanner/src/V1beta/GetScanConfigRequest.php
  WebSecurityScanner/src/V1beta/GetScanRunRequest.php
  WebSecurityScanner/src/V1beta/ListCrawledUrlsRequest.php
  WebSecurityScanner/src/V1beta/ListFindingTypeStatsRequest.php
  WebSecurityScanner/src/V1beta/ListFindingsRequest.php
  WebSecurityScanner/src/V1beta/ListScanConfigsRequest.php
  WebSecurityScanner/src/V1beta/ListScanRunsRequest.php
  WebSecurityScanner/src/V1beta/ScanConfig.php
  WebSecurityScanner/src/V1beta/ScanConfig/Authentication/CustomAccount.php
  WebSecurityScanner/src/V1beta/ScanConfig/Authentication/GoogleAccount.php
  WebSecurityScanner/src/V1beta/ScanConfig/Schedule.php
  WebSecurityScanner/src/V1beta/ScanConfigError.php
  WebSecurityScanner/src/V1beta/ScanConfigError/Code.php
  WebSecurityScanner/src/V1beta/ScanRun.php
  WebSecurityScanner/src/V1beta/ScanRunErrorTrace.php
  WebSecurityScanner/src/V1beta/ScanRunErrorTrace/Code.php
  WebSecurityScanner/src/V1beta/ScanRunWarningTrace.php
  WebSecurityScanner/src/V1beta/ScanRunWarningTrace/Code.php
  WebSecurityScanner/src/V1beta/StartScanRunRequest.php
  WebSecurityScanner/src/V1beta/StopScanRunRequest.php
  WebSecurityScanner/src/V1beta/UpdateScanConfigRequest.php
  WebSecurityScanner/src/V1beta/resources/web_security_scanner_client_config.json
  WebSecurityScanner/synth.metadata
Labels: api: websecurityscanner, cla: yes

#2409 fix: fix doc generator
  dev/src/DocGenerator/Parser/CodeParser.php
Labels: cla: yes, type: docs

#2412 chore: Update proto message metadata.
  Dataproc/metadata/V1/Clusters.php
  Dataproc/metadata/V1Beta2/Clusters.php
  Dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#2399 feat: Support any new query field filter operators
  Firestore/src/Query.php
  Firestore/tests/Unit/QueryTest.php
Labels: api: firestore, cla: yes

#2426 feat: update googleapis.com -> storage.googleapis.com
  Storage/src/Connection/Rest.php
  Storage/tests/Unit/Connection/RestTest.php
Labels: api: storage, cla: yes

#2381 chore: release 0.116.0
  CHANGELOG.md
  Core/VERSION
  Dataproc/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Monitoring/VERSION
  Redis/VERSION
  Storage/VERSION
  Storage/src/StorageClient.php
  Talent/VERSION
  Translate/VERSION
  WebSecurityScanner/VERSION
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process

#2431 feat: add QueryLanguageCode to JobQuery
  Talent/metadata/V4Beta1/Filters.php
  Talent/src/V4beta1/JobQuery.php
  Talent/synth.metadata
Labels: api: talent, cla: yes
