Repository googleapis/google-cloud-php, pull requests merged in 2020-01, with the labels that each got.

#2530 feat: enable 'FieldMask' param in Instance::reload() method options
  Spanner/src/Connection/Grpc.php
  Spanner/src/Instance.php
  Spanner/tests/System/AdminTest.php
  Spanner/tests/Unit/Connection/GrpcTest.php
  Spanner/tests/Unit/InstanceTest.php
Labels: api: spanner, cla: yes

#2541 fix: allow mkdir() via stream wrapper when UBL is enabled
  Storage/src/StreamWrapper.php
  Storage/tests/System/StreamWrapper/DirectoryTest.php
  Storage/tests/System/StreamWrapper/StreamWrapperTestCase.php
  Storage/tests/Unit/StreamWrapperTest.php
Labels: api: storage, cla: yes

#2533 chore: release 0.122.0
  CHANGELOG.md
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Storage/VERSION
  Storage/src/StorageClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process

#2377 test: add tests for dataset and model encryption config
  BigQuery/src/Connection/ServiceDefinition/bigquery-v2.json
  BigQuery/tests/System/BigQueryTestCase.php
  BigQuery/tests/System/ManageDatasetsTest.php
  BigQuery/tests/System/ManageModelsTest.php
Labels: api: bigquery, cla: yes

#2545 docs: update documentation
  Bigtable/src/V2/Gapic/BigtableGapicClient.php
  Bigtable/synth.metadata
Labels: api: bigtable, cla: yes

#2538 feat: add external protection level, update documentation
  Kms/metadata/V1/Resources.php
  Kms/metadata/V1/Service.php
  Kms/src/V1/AsymmetricDecryptRequest.php
  Kms/src/V1/AsymmetricSignRequest.php
  Kms/src/V1/CreateCryptoKeyRequest.php
  Kms/src/V1/CreateCryptoKeyVersionRequest.php
  Kms/src/V1/CreateImportJobRequest.php
  Kms/src/V1/CreateKeyRingRequest.php
  Kms/src/V1/CryptoKey.php
  Kms/src/V1/CryptoKeyVersion.php
  Kms/src/V1/CryptoKeyVersionTemplate.php
  Kms/src/V1/DecryptRequest.php
  Kms/src/V1/DestroyCryptoKeyVersionRequest.php
  Kms/src/V1/EncryptRequest.php
  Kms/src/V1/EncryptResponse.php
  Kms/src/V1/Gapic/KeyManagementServiceGapicClient.php
  Kms/src/V1/GetCryptoKeyRequest.php
  Kms/src/V1/GetCryptoKeyVersionRequest.php
  Kms/src/V1/GetImportJobRequest.php
  Kms/src/V1/GetKeyRingRequest.php
  Kms/src/V1/GetPublicKeyRequest.php
  Kms/src/V1/ImportCryptoKeyVersionRequest.php
  Kms/src/V1/ImportJob.php
  Kms/src/V1/KeyManagementServiceGrpcClient.php
  Kms/src/V1/KeyOperationAttestation.php
  Kms/src/V1/KeyRing.php
  Kms/src/V1/ListCryptoKeyVersionsRequest.php
  Kms/src/V1/ListCryptoKeysRequest.php
  Kms/src/V1/ListImportJobsRequest.php
  Kms/src/V1/ListKeyRingsRequest.php
  Kms/src/V1/ProtectionLevel.php
  Kms/src/V1/RestoreCryptoKeyVersionRequest.php
  Kms/src/V1/UpdateCryptoKeyPrimaryVersionRequest.php
  Kms/src/V1/UpdateCryptoKeyRequest.php
  Kms/src/V1/UpdateCryptoKeyVersionRequest.php
  Kms/synth.metadata
Labels: api: cloudkms, cla: yes

#2570 chore: update synth replacements to fix copyright dates
  AutoMl/synth.py
  Firestore/synth.py
  Talent/synth.py
  WebRisk/synth.py
Labels: api: automl, api: firestore, api: talent, api: webrisk, cla: yes

#2567 feat: update SecurityCenter client
  SecurityCenter/metadata/V1/Asset.php
  SecurityCenter/metadata/V1/Finding.php
  SecurityCenter/metadata/V1/OrganizationSettings.php
  SecurityCenter/metadata/V1/RunAssetDiscoveryResponse.php
  SecurityCenter/metadata/V1/SecurityMarks.php
  SecurityCenter/metadata/V1/SecuritycenterService.php
  SecurityCenter/metadata/V1/Source.php
  SecurityCenter/src/V1/Asset.php
  SecurityCenter/src/V1/Asset/SecurityCenterProperties.php
  SecurityCenter/src/V1/CreateFindingRequest.php
  SecurityCenter/src/V1/CreateSourceRequest.php
  SecurityCenter/src/V1/Finding.php
  SecurityCenter/src/V1/Gapic/SecurityCenterGapicClient.php
  SecurityCenter/src/V1/GetOrganizationSettingsRequest.php
  SecurityCenter/src/V1/GetSourceRequest.php
  SecurityCenter/src/V1/GroupAssetsRequest.php
  SecurityCenter/src/V1/GroupFindingsRequest.php
  SecurityCenter/src/V1/ListAssetsRequest.php
  SecurityCenter/src/V1/ListFindingsRequest.php
  SecurityCenter/src/V1/ListFindingsResponse/ListFindingsResult.php
  SecurityCenter/src/V1/ListFindingsResponse/ListFindingsResult/Resource.php
  SecurityCenter/src/V1/ListFindingsResponse_ListFindingsResult_Resource.php
  SecurityCenter/src/V1/ListSourcesRequest.php
  SecurityCenter/src/V1/OrganizationSettings.php
  SecurityCenter/src/V1/RunAssetDiscoveryRequest.php
  SecurityCenter/src/V1/SecurityCenterGrpcClient.php
  SecurityCenter/src/V1/SecurityMarks.php
  SecurityCenter/src/V1/SetFindingStateRequest.php
  SecurityCenter/src/V1/Source.php
  SecurityCenter/src/V1/UpdateFindingRequest.php
  SecurityCenter/src/V1/UpdateOrganizationSettingsRequest.php
  SecurityCenter/src/V1/UpdateSecurityMarksRequest.php
  SecurityCenter/src/V1/UpdateSourceRequest.php
  SecurityCenter/src/V1/resources/security_center_client_config.json
  SecurityCenter/synth.metadata
Labels: api: securitycenter, cla: yes

#2576 feat: update v1pv1beta1 timeouts
  Speech/src/V1p1beta1/resources/speech_client_config.json
  Speech/synth.metadata
Labels: api: speech, cla: yes

#2574 fix: update metadata and documentation
  Kms/metadata/V1/Service.php
  Kms/src/V1/UpdateCryptoKeyRequest.php
  Kms/src/V1/UpdateCryptoKeyVersionRequest.php
  Kms/synth.metadata
Labels: api: cloudkms, cla: yes

#2543 fix: update metadata
  BigQueryDataTransfer/metadata/V1/Transfer.php
  BigQueryDataTransfer/synth.metadata
Labels: api: bigquerydatatransfer, cla: yes

#2582 feat: introduce secret manager client
  README.md
  SecretManager/.gitattributes
  SecretManager/.github/pull_request_template.md
  SecretManager/CONTRIBUTING.md
  SecretManager/LICENSE
  SecretManager/README.md
  SecretManager/composer.json
  SecretManager/metadata/V1Beta1/Resources.php
  SecretManager/metadata/V1Beta1/Service.php
  SecretManager/phpunit.xml.dist
  SecretManager/src/V1beta1/AccessSecretVersionRequest.php
  SecretManager/src/V1beta1/AccessSecretVersionResponse.php
  SecretManager/src/V1beta1/AddSecretVersionRequest.php
  SecretManager/src/V1beta1/CreateSecretRequest.php
  SecretManager/src/V1beta1/DeleteSecretRequest.php
  SecretManager/src/V1beta1/DestroySecretVersionRequest.php
  SecretManager/src/V1beta1/DisableSecretVersionRequest.php
  SecretManager/src/V1beta1/EnableSecretVersionRequest.php
  SecretManager/src/V1beta1/Gapic/SecretManagerServiceGapicClient.php
  SecretManager/src/V1beta1/GetSecretRequest.php
  SecretManager/src/V1beta1/GetSecretVersionRequest.php
  SecretManager/src/V1beta1/ListSecretVersionsRequest.php
  SecretManager/src/V1beta1/ListSecretVersionsResponse.php
  SecretManager/src/V1beta1/ListSecretsRequest.php
  SecretManager/src/V1beta1/ListSecretsResponse.php
  SecretManager/src/V1beta1/README.md
  SecretManager/src/V1beta1/Replication.php
  SecretManager/src/V1beta1/Replication/Automatic.php
  SecretManager/src/V1beta1/Replication/UserManaged.php
  SecretManager/src/V1beta1/Replication/UserManaged/Replica.php
  SecretManager/src/V1beta1/Replication_Automatic.php
  SecretManager/src/V1beta1/Replication_UserManaged.php
  SecretManager/src/V1beta1/Replication_UserManaged_Replica.php
  SecretManager/src/V1beta1/Secret.php
  SecretManager/src/V1beta1/SecretManagerServiceClient.php
  SecretManager/src/V1beta1/SecretManagerServiceGrpcClient.php
  SecretManager/src/V1beta1/SecretPayload.php
  SecretManager/src/V1beta1/SecretVersion.php
  SecretManager/src/V1beta1/SecretVersion/State.php
  SecretManager/src/V1beta1/SecretVersion_State.php
  SecretManager/src/V1beta1/UpdateSecretRequest.php
  SecretManager/src/V1beta1/resources/secret_manager_service_client_config.json
  SecretManager/src/V1beta1/resources/secret_manager_service_descriptor_config.php
  SecretManager/src/V1beta1/resources/secret_manager_service_rest_client_config.php
  SecretManager/synth.metadata
  SecretManager/synth.py
  SecretManager/tests/Unit/V1beta1/SecretManagerServiceClientTest.php
  composer.json
  docs/contents/cloud-secret-manager.json
  docs/contents/cloud-security-center.json
  docs/contents/google-cloud.json
  docs/manifest.json
Labels: api: secretmanager, cla: yes

#2527 fix: update rest transport URI bindings
  Dataproc/metadata/V1Beta2/Clusters.php
  Dataproc/metadata/V1Beta2/Jobs.php
  Dataproc/src/V1beta2/resources/cluster_controller_rest_client_config.php
  Dataproc/src/V1beta2/resources/job_controller_rest_client_config.php
  Dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#2583 feat: add Secret Manager
  SecretManager/VERSION
Labels: cla: yes

#2569 chore: release 0.123.0
  BigQuery/VERSION
  BigQuery/src/BigQueryClient.php
  BigQueryDataTransfer/VERSION
  CHANGELOG.md
  Dataproc/VERSION
  Kms/VERSION
  SecretManager/VERSION
  SecurityCenter/VERSION
  Speech/VERSION
  Speech/src/SpeechClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process

#2537 refactor: update spanner lroResponseMappers to map types for `metadata` and `response` separately
  Spanner/src/Connection/Grpc.php
Labels: api: spanner, cla: yes, do not merge

#2585 revert: revert "refactor: update spanner lroResponseMappers to map types for `metadata` and `response` separately"
  Spanner/src/Connection/Grpc.php
Labels: cla: yes

#2612 chore: fix proto messages
  Asset/synth.py
  AutoMl/synth.py
  BigQueryDataTransfer/synth.py
  Bigtable/synth.py
  Container/synth.py
  Dataproc/synth.py
  Datastore/synth.py
  Debugger/synth.py
  Dialogflow/synth.py
  Dlp/synth.py
  ErrorReporting/synth.py
  Firestore/synth.py
  Iot/synth.py
  Kms/synth.py
  Language/synth.py
  Logging/synth.py
  Monitoring/synth.py
  OsLogin/synth.py
  PubSub/synth.py
  Redis/synth.py
  Scheduler/synth.py
  SecretManager/synth.py
  SecurityCenter/synth.py
  Spanner/synth.py
  Speech/synth.py
  Talent/synth.py
  Tasks/synth.py
  TextToSpeech/synth.py
  Trace/synth.py
  Translate/synth.py
  VideoIntelligence/synth.py
  Vision/synth.py
  WebRisk/synth.py
  WebSecurityScanner/synth.py
Labels: cla: yes

#2624 feat: add support for ordering keys
  PubSub/src/BatchPublisher.php
  PubSub/src/Connection/Grpc.php
  PubSub/src/Message.php
  PubSub/src/MessageBuilder.php
  PubSub/src/PubSubClient.php
  PubSub/src/Subscription.php
  PubSub/src/Topic.php
  PubSub/tests/Snippet/MessageBuilderTest.php
  PubSub/tests/Snippet/MessageTest.php
  PubSub/tests/System/ManageIAMPoliciesTest.php
  PubSub/tests/System/ManageSubscriptionsTest.php
  PubSub/tests/System/ManageTopicsTest.php
  PubSub/tests/System/PubSubTestCase.php
  PubSub/tests/System/PublishAndPullTest.php
  PubSub/tests/Unit/BatchPublisherTest.php
  PubSub/tests/Unit/MessageBuilderTest.php
  PubSub/tests/Unit/MessageTest.php
Labels: api: pubsub, cla: yes

#2653 fix: update documentation
  VideoIntelligence/metadata/V1Beta2/VideoIntelligence.php
  VideoIntelligence/src/V1beta2/AnnotateVideoRequest.php
  VideoIntelligence/src/V1beta2/Gapic/VideoIntelligenceServiceGapicClient.php
  VideoIntelligence/src/V1beta2/VideoContext.php
  VideoIntelligence/src/V1beta2/VideoIntelligenceServiceGrpcClient.php
  VideoIntelligence/synth.metadata
Labels: api: videointelligence, cla: yes

#2636 feat: introduce recommender v1 client
  README.md
  Recommender/.gitattributes
  Recommender/.github/pull_request_template.md
  Recommender/CONTRIBUTING.md
  Recommender/LICENSE
  Recommender/README.md
  Recommender/VERSION
  Recommender/composer.json
  Recommender/metadata/V1/Recommendation.php
  Recommender/metadata/V1/RecommenderService.php
  Recommender/phpunit-snippets.xml.dist
  Recommender/phpunit-system.xml.dist
  Recommender/phpunit.xml.dist
  Recommender/src/V1/CostProjection.php
  Recommender/src/V1/Gapic/RecommenderGapicClient.php
  Recommender/src/V1/GetRecommendationRequest.php
  Recommender/src/V1/Impact.php
  Recommender/src/V1/Impact/Category.php
  Recommender/src/V1/Impact_Category.php
  Recommender/src/V1/ListRecommendationsRequest.php
  Recommender/src/V1/ListRecommendationsResponse.php
  Recommender/src/V1/MarkRecommendationClaimedRequest.php
  Recommender/src/V1/MarkRecommendationFailedRequest.php
  Recommender/src/V1/MarkRecommendationSucceededRequest.php
  Recommender/src/V1/Operation.php
  Recommender/src/V1/OperationGroup.php
  Recommender/src/V1/README.md
  Recommender/src/V1/Recommendation.php
  Recommender/src/V1/RecommendationContent.php
  Recommender/src/V1/RecommendationStateInfo.php
  Recommender/src/V1/RecommendationStateInfo/State.php
  Recommender/src/V1/RecommendationStateInfo_State.php
  Recommender/src/V1/RecommenderClient.php
  Recommender/src/V1/RecommenderGrpcClient.php
  Recommender/src/V1/ValueMatcher.php
  Recommender/src/V1/resources/recommender_client_config.json
  Recommender/src/V1/resources/recommender_descriptor_config.php
  Recommender/src/V1/resources/recommender_rest_client_config.php
  Recommender/synth.metadata
  Recommender/synth.py
  Recommender/tests/Unit/V1/RecommenderClientTest.php
  composer.json
  docs/contents/cloud-recommender.json
  docs/contents/google-cloud.json
  docs/manifest.json
Labels: api: recommender, cla: yes

#2504 feat: add support for dead letter policies
  PubSub/src/Connection/Grpc.php
  PubSub/src/IncomingMessageTrait.php
  PubSub/src/Message.php
  PubSub/src/Subscription.php
  PubSub/tests/Snippet/MessageTest.php
  PubSub/tests/System/ManageSubscriptionsTest.php
  PubSub/tests/Unit/Connection/GrpcTest.php
  PubSub/tests/Unit/Connection/RestTest.php
  PubSub/tests/Unit/MessageTest.php
  PubSub/tests/Unit/SubscriptionTest.php
Labels: api: pubsub, cla: yes

#2637 chore: release 0.124.0
  CHANGELOG.md
  Dialogflow/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Recommender/VERSION
  Spanner/VERSION
  VideoIntelligence/VERSION
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process

#2657 feat: add client id to streaming pull config
  PubSub/metadata/V1/Pubsub.php
  PubSub/src/V1/CreateSnapshotRequest.php
  PubSub/src/V1/Gapic/SubscriberGapicClient.php
  PubSub/src/V1/PubsubMessage.php
  PubSub/src/V1/StreamingPullRequest.php
  PubSub/synth.metadata
Labels: api: pubsub, cla: yes

#2659 chore: fix scheduler breaking change
  Scheduler/synth.py
Labels: api: cloudscheduler, cla: yes

#2646 fix: update metadata
  Kms/metadata/V1/Resources.php
  Kms/synth.metadata
Labels: api: cloudkms, cla: yes
