Repository googleapis/google-cloud-php, pull requests merged in 2020-02, with the labels that each got.

#2663 fix: update documentation
  Scheduler/metadata/V1/Cloudscheduler.php
  Scheduler/metadata/V1Beta1/Cloudscheduler.php
  Scheduler/metadata/V1Beta1/Job.php
  Scheduler/metadata/V1Beta1/Target.php
  Scheduler/src/V1/Gapic/CloudSchedulerGapicClient.php
  Scheduler/src/V1/resources/cloud_scheduler_client_config.json
  Scheduler/src/V1beta1/CreateJobRequest.php
  Scheduler/src/V1beta1/DeleteJobRequest.php
  Scheduler/src/V1beta1/GetJobRequest.php
  Scheduler/src/V1beta1/HttpTarget.php
  Scheduler/src/V1beta1/ListJobsRequest.php
  Scheduler/src/V1beta1/OAuthToken.php
  Scheduler/src/V1beta1/OidcToken.php
  Scheduler/src/V1beta1/PauseJobRequest.php
  Scheduler/src/V1beta1/PubsubTarget.php
  Scheduler/src/V1beta1/ResumeJobRequest.php
  Scheduler/src/V1beta1/RunJobRequest.php
  Scheduler/src/V1beta1/UpdateJobRequest.php
  Scheduler/synth.metadata
Labels: api: cloudscheduler, cla: yes

#2645 fix: update documentation
  Firestore/src/V1/CommitResponse.php
  Firestore/src/V1/FirestoreGrpcClient.php
  Firestore/src/V1/Gapic/FirestoreGapicClient.php
  Firestore/src/V1/StructuredQuery.php
  Firestore/src/V1/WriteResponse.php
  Firestore/src/V1beta1/FirestoreGrpcClient.php
  Firestore/src/V1beta1/StructuredQuery.php
  Firestore/synth.metadata
  Firestore/tests/Unit/V1beta1/FirestoreClientTest.php
Labels: api: firestore, cla: yes

#2642 chore: update internal logic
  Debugger/src/V2/Variable.php
  Debugger/synth.metadata
Labels: api: clouddebugger, cla: yes

#2641 chore: update internal logic
  Datastore/src/V1/Query.php
  Datastore/synth.metadata
Labels: api: datastore, cla: yes

#2639 chore: update internal logic
  BigQueryDataTransfer/src/V1/DataSourceParameter.php
  BigQueryDataTransfer/synth.metadata
Labels: api: bigquerydatatransfer, cla: yes

#2638 feat: add uri_prefix to gcs destination
  Asset/metadata/V1Beta1/AssetService.php
  Asset/metadata/V1Beta1/Assets.php
  Asset/src/V1beta1/AssetServiceGrpcClient.php
  Asset/src/V1beta1/BatchGetAssetsHistoryRequest.php
  Asset/src/V1beta1/ExportAssetsRequest.php
  Asset/src/V1beta1/Gapic/AssetServiceGapicClient.php
  Asset/src/V1beta1/GcsDestination.php
  Asset/synth.metadata
Labels: api: cloudasset, cla: yes

#2664 chore: fix backwards compatibility via synth
  Tasks/synth.py
Labels: api: cloudtasks, cla: yes

#2665 chore: fix breaking change in errorreporting gapic
  ErrorReporting/synth.py
Labels: api: clouderrorreporting, cla: yes

#2660 chore: run synth fixes on unversioned protos
  OsLogin/synth.py
Labels: api: oslogin, cla: yes

#2671 chore: update metadata and internal logic
  Trace/metadata/V2/Trace.php
  Trace/src/V2/Span.php
  Trace/src/V2/resources/trace_service_client_config.json
  Trace/synth.metadata
Labels: api: cloudtrace, cla: yes

#2656 feat: inject database info on list databases
  Spanner/src/Database.php
  Spanner/src/Instance.php
  Spanner/tests/Unit/InstanceTest.php
Labels: api: spanner, cla: yes

#2672 chore: exclude unversioned protos
  Logging/synth.py
Labels: api: logging, cla: yes

#2669 feat!: update clients
  OsLogin/metadata/Common/Common.php
  OsLogin/metadata/V1/Oslogin.php
  OsLogin/metadata/V1Beta/Oslogin.php
  OsLogin/src/Common/OperatingSystemType.php
  OsLogin/src/Common/PosixAccount.php
  OsLogin/src/Common/SshPublicKey.php
  OsLogin/src/V1/DeletePosixAccountRequest.php
  OsLogin/src/V1/DeleteSshPublicKeyRequest.php
  OsLogin/src/V1/Gapic/OsLoginServiceGapicClient.php
  OsLogin/src/V1/GetLoginProfileRequest.php
  OsLogin/src/V1/GetSshPublicKeyRequest.php
  OsLogin/src/V1/ImportSshPublicKeyRequest.php
  OsLogin/src/V1/LoginProfile.php
  OsLogin/src/V1/OsLoginServiceGrpcClient.php
  OsLogin/src/V1/UpdateSshPublicKeyRequest.php
  OsLogin/src/V1/resources/os_login_service_client_config.json
  OsLogin/src/V1beta/DeletePosixAccountRequest.php
  OsLogin/src/V1beta/DeleteSshPublicKeyRequest.php
  OsLogin/src/V1beta/Gapic/OsLoginServiceGapicClient.php
  OsLogin/src/V1beta/GetLoginProfileRequest.php
  OsLogin/src/V1beta/GetSshPublicKeyRequest.php
  OsLogin/src/V1beta/ImportSshPublicKeyRequest.php
  OsLogin/src/V1beta/LoginProfile.php
  OsLogin/src/V1beta/OsLoginServiceGrpcClient.php
  OsLogin/src/V1beta/UpdateSshPublicKeyRequest.php
  OsLogin/synth.metadata
  OsLogin/tests/Unit/V1/OsLoginServiceClientTest.php
  OsLogin/tests/Unit/V1beta/OsLoginServiceClientTest.php
Labels: api: oslogin, cla: yes

#2416 feat(iam): support iam conditions
  .rnd
  Core/src/Iam/Iam.php
  Core/src/Iam/PolicyBuilder.php
  Core/tests/Unit/Iam/PolicyBuilderTest.php
  Storage/src/Bucket.php
  Storage/src/Connection/IamBucket.php
  Storage/tests/Snippet/BucketTest.php
  Storage/tests/System/IamTest.php
  Storage/tests/Unit/Connection/IamBucketTest.php
Labels: cla: yes

#2673 feat: add bigquery options and exclusion, metric and sink create and update times
  Logging/metadata/V2/LogEntry.php
  Logging/metadata/V2/Logging.php
  Logging/metadata/V2/LoggingConfig.php
  Logging/metadata/V2/LoggingMetrics.php
  Logging/src/V2/BigQueryOptions.php
  Logging/src/V2/ConfigServiceV2GrpcClient.php
  Logging/src/V2/CreateSinkRequest.php
  Logging/src/V2/Gapic/ConfigServiceV2GapicClient.php
  Logging/src/V2/Gapic/LoggingServiceV2GapicClient.php
  Logging/src/V2/ListExclusionsRequest.php
  Logging/src/V2/ListExclusionsResponse.php
  Logging/src/V2/ListLogEntriesRequest.php
  Logging/src/V2/ListLogMetricsRequest.php
  Logging/src/V2/ListLogMetricsResponse.php
  Logging/src/V2/ListLogsResponse.php
  Logging/src/V2/ListSinksRequest.php
  Logging/src/V2/ListSinksResponse.php
  Logging/src/V2/LogEntry.php
  Logging/src/V2/LogEntryOperation.php
  Logging/src/V2/LogExclusion.php
  Logging/src/V2/LogMetric.php
  Logging/src/V2/LogSink.php
  Logging/src/V2/LoggingServiceV2GrpcClient.php
  Logging/src/V2/MetricsServiceV2GrpcClient.php
  Logging/src/V2/UpdateExclusionRequest.php
  Logging/src/V2/UpdateSinkRequest.php
  Logging/src/V2/WriteLogEntriesRequest.php
  Logging/src/V2/resources/logging_service_v2_rest_client_config.php
  Logging/synth.metadata
Labels: api: logging, cla: yes

#2674 feat: add instance connect mode and upgrade instance method
  Redis/metadata/V1/CloudRedis.php
  Redis/metadata/V1Beta1/CloudRedis.php
  Redis/src/V1/CloudRedisGrpcClient.php
  Redis/src/V1/FailoverInstanceRequest/DataProtectionMode.php
  Redis/src/V1/Gapic/CloudRedisGapicClient.php
  Redis/src/V1/Instance.php
  Redis/src/V1/Instance/ConnectMode.php
  Redis/src/V1/Instance_ConnectMode.php
  Redis/src/V1/ListInstancesRequest.php
  Redis/src/V1/ListInstancesResponse.php
  Redis/src/V1/UpdateInstanceRequest.php
  Redis/src/V1beta1/CloudRedisGrpcClient.php
  Redis/src/V1beta1/FailoverInstanceRequest/DataProtectionMode.php
  Redis/src/V1beta1/Gapic/CloudRedisGapicClient.php
  Redis/src/V1beta1/Instance.php
  Redis/src/V1beta1/Instance/ConnectMode.php
  Redis/src/V1beta1/Instance_ConnectMode.php
  Redis/src/V1beta1/ListInstancesRequest.php
  Redis/src/V1beta1/ListInstancesResponse.php
  Redis/src/V1beta1/UpgradeInstanceRequest.php
  Redis/src/V1beta1/resources/cloud_redis_client_config.json
  Redis/src/V1beta1/resources/cloud_redis_descriptor_config.php
  Redis/src/V1beta1/resources/cloud_redis_rest_client_config.php
  Redis/synth.metadata
  Redis/tests/Unit/V1beta1/CloudRedisClientTest.php
Labels: api: redis, cla: yes

#2675 revert: undo synth fixes
  ErrorReporting/synth.py
Labels: api: clouderrorreporting, cla: yes

#2677 feat!: rename formatting method and update listGroupStats signature
  ErrorReporting/metadata/V1Beta1/Common.php
  ErrorReporting/metadata/V1Beta1/ErrorGroupService.php
  ErrorReporting/metadata/V1Beta1/ErrorStatsService.php
  ErrorReporting/metadata/V1Beta1/ReportErrorsService.php
  ErrorReporting/src/V1beta1/DeleteEventsRequest.php
  ErrorReporting/src/V1beta1/ErrorContext.php
  ErrorReporting/src/V1beta1/ErrorGroupServiceGrpcClient.php
  ErrorReporting/src/V1beta1/ErrorStatsServiceGrpcClient.php
  ErrorReporting/src/V1beta1/Gapic/ErrorGroupServiceGapicClient.php
  ErrorReporting/src/V1beta1/Gapic/ErrorStatsServiceGapicClient.php
  ErrorReporting/src/V1beta1/Gapic/ReportErrorsServiceGapicClient.php
  ErrorReporting/src/V1beta1/GetGroupRequest.php
  ErrorReporting/src/V1beta1/ListEventsRequest.php
  ErrorReporting/src/V1beta1/ListGroupStatsRequest.php
  ErrorReporting/src/V1beta1/ReportErrorEventRequest.php
  ErrorReporting/src/V1beta1/ReportErrorsServiceGrpcClient.php
  ErrorReporting/src/V1beta1/ReportedErrorEvent.php
  ErrorReporting/src/V1beta1/ServiceContext.php
  ErrorReporting/src/V1beta1/ServiceContextFilter.php
  ErrorReporting/src/V1beta1/SourceLocation.php
  ErrorReporting/src/V1beta1/UpdateGroupRequest.php
  ErrorReporting/src/V1beta1/resources/error_group_service_client_config.json
  ErrorReporting/src/V1beta1/resources/error_stats_service_client_config.json
  ErrorReporting/synth.metadata
  ErrorReporting/tests/Unit/V1beta1/ErrorGroupServiceClientTest.php
  ErrorReporting/tests/Unit/V1beta1/ErrorStatsServiceClientTest.php
Labels: api: clouderrorreporting, cla: yes

#2678 feat: add cmek methods and sink description and disabled toggle
  Logging/metadata/V2/LogEntry.php
  Logging/metadata/V2/Logging.php
  Logging/metadata/V2/LoggingConfig.php
  Logging/metadata/V2/LoggingMetrics.php
  Logging/src/V2/BigQueryOptions.php
  Logging/src/V2/CmekSettings.php
  Logging/src/V2/ConfigServiceV2GrpcClient.php
  Logging/src/V2/CreateExclusionRequest.php
  Logging/src/V2/CreateLogMetricRequest.php
  Logging/src/V2/CreateSinkRequest.php
  Logging/src/V2/DeleteExclusionRequest.php
  Logging/src/V2/DeleteLogMetricRequest.php
  Logging/src/V2/DeleteLogRequest.php
  Logging/src/V2/DeleteSinkRequest.php
  Logging/src/V2/Gapic/ConfigServiceV2GapicClient.php
  Logging/src/V2/Gapic/LoggingServiceV2GapicClient.php
  Logging/src/V2/Gapic/MetricsServiceV2GapicClient.php
  Logging/src/V2/GetCmekSettingsRequest.php
  Logging/src/V2/GetExclusionRequest.php
  Logging/src/V2/GetLogMetricRequest.php
  Logging/src/V2/GetSinkRequest.php
  Logging/src/V2/ListExclusionsRequest.php
  Logging/src/V2/ListLogEntriesRequest.php
  Logging/src/V2/ListLogMetricsRequest.php
  Logging/src/V2/ListLogsRequest.php
  Logging/src/V2/ListSinksRequest.php
  Logging/src/V2/LogEntry.php
  Logging/src/V2/LogExclusion.php
  Logging/src/V2/LogSink.php
  Logging/src/V2/LoggingServiceV2GrpcClient.php
  Logging/src/V2/UpdateCmekSettingsRequest.php
  Logging/src/V2/UpdateExclusionRequest.php
  Logging/src/V2/UpdateLogMetricRequest.php
  Logging/src/V2/UpdateSinkRequest.php
  Logging/src/V2/WriteLogEntriesRequest.php
  Logging/src/V2/resources/config_service_v2_client_config.json
  Logging/src/V2/resources/config_service_v2_rest_client_config.php
  Logging/synth.metadata
  Logging/tests/Unit/V2/ConfigServiceV2ClientTest.php
Labels: api: logging, cla: yes

#2685 chore: update metadata
  Logging/metadata/V2/Logging.php
  Logging/metadata/V2/LoggingMetrics.php
  Logging/synth.metadata
Labels: api: logging, cla: yes

#2684 feat!: update client method signatures and deprecate old properties
  Container/metadata/V1/ClusterService.php
  Container/src/V1/CancelOperationRequest.php
  Container/src/V1/CompleteIPRotationRequest.php
  Container/src/V1/CreateClusterRequest.php
  Container/src/V1/CreateNodePoolRequest.php
  Container/src/V1/DeleteClusterRequest.php
  Container/src/V1/DeleteNodePoolRequest.php
  Container/src/V1/Gapic/ClusterManagerGapicClient.php
  Container/src/V1/GetClusterRequest.php
  Container/src/V1/GetNodePoolRequest.php
  Container/src/V1/GetOperationRequest.php
  Container/src/V1/GetServerConfigRequest.php
  Container/src/V1/ListClustersRequest.php
  Container/src/V1/ListNodePoolsRequest.php
  Container/src/V1/ListOperationsRequest.php
  Container/src/V1/RollbackNodePoolUpgradeRequest.php
  Container/src/V1/SetAddonsConfigRequest.php
  Container/src/V1/SetLabelsRequest.php
  Container/src/V1/SetLegacyAbacRequest.php
  Container/src/V1/SetLocationsRequest.php
  Container/src/V1/SetLoggingServiceRequest.php
  Container/src/V1/SetMasterAuthRequest.php
  Container/src/V1/SetMonitoringServiceRequest.php
  Container/src/V1/SetNetworkPolicyRequest.php
  Container/src/V1/SetNodePoolAutoscalingRequest.php
  Container/src/V1/SetNodePoolManagementRequest.php
  Container/src/V1/SetNodePoolSizeRequest.php
  Container/src/V1/StartIPRotationRequest.php
  Container/src/V1/UpdateClusterRequest.php
  Container/src/V1/UpdateMasterRequest.php
  Container/src/V1/UpdateNodePoolRequest.php
  Container/synth.metadata
  Container/tests/System/V1/ClusterManagerSmokeTest.php
  Container/tests/Unit/V1/ClusterManagerClientTest.php
Labels: api: container, cla: yes

#2683 feat: update timeouts and documentation
  Bigtable/metadata/Admin/V2/BigtableInstanceAdmin.php
  Bigtable/metadata/Admin/V2/BigtableTableAdmin.php
  Bigtable/metadata/Admin/V2/Instance.php
  Bigtable/metadata/Admin/V2/Table.php
  Bigtable/src/Admin/V2/AppProfile.php
  Bigtable/src/Admin/V2/AppProfile/MultiClusterRoutingUseAny.php
  Bigtable/src/Admin/V2/AppProfile/SingleClusterRouting.php
  Bigtable/src/Admin/V2/BigtableInstanceAdminGrpcClient.php
  Bigtable/src/Admin/V2/BigtableTableAdminGrpcClient.php
  Bigtable/src/Admin/V2/CheckConsistencyRequest.php
  Bigtable/src/Admin/V2/Cluster.php
  Bigtable/src/Admin/V2/CreateAppProfileRequest.php
  Bigtable/src/Admin/V2/CreateClusterRequest.php
  Bigtable/src/Admin/V2/CreateInstanceRequest.php
  Bigtable/src/Admin/V2/CreateTableFromSnapshotRequest.php
  Bigtable/src/Admin/V2/CreateTableRequest.php
  Bigtable/src/Admin/V2/DeleteAppProfileRequest.php
  Bigtable/src/Admin/V2/DeleteClusterRequest.php
  Bigtable/src/Admin/V2/DeleteInstanceRequest.php
  Bigtable/src/Admin/V2/DeleteSnapshotRequest.php
  Bigtable/src/Admin/V2/DeleteTableRequest.php
  Bigtable/src/Admin/V2/DropRowRangeRequest.php
  Bigtable/src/Admin/V2/Gapic/BigtableInstanceAdminGapicClient.php
  Bigtable/src/Admin/V2/Gapic/BigtableTableAdminGapicClient.php
  Bigtable/src/Admin/V2/GenerateConsistencyTokenRequest.php
  Bigtable/src/Admin/V2/GetAppProfileRequest.php
  Bigtable/src/Admin/V2/GetClusterRequest.php
  Bigtable/src/Admin/V2/GetInstanceRequest.php
  Bigtable/src/Admin/V2/GetSnapshotRequest.php
  Bigtable/src/Admin/V2/GetTableRequest.php
  Bigtable/src/Admin/V2/Instance.php
  Bigtable/src/Admin/V2/ListAppProfilesRequest.php
  Bigtable/src/Admin/V2/ListClustersRequest.php
  Bigtable/src/Admin/V2/ListInstancesRequest.php
  Bigtable/src/Admin/V2/ListSnapshotsRequest.php
  Bigtable/src/Admin/V2/ListTablesRequest.php
  Bigtable/src/Admin/V2/ModifyColumnFamiliesRequest.php
  Bigtable/src/Admin/V2/PartialUpdateInstanceRequest.php
  Bigtable/src/Admin/V2/Snapshot.php
  Bigtable/src/Admin/V2/SnapshotTableRequest.php
  Bigtable/src/Admin/V2/Table.php
  Bigtable/src/Admin/V2/Table/ClusterState.php
  Bigtable/src/Admin/V2/Table/View.php
  Bigtable/src/Admin/V2/UpdateAppProfileRequest.php
  Bigtable/src/Admin/V2/resources/bigtable_instance_admin_client_config.json
  Bigtable/src/Admin/V2/resources/bigtable_instance_admin_rest_client_config.php
  Bigtable/src/Admin/V2/resources/bigtable_table_admin_client_config.json
  Bigtable/src/Admin/V2/resources/bigtable_table_admin_rest_client_config.php
  Bigtable/synth.metadata
Labels: api: bigtable, cla: yes

#2680 fix: update metadata
  Kms/metadata/V1/Resources.php
  Kms/synth.metadata
Labels: api: cloudkms, cla: yes

#2686 feat: add getPrivateProperty test helper
  Core/src/Testing/TestHelpers.php
Labels: api: core, cla: yes

#2687 feat: update required version of google/cloud-core
  .rnd
  Asset/composer.json
  AutoMl/composer.json
  BigQuery/composer.json
  BigQueryDataTransfer/composer.json
  Bigtable/composer.json
  Container/composer.json
  Dataproc/composer.json
  Datastore/composer.json
  Debugger/composer.json
  Dialogflow/composer.json
  Dlp/composer.json
  ErrorReporting/composer.json
  Firestore/composer.json
  Iot/composer.json
  Kms/composer.json
  Language/composer.json
  Logging/composer.json
  Monitoring/composer.json
  OsLogin/composer.json
  PubSub/composer.json
  Recommender/composer.json
  Redis/composer.json
  Scheduler/composer.json
  SecretManager/composer.json
  SecurityCenter/composer.json
  Spanner/composer.json
  Speech/composer.json
  Storage/composer.json
  Talent/composer.json
  Tasks/composer.json
  TextToSpeech/composer.json
  Trace/composer.json
  Translate/composer.json
  VideoIntelligence/composer.json
  Vision/composer.json
  WebRisk/composer.json
  WebSecurityScanner/composer.json
Labels: cla: yes

#2688 test: fix broken system test
  Storage/tests/System/IamTest.php
Labels: api: storage, cla: yes

#2661 chore: release 0.125.0
  Asset/VERSION
  AutoMl/VERSION
  BigQuery/VERSION
  BigQuery/src/BigQueryClient.php
  BigQueryDataTransfer/VERSION
  Bigtable/VERSION
  Bigtable/src/BigtableClient.php
  CHANGELOG.md
  Container/VERSION
  Core/VERSION
  Dataproc/VERSION
  Datastore/VERSION
  Datastore/src/DatastoreClient.php
  Debugger/VERSION
  Debugger/src/DebuggerClient.php
  Dialogflow/VERSION
  Dlp/VERSION
  ErrorReporting/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Iot/VERSION
  Kms/VERSION
  Language/VERSION
  Language/src/LanguageClient.php
  Logging/VERSION
  Logging/src/LoggingClient.php
  Monitoring/VERSION
  OsLogin/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Recommender/VERSION
  Redis/VERSION
  Scheduler/VERSION
  SecretManager/VERSION
  SecurityCenter/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Speech/VERSION
  Speech/src/SpeechClient.php
  Storage/VERSION
  Storage/src/StorageClient.php
  Talent/VERSION
  Tasks/VERSION
  TextToSpeech/VERSION
  Trace/VERSION
  Trace/src/TraceClient.php
  Translate/VERSION
  VideoIntelligence/VERSION
  Vision/VERSION
  Vision/src/VisionClient.php
  WebRisk/VERSION
  WebSecurityScanner/VERSION
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes, type: process

#2695 docs: update documentation
  Redis/src/V1/Gapic/CloudRedisGapicClient.php
  Redis/src/V1beta1/Gapic/CloudRedisGapicClient.php
  Redis/synth.metadata
  Redis/tests/Unit/V1/CloudRedisClientTest.php
  Redis/tests/Unit/V1beta1/CloudRedisClientTest.php
Labels: api: redis, cla: yes

#2694 docs: update documentation
  Bigtable/metadata/Admin/V2/BigtableTableAdmin.php
  Bigtable/src/Admin/V2/SnapshotTableRequest.php
  Bigtable/synth.metadata
Labels: api: bigtable, cla: yes

#2693 feat: update timeout and retry configuration
  BigQueryDataTransfer/src/V1/Gapic/DataTransferServiceGapicClient.php
  BigQueryDataTransfer/src/V1/resources/data_transfer_service_client_config.json
  BigQueryDataTransfer/src/V1/resources/data_transfer_service_rest_client_config.php
  BigQueryDataTransfer/synth.metadata
  BigQueryDataTransfer/tests/System/V1/DataTransferServiceSmokeTest.php
  BigQueryDataTransfer/tests/Unit/V1/DataTransferServiceClientTest.php
Labels: api: bigquerydatatransfer, cla: yes

#2691 feat!: move $languageCode to optional args
  Dialogflow/metadata/V2/Session.php
  Dialogflow/src/V2/DetectIntentRequest.php
  Dialogflow/src/V2/Gapic/IntentsGapicClient.php
  Dialogflow/src/V2/OutputAudioConfig.php
  Dialogflow/src/V2/resources/sessions_client_config.json
  Dialogflow/synth.metadata
  Dialogflow/tests/Unit/V2/IntentsClientTest.php
Labels: api: dialogflow, cla: yes

#2662 feat: add autoscaling policy client for v1 API
  Dataproc/src/V1/AutoscalingPolicyServiceClient.php
  Dataproc/src/V1/Gapic/AutoscalingPolicyServiceGapicClient.php
  Dataproc/src/V1/resources/autoscaling_policy_service_client_config.json
  Dataproc/src/V1/resources/autoscaling_policy_service_descriptor_config.php
  Dataproc/src/V1/resources/autoscaling_policy_service_rest_client_config.php
  Dataproc/synth.metadata
  Dataproc/tests/Unit/V1/AutoscalingPolicyServiceClientTest.php
  docs/contents/cloud-dataproc.json
Labels: api: dataproc, cla: yes

#2700 chore: update metadata
  Monitoring/metadata/V3/MetricService.php
  Monitoring/synth.metadata
Labels: api: monitoring, cla: yes

#2702 docs: update documentation
  Monitoring/src/V3/AlertPolicy.php
  Monitoring/src/V3/AlertPolicy/Condition.php
  Monitoring/src/V3/AlertPolicy/Condition/MetricAbsence.php
  Monitoring/src/V3/AlertPolicy/Condition/MetricThreshold.php
  Monitoring/src/V3/AlertPolicy/ConditionCombinerType.php
  Monitoring/src/V3/CreateAlertPolicyRequest.php
  Monitoring/src/V3/CreateGroupRequest.php
  Monitoring/src/V3/CreateMetricDescriptorRequest.php
  Monitoring/src/V3/CreateNotificationChannelRequest.php
  Monitoring/src/V3/CreateTimeSeriesRequest.php
  Monitoring/src/V3/DeleteAlertPolicyRequest.php
  Monitoring/src/V3/DeleteGroupRequest.php
  Monitoring/src/V3/DeleteMetricDescriptorRequest.php
  Monitoring/src/V3/DeleteNotificationChannelRequest.php
  Monitoring/src/V3/Gapic/AlertPolicyServiceGapicClient.php
  Monitoring/src/V3/Gapic/GroupServiceGapicClient.php
  Monitoring/src/V3/Gapic/MetricServiceGapicClient.php
  Monitoring/src/V3/Gapic/NotificationChannelServiceGapicClient.php
  Monitoring/src/V3/GetAlertPolicyRequest.php
  Monitoring/src/V3/GetGroupRequest.php
  Monitoring/src/V3/GetMetricDescriptorRequest.php
  Monitoring/src/V3/GetMonitoredResourceDescriptorRequest.php
  Monitoring/src/V3/GetNotificationChannelDescriptorRequest.php
  Monitoring/src/V3/GetNotificationChannelRequest.php
  Monitoring/src/V3/ListAlertPoliciesRequest.php
  Monitoring/src/V3/ListAlertPoliciesResponse.php
  Monitoring/src/V3/ListGroupMembersRequest.php
  Monitoring/src/V3/ListGroupMembersResponse.php
  Monitoring/src/V3/ListGroupsRequest.php
  Monitoring/src/V3/ListGroupsResponse.php
  Monitoring/src/V3/ListMetricDescriptorsRequest.php
  Monitoring/src/V3/ListMetricDescriptorsResponse.php
  Monitoring/src/V3/ListMonitoredResourceDescriptorsRequest.php
  Monitoring/src/V3/ListMonitoredResourceDescriptorsResponse.php
  Monitoring/src/V3/ListNotificationChannelDescriptorsRequest.php
  Monitoring/src/V3/ListNotificationChannelsRequest.php
  Monitoring/src/V3/ListTimeSeriesRequest.php
  Monitoring/src/V3/ListTimeSeriesResponse.php
  Monitoring/src/V3/MetricServiceGrpcClient.php
  Monitoring/synth.metadata
Labels: api: monitoring, cla: yes

#2707 chore: update metadata
  Dataproc/metadata/V1/AutoscalingPolicies.php
  Dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#2709 test: fix system tests
  Container/tests/System/ClusterManagerClientTest.php
  Translate/tests/System/V2/TranslateTest.php
  Vision/tests/System/AnnotationsTest.php
Labels: cla: yes

#2712 feat: add lifecycle config, presto jobs and reservation affinity
  Dataproc/metadata/V1/Clusters.php
  Dataproc/metadata/V1/Jobs.php
  Dataproc/src/V1/AutoscalingPolicyServiceGrpcClient.php
  Dataproc/src/V1/ClusterConfig.php
  Dataproc/src/V1/ClusterControllerGrpcClient.php
  Dataproc/src/V1/ClusterStatus.php
  Dataproc/src/V1/Gapic/ClusterControllerGapicClient.php
  Dataproc/src/V1/GceClusterConfig.php
  Dataproc/src/V1/InstanceGroupConfig.php
  Dataproc/src/V1/Job.php
  Dataproc/src/V1/JobControllerGrpcClient.php
  Dataproc/src/V1/LifecycleConfig.php
  Dataproc/src/V1/NodeInitializationAction.php
  Dataproc/src/V1/OrderedJob.php
  Dataproc/src/V1/PrestoJob.php
  Dataproc/src/V1/ReservationAffinity.php
  Dataproc/src/V1/ReservationAffinity/Type.php
  Dataproc/src/V1/ReservationAffinity_Type.php
  Dataproc/src/V1/SparkRJob.php
  Dataproc/src/V1/UpdateClusterRequest.php
  Dataproc/src/V1/WorkflowTemplateServiceGrpcClient.php
  Dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#2715 chore: update metadata
  Kms/metadata/V1/Service.php
  Kms/synth.metadata
Labels: api: cloudkms, cla: yes

#2714 docs: update documentation
  Dataproc/metadata/V1Beta2/Clusters.php
  Dataproc/metadata/V1Beta2/Jobs.php
  Dataproc/src/V1/AcceleratorConfig.php
  Dataproc/src/V1/ClusterConfig.php
  Dataproc/src/V1/GceClusterConfig.php
  Dataproc/src/V1/InstanceGroupConfig.php
  Dataproc/src/V1/SoftwareConfig.php
  Dataproc/src/V1beta2/AcceleratorConfig.php
  Dataproc/src/V1beta2/AutoscalingConfig.php
  Dataproc/src/V1beta2/AutoscalingPolicyServiceGrpcClient.php
  Dataproc/src/V1beta2/CancelJobRequest.php
  Dataproc/src/V1beta2/Cluster.php
  Dataproc/src/V1beta2/ClusterConfig.php
  Dataproc/src/V1beta2/ClusterControllerGrpcClient.php
  Dataproc/src/V1beta2/ClusterStatus.php
  Dataproc/src/V1beta2/ClusterStatus/Substate.php
  Dataproc/src/V1beta2/CreateClusterRequest.php
  Dataproc/src/V1beta2/DeleteClusterRequest.php
  Dataproc/src/V1beta2/DeleteJobRequest.php
  Dataproc/src/V1beta2/DiagnoseClusterRequest.php
  Dataproc/src/V1beta2/Gapic/AutoscalingPolicyServiceGapicClient.php
  Dataproc/src/V1beta2/Gapic/ClusterControllerGapicClient.php
  Dataproc/src/V1beta2/Gapic/JobControllerGapicClient.php
  Dataproc/src/V1beta2/Gapic/WorkflowTemplateServiceGapicClient.php
  Dataproc/src/V1beta2/GceClusterConfig.php
  Dataproc/src/V1beta2/GetClusterRequest.php
  Dataproc/src/V1beta2/GetJobRequest.php
  Dataproc/src/V1beta2/HadoopJob.php
  Dataproc/src/V1beta2/HiveJob.php
  Dataproc/src/V1beta2/InstanceGroupConfig.php
  Dataproc/src/V1beta2/Job.php
  Dataproc/src/V1beta2/JobControllerGrpcClient.php
  Dataproc/src/V1beta2/JobPlacement.php
  Dataproc/src/V1beta2/JobReference.php
  Dataproc/src/V1beta2/JobScheduling.php
  Dataproc/src/V1beta2/JobStatus.php
  Dataproc/src/V1beta2/JobStatus/Substate.php
  Dataproc/src/V1beta2/LifecycleConfig.php
  Dataproc/src/V1beta2/ListClustersRequest.php
  Dataproc/src/V1beta2/ListJobsRequest.php
  Dataproc/src/V1beta2/ListJobsResponse.php
  Dataproc/src/V1beta2/NodeInitializationAction.php
  Dataproc/src/V1beta2/OrderedJob.php
  Dataproc/src/V1beta2/PigJob.php
  Dataproc/src/V1beta2/PySparkJob.php
  Dataproc/src/V1beta2/SoftwareConfig.php
  Dataproc/src/V1beta2/SparkJob.php
  Dataproc/src/V1beta2/SparkRJob.php
  Dataproc/src/V1beta2/SparkSqlJob.php
  Dataproc/src/V1beta2/SubmitJobRequest.php
  Dataproc/src/V1beta2/UpdateClusterRequest.php
  Dataproc/src/V1beta2/UpdateJobRequest.php
  Dataproc/src/V1beta2/WorkflowMetadata.php
  Dataproc/src/V1beta2/WorkflowTemplate.php
  Dataproc/src/V1beta2/WorkflowTemplateServiceGrpcClient.php
  Dataproc/src/V1beta2/YarnApplication.php
  Dataproc/synth.metadata
  Dataproc/synth.py
Labels: api: dataproc, cla: yes

#2716 docs: fix typo for CacheSessionPool config
  Spanner/README.md
Labels: cla: yes

#2717 feat: introduce billing client
  Billing/.gitattributes
  Billing/.github/pull_request_template.md
  Billing/CONTRIBUTING.md
  Billing/LICENSE
  Billing/README.md
  Billing/VERSION
  Billing/composer.json
  Billing/metadata/V1/CloudBilling.php
  Billing/metadata/V1/CloudCatalog.php
  Billing/phpunit.xml.dist
  Billing/src/V1/AggregationInfo.php
  Billing/src/V1/AggregationInfo/AggregationInterval.php
  Billing/src/V1/AggregationInfo/AggregationLevel.php
  Billing/src/V1/AggregationInfo_AggregationInterval.php
  Billing/src/V1/AggregationInfo_AggregationLevel.php
  Billing/src/V1/BillingAccount.php
  Billing/src/V1/Category.php
  Billing/src/V1/CloudBillingClient.php
  Billing/src/V1/CloudBillingGrpcClient.php
  Billing/src/V1/CloudCatalogClient.php
  Billing/src/V1/CloudCatalogGrpcClient.php
  Billing/src/V1/CreateBillingAccountRequest.php
  Billing/src/V1/Gapic/CloudBillingGapicClient.php
  Billing/src/V1/Gapic/CloudCatalogGapicClient.php
  Billing/src/V1/GetBillingAccountRequest.php
  Billing/src/V1/GetProjectBillingInfoRequest.php
  Billing/src/V1/ListBillingAccountsRequest.php
  Billing/src/V1/ListBillingAccountsResponse.php
  Billing/src/V1/ListProjectBillingInfoRequest.php
  Billing/src/V1/ListProjectBillingInfoResponse.php
  Billing/src/V1/ListServicesRequest.php
  Billing/src/V1/ListServicesResponse.php
  Billing/src/V1/ListSkusRequest.php
  Billing/src/V1/ListSkusResponse.php
  Billing/src/V1/PricingExpression.php
  Billing/src/V1/PricingExpression/TierRate.php
  Billing/src/V1/PricingExpression_TierRate.php
  Billing/src/V1/PricingInfo.php
  Billing/src/V1/ProjectBillingInfo.php
  Billing/src/V1/README.md
  Billing/src/V1/Service.php
  Billing/src/V1/Sku.php
  Billing/src/V1/UpdateBillingAccountRequest.php
  Billing/src/V1/UpdateProjectBillingInfoRequest.php
  Billing/src/V1/resources/cloud_billing_client_config.json
  Billing/src/V1/resources/cloud_billing_descriptor_config.php
  Billing/src/V1/resources/cloud_billing_rest_client_config.php
  Billing/src/V1/resources/cloud_catalog_client_config.json
  Billing/src/V1/resources/cloud_catalog_descriptor_config.php
  Billing/src/V1/resources/cloud_catalog_rest_client_config.php
  Billing/synth.metadata
  Billing/synth.py
  Billing/tests/Unit/V1/CloudBillingClientTest.php
  Billing/tests/Unit/V1/CloudCatalogClientTest.php
  README.md
  composer.json
  docs/contents/cloud-billing.json
  docs/contents/google-cloud.json
  docs/manifest.json
Labels: api: cloudbilling, cla: yes

#2697 chore: release 0.126.0
  BigQueryDataTransfer/VERSION
  Bigtable/VERSION
  Bigtable/src/BigtableClient.php
  Billing/VERSION
  CHANGELOG.md
  Dataproc/VERSION
  Dialogflow/VERSION
  Kms/VERSION
  Monitoring/VERSION
  Redis/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes

#2718 chore: update metadata
  Dataproc/metadata/V1/Clusters.php
  Dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#2705 fix: allow root-level collection named projects
  Firestore/src/PathTrait.php
  Firestore/tests/Unit/PathTraitTest.php
Labels: api: firestore, cla: yes

#2710 feat(spanner): add emulator support
  Spanner/src/Connection/Grpc.php
  Spanner/src/SpannerClient.php
  Spanner/tests/Snippet/SpannerClientTest.php
Labels: api: spanner, cla: yes

#2708 feat: return limited resource representation on instance exists
  Spanner/src/Instance.php
  Spanner/tests/Unit/InstanceTest.php
Labels: api: spanner, cla: yes

#2723 docs: update doc references
  Dataproc/src/V1beta2/ClusterControllerGrpcClient.php
  Dataproc/src/V1beta2/Gapic/ClusterControllerGapicClient.php
  Dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#2713 [CHANGE ME] Re-generated Spanner to pick up changes in the API or client library generator.
  Spanner/src/Admin/Instance/V1/Instance.php
  Spanner/synth.metadata
Labels: api: spanner, cla: yes

#2725 feat: add update_transforms to generated client
  Firestore/metadata/V1/Firestore.php
  Firestore/metadata/V1/Query.php
  Firestore/metadata/V1/Write.php
  Firestore/src/V1/FirestoreGrpcClient.php
  Firestore/src/V1/Write.php
  Firestore/synth.metadata
Labels: api: firestore, cla: yes

#2728 feat: add stackdriver logging config
  Tasks/metadata/V2/Queue.php
  Tasks/src/V2/AppEngineHttpRequest.php
  Tasks/src/V2/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2/HttpRequest.php
  Tasks/src/V2/Queue.php
  Tasks/src/V2/StackdriverLoggingConfig.php
  Tasks/src/V2beta2/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2beta2/resources/cloud_tasks_client_config.json
  Tasks/src/V2beta3/AppEngineHttpRequest.php
  Tasks/src/V2beta3/Gapic/CloudTasksGapicClient.php
  Tasks/src/V2beta3/HttpRequest.php
  Tasks/src/V2beta3/resources/cloud_tasks_client_config.json
  Tasks/synth.metadata
  Tasks/tests/Unit/V2/CloudTasksClientTest.php
  Tasks/tests/Unit/V2beta2/CloudTasksClientTest.php
  Tasks/tests/Unit/V2beta3/CloudTasksClientTest.php
Labels: api: cloudtasks, cla: yes

#2727 docs: update documentation
  PubSub/metadata/V1/Pubsub.php
  PubSub/src/V1/AcknowledgeRequest.php
  PubSub/src/V1/CreateSnapshotRequest.php
  PubSub/src/V1/DeleteSnapshotRequest.php
  PubSub/src/V1/DeleteSubscriptionRequest.php
  PubSub/src/V1/DeleteTopicRequest.php
  PubSub/src/V1/Gapic/PublisherGapicClient.php
  PubSub/src/V1/Gapic/SubscriberGapicClient.php
  PubSub/src/V1/GetSnapshotRequest.php
  PubSub/src/V1/GetSubscriptionRequest.php
  PubSub/src/V1/GetTopicRequest.php
  PubSub/src/V1/ListSnapshotsRequest.php
  PubSub/src/V1/ListSubscriptionsRequest.php
  PubSub/src/V1/ListTopicSubscriptionsRequest.php
  PubSub/src/V1/ListTopicSubscriptionsResponse.php
  PubSub/src/V1/ListTopicsRequest.php
  PubSub/src/V1/ModifyAckDeadlineRequest.php
  PubSub/src/V1/ModifyPushConfigRequest.php
  PubSub/src/V1/PublishRequest.php
  PubSub/src/V1/PublisherGrpcClient.php
  PubSub/src/V1/PullRequest.php
  PubSub/src/V1/SeekRequest.php
  PubSub/src/V1/Snapshot.php
  PubSub/src/V1/StreamingPullRequest.php
  PubSub/src/V1/SubscriberGrpcClient.php
  PubSub/src/V1/Subscription.php
  PubSub/src/V1/Topic.php
  PubSub/src/V1/UpdateSnapshotRequest.php
  PubSub/src/V1/UpdateSubscriptionRequest.php
  PubSub/src/V1/UpdateTopicRequest.php
  PubSub/src/V1/resources/publisher_client_config.json
  PubSub/src/V1/resources/subscriber_client_config.json
  PubSub/synth.metadata
Labels: api: pubsub, cla: yes
