Repository googleapis/google-cloud-php, pull requests merged in 2020-03, with the labels that each got.

#2726 feat: add query options
  Spanner/metadata/V1/Spanner.php
  Spanner/src/Admin/Database/V1/CreateDatabaseRequest.php
  Spanner/src/Admin/Database/V1/DatabaseAdminGrpcClient.php
  Spanner/src/Admin/Database/V1/DropDatabaseRequest.php
  Spanner/src/Admin/Database/V1/Gapic/DatabaseAdminGapicClient.php
  Spanner/src/Admin/Database/V1/GetDatabaseDdlRequest.php
  Spanner/src/Admin/Database/V1/GetDatabaseDdlResponse.php
  Spanner/src/Admin/Database/V1/GetDatabaseRequest.php
  Spanner/src/Admin/Database/V1/ListDatabasesRequest.php
  Spanner/src/Admin/Database/V1/ListDatabasesResponse.php
  Spanner/src/Admin/Database/V1/UpdateDatabaseDdlRequest.php
  Spanner/src/Admin/Instance/V1/Gapic/InstanceAdminGapicClient.php
  Spanner/src/Admin/Instance/V1/GetInstanceRequest.php
  Spanner/src/Admin/Instance/V1/InstanceAdminGrpcClient.php
  Spanner/src/Admin/Instance/V1/UpdateInstanceRequest.php
  Spanner/src/V1/BatchCreateSessionsRequest.php
  Spanner/src/V1/BatchCreateSessionsResponse.php
  Spanner/src/V1/BeginTransactionRequest.php
  Spanner/src/V1/ExecuteBatchDmlRequest.php
  Spanner/src/V1/ExecuteBatchDmlRequest/Statement.php
  Spanner/src/V1/ExecuteBatchDmlResponse.php
  Spanner/src/V1/ExecuteSqlRequest.php
  Spanner/src/V1/ExecuteSqlRequest/QueryOptions.php
  Spanner/src/V1/ExecuteSqlRequest_QueryOptions.php
  Spanner/src/V1/Gapic/SpannerGapicClient.php
  Spanner/src/V1/ListSessionsRequest.php
  Spanner/src/V1/ListSessionsResponse.php
  Spanner/src/V1/Mutation.php
  Spanner/src/V1/Mutation/Delete.php
  Spanner/src/V1/PartitionQueryRequest.php
  Spanner/src/V1/PartitionReadRequest.php
  Spanner/src/V1/ReadRequest.php
  Spanner/src/V1/SpannerGrpcClient.php
  Spanner/synth.metadata
Labels: api: spanner, cla: yes

#2735 feat: add baseline score to tables annotation, update docs
  AutoMl/metadata/V1Beta1/AnnotationSpec.php
  AutoMl/metadata/V1Beta1/Classification.php
  AutoMl/metadata/V1Beta1/ColumnSpec.php
  AutoMl/metadata/V1Beta1/DataItems.php
  AutoMl/metadata/V1Beta1/Dataset.php
  AutoMl/metadata/V1Beta1/Image.php
  AutoMl/metadata/V1Beta1/Model.php
  AutoMl/metadata/V1Beta1/ModelEvaluation.php
  AutoMl/metadata/V1Beta1/Operations.php
  AutoMl/metadata/V1Beta1/PredictionService.php
  AutoMl/metadata/V1Beta1/Service.php
  AutoMl/metadata/V1Beta1/TableSpec.php
  AutoMl/metadata/V1Beta1/Tables.php
  AutoMl/metadata/V1Beta1/Text.php
  AutoMl/metadata/V1Beta1/Translation.php
  AutoMl/src/V1beta1/AnnotationSpec.php
  AutoMl/src/V1beta1/AutoMlGrpcClient.php
  AutoMl/src/V1beta1/BatchPredictRequest.php
  AutoMl/src/V1beta1/BatchPredictResult.php
  AutoMl/src/V1beta1/ClassificationEvaluationMetrics/ConfidenceMetricsEntry.php
  AutoMl/src/V1beta1/ClassificationEvaluationMetrics/ConfusionMatrix/Row.php
  AutoMl/src/V1beta1/CreateDatasetRequest.php
  AutoMl/src/V1beta1/CreateModelRequest.php
  AutoMl/src/V1beta1/DeleteDatasetRequest.php
  AutoMl/src/V1beta1/DeleteModelRequest.php
  AutoMl/src/V1beta1/DeployModelRequest.php
  AutoMl/src/V1beta1/Document/Layout.php
  AutoMl/src/V1beta1/ExportDataRequest.php
  AutoMl/src/V1beta1/ExportEvaluatedExamplesRequest.php
  AutoMl/src/V1beta1/ExportModelRequest.php
  AutoMl/src/V1beta1/Gapic/AutoMlGapicClient.php
  AutoMl/src/V1beta1/Gapic/PredictionServiceGapicClient.php
  AutoMl/src/V1beta1/GetAnnotationSpecRequest.php
  AutoMl/src/V1beta1/GetColumnSpecRequest.php
  AutoMl/src/V1beta1/GetDatasetRequest.php
  AutoMl/src/V1beta1/GetModelEvaluationRequest.php
  AutoMl/src/V1beta1/GetModelRequest.php
  AutoMl/src/V1beta1/GetTableSpecRequest.php
  AutoMl/src/V1beta1/ImageClassificationModelMetadata.php
  AutoMl/src/V1beta1/ImageObjectDetectionModelMetadata.php
  AutoMl/src/V1beta1/ImportDataRequest.php
  AutoMl/src/V1beta1/ListColumnSpecsRequest.php
  AutoMl/src/V1beta1/ListDatasetsRequest.php
  AutoMl/src/V1beta1/ListModelEvaluationsRequest.php
  AutoMl/src/V1beta1/ListModelsRequest.php
  AutoMl/src/V1beta1/ListTableSpecsRequest.php
  AutoMl/src/V1beta1/PredictRequest.php
  AutoMl/src/V1beta1/PredictResponse.php
  AutoMl/src/V1beta1/PredictionServiceGrpcClient.php
  AutoMl/src/V1beta1/TablesAnnotation.php
  AutoMl/src/V1beta1/TextSentimentDatasetMetadata.php
  AutoMl/src/V1beta1/TextSnippet.php
  AutoMl/src/V1beta1/TranslationDatasetMetadata.php
  AutoMl/src/V1beta1/UndeployModelRequest.php
  AutoMl/src/V1beta1/UpdateColumnSpecRequest.php
  AutoMl/src/V1beta1/UpdateDatasetRequest.php
  AutoMl/src/V1beta1/UpdateTableSpecRequest.php
  AutoMl/synth.metadata
Labels: api: automl, cla: yes

#2732 refactor(spanner): stronger assertions for Unit/DatabaseTest
  Spanner/tests/Unit/DatabaseTest.php
Labels: cla: yes

#2731 fix: fix getting null values
  Firestore/src/DocumentSnapshot.php
  Firestore/tests/Unit/DocumentSnapshotTest.php
Labels: api: firestore, cla: yes

#2742 docs: update documentation
  PubSub/metadata/V1/Pubsub.php
  PubSub/src/V1/AcknowledgeRequest.php
  PubSub/src/V1/CreateSnapshotRequest.php
  PubSub/src/V1/Gapic/PublisherGapicClient.php
  PubSub/src/V1/Gapic/SubscriberGapicClient.php
  PubSub/src/V1/ListTopicSnapshotsRequest.php
  PubSub/src/V1/ModifyAckDeadlineRequest.php
  PubSub/src/V1/PullRequest.php
  PubSub/src/V1/StreamingPullRequest.php
  PubSub/src/V1/Subscription.php
  PubSub/src/V1/UpdateTopicRequest.php
  PubSub/synth.metadata
Labels: api: pubsub, cla: yes

#2744 docs: update documentation
  VideoIntelligence/src/V1/AnnotateVideoRequest.php
  VideoIntelligence/src/V1/Gapic/VideoIntelligenceServiceGapicClient.php
  VideoIntelligence/src/V1beta2/AnnotateVideoRequest.php
  VideoIntelligence/src/V1beta2/Gapic/VideoIntelligenceServiceGapicClient.php
  VideoIntelligence/synth.metadata
Labels: api: videointelligence, cla: yes

#2749 feat: add logo recognition feature
  VideoIntelligence/metadata/V1/VideoIntelligence.php
  VideoIntelligence/src/V1/DetectedAttribute.php
  VideoIntelligence/src/V1/DetectedLandmark.php
  VideoIntelligence/src/V1/Feature.php
  VideoIntelligence/src/V1/LogoRecognitionAnnotation.php
  VideoIntelligence/src/V1/TimestampedObject.php
  VideoIntelligence/src/V1/Track.php
  VideoIntelligence/src/V1/VideoAnnotationResults.php
  VideoIntelligence/src/V1/VideoIntelligenceServiceGrpcClient.php
  VideoIntelligence/synth.metadata
Labels: api: videointelligence, cla: yes

#2755 docs: update documentation
  Talent/metadata/V4Beta1/Application.php
  Talent/metadata/V4Beta1/CompanyService.php
  Talent/metadata/V4Beta1/CompletionService.php
  Talent/metadata/V4Beta1/EventService.php
  Talent/metadata/V4Beta1/ProfileService.php
  Talent/metadata/V4Beta1/Tenant.php
  Talent/src/V4beta1/Application.php
  Talent/src/V4beta1/ApplicationServiceGrpcClient.php
  Talent/src/V4beta1/CompanyServiceGrpcClient.php
  Talent/src/V4beta1/CompleteQueryRequest/CompletionType.php
  Talent/src/V4beta1/CompletionGrpcClient.php
  Talent/src/V4beta1/EventServiceGrpcClient.php
  Talent/src/V4beta1/Gapic/JobServiceGapicClient.php
  Talent/src/V4beta1/Gapic/ProfileServiceGapicClient.php
  Talent/src/V4beta1/JobServiceGrpcClient.php
  Talent/src/V4beta1/ListProfilesRequest.php
  Talent/src/V4beta1/ProfileServiceGrpcClient.php
  Talent/src/V4beta1/SearchJobsRequest.php
  Talent/src/V4beta1/SearchJobsRequest/CustomRankingInfo.php
  Talent/src/V4beta1/TenantServiceGrpcClient.php
  Talent/src/V4beta1/UpdateProfileRequest.php
  Talent/synth.metadata
Labels: api: talent, cla: yes

#2751 feat: introduce secret manager v1 client
  SecretManager/composer.json
  SecretManager/metadata/V1/Resources.php
  SecretManager/metadata/V1/Service.php
  SecretManager/src/V1/AccessSecretVersionRequest.php
  SecretManager/src/V1/AccessSecretVersionResponse.php
  SecretManager/src/V1/AddSecretVersionRequest.php
  SecretManager/src/V1/CreateSecretRequest.php
  SecretManager/src/V1/DeleteSecretRequest.php
  SecretManager/src/V1/DestroySecretVersionRequest.php
  SecretManager/src/V1/DisableSecretVersionRequest.php
  SecretManager/src/V1/EnableSecretVersionRequest.php
  SecretManager/src/V1/Gapic/SecretManagerServiceGapicClient.php
  SecretManager/src/V1/GetSecretRequest.php
  SecretManager/src/V1/GetSecretVersionRequest.php
  SecretManager/src/V1/ListSecretVersionsRequest.php
  SecretManager/src/V1/ListSecretVersionsResponse.php
  SecretManager/src/V1/ListSecretsRequest.php
  SecretManager/src/V1/ListSecretsResponse.php
  SecretManager/src/V1/README.md
  SecretManager/src/V1/Replication.php
  SecretManager/src/V1/Replication/Automatic.php
  SecretManager/src/V1/Replication/UserManaged.php
  SecretManager/src/V1/Replication/UserManaged/Replica.php
  SecretManager/src/V1/Replication_Automatic.php
  SecretManager/src/V1/Replication_UserManaged.php
  SecretManager/src/V1/Replication_UserManaged_Replica.php
  SecretManager/src/V1/Secret.php
  SecretManager/src/V1/SecretManagerServiceClient.php
  SecretManager/src/V1/SecretManagerServiceGrpcClient.php
  SecretManager/src/V1/SecretPayload.php
  SecretManager/src/V1/SecretVersion.php
  SecretManager/src/V1/SecretVersion/State.php
  SecretManager/src/V1/SecretVersion_State.php
  SecretManager/src/V1/UpdateSecretRequest.php
  SecretManager/src/V1/resources/secret_manager_service_client_config.json
  SecretManager/src/V1/resources/secret_manager_service_descriptor_config.php
  SecretManager/src/V1/resources/secret_manager_service_rest_client_config.php
  SecretManager/synth.metadata
  SecretManager/synth.py
  SecretManager/tests/Unit/V1/SecretManagerServiceClientTest.php
  composer.json
  docs/contents/cloud-secret-manager.json
Labels: api: secretmanager, cla: yes

#2745 chore: update synth to fix relative cloud.google.com links
  Asset/synth.py
  AutoMl/synth.py
  BigQueryDataTransfer/synth.py
  Bigtable/synth.py
  Container/synth.py
  Dataproc/synth.py
  Datastore/synth.py
  Debugger/synth.py
  Dialogflow/synth.py
  Dlp/synth.py
  ErrorReporting/synth.py
  Firestore/synth.py
  Iot/synth.py
  Kms/synth.py
  Language/synth.py
  Logging/synth.py
  Monitoring/synth.py
  OsLogin/synth.py
  PubSub/synth.py
  Recommender/synth.py
  Redis/synth.py
  Scheduler/synth.py
  SecretManager/synth.py
  SecurityCenter/synth.py
  Spanner/synth.py
  Speech/synth.py
  Talent/synth.py
  Tasks/synth.py
  TextToSpeech/synth.py
  Trace/synth.py
  Translate/synth.py
  VideoIntelligence/synth.py
  Vision/synth.py
  WebRisk/synth.py
  WebSecurityScanner/synth.py
Labels: cla: yes

#2769 docs: fix cloud.google.com links
  Vision/src/V1/ImageContext.php
  Vision/synth.metadata
Labels: api: vision, cla: yes

#2768 docs: fix cloud.google.com links
  TextToSpeech/src/V1/SynthesisInput.php
  TextToSpeech/synth.metadata
Labels: api: texttospeech, cla: yes

#2765 fix: remove debugging code
  SecretManager/src/V1/CreateSecretRequest.php
  SecretManager/synth.metadata
Labels: api: secretmanager, cla: yes

#2764 docs: fix cloud.google.com links
  Redis/src/V1/CloudRedisGrpcClient.php
  Redis/src/V1/Instance.php
  Redis/src/V1beta1/CloudRedisGrpcClient.php
  Redis/src/V1beta1/Instance.php
  Redis/synth.metadata
Labels: api: redis, cla: yes

#2763 docs: fix cloud.google.com links
  Monitoring/src/V3/Aggregation.php
  Monitoring/src/V3/AlertPolicy.php
  Monitoring/src/V3/AlertPolicy/Condition/MetricAbsence.php
  Monitoring/src/V3/AlertPolicy/Condition/MetricThreshold.php
  Monitoring/src/V3/TimeInterval.php
  Monitoring/src/V3/resources/metric_service_client_config.json
  Monitoring/synth.metadata
Labels: api: monitoring, cla: yes

#2762 docs: fix cloud.google.com links
  Language/src/V1/ClassificationCategory.php
  Language/src/V1/Document.php
  Language/src/V1beta2/AnnotateTextRequest/Features.php
  Language/src/V1beta2/ClassificationCategory.php
  Language/src/V1beta2/Document.php
  Language/synth.metadata
Labels: api: language, cla: yes

#2761 docs: fix cloud.google.com links
  Kms/src/V1/CryptoKey.php
  Kms/synth.metadata
Labels: api: cloudkms, cla: yes

#2760 docs: fix cloud.google.com links
  ErrorReporting/src/V1beta1/ServiceContextFilter.php
  ErrorReporting/synth.metadata
Labels: api: clouderrorreporting, cla: yes

#2759 docs: fix cloud.google.com links
  Dlp/src/V2/Action/PublishToPubSub.php
  Dlp/src/V2/CryptoReplaceFfxFpeConfig.php
  Dlp/src/V2/CustomInfoType/SurrogateType.php
  Dlp/synth.metadata
Labels: api: dlp, cla: yes

#2758 docs: fix cloud.google.com links
  Dataproc/src/V1/InstanceGroupConfig.php
  Dataproc/src/V1beta2/InstanceGroupConfig.php
  Dataproc/synth.metadata
Labels: api: dataproc, cla: yes

#2757 docs: fix cloud.google.com links
  Container/src/V1/Cluster.php
  Container/src/V1/CreateClusterRequest.php
  Container/src/V1/NodeConfig.php
  Container/synth.metadata
Labels: api: container, cla: yes

#2756 docs: fix cloud.google.com links
  AutoMl/src/V1/InputConfig.php
  AutoMl/synth.metadata
Labels: api: automl, cla: yes

#2753 refactor(spanner): stronger assertions for unit tests
  Spanner/tests/Unit/Batch/BatchClientTest.php
  Spanner/tests/Unit/InstanceConfigurationTest.php
  Spanner/tests/Unit/InstanceTest.php
  Spanner/tests/Unit/OperationTest.php
  Spanner/tests/Unit/SpannerClientTest.php
  Spanner/tests/Unit/TransactionTest.php
  Spanner/tests/Unit/TransactionTypeTest.php
Labels: api: spanner, cla: yes

#2722 chore: release 0.127.0
  Asset/VERSION
  AutoMl/VERSION
  BigQueryDataTransfer/VERSION
  Bigtable/VERSION
  Bigtable/src/BigtableClient.php
  CHANGELOG.md
  Container/VERSION
  Dataproc/VERSION
  Datastore/VERSION
  Datastore/src/DatastoreClient.php
  Debugger/VERSION
  Debugger/src/DebuggerClient.php
  Dialogflow/VERSION
  Dlp/VERSION
  ErrorReporting/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Iot/VERSION
  Kms/VERSION
  Language/VERSION
  Language/src/LanguageClient.php
  Logging/VERSION
  Logging/src/LoggingClient.php
  Monitoring/VERSION
  OsLogin/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Recommender/VERSION
  Redis/VERSION
  Scheduler/VERSION
  SecretManager/VERSION
  SecurityCenter/VERSION
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Speech/VERSION
  Speech/src/SpeechClient.php
  Talent/VERSION
  Tasks/VERSION
  TextToSpeech/VERSION
  Trace/VERSION
  Trace/src/TraceClient.php
  Translate/VERSION
  VideoIntelligence/VERSION
  Vision/VERSION
  Vision/src/VisionClient.php
  WebRisk/VERSION
  WebSecurityScanner/VERSION
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes

#2747 feat(spanner): implement query options versioning support
  Spanner/src/Connection/Grpc.php
  Spanner/src/Database.php
  Spanner/src/SpannerClient.php
  Spanner/src/TransactionalReadTrait.php
  Spanner/tests/Unit/Connection/GrpcTest.php
Labels: api: spanner, cla: yes

#2771 chore: release 0.128.0
  CHANGELOG.md
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes

#2772 fix: remove redundant extension from lock file name
  Debugger/src/BreakpointStorage/FileBreakpointStorage.php
Labels: api: clouddebugger, cla: yes

#2773 feat: add retry policy
  PubSub/metadata/V1/Pubsub.php
  PubSub/src/V1/Gapic/PublisherGapicClient.php
  PubSub/src/V1/Gapic/SubscriberGapicClient.php
  PubSub/src/V1/RetryPolicy.php
  PubSub/src/V1/Subscription.php
  PubSub/src/V1/resources/subscriber_descriptor_config.php
  PubSub/synth.metadata
  PubSub/tests/Unit/V1/PublisherClientTest.php
  PubSub/tests/Unit/V1/SubscriberClientTest.php
Labels: api: pubsub, cla: yes

#2720 feat: implement new GCS signed URL features
  Storage/src/SigningHelper.php
  Storage/src/StorageObject.php
  Storage/tests/Snippet/StorageObjectTest.php
  Storage/tests/System/SignedUrlTest.php
  Storage/tests/Unit/SignedUrlConformanceTest.php
  Storage/tests/Unit/SigningHelperTest.php
  Storage/tests/Unit/data/signed-url-v4-testdata.json
Labels: api: storage, cla: yes

#2784 feat: add subscription filter field
  PubSub/metadata/V1/Pubsub.php
  PubSub/src/V1/Gapic/SubscriberGapicClient.php
  PubSub/src/V1/Subscription.php
  PubSub/synth.metadata
  PubSub/tests/Unit/V1/SubscriberClientTest.php
Labels: api: pubsub, cla: yes

#2783 chore: update metadata
  Dlp/metadata/V2/Dlp.php
  Dlp/synth.metadata
Labels: api: dlp, cla: yes

#2532 feat: add support for BigQuery routines
  BigQuery/src/BigQueryClient.php
  BigQuery/src/Connection/ConnectionInterface.php
  BigQuery/src/Connection/Rest.php
  BigQuery/src/Connection/ServiceDefinition/bigquery-v2.json
  BigQuery/src/Dataset.php
  BigQuery/src/Routine.php
  BigQuery/tests/Snippet/DatasetTest.php
  BigQuery/tests/Snippet/RoutineTest.php
  BigQuery/tests/System/ManageRoutinesTest.php
  BigQuery/tests/Unit/BigQueryClientTest.php
  BigQuery/tests/Unit/Connection/RestTest.php
  BigQuery/tests/Unit/DatasetTest.php
  BigQuery/tests/Unit/QueryResultsTest.php
  BigQuery/tests/Unit/RoutineTest.php
  BigQuery/tests/Unit/TableTest.php
  Core/src/Testing/TestHelpers.php
Labels: api: bigquery, cla: yes

#2781 feat: add backup/restore functionality
  Spanner/src/Backup.php
  Spanner/src/Connection/ConnectionInterface.php
  Spanner/src/Connection/Grpc.php
  Spanner/src/Database.php
  Spanner/src/Instance.php
  Spanner/src/SpannerClient.php
  Spanner/tests/Snippet/BackupTest.php
  Spanner/tests/Snippet/DatabaseTest.php
  Spanner/tests/Snippet/InstanceTest.php
  Spanner/tests/System/BackupTest.php
  Spanner/tests/Unit/BackupTest.php
  Spanner/tests/Unit/DatabaseTest.php
  Spanner/tests/Unit/InstanceTest.php
Labels: cla: yes

#2780 chore: release 0.129.0
  BigQuery/VERSION
  BigQuery/src/BigQueryClient.php
  Bigtable/VERSION
  Bigtable/src/BigtableClient.php
  CHANGELOG.md
  Core/VERSION
  Debugger/VERSION
  Debugger/src/DebuggerClient.php
  Dlp/VERSION
  Monitoring/VERSION
  PubSub/VERSION
  PubSub/src/PubSubClient.php
  Spanner/VERSION
  Spanner/src/SpannerClient.php
  Storage/VERSION
  Storage/src/StorageClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: closed, autorelease: pending, cla: yes

#2791 docs: update documentation
  Redis/src/V1/CloudRedisGrpcClient.php
  Redis/src/V1/Instance.php
  Redis/src/V1beta1/CloudRedisGrpcClient.php
  Redis/src/V1beta1/Instance.php
  Redis/synth.metadata
Labels: api: redis, cla: yes

#2333 chore: remove HHVM testing
  .travis.yml
Labels: cla: yes

#2793 feat: introduce service directory v1beta1 client
  README.md
  ServiceDirectory/.gitattributes
  ServiceDirectory/.github/pull_request_template.md
  ServiceDirectory/CONTRIBUTING.md
  ServiceDirectory/LICENSE
  ServiceDirectory/README.md
  ServiceDirectory/VERSION
  ServiceDirectory/composer.json
  ServiceDirectory/metadata/V1Beta1/Endpoint.php
  ServiceDirectory/metadata/V1Beta1/LookupService.php
  ServiceDirectory/metadata/V1Beta1/PBNamespace.php
  ServiceDirectory/metadata/V1Beta1/RegistrationService.php
  ServiceDirectory/metadata/V1Beta1/Service.php
  ServiceDirectory/phpunit-snippets.xml.dist
  ServiceDirectory/phpunit.xml.dist
  ServiceDirectory/src/V1beta1/CreateEndpointRequest.php
  ServiceDirectory/src/V1beta1/CreateNamespaceRequest.php
  ServiceDirectory/src/V1beta1/CreateServiceRequest.php
  ServiceDirectory/src/V1beta1/DeleteEndpointRequest.php
  ServiceDirectory/src/V1beta1/DeleteNamespaceRequest.php
  ServiceDirectory/src/V1beta1/DeleteServiceRequest.php
  ServiceDirectory/src/V1beta1/Endpoint.php
  ServiceDirectory/src/V1beta1/Gapic/LookupServiceGapicClient.php
  ServiceDirectory/src/V1beta1/Gapic/RegistrationServiceGapicClient.php
  ServiceDirectory/src/V1beta1/GetEndpointRequest.php
  ServiceDirectory/src/V1beta1/GetNamespaceRequest.php
  ServiceDirectory/src/V1beta1/GetServiceRequest.php
  ServiceDirectory/src/V1beta1/ListEndpointsRequest.php
  ServiceDirectory/src/V1beta1/ListEndpointsResponse.php
  ServiceDirectory/src/V1beta1/ListNamespacesRequest.php
  ServiceDirectory/src/V1beta1/ListNamespacesResponse.php
  ServiceDirectory/src/V1beta1/ListServicesRequest.php
  ServiceDirectory/src/V1beta1/ListServicesResponse.php
  ServiceDirectory/src/V1beta1/LookupServiceClient.php
  ServiceDirectory/src/V1beta1/LookupServiceGrpcClient.php
  ServiceDirectory/src/V1beta1/PBNamespace.php
  ServiceDirectory/src/V1beta1/README.md
  ServiceDirectory/src/V1beta1/RegistrationServiceClient.php
  ServiceDirectory/src/V1beta1/RegistrationServiceGrpcClient.php
  ServiceDirectory/src/V1beta1/ResolveServiceRequest.php
  ServiceDirectory/src/V1beta1/ResolveServiceResponse.php
  ServiceDirectory/src/V1beta1/Service.php
  ServiceDirectory/src/V1beta1/UpdateEndpointRequest.php
  ServiceDirectory/src/V1beta1/UpdateNamespaceRequest.php
  ServiceDirectory/src/V1beta1/UpdateServiceRequest.php
  ServiceDirectory/src/V1beta1/resources/lookup_service_client_config.json
  ServiceDirectory/src/V1beta1/resources/lookup_service_descriptor_config.php
  ServiceDirectory/src/V1beta1/resources/lookup_service_rest_client_config.php
  ServiceDirectory/src/V1beta1/resources/registration_service_client_config.json
  ServiceDirectory/src/V1beta1/resources/registration_service_descriptor_config.php
  ServiceDirectory/src/V1beta1/resources/registration_service_rest_client_config.php
  ServiceDirectory/synth.metadata
  ServiceDirectory/synth.py
  ServiceDirectory/tests/Unit/V1beta1/LookupServiceClientTest.php
  ServiceDirectory/tests/Unit/V1beta1/RegistrationServiceClientTest.php
  composer.json
  docs/contents/cloud-service-directory.json
  docs/contents/google-cloud.json
  docs/manifest.json
Labels: cla: yes

#2776 docs: add parentJobId to list jobs
  BigQuery/src/BigQueryClient.php
  BigQuery/tests/System/ManageJobsTest.php
Labels: api: bigquery, cla: yes

#2750 feat: add support for signed post policies
  Storage/src/Bucket.php
  Storage/src/SigningHelper.php
  Storage/tests/Snippet/BucketTest.php
  Storage/tests/System/PostPolicyTest.php
  Storage/tests/Unit/ConformanceTest.php
  Storage/tests/Unit/SigningHelperTest.php
  Storage/tests/Unit/data/signed-url-v4-testdata.json
Labels: api: storage, cla: yes

#2798 feat: update clients
  Talent/src/V4beta1/Gapic/ApplicationServiceGapicClient.php
  Talent/src/V4beta1/Gapic/CompanyServiceGapicClient.php
  Talent/src/V4beta1/Gapic/CompletionGapicClient.php
  Talent/src/V4beta1/Gapic/EventServiceGapicClient.php
  Talent/src/V4beta1/Gapic/JobServiceGapicClient.php
  Talent/src/V4beta1/Gapic/ProfileServiceGapicClient.php
  Talent/src/V4beta1/Gapic/TenantServiceGapicClient.php
  Talent/src/V4beta1/resources/application_service_client_config.json
  Talent/src/V4beta1/resources/application_service_rest_client_config.php
  Talent/src/V4beta1/resources/company_service_client_config.json
  Talent/src/V4beta1/resources/company_service_rest_client_config.php
  Talent/src/V4beta1/resources/job_service_client_config.json
  Talent/src/V4beta1/resources/job_service_rest_client_config.php
  Talent/src/V4beta1/resources/profile_service_client_config.json
  Talent/src/V4beta1/resources/profile_service_descriptor_config.php
  Talent/src/V4beta1/resources/profile_service_rest_client_config.php
  Talent/src/V4beta1/resources/tenant_service_client_config.json
  Talent/src/V4beta1/resources/tenant_service_rest_client_config.php
  Talent/synth.metadata
  Talent/tests/Unit/V4beta1/ApplicationServiceClientTest.php
  Talent/tests/Unit/V4beta1/CompanyServiceClientTest.php
  Talent/tests/Unit/V4beta1/CompletionClientTest.php
  Talent/tests/Unit/V4beta1/EventServiceClientTest.php
  Talent/tests/Unit/V4beta1/JobServiceClientTest.php
  Talent/tests/Unit/V4beta1/ProfileServiceClientTest.php
  Talent/tests/Unit/V4beta1/TenantServiceClientTest.php
Labels: api: talent, cla: yes

#2803 feat: reorder post policy method arguments
  Storage/src/Bucket.php
  Storage/tests/Snippet/BucketTest.php
  Storage/tests/System/PostPolicyTest.php
  Storage/tests/Unit/ConformanceTest.php
Labels: api: storage, cla: yes

#2795 feat: add get validation result method
  Dialogflow/metadata/V2/Agent.php
  Dialogflow/metadata/V2/AudioConfig.php
  Dialogflow/metadata/V2/Context.php
  Dialogflow/metadata/V2/EntityType.php
  Dialogflow/metadata/V2/Session.php
  Dialogflow/metadata/V2/SessionEntityType.php
  Dialogflow/metadata/V2/ValidationResult.php
  Dialogflow/src/V2/AgentsGrpcClient.php
  Dialogflow/src/V2/Context.php
  Dialogflow/src/V2/ContextsGrpcClient.php
  Dialogflow/src/V2/CreateContextRequest.php
  Dialogflow/src/V2/CreateSessionEntityTypeRequest.php
  Dialogflow/src/V2/DeleteAllContextsRequest.php
  Dialogflow/src/V2/DeleteContextRequest.php
  Dialogflow/src/V2/DeleteSessionEntityTypeRequest.php
  Dialogflow/src/V2/DetectIntentRequest.php
  Dialogflow/src/V2/EntityTypesGrpcClient.php
  Dialogflow/src/V2/EventInput.php
  Dialogflow/src/V2/Gapic/AgentsGapicClient.php
  Dialogflow/src/V2/Gapic/ContextsGapicClient.php
  Dialogflow/src/V2/Gapic/SessionEntityTypesGapicClient.php
  Dialogflow/src/V2/Gapic/SessionsGapicClient.php
  Dialogflow/src/V2/GetContextRequest.php
  Dialogflow/src/V2/GetSessionEntityTypeRequest.php
  Dialogflow/src/V2/GetValidationResultRequest.php
  Dialogflow/src/V2/InputAudioConfig.php
  Dialogflow/src/V2/Intent.php
  Dialogflow/src/V2/IntentsGrpcClient.php
  Dialogflow/src/V2/ListContextsRequest.php
  Dialogflow/src/V2/ListSessionEntityTypesRequest.php
  Dialogflow/src/V2/OutputAudioConfig.php
  Dialogflow/src/V2/QueryParameters.php
  Dialogflow/src/V2/SentimentAnalysisRequestConfig.php
  Dialogflow/src/V2/SessionEntityType.php
  Dialogflow/src/V2/SessionEntityTypesGrpcClient.php
  Dialogflow/src/V2/SessionsGrpcClient.php
  Dialogflow/src/V2/StreamingDetectIntentRequest.php
  Dialogflow/src/V2/UpdateSessionEntityTypeRequest.php
  Dialogflow/src/V2/ValidationError.php
  Dialogflow/src/V2/ValidationError/Severity.php
  Dialogflow/src/V2/ValidationError_Severity.php
  Dialogflow/src/V2/ValidationResult.php
  Dialogflow/src/V2/resources/agents_client_config.json
  Dialogflow/src/V2/resources/agents_rest_client_config.php
  Dialogflow/src/V2/resources/contexts_rest_client_config.php
  Dialogflow/src/V2/resources/session_entity_types_rest_client_config.php
  Dialogflow/src/V2/resources/sessions_rest_client_config.php
  Dialogflow/synth.metadata
  Dialogflow/tests/Unit/V2/AgentsClientTest.php
Labels: api: dialogflow, cla: yes

#2804 feat: add support for ramsey/uuid v4
  BigQuery/composer.json
  BigQuery/src/JobConfigurationTrait.php
  Firestore/composer.json
  Trace/composer.json
  Trace/src/Trace.php
  composer.json
Labels: cla: yes

#2800 chore: release 0.130.0
  BigQuery/VERSION
  BigQuery/src/BigQueryClient.php
  CHANGELOG.md
  Dialogflow/VERSION
  Firestore/VERSION
  Firestore/src/FirestoreClient.php
  Redis/VERSION
  ServiceDirectory/VERSION
  Storage/VERSION
  Storage/src/StorageClient.php
  Talent/VERSION
  Trace/VERSION
  Trace/src/TraceClient.php
  composer.json
  docs/manifest.json
  src/ServiceBuilder.php
  src/Version.php
Labels: autorelease: pending, cla: yes

#2805 feat: add formatting methods
  BigQueryDataTransfer/src/V1/Gapic/DataTransferServiceGapicClient.php
  BigQueryDataTransfer/synth.metadata
  BigQueryDataTransfer/tests/Unit/V1/DataTransferServiceClientTest.php
Labels: api: bigquerydatatransfer, cla: yes

#2786 chore: enable context-aware commits for one API
  Kms/synth.py
Labels: api: cloudkms, cla: yes

#2813 chore: remove CODEOWNERS
  docs/CODEOWNERS
Labels: cla: yes
