Repository googleapis/google-cloud-php, pull requests merged in 2022-12, with the labels that each got.

#5488 feat(datastore): adding support for multiple db
  Datastore/src/Connection/Grpc.php
  Datastore/src/DatastoreClient.php
  Datastore/src/DatastoreSessionHandler.php
  Datastore/src/DatastoreTrait.php
  Datastore/src/Key.php
  Datastore/src/Operation.php
  Datastore/tests/Snippet/DatastoreClientTest.php
  Datastore/tests/System/AllocateKeyTest.php
  Datastore/tests/System/CustomEntityTypeTest.php
  Datastore/tests/System/DatastoreMultipleDbTest.php
  Datastore/tests/System/DatastoreMultipleDbTestCase.php
  Datastore/tests/System/DatastoreSessionHandlerTest.php
  Datastore/tests/System/DatastoreTestCase.php
  Datastore/tests/System/QueryResultPaginationTest.php
  Datastore/tests/System/RunQueryTest.php
  Datastore/tests/System/RunTransactionTest.php
  Datastore/tests/System/SaveAndModifyTest.php
  Datastore/tests/Unit/DatastoreSessionHandlerTest.php
  Datastore/tests/Unit/DatastoreTraitTest.php
  Datastore/tests/Unit/KeyTest.php
  Datastore/tests/Unit/OperationTest.php
Labels: api: datastore

#5694 chore: use new samples in cloud RAD
  .github/snippet-bot.yml
  .kokoro/docs/publish.sh
  dev/src/DocFx/Command/DocFx.php
  dev/src/DocFx/Node/DocblockTrait.php
  dev/src/DocFx/Page/Page.php
  dev/src/DocFx/Page/PageTree.php
  dev/tests/Unit/DocFx/CommandTest.php
  dev/tests/Unit/DocFx/PageTest.php
  dev/tests/fixtures/component/Vision/.repo-metadata.json
  dev/tests/fixtures/component/Vision/README.md
  dev/tests/fixtures/component/Vision/composer.json
  dev/tests/fixtures/component/Vision/samples/V1/ImageAnnotatorClient/async_batch_annotate_files.php
  dev/tests/fixtures/component/Vision/samples/V1/ImageAnnotatorClient/async_batch_annotate_images.php
  dev/tests/fixtures/component/Vision/samples/V1/ImageAnnotatorClient/batch_annotate_files.php
  dev/tests/fixtures/component/Vision/samples/V1/ImageAnnotatorClient/batch_annotate_images.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/add_product_to_product_set.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/create_product.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/create_product_set.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/create_reference_image.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/delete_product.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/delete_product_set.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/delete_reference_image.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/get_product.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/get_product_set.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/get_reference_image.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/import_product_sets.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/list_product_sets.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/list_products.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/list_products_in_product_set.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/list_reference_images.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/purge_products.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/remove_product_from_product_set.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/update_product.php
  dev/tests/fixtures/component/Vision/samples/V1/ProductSearchClient/update_product_set.php
  dev/tests/fixtures/docfx/V1.ImageAnnotatorClient.yml
  dev/tests/fixtures/docfx/V1.ProductSearchClient.yml
Labels: samples

#5642 feat(Spanner): Support FGAC
  Spanner/src/Batch/BatchClient.php
  Spanner/src/Connection/Grpc.php
  Spanner/src/Database.php
  Spanner/src/Instance.php
  Spanner/src/Operation.php
  Spanner/src/Session/CacheSessionPool.php
  Spanner/src/SpannerClient.php
  Spanner/tests/Snippet/InstanceTest.php
  Spanner/tests/Snippet/Session/CacheSessionPoolTest.php
  Spanner/tests/Snippet/SpannerClientTest.php
  Spanner/tests/System/BatchTest.php
  Spanner/tests/System/OperationsTest.php
  Spanner/tests/System/SpannerTestCase.php
  Spanner/tests/System/TransactionTest.php
  Spanner/tests/Unit/Batch/BatchClientTest.php
  Spanner/tests/Unit/DatabaseTest.php
  Spanner/tests/Unit/InstanceTest.php
  Spanner/tests/Unit/Session/CacheSessionPoolTest.php
  Spanner/tests/Unit/SpannerClientTest.php
Labels: api: spanner, kokoro:force-run

#5695 fix(Storage): fix System\StreamWrapper\ImageTest
  Storage/tests/System/StreamWrapper/ImageTest.php
  Storage/tests/System/data/fujifilm-dx10.jpg
  Storage/tests/System/data/screenshot.png
Labels: api: storage

#5592 fix(datastore): query limit more than 300
  Datastore/src/Connection/Grpc.php
  Datastore/src/Operation.php
  Datastore/tests/System/QueryResultPaginationTest.php
Labels: api: datastore

#5728 chore(Storage): Fixed resumable uploads preconditions passing
  Storage/src/Connection/Rest.php
  Storage/tests/Unit/RetryConformanceTest.php
Labels: api: storage

#5726 fix(Translate): test failures addressed
  Translate/src/V2/TranslateClient.php
  Translate/tests/System/V2/TranslateTest.php
  Translate/tests/System/V3/TranslationServiceSmokeTest.php
Labels: api: translate

#5733 fix(Vision): relax strict asserts on SafeSearch likelihood param
  Vision/tests/System/AnnotationsTest.php
Labels: api: vision

#5735 fix(Logging): outputVersionFormat is deprecated
  Logging/tests/System/ManageSinksTest.php
Labels: api: logging

#5737 fix(Language): fix scores and migrate assertEquals to assertEqualsWithDelta
  Language/tests/System/AnalyzeTest.php
Labels: api: language
