Repository googleapis/google-cloud-php, pull requests merged in 2022-03, with the labels that each got.

#5082 feat(Spanner): Added dialect support while creating the database
  .github/workflows/spanner-emulator-system-tests.yaml
  Spanner/src/Database.php
  Spanner/tests/System/AdminTest.php
  Spanner/tests/Unit/DatabaseTest.php
Labels: api: spanner

#4732 feat(spanner): add copy backup feature
  Spanner/src/Backup.php
  Spanner/src/Connection/ConnectionInterface.php
  Spanner/src/Connection/Grpc.php
  Spanner/tests/Snippet/BackupTest.php
  Spanner/tests/System/BackupTest.php
  Spanner/tests/Unit/BackupTest.php
Labels: cla: yes, api: spanner

#5176 feat: introduce eventarc publishing
  EventarcPublishing/.OwlBot.yaml
  EventarcPublishing/.gitattributes
  EventarcPublishing/.github/pull_request_template.md
  EventarcPublishing/.repo-metadata.json
  EventarcPublishing/CODE_OF_CONDUCT.md
  EventarcPublishing/CONTRIBUTING.md
  EventarcPublishing/LICENSE
  EventarcPublishing/README.md
  EventarcPublishing/SECURITY.md
  EventarcPublishing/VERSION
  EventarcPublishing/composer.json
  EventarcPublishing/metadata/V1/Publisher.php
  EventarcPublishing/owlbot.py
  EventarcPublishing/phpunit-snippets.xml.dist
  EventarcPublishing/phpunit-system.xml.dist
  EventarcPublishing/phpunit.xml.dist
  EventarcPublishing/src/V1/Gapic/PublisherGapicClient.php
  EventarcPublishing/src/V1/PublishChannelConnectionEventsRequest.php
  EventarcPublishing/src/V1/PublishChannelConnectionEventsResponse.php
  EventarcPublishing/src/V1/PublisherClient.php
  EventarcPublishing/src/V1/PublisherGrpcClient.php
  EventarcPublishing/src/V1/gapic_metadata.json
  EventarcPublishing/src/V1/resources/publisher_client_config.json
  EventarcPublishing/src/V1/resources/publisher_descriptor_config.php
  EventarcPublishing/src/V1/resources/publisher_rest_client_config.php
  EventarcPublishing/tests/Unit/V1/PublisherClientTest.php
  docs/contents/cloud-eventarc-publishing.json
Labels: kokoro:force-run

#5177 feat: introduce ids
  Ids/.OwlBot.yaml
  Ids/.gitattributes
  Ids/.github/pull_request_template.md
  Ids/.repo-metadata.json
  Ids/CODE_OF_CONDUCT.md
  Ids/CONTRIBUTING.md
  Ids/LICENSE
  Ids/README.md
  Ids/SECURITY.md
  Ids/VERSION
  Ids/composer.json
  Ids/metadata/V1/Ids.php
  Ids/owlbot.py
  Ids/phpunit-snippets.xml.dist
  Ids/phpunit-system.xml.dist
  Ids/phpunit.xml.dist
  Ids/src/V1/CreateEndpointRequest.php
  Ids/src/V1/DeleteEndpointRequest.php
  Ids/src/V1/Endpoint.php
  Ids/src/V1/Endpoint/Severity.php
  Ids/src/V1/Endpoint/State.php
  Ids/src/V1/Gapic/IDSGapicClient.php
  Ids/src/V1/GetEndpointRequest.php
  Ids/src/V1/IDSClient.php
  Ids/src/V1/IDSGrpcClient.php
  Ids/src/V1/ListEndpointsRequest.php
  Ids/src/V1/ListEndpointsResponse.php
  Ids/src/V1/OperationMetadata.php
  Ids/src/V1/gapic_metadata.json
  Ids/src/V1/resources/ids_client_config.json
  Ids/src/V1/resources/ids_descriptor_config.php
  Ids/src/V1/resources/ids_rest_client_config.php
  Ids/tests/Unit/V1/IDSClientTest.php
  docs/contents/cloud-ids.json
Labels: kokoro:force-run
