Repository googleapis/google-cloud-php, pull requests merged in 2022-01, with the labels that each got.

#4543 feat: added methods/tests for enabling Turbo Replication.
  Storage/src/Connection/ServiceDefinition/storage-v1.json
  Storage/src/StorageClient.php
  Storage/tests/System/BucketRpoTest.php
Labels: api: storage, cla: yes

#5067 fix(storage): Added stream_set_option in StreamWrapper
  Storage/src/StreamWrapper.php
Labels: api: storage

#5068 chore: update digest for the new php owlbot image
  .github/.OwlBot.lock.yaml
Labels: automerge

#4982 feat: allow failure file env-var to prevent logging
  Core/src/Batch/HandleFailureTrait.php
Labels: automerge
