Repository googleapis/google-cloud-php, pull requests merged in 2022-06, with the labels that each got.

#4734 Fix deprecation notice when option is unset
  PubSub/src/Subscription.php
Labels: cla: yes

#5309 PubSub: (1/3) Added helper to retrieve temporarily failed ackIds
  PubSub/src/Subscription.php
Labels: api: pubsub

#5353 feat(Storage): Add OLM matchesPrefix and matchesSuffix
  Storage/src/Lifecycle.php
  Storage/tests/System/ManageBucketsTest.php
Labels: api: storage
