Repository googleapis/google-cloud-php, pull requests merged in 2022-11, with the labels that each got.

#5524 fix(storage): seeking object before file creation
  Storage/src/StorageObject.php
  Storage/tests/System/ManageObjectsTest.php
  Storage/tests/Unit/StorageObjectTest.php
Labels: api: storage

#5582 feat(storage): adding tests for autoclass
  Storage/src/Bucket.php
  Storage/src/StorageClient.php
  Storage/tests/System/ManageBucketsTest.php
  Storage/tests/Unit/BucketTest.php
Labels: api: storage

#4690 feat: add support for self-signed JWTs in handwritten client libraries
  Core/src/RequestWrapperTrait.php
  Core/tests/Unit/RequestWrapperTest.php
  Storage/src/Connection/Rest.php
Labels: cla: yes

#5597 chore: add name attr in phpunit config testsuite
  AccessApproval/phpunit.xml.dist
Labels: api: accessapproval

#5395 feat(firestore): [3/N] adds BulkWriter tests
  Firestore/src/BulkWriter.php
  Firestore/src/FirestoreClient.php
  Firestore/src/RateLimiter.php
  Firestore/tests/Snippet/BulkWriterTest.php
  Firestore/tests/System/BulkWriterTest.php
  Firestore/tests/System/CollectionGroupTest.php
  Firestore/tests/Unit/BulkWriterTest.php
Labels: api: firestore

#5381 feat(firestore): [2/N] adds RateLimiter to BulkWriter
  Firestore/src/BulkWriter.php
  Firestore/src/FirestoreClient.php
  Firestore/src/RateLimiter.php
  Firestore/tests/Snippet/BulkWriterTest.php
  Firestore/tests/System/BulkWriterTest.php
  Firestore/tests/System/CollectionGroupTest.php
  Firestore/tests/Unit/BulkWriterTest.php
  Firestore/tests/Unit/RateLimiterTest.php
Labels: api: firestore

#5376 feat(firestore): [1/N] adds Bulkwriter support to Firestore client
  Firestore/src/BulkWriter.php
  Firestore/src/Connection/ConnectionInterface.php
  Firestore/src/Connection/Grpc.php
  Firestore/src/FirestoreClient.php
  Firestore/src/RateLimiter.php
  Firestore/src/Transaction.php
  Firestore/src/WriteBatch.php
  Firestore/tests/Snippet/BulkWriterTest.php
  Firestore/tests/System/BulkWriterTest.php
  Firestore/tests/System/CollectionGroupTest.php
  Firestore/tests/Unit/BulkWriterTest.php
  Firestore/tests/Unit/RateLimiterTest.php
  docs/contents/cloud-firestore.json
  phpcs-ruleset.xml
Labels: api: firestore
