Repository googleapis/google-cloud-php, pull requests merged in 2022-08, with the labels that each got.

#5421 feat(bigtable): implementing actionable errors
  Bigtable/composer.json
  Bigtable/src/Table.php
  Bigtable/tests/Unit/TableTest.php
  composer.json
Labels: api: bigtable

#5315 feat(PubSub): (2/3)Retry temp failures in acknowledge methods
  PubSub/src/Subscription.php
  PubSub/tests/System/PublishAndPullTest.php
  PubSub/tests/Unit/SubscriptionTest.php
Labels: api: pubsub

#5458 fix(firestore): Fixing Firestore emulator tests
  Firestore/tests/Snippet/FieldValueTest.php
Labels: api: firestore

#5455 chore(datastore): update service discovery
  Datastore/src/Connection/ServiceDefinition/datastore-v1.json
Labels: api: datastore
