Repository googleapis/google-cloud-php, pull requests merged in 2022-10, with the labels that each got.

#5482 feat(Spanner): Add support for PG JSONB
  Spanner/src/Database.php
  Spanner/src/PgJsonb.php
  Spanner/src/SpannerClient.php
  Spanner/src/ValueMapper.php
  Spanner/tests/Snippet/PgJsonbTest.php
  Spanner/tests/Snippet/SpannerClientTest.php
  Spanner/tests/System/PgQueryTest.php
  Spanner/tests/System/PgReadTest.php
  Spanner/tests/System/PgWriteTest.php
  Spanner/tests/Unit/ArrayTypeTest.php
  Spanner/tests/Unit/PgJsonbTest.php
  Spanner/tests/Unit/SpannerClientTest.php
  Spanner/tests/Unit/ValueMapperTest.php
Labels: api: spanner

#5543 chore(Spanner): Removed JSONB array system tests
  Spanner/tests/System/PgWriteTest.php
Labels: api: spanner

#5487 feat(storage): adding tests for autoclass
  Storage/src/Bucket.php
  Storage/src/StorageClient.php
  Storage/tests/System/ManageBucketsTest.php
  Storage/tests/Unit/BucketTest.php
Labels: do not merge, api: storage

#5568 revert: feat(storage): adding tests for autoclass
  Storage/src/Bucket.php
  Storage/src/StorageClient.php
  Storage/tests/System/ManageBucketsTest.php
  Storage/tests/Unit/BucketTest.php
Labels: api: storage
