Repository googleapis/google-cloud-php, pull requests merged in 2023-11, with the labels that each got.

#6766 chore(Firestore): Update Emulator Version
  .github/workflows/firestore-emulator-system-tests.yaml
Labels: api: firestore

#6771 chore(Firestore): fix test warnings / notices
  Firestore/src/Query.php
  Firestore/tests/System/BulkWriterTest.php
  Firestore/tests/Unit/SnapshotTraitTest.php
  Firestore/tests/Unit/TransactionTest.php
Labels: api: firestore

#6752 feat: [Storage] upgrade service definition
  Storage/src/Connection/ServiceDefinition/storage-v1.json
Labels: api: storage

#6777 chore: fix GkeHub copy config
  GkeHub/owlbot.py
Labels: next release

#6557 feat(Firestore): SUM / AVG aggregation feature
  Firestore/src/Aggregate.php
  Firestore/src/AggregateQuerySnapshot.php
  Firestore/src/Query.php
  Firestore/tests/System/AggregateQueryTest.php
  Firestore/tests/System/TransactionTest.php
  Firestore/tests/Unit/AggregateQueryTest.php
  Firestore/tests/Unit/AggregateTest.php
  Firestore/tests/Unit/QueryTest.php
  Firestore/tests/Unit/TransactionTest.php
Labels: api: firestore

#6773 feat(dev): add command to update composer deps
  .github/run-package-tests.sh
  ContainerAnalysis/composer.json
  Debugger/composer.json
  ShoppingMerchantReports/composer.json
  Trace/composer.json
  Translate/composer.json
  dev/google-cloud
  dev/sh/bump-dep.sh
  dev/src/Command/ComponentInfoCommand.php
  dev/src/Command/UpdateDepsCommand.php
  dev/tests/Unit/Command/UpdateDepsCommandTest.php
Labels: next release

#6811 chore(Datastore): Update Service Definition to revision 20231103
  Datastore/src/Connection/ServiceDefinition/datastore-v1.json
Labels: api: datastore
