Repository googleapis/google-cloud-php, pull requests merged in 2023-12, with the labels that each got.

#6834 fix(ci): splitsh compile in release job
  .github/workflows/release.yml
  dev/sh/compile-splitsh
  dev/src/Command/SplitCommand.php
  dev/src/SplitInstall.php
  dev/tests/Unit/SplitInstallTest.php
Labels: next release

#6853 chore: add missing readme links
  Config/README.md
  PolicyTroubleshooterIam/README.md
Labels: next release

#6829 feat(Storage): support object retention lock
  Storage/src/Bucket.php
  Storage/src/Connection/Rest.php
  Storage/src/StorageClient.php
  Storage/src/StorageObject.php
  Storage/tests/System/ManageObjectsTest.php
Labels: api: storage, next release

#6902 chore(ci): add php 8.3
  .github/workflows/tests.yaml
Labels: next release

#6896 fix(Core): update minimum google/auth version
  Core/composer.json
Labels: next release

#6897 chore(Firestore): database option in FirestoreClient phpdoc
  Firestore/src/FirestoreClient.php
Labels: api: firestore, next release
