Repository googleapis/google-cloud-php, pull requests merged in 2023-01, with the labels that each got.

#5753 chore(VideoIntelligence): fixing test resource link
  VideoIntelligence/tests/System/V1/VideoIntelligenceServiceClientTest.php
Labels: api: videointelligence

#5758 fix(Spanner): Spanner test fixes
  Spanner/tests/System/BackupTest.php
Labels: api: spanner

#5754 chore: tests should use correct keys
  BigQuery/tests/System/ManageTablesTest.php
  Storage/tests/System/RequesterPaysTest.php
Labels: api: storage

#5743 chore(Storage): reduce storage tests runtime
  Core/src/Testing/System/SystemTestCase.php
  Storage/tests/System/ManageBucketsTest.php
Labels: api: storage

#5741 feat(Storage): GCS Retry Invocation ID header
  Core/src/ExponentialBackoff.php
  Core/src/RequestWrapper.php
  Core/src/RestTrait.php
  Storage/composer.json
  Storage/src/Connection/Rest.php
Labels: api: storage

#5755 chore(Storage): fix UrlStatTest::testIsExecutable
  Storage/tests/System/StreamWrapper/UrlStatTest.php
Labels: api: storage

#5769 chore(Spanner): Add JSONB Array system tests
  Spanner/tests/System/PgWriteTest.php
Labels: api: spanner

#5731 feat(Storage): GCS Retry Strategy options
  Storage/src/Connection/RetryTrait.php
  Storage/tests/Unit/Connection/RestTest.php
  Storage/tests/Unit/RetryConformanceTest.php
Labels: api: storage

#5734 feat(Datastore): Add snapshot read feature
  Datastore/src/Connection/Rest.php
  Datastore/src/DatastoreClient.php
  Datastore/src/Operation.php
  Datastore/tests/Snippet/DatastoreClientTest.php
  Datastore/tests/System/DatastoreTestCase.php
  Datastore/tests/System/LookupTest.php
  Datastore/tests/System/RunQueryTest.php
  Datastore/tests/System/RunTransactionTest.php
  Datastore/tests/Unit/DatastoreClientTest.php
  Datastore/tests/Unit/TransactionTest.php
Labels: api: datastore

#5782 feat(Core): add retryFunction in Rest/Grpc traits
  Core/src/GrpcRequestWrapper.php
  Core/src/GrpcTrait.php
  Core/src/RestTrait.php
  Core/tests/Unit/GrpcRequestWrapperTest.php
  Core/tests/Unit/GrpcTraitTest.php
  Core/tests/Unit/RestTraitTest.php
Labels: api: core

#5725 feat(Storage): Added resumable downloads in GCS.
  Core/src/ExponentialBackoff.php
  Core/src/RequestWrapper.php
  Core/src/RestTrait.php
  Storage/composer.json
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
  Storage/src/StorageObject.php
  Storage/tests/Snippet/StorageObjectTest.php
  Storage/tests/Unit/RetryConformanceTest.php
  Storage/tests/Unit/StorageObjectTest.php
Labels: api: storage

#5779 chore(Compute): fix System tests
  Compute/tests/System/V1/PaginationTest.php
Labels: api: compute

#5781 chore(Spanner): fix system tests
  Spanner/tests/System/BackupTest.php
  Spanner/tests/System/SpannerTestCase.php
Labels: api: spanner

#5804 feat(BigQuery): Snapshots / Clones
  BigQuery/src/Table.php
  BigQuery/tests/System/ManageTablesTest.php
  BigQuery/tests/Unit/TableTest.php
Labels: api: bigquery

#5807 fix(Firestore): SnapshotTrait getSnapshot method
  Firestore/src/Connection/Grpc.php
  Firestore/tests/System/DocumentAndCollectionTest.php
  Firestore/tests/Unit/Connection/GrpcTest.php
Labels: api: firestore

#5730 feat(Storage): GCS Retry- object uploads
  Core/src/Upload/AbstractUploader.php
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
  Storage/tests/Unit/Connection/RestTest.php
Labels: api: storage

#5801 fix: [Datastore] correct timestamp type
  Datastore/src/Connection/Rest.php
  Datastore/src/DatastoreClient.php
  Datastore/src/Operation.php
  Datastore/tests/Snippet/DatastoreClientTest.php
  Datastore/tests/System/LookupTest.php
  Datastore/tests/System/RunQueryTest.php
  Datastore/tests/System/RunTransactionTest.php
  Datastore/tests/Unit/DatastoreClientTest.php
  Datastore/tests/Unit/TransactionTest.php
Labels: api: datastore, release blocking

#5821 chore: update api_shortname for repo-metadata.json
  BigQuery/.repo-metadata.json
  LongRunning/.repo-metadata.json
  Storage/.repo-metadata.json
Labels: release blocking

#5826 fix: [Datastore] query limit fails for string limit
  Datastore/src/Connection/Grpc.php
  Datastore/tests/System/QueryResultPaginationTest.php
Labels: api: datastore
