Repository googleapis/google-cloud-php, pull requests merged in 2023-07, with the labels that each got.

#6407 feat(Storage): Add support for matchGlob listObjects parameter
  Storage/src/Bucket.php
  Storage/tests/System/ManageObjectsTest.php
Labels: type: feature request, api: storage

#6409 chore: remove assertFileNotExists
  Storage/tests/System/StreamWrapper/DirectoryTest.php
  Storage/tests/System/StreamWrapper/WriteTest.php
Labels: api: storage, priority: p3

#6423 fix(PubSub): Order of common batch property setting
  PubSub/src/BatchPublisher.php
Labels: type: bug, api: pubsub, priority: p1

#6238 feat(dev): more features for component-info command
  dev/composer.json
  dev/src/Command/ComponentInfoCommand.php
  dev/src/Command/DocFxCommand.php
  dev/src/Command/SplitCommand.php
  dev/src/Component.php
  dev/src/ComponentPackage.php
  dev/src/ComponentVersionTrait.php
  dev/tests/Unit/Command/ComponentInfoCommandTest.php
  dev/tests/Unit/ComponentTest.php
Labels: type: feature request, priority: p2, next release

#6214 feat(dev): add repo info command
  dev/google-cloud
  dev/src/Command/RepoInfoCommand.php
Labels: priority: p2, next release

#6381 feat(dev): automatically submit new packages to packagist
  .github/workflows/release.yml
  dev/src/Command/SplitCommand.php
  dev/src/Packagist.php
Labels: next release

#6417 fix(PubSub): publisher compression type
  PubSub/src/BatchPublisher.php
  PubSub/src/Topic.php
Labels: api: pubsub, next release

#6443 fix(BigQuery): return description for QueryResults->job()
  BigQuery/src/QueryResults.php
Labels: api: bigquery, type: docs, priority: p3

#6465 chore(pubsub): Update Pubsub service definition file for REST calls
  PubSub/src/Connection/ServiceDefinition/pubsub-v1.json
  PubSub/tests/System/ManageSubscriptionsTest.php
  PubSub/tests/System/PublishAndPullTest.php
  PubSub/tests/System/SchemaTest.php
Labels: api: pubsub

#6475 fix(Firestore): Custom Multiple Db routing headers
  Firestore/src/Connection/Grpc.php
  Firestore/tests/System/FirestoreMultipleDbTest.php
  Firestore/tests/System/FirestoreTestCase.php
  Firestore/tests/Unit/Connection/GrpcTest.php
Labels: api: firestore

#6503 feat(ci): require BREAKING_CHANGE_REASON for breaking labels
  .github/workflows/backwards-compatibility-check.yaml
Labels: next release

#6500 chore: revert document AI to pre-2.0
  DocumentAi/VERSION
  composer.json
Labels: release blocking

#5656 feat(ErrorReporting): Generate HttpRequestContext for log context.
  ErrorReporting/src/Bootstrap.php
  ErrorReporting/tests/Unit/BootstrapTest.php
Labels: api: clouderrorreporting
