Repository googleapis/google-cloud-php, pull requests merged in 2023-08, with the labels that each got.

#6482 feat(PubSub): Add CloudStorageConfig to subscribe function
  PubSub/src/Connection/Grpc.php
  PubSub/src/Subscription.php
  PubSub/tests/System/ManageSubscriptionsTest.php
  PubSub/tests/Unit/SubscriptionTest.php
Labels: api: pubsub

#6523 feat(dev): fix packagist submission and add webhook
  dev/src/Command/SplitCommand.php
  dev/src/GitHub.php
  dev/src/Packagist.php
Labels: release blocking, next release

#6528 fix(Core): Fix Batch failure file's content with end of line character.
  Core/src/Batch/HandleFailureTrait.php
  Core/src/Batch/Retry.php
  Core/tests/System/Batch/BatchRunnerTest.php
  Core/tests/Unit/Batch/HandleFailureTraitTest.php
  Core/tests/Unit/Batch/RetryTest.php
Labels: api: core, priority: p2, semver: patch

#6579 chore(BigQuery): phpdoc for QueryResults
  BigQuery/src/QueryResults.php
Labels: api: bigquery

#6587 chore(Notebooks): Introduce V2 in Owlbot yaml file
  Notebooks/.OwlBot.yaml
Labels: api: notebooks

#6536 feat(dev): ensure repo settings are compliant for new repos
  dev/src/Command/RepoInfoCommand.php
  dev/src/Command/SplitCommand.php
  dev/src/GitHub.php
Labels: next release

#5651 chore(Bigtable): Copy Backup
  Bigtable/tests/System/BackupTests.php
Labels: api: bigtable

#6592 chore(Spanner): rename print_R to print_r
  Spanner/tests/System/BackupTest.php
Labels: api: spanner

#6593 chore(Vision): rename print_R to print_r
  Vision/src/Annotation/Face.php
Labels: api: vision

#6573 chore(BigQuery): Update service definition file
  BigQuery/src/Connection/ServiceDefinition/bigquery-v2.json
Labels: api: bigquery
