Repository googleapis/google-cloud-php, pull requests merged in 2023-09, with the labels that each got.

#6576 feat(BigQuery): Enable session in load job
  BigQuery/src/LoadJobConfiguration.php
  BigQuery/tests/Snippet/LoadJobConfigurationTest.php
  BigQuery/tests/System/LoadDataAndQueryTest.php
  BigQuery/tests/Unit/BigQueryClientTest.php
  BigQuery/tests/Unit/LoadJobConfigurationTest.php
Labels: api: bigquery

#6624 chore(Storage): fix see tags in phpdoc
  Storage/src/Acl.php
  Storage/src/Bucket.php
  Storage/src/HmacKey.php
  Storage/src/Lifecycle.php
  Storage/src/Notification.php
  Storage/src/ObjectIterator.php
  Storage/src/ObjectPageIterator.php
  Storage/src/SigningHelper.php
  Storage/src/StorageClient.php
  Storage/src/StorageObject.php
Labels: api: storage

#6621 feat(BigQuery): Enable Reference File Schema Uri
  BigQuery/src/LoadJobConfiguration.php
  BigQuery/tests/Snippet/LoadJobConfigurationTest.php
  BigQuery/tests/System/ManageTablesTest.php
  BigQuery/tests/Unit/LoadJobConfigurationTest.php
Labels: api: bigquery

#6628 feat(dev): add see tags to method content
  dev/src/DocFx/Node/MethodNode.php
  dev/tests/Unit/DocFx/NodeTest.php
Labels: next release

#6629 chore(docs): fix see tags in PubSub phpdoc
  PubSub/src/BatchPublisher.php
  PubSub/src/Message.php
  PubSub/src/PubSubClient.php
  PubSub/src/Schema.php
  PubSub/src/Subscription.php
  PubSub/src/Topic.php
Labels: api: pubsub, next release

#6630 fix(dev): mutliple code blocks in phpdoc
  dev/src/DocFx/Node/FencedCodeBlockTrait.php
  dev/tests/Unit/DocFx/NodeTest.php
  dev/tests/fixtures/docfx/Vision/V1.ImageAnnotatorClient.yml
Labels: next release

#6640 chore(docs): use unordered lists for see tags
  dev/src/DocFx/Node/MethodNode.php
  dev/tests/Unit/DocFx/NodeTest.php
Labels: next release
