Repository googleapis/google-cloud-php, pull requests merged in 2023-03, with the labels that each got.

#5740 feat(Storage): Add conformance testing with github workflows.
  .github/workflows/storage-emulator-retry-conformance-tests.yaml
  Storage/phpunit-conformance.xml.dist
  Storage/tests/Conformance/RetryConformanceTest.php
  Storage/tests/Conformance/data/retry_tests.json
Labels: api: storage

#5930 chore: [Spanner] remove postprocessing code in favor of gapic fix
  Spanner/owlbot.py
Labels: next release

#5953 feat(Storage): Adding unit tests for GCS Retry
  Core/src/ExponentialBackoff.php
  Core/tests/Unit/ExponentialBackoffTest.php
  Core/tests/Unit/RequestWrapperTest.php
  Core/tests/Unit/Upload/ResumableUploaderTest.php
  Storage/src/Connection/Rest.php
  Storage/tests/Conformance/RetryConformanceTest.php
  Storage/tests/Unit/Connection/RestTest.php
Labels: api: storage, breaking change allowed

#5941 fix(Spanner): default creator role is empty str
  Spanner/src/Batch/BatchClient.php
  Spanner/src/Database.php
  Spanner/src/Instance.php
  Spanner/src/Operation.php
  Spanner/src/Session/CacheSessionPool.php
Labels: api: spanner, breaking change allowed

#5995 chore(ci): continue unit tests on error
  .github/workflows/tests.yaml
Labels: automerge

#5942 feat: introduce KmsInventory
  KmsInventory/.OwlBot.yaml
  KmsInventory/.gitattributes
  KmsInventory/.github/pull_request_template.md
  KmsInventory/.repo-metadata.json
  KmsInventory/CONTRIBUTING.md
  KmsInventory/LICENSE
  KmsInventory/README.md
  KmsInventory/VERSION
  KmsInventory/composer.json
  KmsInventory/metadata/V1/KeyDashboardService.php
  KmsInventory/metadata/V1/KeyTrackingService.php
  KmsInventory/owlbot.py
  KmsInventory/phpunit.xml.dist
  KmsInventory/samples/V1/KeyDashboardServiceClient/list_crypto_keys.php
  KmsInventory/samples/V1/KeyTrackingServiceClient/get_protected_resources_summary.php
  KmsInventory/samples/V1/KeyTrackingServiceClient/search_protected_resources.php
  KmsInventory/src/V1/Gapic/KeyDashboardServiceGapicClient.php
  KmsInventory/src/V1/Gapic/KeyTrackingServiceGapicClient.php
  KmsInventory/src/V1/GetProtectedResourcesSummaryRequest.php
  KmsInventory/src/V1/KeyDashboardServiceClient.php
  KmsInventory/src/V1/KeyTrackingServiceClient.php
  KmsInventory/src/V1/ListCryptoKeysRequest.php
  KmsInventory/src/V1/ListCryptoKeysResponse.php
  KmsInventory/src/V1/ProtectedResource.php
  KmsInventory/src/V1/ProtectedResourcesSummary.php
  KmsInventory/src/V1/SearchProtectedResourcesRequest.php
  KmsInventory/src/V1/SearchProtectedResourcesResponse.php
  KmsInventory/src/V1/gapic_metadata.json
  KmsInventory/src/V1/resources/key_dashboard_service_client_config.json
  KmsInventory/src/V1/resources/key_dashboard_service_descriptor_config.php
  KmsInventory/src/V1/resources/key_dashboard_service_rest_client_config.php
  KmsInventory/src/V1/resources/key_tracking_service_client_config.json
  KmsInventory/src/V1/resources/key_tracking_service_descriptor_config.php
  KmsInventory/src/V1/resources/key_tracking_service_rest_client_config.php
  KmsInventory/tests/Unit/V1/KeyDashboardServiceClientTest.php
  KmsInventory/tests/Unit/V1/KeyTrackingServiceClientTest.php
  composer.json
Labels: next release

#5958 chore(tests): require BREAKING_CHANGE_REASON when using "breaking change allowed" label
  .github/workflows/backwards-compatibility-check.yaml
Labels: next release

#6017 chore(Firestore): Upgrading emulator to latest.
  .github/workflows/firestore-emulator-system-tests.yaml
Labels: api: firestore
