Repository googleapis/google-cloud-php, pull requests merged in 2023-04, with the labels that each got.

#6025 chore(Core): Adding TimestampTrait to Core
  Core/src/TimestampTrait.php
  Core/tests/Unit/TimestampTraitTest.php
Labels: type: feature request, api: core

#6018 chore(Firestore): refactor read time logic
  Firestore/src/CollectionReference.php
  Firestore/src/DocumentReference.php
  Firestore/src/FirestoreClient.php
  Firestore/src/Query.php
  Firestore/src/SnapshotTrait.php
Labels: api: firestore

#6026 chore(datastore): refactor read time logic
  Datastore/src/Operation.php
Labels: type: feature request, api: datastore

#5787 fix(Spanner): add wait for deleteSessionAsync
  Spanner/src/Session/CacheSessionPool.php
  Spanner/tests/Unit/Session/CacheSessionPoolTest.php
Labels: api: spanner

#5938 fix(Spanner): add retry for RST_STREAM
  .github/workflows/spanner-emulator-system-tests.yaml
  Spanner/composer.json
  Spanner/src/Database.php
  Spanner/tests/Unit/DatabaseTest.php
Labels: api: spanner

#5981 fix: add capture and log strings to switch statement
  Debugger/src/Agent.php
Labels: next release

#6050 chore(Datastore): Remove duplicate cloud-core dependency
  Datastore/composer.json
Labels: api: datastore

#6055 chore(Storage): Remove RequestTrait and related logic
  Core/src/ExponentialBackoff.php
  Core/src/RequestTrait.php
  Core/src/RequestWrapper.php
  Core/src/RestTrait.php
  Core/tests/RequestTraitTest.php
  Storage/src/Connection/Rest.php
  Storage/src/StorageObject.php
Labels: api: storage

#6007 feat(Firestore): Add support for Query OR operator
  Firestore/src/Filter.php
  Firestore/src/Query.php
  Firestore/tests/Snippet/FilterTest.php
  Firestore/tests/Snippet/QueryTest.php
  Firestore/tests/System/QueryTest.php
  Firestore/tests/Unit/FilterTest.php
  Firestore/tests/Unit/QueryTest.php
Labels: api: firestore

#5980 feat: add metadata provider for cloud run
  Core/src/Report/CloudRunMetadataProvider.php
  Core/src/Report/MetadataProviderUtils.php
  Core/tests/Unit/Report/CloudRunMetadataProviderTest.php
Labels: next release

#5867 feat(datastore): adding aggregate query count
  Datastore/src/Connection/ConnectionInterface.php
  Datastore/src/Connection/Grpc.php
  Datastore/src/Connection/Rest.php
  Datastore/src/DatastoreClient.php
  Datastore/src/Operation.php
  Datastore/src/Query/Aggregation.php
  Datastore/src/Query/AggregationQuery.php
  Datastore/src/Query/AggregationQueryResult.php
  Datastore/src/Query/GqlQuery.php
  Datastore/src/Query/Query.php
  Datastore/src/Query/QueryTrait.php
  Datastore/src/TransactionTrait.php
  Datastore/tests/Snippet/DatastoreClientTest.php
  Datastore/tests/Snippet/Query/AggregationQueryTest.php
  Datastore/tests/Snippet/TransactionTest.php
  Datastore/tests/System/DatastoreMultipleDbTest.php
  Datastore/tests/System/RunQueryTest.php
  Datastore/tests/System/RunTransactionTest.php
  Datastore/tests/Unit/DatastoreClientTest.php
  Datastore/tests/Unit/Query/AggregationQueryResultTest.php
  Datastore/tests/Unit/Query/AggregationQueryTest.php
  Datastore/tests/Unit/Query/AggregationTest.php
  Datastore/tests/Unit/TransactionTest.php
Labels: api: datastore, breaking change allowed

#5885 feat(firestore): adding aggregate query count
  Firestore/src/Aggregate.php
  Firestore/src/AggregateQuery.php
  Firestore/src/AggregateQuerySnapshot.php
  Firestore/src/Connection/ConnectionInterface.php
  Firestore/src/Connection/Grpc.php
  Firestore/src/FirestoreClient.php
  Firestore/src/Query.php
  Firestore/src/QueryTrait.php
  Firestore/src/SnapshotTrait.php
  Firestore/src/Transaction.php
  Firestore/tests/Snippet/FieldValueTest.php
  Firestore/tests/Snippet/FirestoreClientTest.php
  Firestore/tests/Snippet/QueryTest.php
  Firestore/tests/Snippet/TransactionTest.php
  Firestore/tests/System/AggregateQueryTest.php
  Firestore/tests/System/TransactionTest.php
  Firestore/tests/Unit/AggregateQuerySnapshotTest.php
  Firestore/tests/Unit/AggregateQueryTest.php
  Firestore/tests/Unit/AggregateTest.php
  Firestore/tests/Unit/QueryTest.php
  Firestore/tests/Unit/TransactionTest.php
Labels: api: firestore, breaking change allowed

#6093 fix: remove Datastore QueryTrait
  Datastore/src/Query/AggregationQuery.php
  Datastore/src/Query/GqlQuery.php
  Datastore/src/Query/Query.php
  Datastore/src/Query/QueryTrait.php
Labels: breaking change allowed

#6098 chore(Firestore): refactor for QueryTrait
  Firestore/src/AggregateQuery.php
  Firestore/src/Query.php
  Firestore/src/QueryTrait.php
  Firestore/tests/Unit/AggregateQueryTest.php
Labels: api: firestore

#5957 fix: add internal descriptor override
  BigQueryStorage/composer.json
  BigQueryStorage/metadata/descriptor_fix.php
  composer.json
Labels: next release

#6111 feat(Firestore): Add Query Operator NOT_IN
  Firestore/src/Query.php
  Firestore/tests/System/QueryTest.php
  Firestore/tests/Unit/QueryTest.php
Labels: type: feature request, api: firestore, next release

#5637 feat(Storage): Add retry conformance tests
  .github/workflows/storage-emulator-retry-conformance-tests.yaml
  Core/src/ExponentialBackoff.php
  Core/src/RequestWrapper.php
  Core/src/RestTrait.php
  Core/src/Upload/AbstractUploader.php
  Core/tests/Unit/ExponentialBackoffTest.php
  Core/tests/Unit/RequestWrapperTest.php
  Core/tests/Unit/Upload/ResumableUploaderTest.php
  Storage/composer.json
  Storage/phpunit-conformance.xml.dist
  Storage/src/Connection/Rest.php
  Storage/src/Connection/RetryTrait.php
  Storage/src/StorageClient.php
  Storage/src/StorageObject.php
  Storage/tests/Conformance/RetryConformanceTest.php
  Storage/tests/Conformance/data/retry_tests.json
  Storage/tests/Snippet/StorageObjectTest.php
  Storage/tests/Unit/Connection/RestTest.php
  Storage/tests/Unit/Connection/RetryTraitTest.php
  Storage/tests/Unit/StorageObjectTest.php
Labels: api: storage, release blocking, next release

#6112 chore(docs): fix docs gen
  .kokoro/docs/docker/Dockerfile
  .kokoro/docs/publish.sh
Labels: release blocking

#6116 chore(BigQuery): add default value expressions test
  BigQuery/tests/Snippet/QueryResultsTest.php
  BigQuery/tests/System/LoadDataAndQueryTest.php
  BigQuery/tests/System/data/table-schema.json
Labels: api: bigquery
