Repository googleapis/google-cloud-php, pull requests merged in 2024-04, with the labels that each got.

#7198 chore(Translate): fix system tests
  Translate/tests/System/V2/TranslateTest.php
  Translate/tests/System/V3/TranslationServiceSmokeTest.php
Labels: api: translate

#7199 chore(Storage): fix system tests
  Storage/tests/System/StreamWrapper/UrlStatTest.php
Labels: api: storage

#7206 chore(Storage): fix IAM system tests
  Storage/tests/System/IamTest.php
Labels: api: storage

#7201 chore: add compatibility for Protobuf v4
  CommonProtos/composer.json
  ShoppingCommonProtos/composer.json
Labels: next release

#7207 chore(Storage): fix risky test Requester Pays Test
  Storage/tests/System/RequesterPaysTest.php
Labels: api: storage

#6764 feat(logging): add trace to logging on cloud run
  Core/src/Report/CloudRunMetadataProvider.php
  Core/tests/Unit/Report/CloudRunMetadataProviderTest.php
  Logging/composer.json
  Logging/src/PsrLogger.php
  Logging/tests/Unit/PsrLoggerBatchTest.php
Labels: api: logging, next release

#7245 feat: introduce StorageControl
  StorageControl/.OwlBot.yaml
  StorageControl/.gitattributes
  StorageControl/.github/pull_request_template.md
  StorageControl/.repo-metadata.json
  StorageControl/CONTRIBUTING.md
  StorageControl/LICENSE
  StorageControl/README.md
  StorageControl/VERSION
  StorageControl/composer.json
  StorageControl/metadata/V2/StorageControl.php
  StorageControl/owlbot.py
  StorageControl/phpunit.xml.dist
  StorageControl/samples/V2/StorageControlClient/create_folder.php
  StorageControl/samples/V2/StorageControlClient/create_managed_folder.php
  StorageControl/samples/V2/StorageControlClient/delete_folder.php
  StorageControl/samples/V2/StorageControlClient/delete_managed_folder.php
  StorageControl/samples/V2/StorageControlClient/get_folder.php
  StorageControl/samples/V2/StorageControlClient/get_managed_folder.php
  StorageControl/samples/V2/StorageControlClient/get_storage_layout.php
  StorageControl/samples/V2/StorageControlClient/list_folders.php
  StorageControl/samples/V2/StorageControlClient/list_managed_folders.php
  StorageControl/samples/V2/StorageControlClient/rename_folder.php
  StorageControl/src/V2/Client/StorageControlClient.php
  StorageControl/src/V2/CommonLongRunningOperationMetadata.php
  StorageControl/src/V2/CreateFolderRequest.php
  StorageControl/src/V2/CreateManagedFolderRequest.php
  StorageControl/src/V2/DeleteFolderRequest.php
  StorageControl/src/V2/DeleteManagedFolderRequest.php
  StorageControl/src/V2/Folder.php
  StorageControl/src/V2/GetFolderRequest.php
  StorageControl/src/V2/GetManagedFolderRequest.php
  StorageControl/src/V2/GetStorageLayoutRequest.php
  StorageControl/src/V2/ListFoldersRequest.php
  StorageControl/src/V2/ListFoldersResponse.php
  StorageControl/src/V2/ListManagedFoldersRequest.php
  StorageControl/src/V2/ListManagedFoldersResponse.php
  StorageControl/src/V2/ManagedFolder.php
  StorageControl/src/V2/PendingRenameInfo.php
  StorageControl/src/V2/RenameFolderMetadata.php
  StorageControl/src/V2/RenameFolderRequest.php
  StorageControl/src/V2/StorageLayout.php
  StorageControl/src/V2/StorageLayout/CustomPlacementConfig.php
  StorageControl/src/V2/StorageLayout/HierarchicalNamespace.php
  StorageControl/src/V2/gapic_metadata.json
  StorageControl/src/V2/resources/storage_control_client_config.json
  StorageControl/src/V2/resources/storage_control_descriptor_config.php
  StorageControl/tests/Unit/V2/Client/StorageControlClientTest.php
  composer.json
Labels: next release

#7264 chore: fix docs url for google/apps-chat
  AppsChat/.repo-metadata.json
Labels: next release

#7269 feat: Introduce ShoppingMerchantConversions
  ShoppingMerchantConversions/.OwlBot.yaml
  ShoppingMerchantConversions/.gitattributes
  ShoppingMerchantConversions/.github/pull_request_template.md
  ShoppingMerchantConversions/.repo-metadata.json
  ShoppingMerchantConversions/CONTRIBUTING.md
  ShoppingMerchantConversions/LICENSE
  ShoppingMerchantConversions/README.md
  ShoppingMerchantConversions/VERSION
  ShoppingMerchantConversions/composer.json
  ShoppingMerchantConversions/metadata/V1Beta/Conversionsources.php
  ShoppingMerchantConversions/owlbot.py
  ShoppingMerchantConversions/phpunit.xml.dist
  ShoppingMerchantConversions/samples/V1beta/ConversionSourcesServiceClient/create_conversion_source.php
  ShoppingMerchantConversions/samples/V1beta/ConversionSourcesServiceClient/delete_conversion_source.php
  ShoppingMerchantConversions/samples/V1beta/ConversionSourcesServiceClient/get_conversion_source.php
  ShoppingMerchantConversions/samples/V1beta/ConversionSourcesServiceClient/list_conversion_sources.php
  ShoppingMerchantConversions/samples/V1beta/ConversionSourcesServiceClient/undelete_conversion_source.php
  ShoppingMerchantConversions/samples/V1beta/ConversionSourcesServiceClient/update_conversion_source.php
  ShoppingMerchantConversions/src/V1beta/AttributionSettings.php
  ShoppingMerchantConversions/src/V1beta/AttributionSettings/AttributionModel.php
  ShoppingMerchantConversions/src/V1beta/AttributionSettings/ConversionType.php
  ShoppingMerchantConversions/src/V1beta/Client/ConversionSourcesServiceClient.php
  ShoppingMerchantConversions/src/V1beta/ConversionSource.php
  ShoppingMerchantConversions/src/V1beta/ConversionSource/Controller.php
  ShoppingMerchantConversions/src/V1beta/ConversionSource/State.php
  ShoppingMerchantConversions/src/V1beta/CreateConversionSourceRequest.php
  ShoppingMerchantConversions/src/V1beta/DeleteConversionSourceRequest.php
  ShoppingMerchantConversions/src/V1beta/GetConversionSourceRequest.php
  ShoppingMerchantConversions/src/V1beta/GoogleAnalyticsLink.php
  ShoppingMerchantConversions/src/V1beta/ListConversionSourcesRequest.php
  ShoppingMerchantConversions/src/V1beta/ListConversionSourcesResponse.php
  ShoppingMerchantConversions/src/V1beta/MerchantCenterDestination.php
  ShoppingMerchantConversions/src/V1beta/UndeleteConversionSourceRequest.php
  ShoppingMerchantConversions/src/V1beta/UpdateConversionSourceRequest.php
  ShoppingMerchantConversions/src/V1beta/gapic_metadata.json
  ShoppingMerchantConversions/src/V1beta/resources/conversion_sources_service_client_config.json
  ShoppingMerchantConversions/src/V1beta/resources/conversion_sources_service_descriptor_config.php
  ShoppingMerchantConversions/src/V1beta/resources/conversion_sources_service_rest_client_config.php
  ShoppingMerchantConversions/tests/Unit/V1beta/Client/ConversionSourcesServiceClientTest.php
  composer.json
Labels: next release
