Repository googleapis/google-cloud-php, pull requests merged in 2024-05, with the labels that each got.

#7272 chore(AppsChat): fix README.md
  AppsChat/README.md
Labels: next release

#7291 feat(Storage): Update Service Definition to enable hierarchical namespace
  Storage/src/Connection/ServiceDefinition/storage-v1.json
Labels: api: storage

#7292 feat(Storage): Enable hierarchical namespace
  Storage/src/StorageClient.php
  Storage/tests/System/ManageBucketsTest.php
Labels: api: storage

#7319 feat: add V1 for SecurityPublicCA
  SecurityPublicCA/.OwlBot.yaml
  SecurityPublicCA/metadata/V1/Resources.php
  SecurityPublicCA/metadata/V1/Service.php
  SecurityPublicCA/samples/V1/PublicCertificateAuthorityServiceClient/create_external_account_key.php
  SecurityPublicCA/src/V1/Client/PublicCertificateAuthorityServiceClient.php
  SecurityPublicCA/src/V1/CreateExternalAccountKeyRequest.php
  SecurityPublicCA/src/V1/ExternalAccountKey.php
  SecurityPublicCA/src/V1/gapic_metadata.json
  SecurityPublicCA/src/V1/resources/public_certificate_authority_service_client_config.json
  SecurityPublicCA/src/V1/resources/public_certificate_authority_service_descriptor_config.php
  SecurityPublicCA/src/V1/resources/public_certificate_authority_service_rest_client_config.php
  SecurityPublicCA/tests/Unit/V1/Client/PublicCertificateAuthorityServiceClientTest.php
Labels: next release

#7330 feat(Firestore): Upgrade Commit API logic and tests
  Core/src/Testing/FirestoreTestHelperTrait.php
  Firestore/src/BulkWriter.php
  Firestore/src/DocumentReference.php
  Firestore/tests/Snippet/BulkWriterTest.php
  Firestore/tests/Snippet/CollectionReferenceTest.php
  Firestore/tests/Snippet/FieldValueTest.php
  Firestore/tests/Snippet/FirestoreClientTest.php
  Firestore/tests/Snippet/FirestoreSessionHandlerTest.php
  Firestore/tests/Snippet/WriteBatchTest.php
  Firestore/tests/Unit/BulkWriterTest.php
  Firestore/tests/Unit/CollectionReferenceTest.php
  Firestore/tests/Unit/ConformanceTest.php
  Firestore/tests/Unit/DocumentReferenceTest.php
  Firestore/tests/Unit/FirestoreClientTest.php
  Firestore/tests/Unit/FirestoreSessionHandlerTest.php
  Firestore/tests/Unit/TransactionTest.php
  Firestore/tests/Unit/WriteBatchTest.php
  Firestore/tests/Unit/conformance/v1/create-all-transforms.json
  Firestore/tests/Unit/conformance/v1/create-st-alone.json
  Firestore/tests/Unit/conformance/v1/create-st-multi.json
  Firestore/tests/Unit/conformance/v1/create-st-nested.json
  Firestore/tests/Unit/conformance/v1/create-st-with-empty-map.json
  Firestore/tests/Unit/conformance/v1/create-st.json
  Firestore/tests/Unit/conformance/v1/delete-time-precond.json
  Firestore/tests/Unit/conformance/v1/set-all-transforms.json
  Firestore/tests/Unit/conformance/v1/set-st-alone-mergeall.json
  Firestore/tests/Unit/conformance/v1/set-st-alone.json
  Firestore/tests/Unit/conformance/v1/set-st-merge-both.json
  Firestore/tests/Unit/conformance/v1/set-st-merge-nonleaf-alone.json
  Firestore/tests/Unit/conformance/v1/set-st-merge-nonleaf.json
  Firestore/tests/Unit/conformance/v1/set-st-merge-nowrite.json
  Firestore/tests/Unit/conformance/v1/set-st-mergeall.json
  Firestore/tests/Unit/conformance/v1/set-st-multi.json
  Firestore/tests/Unit/conformance/v1/set-st-nested.json
  Firestore/tests/Unit/conformance/v1/set-st-with-empty-map.json
  Firestore/tests/Unit/conformance/v1/set-st.json
  Firestore/tests/Unit/conformance/v1/update-all-transforms.json
  Firestore/tests/Unit/conformance/v1/update-nested-transform-and-nested-value.json
  Firestore/tests/Unit/conformance/v1/update-paths-all-transforms.json
  Firestore/tests/Unit/conformance/v1/update-paths-nested-transform-and-nested-value.json
  Firestore/tests/Unit/conformance/v1/update-paths-st-alone.json
  Firestore/tests/Unit/conformance/v1/update-paths-st-multi.json
  Firestore/tests/Unit/conformance/v1/update-paths-st-nested.json
  Firestore/tests/Unit/conformance/v1/update-paths-st-with-empty-map.json
  Firestore/tests/Unit/conformance/v1/update-paths-st.json
  Firestore/tests/Unit/conformance/v1/update-paths-uptime.json
  Firestore/tests/Unit/conformance/v1/update-st-dot.json
  Firestore/tests/Unit/conformance/v1/update-st-multi.json
  Firestore/tests/Unit/conformance/v1/update-st.json
  Firestore/tests/Unit/conformance/v1/update-uptime.json
Labels: api: firestore

#7333 feat(Firestore): Upgrade BatchWrite API
  Core/src/Testing/FirestoreTestHelperTrait.php
  Firestore/src/BulkWriter.php
  Firestore/src/FirestoreClient.php
  Firestore/tests/Snippet/BulkWriterTest.php
  Firestore/tests/System/BulkWriterTest.php
  Firestore/tests/Unit/BulkWriterTest.php
  Firestore/tests/Unit/SnapshotTraitTest.php
  Firestore/tests/Unit/conformance/v1/delete-time-precond.json
  Firestore/tests/Unit/conformance/v1/update-paths-uptime.json
  Firestore/tests/Unit/conformance/v1/update-uptime.json
Labels: api: firestore

#7335 feat(Firestore): Upgrade ListCollectionIds and ListDocuments API logic and tests
  Firestore/MIGRATION.md
  Firestore/src/CollectionReference.php
  Firestore/src/DocumentReference.php
  Firestore/src/FirestoreClient.php
  Firestore/tests/Snippet/CollectionReferenceTest.php
  Firestore/tests/Snippet/DocumentReferenceTest.php
  Firestore/tests/Snippet/FirestoreClientTest.php
  Firestore/tests/Unit/CollectionReferenceTest.php
  Firestore/tests/Unit/DocumentReferenceTest.php
  Firestore/tests/Unit/FirestoreClientTest.php
Labels: api: firestore

#6788 feat(spanner): add PG.OID type support for parameterized queries
  Spanner/src/Database.php
  Spanner/src/PgOid.php
  Spanner/src/SpannerClient.php
  Spanner/src/ValueMapper.php
  Spanner/tests/Snippet/PgOidTest.php
  Spanner/tests/Snippet/SpannerClientTest.php
  Spanner/tests/System/PgQueryTest.php
  Spanner/tests/Unit/ArrayTypeTest.php
  Spanner/tests/Unit/SpannerClientTest.php
  Spanner/tests/Unit/ValueMapperTest.php
Labels: api: spanner

#7344 chore: sort repo-metadata-full alphabetically
  .repo-metadata-full.json
  dev/src/Command/AddComponentCommand.php
Labels: next release
