Repository googleapis/google-cloud-php, pull requests merged in 2024-03, with the labels that each got.

#7099 feat(Storage): AbortIncompleteMultipartUpload LifecycleAction
  Storage/src/Lifecycle.php
  Storage/tests/Snippet/LifecycleTest.php
  Storage/tests/System/ManageBucketsTest.php
  Storage/tests/Unit/LifecycleTest.php
Labels: api: storage

#7136 chore(SecurityCenter): Update .OwlBot.yaml to release V2
  SecurityCenter/.OwlBot.yaml
Labels: api: securitycenter

#7144 feat(Storage): implement touch on streams
  Storage/src/StreamWrapper.php
  Storage/tests/System/StreamWrapper/WriteTest.php
Labels: api: storage

#7154 feat(Storage): softDelete object in gcs buckets
  Storage/src/Bucket.php
  Storage/src/Connection/ConnectionInterface.php
  Storage/src/Connection/Rest.php
  Storage/tests/Snippet/BucketTest.php
  Storage/tests/System/ManageBucketsTest.php
  Storage/tests/System/ManageObjectsTest.php
  Storage/tests/Unit/BucketTest.php
Labels: api: storage

#7152 chore(Storage): fixing risky tests via adding assertions
  Storage/tests/Snippet/HmacKeyTest.php
Labels: api: storage

#7167 feat: Introduce ShoppingMerchantQuota
  ShoppingMerchantQuota/.OwlBot.yaml
  ShoppingMerchantQuota/.gitattributes
  ShoppingMerchantQuota/.github/pull_request_template.md
  ShoppingMerchantQuota/.repo-metadata.json
  ShoppingMerchantQuota/CONTRIBUTING.md
  ShoppingMerchantQuota/LICENSE
  ShoppingMerchantQuota/README.md
  ShoppingMerchantQuota/VERSION
  ShoppingMerchantQuota/composer.json
  ShoppingMerchantQuota/metadata/V1Beta/Quota.php
  ShoppingMerchantQuota/owlbot.py
  ShoppingMerchantQuota/phpunit.xml.dist
  ShoppingMerchantQuota/samples/V1beta/QuotaServiceClient/list_quota_groups.php
  ShoppingMerchantQuota/src/V1beta/Client/QuotaServiceClient.php
  ShoppingMerchantQuota/src/V1beta/ListQuotaGroupsRequest.php
  ShoppingMerchantQuota/src/V1beta/ListQuotaGroupsResponse.php
  ShoppingMerchantQuota/src/V1beta/MethodDetails.php
  ShoppingMerchantQuota/src/V1beta/QuotaGroup.php
  ShoppingMerchantQuota/src/V1beta/gapic_metadata.json
  ShoppingMerchantQuota/src/V1beta/resources/quota_service_client_config.json
  ShoppingMerchantQuota/src/V1beta/resources/quota_service_descriptor_config.php
  ShoppingMerchantQuota/src/V1beta/resources/quota_service_rest_client_config.php
  ShoppingMerchantQuota/tests/Unit/V1beta/Client/QuotaServiceClientTest.php
  composer.json
Labels: next release

#7074 feat: [Parallelstore] add new client library surface for Parallelstore PHP
  Parallelstore/.OwlBot.yaml
  Parallelstore/.gitattributes
  Parallelstore/.github/pull_request_template.md
  Parallelstore/.repo-metadata.json
  Parallelstore/CONTRIBUTING.md
  Parallelstore/LICENSE
  Parallelstore/README.md
  Parallelstore/VERSION
  Parallelstore/composer.json
  Parallelstore/metadata/V1Beta/Parallelstore.php
  Parallelstore/owlbot.py
  Parallelstore/phpunit.xml.dist
  Parallelstore/samples/V1beta/ParallelstoreClient/create_instance.php
  Parallelstore/samples/V1beta/ParallelstoreClient/delete_instance.php
  Parallelstore/samples/V1beta/ParallelstoreClient/get_instance.php
  Parallelstore/samples/V1beta/ParallelstoreClient/get_location.php
  Parallelstore/samples/V1beta/ParallelstoreClient/list_instances.php
  Parallelstore/samples/V1beta/ParallelstoreClient/list_locations.php
  Parallelstore/samples/V1beta/ParallelstoreClient/update_instance.php
  Parallelstore/src/V1beta/Client/ParallelstoreClient.php
  Parallelstore/src/V1beta/CreateInstanceRequest.php
  Parallelstore/src/V1beta/DeleteInstanceRequest.php
  Parallelstore/src/V1beta/GetInstanceRequest.php
  Parallelstore/src/V1beta/Instance.php
  Parallelstore/src/V1beta/Instance/State.php
  Parallelstore/src/V1beta/ListInstancesRequest.php
  Parallelstore/src/V1beta/ListInstancesResponse.php
  Parallelstore/src/V1beta/OperationMetadata.php
  Parallelstore/src/V1beta/UpdateInstanceRequest.php
  Parallelstore/src/V1beta/gapic_metadata.json
  Parallelstore/src/V1beta/resources/parallelstore_client_config.json
  Parallelstore/src/V1beta/resources/parallelstore_descriptor_config.php
  Parallelstore/src/V1beta/resources/parallelstore_rest_client_config.php
  Parallelstore/tests/Unit/V1beta/Client/ParallelstoreClientTest.php
  composer.json
Labels: next release

#7075 feat: [AppsEventsSubscriptions] add new client library surface for Subscription PHP
  AppsEventsSubscriptions/.OwlBot.yaml
  AppsEventsSubscriptions/.gitattributes
  AppsEventsSubscriptions/.github/pull_request_template.md
  AppsEventsSubscriptions/.repo-metadata.json
  AppsEventsSubscriptions/CONTRIBUTING.md
  AppsEventsSubscriptions/LICENSE
  AppsEventsSubscriptions/README.md
  AppsEventsSubscriptions/VERSION
  AppsEventsSubscriptions/composer.json
  AppsEventsSubscriptions/metadata/V1/SubscriptionResource.php
  AppsEventsSubscriptions/metadata/V1/SubscriptionsService.php
  AppsEventsSubscriptions/owlbot.py
  AppsEventsSubscriptions/phpunit.xml.dist
  AppsEventsSubscriptions/samples/V1/SubscriptionsServiceClient/create_subscription.php
  AppsEventsSubscriptions/samples/V1/SubscriptionsServiceClient/delete_subscription.php
  AppsEventsSubscriptions/samples/V1/SubscriptionsServiceClient/get_subscription.php
  AppsEventsSubscriptions/samples/V1/SubscriptionsServiceClient/list_subscriptions.php
  AppsEventsSubscriptions/samples/V1/SubscriptionsServiceClient/reactivate_subscription.php
  AppsEventsSubscriptions/samples/V1/SubscriptionsServiceClient/update_subscription.php
  AppsEventsSubscriptions/src/V1/Client/SubscriptionsServiceClient.php
  AppsEventsSubscriptions/src/V1/CreateSubscriptionMetadata.php
  AppsEventsSubscriptions/src/V1/CreateSubscriptionRequest.php
  AppsEventsSubscriptions/src/V1/DeleteSubscriptionMetadata.php
  AppsEventsSubscriptions/src/V1/DeleteSubscriptionRequest.php
  AppsEventsSubscriptions/src/V1/GetSubscriptionRequest.php
  AppsEventsSubscriptions/src/V1/ListSubscriptionsRequest.php
  AppsEventsSubscriptions/src/V1/ListSubscriptionsResponse.php
  AppsEventsSubscriptions/src/V1/NotificationEndpoint.php
  AppsEventsSubscriptions/src/V1/PayloadOptions.php
  AppsEventsSubscriptions/src/V1/ReactivateSubscriptionMetadata.php
  AppsEventsSubscriptions/src/V1/ReactivateSubscriptionRequest.php
  AppsEventsSubscriptions/src/V1/Subscription.php
  AppsEventsSubscriptions/src/V1/Subscription/ErrorType.php
  AppsEventsSubscriptions/src/V1/Subscription/State.php
  AppsEventsSubscriptions/src/V1/UpdateSubscriptionMetadata.php
  AppsEventsSubscriptions/src/V1/UpdateSubscriptionRequest.php
  AppsEventsSubscriptions/src/V1/gapic_metadata.json
  AppsEventsSubscriptions/src/V1/resources/subscriptions_service_client_config.json
  AppsEventsSubscriptions/src/V1/resources/subscriptions_service_descriptor_config.php
  AppsEventsSubscriptions/src/V1/resources/subscriptions_service_rest_client_config.php
  AppsEventsSubscriptions/tests/Unit/V1/Client/SubscriptionsServiceClientTest.php
  composer.json
Labels: next release, api: workspaceevents

#7166 feat(SecretManager): Introduce v1beta2
  SecretManager/metadata/V1Beta2/Resources.php
  SecretManager/metadata/V1Beta2/Service.php
  SecretManager/samples/V1beta2/SecretManagerServiceClient/access_secret_version.php
  SecretManager/samples/V1beta2/SecretManagerServiceClient/add_secret_version.php
  SecretManager/samples/V1beta2/SecretManagerServiceClient/create_secret.php
  SecretManager/samples/V1beta2/SecretManagerServiceClient/delete_secret.php
  SecretManager/samples/V1beta2/SecretManagerServiceClient/destroy_secret_version.php
  SecretManager/samples/V1beta2/SecretManagerServiceClient/disable_secret_version.php
  SecretManager/samples/V1beta2/SecretManagerServiceClient/enable_secret_version.php
  SecretManager/samples/V1beta2/SecretManagerServiceClient/get_iam_policy.php
  SecretManager/samples/V1beta2/SecretManagerServiceClient/get_location.php
  SecretManager/samples/V1beta2/SecretManagerServiceClient/get_secret.php
  SecretManager/samples/V1beta2/SecretManagerServiceClient/get_secret_version.php
  SecretManager/samples/V1beta2/SecretManagerServiceClient/list_locations.php
  SecretManager/samples/V1beta2/SecretManagerServiceClient/list_secret_versions.php
  SecretManager/samples/V1beta2/SecretManagerServiceClient/list_secrets.php
  SecretManager/samples/V1beta2/SecretManagerServiceClient/set_iam_policy.php
  SecretManager/samples/V1beta2/SecretManagerServiceClient/test_iam_permissions.php
  SecretManager/samples/V1beta2/SecretManagerServiceClient/update_secret.php
  SecretManager/src/V1beta2/AccessSecretVersionRequest.php
  SecretManager/src/V1beta2/AccessSecretVersionResponse.php
  SecretManager/src/V1beta2/AddSecretVersionRequest.php
  SecretManager/src/V1beta2/Client/SecretManagerServiceClient.php
  SecretManager/src/V1beta2/CreateSecretRequest.php
  SecretManager/src/V1beta2/CustomerManagedEncryption.php
  SecretManager/src/V1beta2/CustomerManagedEncryptionStatus.php
  SecretManager/src/V1beta2/DeleteSecretRequest.php
  SecretManager/src/V1beta2/DestroySecretVersionRequest.php
  SecretManager/src/V1beta2/DisableSecretVersionRequest.php
  SecretManager/src/V1beta2/EnableSecretVersionRequest.php
  SecretManager/src/V1beta2/GetSecretRequest.php
  SecretManager/src/V1beta2/GetSecretVersionRequest.php
  SecretManager/src/V1beta2/ListSecretVersionsRequest.php
  SecretManager/src/V1beta2/ListSecretVersionsResponse.php
  SecretManager/src/V1beta2/ListSecretsRequest.php
  SecretManager/src/V1beta2/ListSecretsResponse.php
  SecretManager/src/V1beta2/Replication.php
  SecretManager/src/V1beta2/Replication/Automatic.php
  SecretManager/src/V1beta2/Replication/UserManaged.php
  SecretManager/src/V1beta2/Replication/UserManaged/Replica.php
  SecretManager/src/V1beta2/ReplicationStatus.php
  SecretManager/src/V1beta2/ReplicationStatus/AutomaticStatus.php
  SecretManager/src/V1beta2/ReplicationStatus/UserManagedStatus.php
  SecretManager/src/V1beta2/ReplicationStatus/UserManagedStatus/ReplicaStatus.php
  SecretManager/src/V1beta2/Rotation.php
  SecretManager/src/V1beta2/Secret.php
  SecretManager/src/V1beta2/SecretPayload.php
  SecretManager/src/V1beta2/SecretVersion.php
  SecretManager/src/V1beta2/SecretVersion/State.php
  SecretManager/src/V1beta2/Topic.php
  SecretManager/src/V1beta2/UpdateSecretRequest.php
  SecretManager/src/V1beta2/gapic_metadata.json
  SecretManager/src/V1beta2/resources/secret_manager_service_client_config.json
  SecretManager/src/V1beta2/resources/secret_manager_service_descriptor_config.php
  SecretManager/src/V1beta2/resources/secret_manager_service_rest_client_config.php
  SecretManager/tests/Unit/V1beta2/Client/SecretManagerServiceClientTest.php
Labels: api: secretmanager, next release

#7080 feat(Spanner): float 32 support
  Spanner/src/Database.php
  Spanner/src/ValueMapper.php
  Spanner/tests/System/PgQueryTest.php
  Spanner/tests/System/PgWriteTest.php
  Spanner/tests/System/QueryTest.php
  Spanner/tests/System/SpannerPgTestCase.php
  Spanner/tests/System/WriteTest.php
  Spanner/tests/Unit/ValueMapperTest.php
Labels: api: spanner
