Repository googleapis/google-cloud-php, pull requests merged in 2024-02, with the labels that each got.

#7026 feat(spanner): support max_commit_delay in Spanner transactions
  Spanner/src/Operation.php
  Spanner/src/Transaction.php
  Spanner/tests/Unit/OperationTest.php
  Spanner/tests/Unit/TransactionTest.php
Labels: api: spanner

#7053 feat(storage): support IncludeFoldersAsPrefixes
  Storage/src/Bucket.php
  Storage/tests/Unit/BucketTest.php
Labels: api: storage

#6981 feat(Spanner): Enable Leader Aware Routing
  Spanner/src/Connection/Grpc.php
  Spanner/src/Database.php
  Spanner/src/RequestHeaderTrait.php
  Spanner/src/SpannerClient.php
  Spanner/src/Transaction.php
  Spanner/src/TransactionalReadTrait.php
  Spanner/tests/Snippet/SpannerClientTest.php
  Spanner/tests/Unit/Connection/GrpcTest.php
  Spanner/tests/Unit/DatabaseTest.php
  Spanner/tests/Unit/SnapshotTest.php
  Spanner/tests/Unit/TransactionTest.php
Labels: api: spanner

#7066 chore(PubSub): remove unused connection classes
  PubSub/src/Connection/ConnectionInterface.php
  PubSub/src/Connection/Grpc.php
  PubSub/src/Connection/IamSubscription.php
  PubSub/src/Connection/IamTopic.php
  PubSub/src/Connection/Rest.php
  PubSub/src/Connection/ServiceDefinition/pubsub-v1.json
Labels: api: pubsub

#7077 fix: insecure credentials wrapper
  Core/src/InsecureCredentialsWrapper.php
Labels: release blocking, next release

#7103 chore(Spanner): Test emulator support for Database and Instance Admin clients
  Spanner/tests/System/GeneratedAdminEmulatorTest.php
Labels: api: spanner
