Repository googleapis/google-cloud-php, pull requests merged in 2025-05, with the labels that each got.

#8254 feat: introduce Lustre V1
  .repo-metadata-full.json
  Lustre/.OwlBot.yaml
  Lustre/.gitattributes
  Lustre/.github/pull_request_template.md
  Lustre/CONTRIBUTING.md
  Lustre/LICENSE
  Lustre/README.md
  Lustre/VERSION
  Lustre/composer.json
  Lustre/metadata/V1/Instance.php
  Lustre/metadata/V1/Lustre.php
  Lustre/metadata/V1/Transfer.php
  Lustre/owlbot.py
  Lustre/phpunit.xml.dist
  Lustre/samples/V1/LustreClient/create_instance.php
  Lustre/samples/V1/LustreClient/delete_instance.php
  Lustre/samples/V1/LustreClient/export_data.php
  Lustre/samples/V1/LustreClient/get_instance.php
  Lustre/samples/V1/LustreClient/get_location.php
  Lustre/samples/V1/LustreClient/import_data.php
  Lustre/samples/V1/LustreClient/list_instances.php
  Lustre/samples/V1/LustreClient/list_locations.php
  Lustre/samples/V1/LustreClient/update_instance.php
  Lustre/src/V1/Client/LustreClient.php
  Lustre/src/V1/CreateInstanceRequest.php
  Lustre/src/V1/DeleteInstanceRequest.php
  Lustre/src/V1/ErrorLogEntry.php
  Lustre/src/V1/ErrorSummary.php
  Lustre/src/V1/ExportDataMetadata.php
  Lustre/src/V1/ExportDataRequest.php
  Lustre/src/V1/ExportDataResponse.php
  Lustre/src/V1/GcsPath.php
  Lustre/src/V1/GetInstanceRequest.php
  Lustre/src/V1/ImportDataMetadata.php
  Lustre/src/V1/ImportDataRequest.php
  Lustre/src/V1/ImportDataResponse.php
  Lustre/src/V1/Instance.php
  Lustre/src/V1/Instance/State.php
  Lustre/src/V1/ListInstancesRequest.php
  Lustre/src/V1/ListInstancesResponse.php
  Lustre/src/V1/LustrePath.php
  Lustre/src/V1/OperationMetadata.php
  Lustre/src/V1/TransferCounters.php
  Lustre/src/V1/TransferOperationMetadata.php
  Lustre/src/V1/TransferType.php
  Lustre/src/V1/UpdateInstanceRequest.php
  Lustre/src/V1/gapic_metadata.json
  Lustre/src/V1/resources/lustre_client_config.json
  Lustre/src/V1/resources/lustre_descriptor_config.php
  Lustre/src/V1/resources/lustre_rest_client_config.php
  Lustre/tests/Unit/V1/Client/LustreClientTest.php
  composer.json
Labels: next release

#8282 fix(deps): php 8.4 deprecations
  Core/composer.json
Labels: next release

#8288 docs(Vision): fix sample in README
  Vision/README.md
Labels: api: vision, samples, next release

#8285 docs(RecaptchaEnterprise): fix sample in readme
  RecaptchaEnterprise/README.md
Labels: api: recaptchaenterprise, samples, next release

#8290 docs: add GRPC guide
  GRPC.md
  dev/src/Command/DocFxCommand.php
  dev/tests/fixtures/docfx/ProductNeutralGuides/grpc.md
  dev/tests/fixtures/docfx/ProductNeutralGuides/toc.yml
Labels: next release

#8308 docs(PubSub): fix client options phpdoc
  PubSub/src/PubSubClient.php
Labels: api: pubsub, next release

#8294 feat(dev): support packagist safe token
  .github/workflows/release.yml
  dev/src/Command/SplitCommand.php
  dev/src/Packagist.php
Labels: next release

#8305 docs: add template for ObjectIterator
  Core/src/Iterator/ItemIterator.php
  Storage/src/Bucket.php
  Storage/src/ObjectIterator.php
Labels: next release

#8295 feat(ci): add check for owl-bot-staging dir
  .github/workflows/owlbot-checks.yaml
  .github/workflows/release-checks.yaml
Labels: next release

#8224 fix(Bigtable): ensure RowRanges are set on retry
  Bigtable/src/ChunkFormatter.php
  Bigtable/tests/Conformance/proxy/known_failures.txt
Labels: api: bigtable, next release

#8351 chore: remove artifacts from publish.sh
  .kokoro/docs/publish.sh
Labels: next release
